USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_NUMBERING]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_NUMBERING](
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_NAME] [nvarchar](30) NOT NULL,
	[CONTEXT] [nvarchar](80) NOT NULL,
	[ALPHA_PREFIX] [nvarchar](5) NULL,
	[ALPHA_SUFFIX] [nvarchar](5) NULL,
	[NEXT_NUMBER] [int] NULL,
	[LEADING_ZEROS] [int] NULL,
	[DECIMAL_PLACES] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[COLUMN_NAME] ASC,
	[CONTEXT] ASC,
	[DATASPACE_NAME] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
