USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_DOCUMENT]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_DOCUMENT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[APPLICATION_ID] [nvarchar](30) NULL,
	[REFERENCE] [nvarchar](128) NULL,
	[CONNECTOR_ID] [nvarchar](15) NULL,
	[LIBRARY_NAME] [nvarchar](128) NULL,
	[CLASS_NAME] [nvarchar](128) NULL,
	[ROOT_TABLE_NAME] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
