USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_SITE]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_SITE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](40) NULL,
	[VMFG_INSTANCE_NAME] [nvarchar](30) NULL,
	[VQ_INSTANCE_NAME] [nvarchar](30) NULL,
	[VTA_INSTANCE_NAME] [nvarchar](30) NULL,
	[VSCP_INSTANCE_NAME] [nvarchar](30) NULL,
	[IQM_INSTANCE_NAME] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
