USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_SERVICE]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_SERVICE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SERVER_NAME] [nvarchar](32) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[RUN_WORKFLOW] [int] NULL,
	[RUN_SCHEDULE_TASKS] [int] NULL,
	[RUN_ON_BOOT] [int] NULL,
	[DEFAULT_SERVICE] [int] NULL,
	[STATUS] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
