USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_TASK_STAGING]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_TASK_STAGING](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SUBSCRIPTION_ID] [nvarchar](64) NULL,
	[DOCUMENT_ID] [nvarchar](30) NULL,
	[RECORD_ID] [nvarchar](128) NULL,
	[COMMAND] [nvarchar](32) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[KEY_COLUMNS] [nvarchar](250) NULL,
	[KEY_DATA] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
