USE [LSA]
GO
/****** Object:  Table [dbo].[ATTACHMENTS_ATTACHMENT]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTACHMENTS_ATTACHMENT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[OWNER_ENTITY_SITE_ID] [nvarchar](15) NOT NULL,
	[OWNER_ID] [nvarchar](15) NOT NULL,
	[ATTACHMENT_NO] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[PRIVATE] [int] NULL,
	[CREATED_BY] [nvarchar](128) NULL,
	[ATTACHMENT_PATH] [nvarchar](250) NULL,
	[ATTACHED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
