USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_INDEX]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_INDEX](
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[INDEX_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_1] [nvarchar](30) NOT NULL,
	[COLUMN_2] [nvarchar](30) NULL,
	[COLUMN_3] [nvarchar](30) NULL,
	[COLUMN_4] [nvarchar](30) NULL,
	[COLUMN_5] [nvarchar](30) NULL,
	[COLUMN_6] [nvarchar](30) NULL,
	[COLUMN_7] [nvarchar](30) NULL,
	[COLUMN_8] [nvarchar](30) NULL,
	[COLUMN_9] [nvarchar](30) NULL,
	[COLUMN_10] [nvarchar](30) NULL,
	[COLUMN_11] [nvarchar](30) NULL,
	[COLUMN_12] [nvarchar](30) NULL,
	[COLUMN_13] [nvarchar](30) NULL,
	[COLUMN_14] [nvarchar](30) NULL,
	[COLUMN_15] [nvarchar](30) NULL,
	[COLUMN_16] [nvarchar](30) NULL,
	[UNIQUE_INDEX] [int] NOT NULL,
	[DOCUMENTATION] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[DATASPACE_NAME] ASC,
	[INDEX_NAME] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
