USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_TRANS_LOG]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_TRANS_LOG](
	[TRANSACTION_NAME] [nvarchar](30) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NULL,
	[RUNNING_DATE] [datetime] NULL,
	[USER_ID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[START_DATE] ASC,
	[TRANSACTION_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
