USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_DOCUMENT_SCHEMA]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_DOCUMENT_SCHEMA](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[DOCUMENT_ID] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_NAME] [nvarchar](64) NOT NULL,
	[COLUMN_NO] [int] NULL,
	[PRIMARY_KEY] [smallint] NULL,
	[DATA_TYPE] [nvarchar](32) NULL,
	[FORMAT_NODE_ID] [nvarchar](30) NULL,
	[USER_EDIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
