USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_PASSWORD_LOG]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_PASSWORD_LOG](
	[USER_ID] [nvarchar](20) NOT NULL,
	[CHANGE_DATE] [datetime] NOT NULL,
	[USER_PASSWORD] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CHANGE_DATE] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
