USE [LSA]
GO
/****** Object:  Table [dbo].[NOTATIONS_NOTATION]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTATIONS_NOTATION](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](40) NOT NULL,
	[SUBJECT] [nvarchar](40) NULL,
	[NOTE] [nvarchar](max) NULL,
	[KEYWORDS] [nvarchar](250) NULL,
	[STATUS] [nvarchar](32) NULL,
	[PRIORITY] [smallint] NULL,
	[PRIVATE] [int] NULL,
	[OWNER_ONLY] [int] NULL,
	[APPEND_ONLY] [int] NULL,
	[COLLECTIONS] [int] NULL,
	[LEDGER] [int] NULL,
	[ACTION_ID] [nvarchar](30) NULL,
	[CREATED_BY] [nvarchar](128) NULL,
	[ASSIGNED_TO] [nvarchar](128) NULL,
	[NOTATION_DATE] [datetime] NULL,
	[FOLLOWUP_DATE] [datetime] NULL,
	[COMPLETED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
