USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_DOMAIN]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_DOMAIN](
	[DOMAIN_NAME] [nvarchar](30) NOT NULL,
	[DATA_TYPE] [nvarchar](30) NOT NULL,
	[MAX_LENGTH] [int] NOT NULL,
	[NUMERIC_PREC] [int] NOT NULL,
	[NUMERIC_SCALE] [int] NOT NULL,
	[RANGE_LOW] [nvarchar](100) NULL,
	[RANGE_HIGH] [nvarchar](100) NULL,
	[DEFAULT_VALUE] [nvarchar](100) NULL,
	[RANGE_LIST] [nvarchar](250) NULL,
	[IS_ENUM] [int] NULL,
	[DOCUMENTATION] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOMAIN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
