USE [LSA]
GO
/****** Object:  Table [dbo].[NOTATIONS_NOTATION_LINK]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTATIONS_NOTATION_LINK](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[NOTATION_ID] [nvarchar](40) NOT NULL,
	[LINK_NO] [smallint] NOT NULL,
	[LINK_TYPE] [nvarchar](64) NULL,
	[LINK_INSTANCE_TYPE] [nvarchar](32) NULL,
	[LINK_COLUMN_1] [nvarchar](80) NULL,
	[LINK_COLUMN_2] [nvarchar](80) NULL,
	[LINK_COLUMN_3] [nvarchar](80) NULL,
	[LINK_COLUMN_4] [nvarchar](80) NULL,
	[LINK_COLUMN_5] [nvarchar](80) NULL,
	[LINK_COLUMN_6] [nvarchar](80) NULL,
	[LINK_COLUMN_7] [nvarchar](80) NULL,
	[LINK_COLUMN_8] [nvarchar](80) NULL,
	[LINK_COLUMN_9] [nvarchar](80) NULL,
	[LINK_COLUMN_10] [nvarchar](80) NULL,
	[LINK_COLUMN_11] [nvarchar](80) NULL,
	[LINK_COLUMN_12] [nvarchar](80) NULL,
	[LINK_COLUMN_13] [nvarchar](80) NULL,
	[LINK_COLUMN_14] [nvarchar](80) NULL,
	[LINK_COLUMN_15] [nvarchar](80) NULL,
	[LINK_COLUMN_16] [nvarchar](80) NULL,
	[LINK_COLUMN_DESC] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
