USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_ROLE_AUTH]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_ROLE_AUTH](
	[ROLE_NAME] [nvarchar](20) NOT NULL,
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_NAME] [nvarchar](30) NOT NULL,
	[FLAGS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COLUMN_NAME] ASC,
	[DATASPACE_NAME] ASC,
	[ROLE_NAME] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
