USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_DATABASE_INSTANCE]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_DATABASE_INSTANCE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[INSTANCE_NAME] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[LICENSE_NUMBER] [nvarchar](50) NULL,
	[APPLICATION_ID] [nvarchar](30) NULL,
	[PROVIDER] [nvarchar](128) NULL,
	[DRIVER] [nvarchar](128) NULL,
	[DATASOURCE] [nvarchar](128) NULL,
	[USER_ID] [nvarchar](128) NULL,
	[PASSWORD] [nvarchar](128) NULL,
	[FILE_ARCHIVE_DAYS] [smallint] NULL,
	[DELETE_REMOTE_FILE] [int] NULL,
	[INBOUND_DIRECTORY] [nvarchar](128) NULL,
	[OUTBOUND_DIRECTORY] [nvarchar](128) NULL,
	[INBOUND_ARCHIVE_DIRECTORY] [nvarchar](128) NULL,
	[OUTBOUND_ARCHIVE_DIRECTORY] [nvarchar](128) NULL,
	[SERVER_NAME] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
