USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_SUBSCRIPTION]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_SUBSCRIPTION](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](64) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[PUB_INSTANCE_NAME] [nvarchar](30) NULL,
	[PUB_DOCUMENT_ID] [nvarchar](30) NULL,
	[SUB_INSTANCE_NAME] [nvarchar](30) NULL,
	[SUB_DOCUMENT_ID] [nvarchar](30) NULL,
	[TRANSFORMATION_ID] [nvarchar](30) NULL,
	[ACTIVE] [int] NULL,
	[INBOUND_FILE_NAME] [nvarchar](250) NULL,
	[OUTBOUND_FILE_NAME] [nvarchar](250) NULL,
	[INBOUND_DIRECTORY] [nvarchar](128) NULL,
	[OUTBOUND_DIRECTORY] [nvarchar](128) NULL,
	[INBOUND_ARCHIVE_DIRECTORY] [nvarchar](128) NULL,
	[OUTBOUND_ARCHIVE_DIRECTORY] [nvarchar](128) NULL,
	[SCHEDULE_EXPR] [nvarchar](max) NULL,
	[SEQ_NO] [int] NULL,
	[SERVER_NAME] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
