USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_USER]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_USER](
	[USER_ID] [nvarchar](20) NOT NULL,
	[USER_NAME] [nvarchar](128) NULL,
	[USER_PASSWORD] [nvarchar](128) NOT NULL,
	[ROLE_NAME] [nvarchar](20) NOT NULL,
	[ENVIRONMENT] [nvarchar](250) NULL,
	[EMAIL_ADDRESS] [nvarchar](128) NULL,
	[PASSWORD_CHANGED] [datetime] NULL,
	[PASSWORD_FAILED] [int] NULL,
	[ACCOUNT_DISABLED] [int] NULL,
	[SINGLE_SIGN_ON_ENABLED] [int] NULL,
	[WINDOWS_USER_SID] [nvarchar](100) NULL,
	[WINDOWS_DOMAIN_NAME] [nvarchar](24) NULL,
	[WINDOWS_DOMAIN_SID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
