USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_SYNC]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_SYNC](
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[DATA_IDENTITY] [nvarchar](12) NOT NULL,
	[SYNC_COMMAND] [nvarchar](30) NOT NULL,
	[SYNC_DATE] [datetime] NOT NULL,
	[KEY_COLUMNS] [nvarchar](250) NULL,
	[KEY_DATA] [nvarchar](250) NULL
) ON [PRIMARY]
GO
