USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_ERROR_REPORTING]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_ERROR_REPORTING](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[OBJECT_TYPE] [nvarchar](32) NOT NULL,
	[OBJECT_ID] [nvarchar](64) NOT NULL,
	[ERROR_TYPE] [nvarchar](32) NOT NULL,
	[NOTIFY_ADDR] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
