USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_AUDIT_DEFINITION]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_AUDIT_DEFINITION](
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_TYPE] [nvarchar](30) NULL,
	[FOR_INSERT] [int] NULL,
	[FOR_UPDATE] [int] NULL,
	[FOR_DELETE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
