USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_WORKFLOW]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_WORKFLOW](
	[DOCUMENT_NAME] [nvarchar](100) NOT NULL,
	[WORKFLOW_NAME] [nvarchar](100) NOT NULL,
	[DATA_IDENTITY] [nvarchar](12) NOT NULL,
	[ACTIVE_FLAG] [int] NOT NULL,
	[WORKFLOW_DATA] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DATA_IDENTITY] ASC,
	[DOCUMENT_NAME] ASC,
	[WORKFLOW_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
