USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_FAVORITES]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_FAVORITES](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[USER_ID] [nvarchar](128) NOT NULL,
	[COMMAND_ID] [nvarchar](128) NOT NULL,
	[COMMAND_TEXT] [nvarchar](128) NULL,
	[TOOL_TIP_TEXT] [nvarchar](128) NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[CATEGORY_NAME] [nvarchar](50) NULL,
	[LIBRARY_NAME] [nvarchar](128) NULL,
	[CLASS_NAME] [nvarchar](128) NULL,
	[FORM_ARGS] [nvarchar](250) NULL,
	[INSTANCE_TYPE] [nvarchar](32) NULL,
	[ITEM_TYPE] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
