USE [LSA]
GO
/****** Object:  Table [dbo].[EXCHANGE_DOCUMENT_FORMAT]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCHANGE_DOCUMENT_FORMAT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[DOCUMENT_ID] [nvarchar](30) NOT NULL,
	[NODE_ID] [nvarchar](30) NOT NULL,
	[PARENT_NODE_ID] [nvarchar](30) NULL,
	[SEQ_NO] [smallint] NULL,
	[NODE_TYPE] [nvarchar](32) NULL,
	[NODE_TEXT] [nvarchar](250) NULL,
	[REPEAT_TYPE] [nvarchar](32) NULL,
	[ALIGNMENT] [nvarchar](32) NULL,
	[WIDTH] [smallint] NULL,
	[START_DELIM] [nvarchar](30) NULL,
	[END_DELIM] [nvarchar](30) NULL,
	[STRING_DELIM] [nvarchar](1) NULL,
	[PAD_CHAR] [nvarchar](1) NULL,
	[REQUIRED] [int] NULL,
	[USER_EDIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
