USE [LSA]
GO
/****** Object:  Table [dbo].[LSA_ENUM]    Script Date: 4/10/2026 9:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_ENUM](
	[DOMAIN_NAME] [nvarchar](30) NOT NULL,
	[ENUM_VALUE] [int] NOT NULL,
	[USER_VALUE] [nvarchar](100) NOT NULL,
	[SYMBOL] [nvarchar](50) NOT NULL,
	[DOCUMENTATION] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOMAIN_NAME] ASC,
	[ENUM_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
