USE [VECA]
GO
/****** Object:  View [dbo].[DOCUMENT_SITE_VIEW]    Script Date: 4/9/2026 9:40:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[DOCUMENT_SITE_VIEW] AS 
SELECT 
  T2.DOCUMENT_ID, T1.REFERENCE_TYPE, T1.CATEGORY_ID, T1.DESCRIPTION, T1.DOC_FILE_PATH, T1.ECN_REVISION, T1.REVISION_ID, T1.STAGE_ID, T1.ECN_REV_CONTROL, T1.USER_1, T1.USER_2, T1.USER_3, T1.USER_4, T1.USER_5, T1.USER_6, T1.USER_7, T1.USER_8, T1.USER_9, T1.USER_10, T1.UDF_LAYOUT_ID, T1.ALLOW_EMAIL, T1.PATH_TYPE, IsNull( T2.SITE_ID, T1.SITE_ID ) AS SITE_ID
FROM 
 DOCUMENT T1, DOCUMENT_SITE T2 WHERE T1.ID = T2.DOCUMENT_ID
GO
