USE [VECA]
GO
/****** Object:  View [dbo].[EMPLOYEE_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EMPLOYEE_SITE_VIEW] AS 
SELECT 
  T2.SITE_ID, T2.EMPLOYEE_ID, T2.DEFAULT_SITE, T2.BASE_PAY_RATE, T1.LAST_NAME, T1.FIRST_NAME, T1.MIDDLE_INITIAL, T1.ADDR_1, T1.ADDR_2, T1.ADDR_3, T1.CITY, T1.STATE, T1.ZIPCODE, T1.COUNTRY, T1.PHONE, T1.TYPE, T1.DEPARTMENT_ID, T1.ACTIVE, T1.SHIFT_ID, T1.EARNING_CODE_ID, T1.COST_CATEGORY_ID, T1.USER_ID, T1.EMAIL_ADDR, T1.PAYROLL_SITE_ID, T1.EMPLOYEE_COUNTRY_ID
FROM 
 EMPLOYEE T1, EMPLOYEE_SITE T2 WHERE T1.ID = T2.EMPLOYEE_ID
GO
