USE [VECA]
GO
/****** Object:  View [dbo].[SRP_PART_MATERIAL_LIST_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SRP_PART_MATERIAL_LIST_VIEW]
AS
SELECT        dbo.REQUIREMENT.WORKORDER_BASE_ID AS SKU, dbo.REQUIREMENT.PART_ID AS COMPONENT_ID
FROM            dbo.REQUIREMENT INNER JOIN
                         dbo.PART_SITE ON dbo.REQUIREMENT.WORKORDER_BASE_ID = dbo.PART_SITE.PART_ID AND dbo.REQUIREMENT.WORKORDER_LOT_ID = dbo.PART_SITE.ENGINEERING_MSTR INNER JOIN
                         dbo.PART ON dbo.PART.ID = dbo.PART_SITE.PART_ID
GO
