USE [VECA]
GO
/****** Object:  View [dbo].[ACCOUNT_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ACCOUNT_SITE_VIEW] AS 
SELECT 
  T2.ACCOUNT_ID, T2.SITE_ID, T2.IS_VIEWABLE, T1.DESCRIPTION, T1.TYPE, T1.SUMMARY_ACCOUNT, T1.PARENT_ACCT_ID, T1.CURRENCY_ID, T1.REVALUE, T1.PROJECT_ACCOUNT, T1.ACTIVE_FLAG, T1.STATUS_EFF_DATE
FROM 
 ACCOUNT T1, ACCOUNT_SITE T2 WHERE T1.ID = T2.ACCOUNT_ID
GO
