USE [VECA]
GO
/****** Object:  View [dbo].[PART_CUST_UDF_VIEW]    Script Date: 4/9/2026 9:40:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[PART_CUST_UDF_VIEW] AS 
SELECT PS.PART_ID, 
UDF1.STRING_VAL AS STOCK_STYLE,
UDF2.STRING_VAL AS BARREL_FINISH,
UDF3.STRING_VAL AS STOCK_HAND,
UDF4.STRING_VAL AS HANDGUARD,
UDF5.STRING_VAL AS ACTION_TYPE,
UDF6.STRING_VAL AS FAMILY,
UDF7.STRING_VAL AS CHAMBERING,
UDF8.STRING_VAL AS STOCK_FINISH,
UDF9.STRING_VAL AS RIFLING_TWIST,
UDF10.STRING_VAL AS LENGTH,
ISNULL(PS.USER_6, P.USER_6) AS UPC

FROM 
 PART_SITE PS
   LEFT JOIN PART P ON PS.PART_ID = P.ID
   LEFT JOIN USER_DEF_FIELDS UDF1 ON PS.PART_ID = UDF1.DOCUMENT_ID
   AND UDF1.ID = 'UDF-0000029'
   LEFT JOIN USER_DEF_FIELDS UDF2 ON PS.PART_ID = UDF2.DOCUMENT_ID
   AND UDF2.ID = 'UDF-0000030'
   LEFT JOIN USER_DEF_FIELDS UDF3 ON PS.PART_ID = UDF3.DOCUMENT_ID
   AND UDF3.ID = 'UDF-0000031'
   LEFT JOIN USER_DEF_FIELDS UDF4 ON PS.PART_ID = UDF4.DOCUMENT_ID
   AND UDF4.ID = 'UDF-0000032'
   LEFT JOIN USER_DEF_FIELDS UDF5 ON PS.PART_ID = UDF5.DOCUMENT_ID
   AND UDF5.ID = 'UDF-0000036'
   LEFT JOIN USER_DEF_FIELDS UDF6 ON PS.PART_ID = UDF6.DOCUMENT_ID
   AND UDF6.ID = 'UDF-0000021'
   LEFT JOIN USER_DEF_FIELDS UDF7 ON PS.PART_ID = UDF7.DOCUMENT_ID
   AND UDF7.ID = 'UDF-0000022'
   LEFT JOIN USER_DEF_FIELDS UDF8 ON PS.PART_ID = UDF8.DOCUMENT_ID
   AND UDF8.ID = 'UDF-0000023'
   LEFT JOIN USER_DEF_FIELDS UDF9 ON PS.PART_ID = UDF9.DOCUMENT_ID
   AND UDF9.ID = 'UDF-0000024'
   LEFT JOIN USER_DEF_FIELDS UDF10 ON PS.PART_ID = UDF10.DOCUMENT_ID
   AND UDF10.ID = 'UDF-0000025'
 

GO
