USE [VECA]
GO
/****** Object:  View [dbo].[SRP_PART_DETAILS_VIEW]    Script Date: 4/9/2026 9:40:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SRP_PART_DETAILS_VIEW]
AS
SELECT        p.ID, p.DESCRIPTION, p.PRODUCT_CODE, p.COMMODITY_CODE, p.PURCHASED, p.USER_6 AS UPC, MAX(CASE WHEN udf.ID = 'UDF-0000021' THEN udf.STRING_VAL END) AS Family, 
                         MAX(CASE WHEN udf.ID = 'UDF-0000023' THEN udf.STRING_VAL END) AS [Stock Finish], MAX(CASE WHEN udf.ID = 'UDF-0000029' THEN udf.STRING_VAL END) AS [Stock Style], 
                         MAX(CASE WHEN udf.ID = 'UDF-0000036' THEN udf.STRING_VAL END) AS [Action Type], MAX(CASE WHEN udf.ID = 'UDF-0000022' THEN udf.STRING_VAL END) AS Chambering, 
                         MAX(CASE WHEN udf.ID = 'UDF-0000025' THEN udf.STRING_VAL END) AS Length, MAX(CASE WHEN udf.ID = 'UDF-0000024' THEN udf.STRING_VAL END) AS [Rifling/Twist], 
                         MAX(CASE WHEN udf.ID = 'UDF-0000030' THEN udf.STRING_VAL END) AS [Barrel Finish], MAX(CASE WHEN udf.ID = 'UDF-0000031' THEN udf.STRING_VAL END) AS Orientation, 
                         MAX(CASE WHEN udf.ID = 'UDF-0000032' THEN udf.STRING_VAL END) AS Handguard
FROM            dbo.PART AS p LEFT OUTER JOIN
                         dbo.INVENTORY_TRANS AS inv ON inv.PART_ID = p.ID LEFT OUTER JOIN
                         dbo.USER_DEF_FIELDS AS udf ON udf.DOCUMENT_ID = p.ID
GROUP BY p.ID, p.DESCRIPTION, p.PRODUCT_CODE, p.COMMODITY_CODE, p.PURCHASED, p.USER_6
GO
