USE [VECA]
GO
/****** Object:  View [dbo].[USER_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[USER_SITE_VIEW] AS 
SELECT 
  T2.SITE_ID, T2.USER_ID, T2.VIEWABLE_SITES, T2.DEFAULT_SITE, T1.PO_STATUS_ALLOWED, T1.CO_STATUS_ALLOWED, T1.WO_STATUS_ALLOWED, T1.IS_PLANNER, T1.IS_BUYER, T1.DEFAULT_SHIP_ADDR, T1.QT_STATUS_ALLOWED, T1.SH_STATUS_ALLOWED, T1.PHYS_COUNT_ALLOWED, T1.LOCK_WARN_CO, T1.LOCK_WARN_WO, T1.LOCK_WARN_PO, T1.LOCK_WARN_IV, T1.LOCK_WARN_SH, T1.LOCK_WARN_RV, T1.LOCK_WARN_SV, T1.LOCK_WARN_LA, T1.ECN_STATUS_ALLOWED, T1.PR_STATUS_ALLOWED, T1.PASS_LAST_CHANGED, T1.EDIT_BRWSE_ALLOWED, T1.USER_PWD, T1.LAST_FAILED_DATE, T1.FAILED_COUNT, T1.IS_PROFILE, T1.IS_ADMIN, T1.WINDOWS_SID, T1.VISUAL_USER_GROUP_SID, T1.WINDOWS_DOMAIN_NAME, T1.WINDOWS_DOMAIN_SID, T1.IS_VISUAL_USER, T1.IS_CRM_USER, T1.PLM_USER_ID, T1.IS_MOBILE_LABOR_USER, T1.IS_MOBILE_MATERIAL_USER
FROM 
 APPLICATION_USER T1, USER_SITE T2 WHERE T1.NAME = T2.USER_ID
GO
