USE [VECA]
GO
/****** Object:  View [dbo].[SERVICE_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SERVICE_SITE_VIEW] AS 
SELECT 
  T2.SITE_ID, T2.SERVICE_ID, T2.EST_MIN_CHARGE, T2.EST_BASE_CHARGE, T2.EST_COST_PER_UNIT, T1.DESCRIPTION, T1.USAGE_UM, T1.LONG_DESCRIPTION, IsNull( T2.VENDOR_ID, T1.VENDOR_ID ) AS VENDOR_ID, IsNull( T2.SERVICE_PART_ID, T1.SERVICE_PART_ID ) AS SERVICE_PART_ID, IsNull( T2.PLAN_TRANSIT_DAYS, T1.PLAN_TRANSIT_DAYS ) AS PLAN_TRANSIT_DAYS, IsNull( T2.SCHEDULE_RANK, T1.SCHEDULE_RANK ) AS SCHEDULE_RANK, IsNull( T2.RUN, T1.RUN ) AS RUN, IsNull( T2.RUN_TYPE, T1.RUN_TYPE ) AS RUN_TYPE, IsNull( T2.LOAD_SIZE_QTY, T1.LOAD_SIZE_QTY ) AS LOAD_SIZE_QTY, IsNull( T2.MINIMUM_MOVE_QTY, T1.MINIMUM_MOVE_QTY ) AS MINIMUM_MOVE_QTY, IsNull( T2.STATUS, T1.STATUS ) AS STATUS, IsNull( T2.VAT_CODE, T1.VAT_CODE ) AS VAT_CODE, IsNull( T2.INTRASTAT_INCLUDE, T1.INTRASTAT_INCLUDE ) AS INTRASTAT_INCLUDE, IsNull( T2.STATUS_EFF_DATE, T1.STATUS_EFF_DATE ) AS STATUS_EFF_DATE, IsNull( T2.BID_RATE_CATEGORY_ID, T1.BID_RATE_CATEGORY_ID ) AS BID_RATE_CATEGORY_ID
FROM 
 SERVICE T1, SERVICE_SITE T2 WHERE T1.ID = T2.SERVICE_ID
GO
