USE [VECA]
GO
/****** Object:  View [dbo].[PART_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PART_SITE_VIEW] AS 
SELECT 
  T2.SITE_ID, T2.PART_ID, T2.ENGINEERING_MSTR, T2.PRIMARY_WHS_ID, T2.PRIMARY_LOC_ID, T2.BACKFLUSH_WHS_ID, T2.BACKFLUSH_LOC_ID, T2.INSPECT_WHS_ID, T2.INSPECT_LOC_ID, T2.UNIT_PRICE, T2.UNIT_MATERIAL_COST, T2.UNIT_LABOR_COST, T2.WHSALE_UNIT_COST, T2.BURDEN_PERCENT, T2.BURDEN_PER_UNIT, T2.EXCISE_UNIT_PRICE, T2.PURC_BUR_PERCENT, T2.UNIT_BURDEN_COST, T2.FIXED_COST, T2.UNIT_SERVICE_COST, T2.NEW_MATERIAL_COST, T2.NEW_LABOR_COST, T2.NEW_BURDEN_COST, T2.NEW_SERVICE_COST, T2.NEW_BURDEN_PERCENT, T2.NEW_BURDEN_PERUNIT, T2.PURC_BUR_PER_UNIT, T2.NEW_FIXED_COST, T2.LAST_ABC_DATE, T2.IS_RATE_BASED, T1.DESCRIPTION, T1.STOCK_UM, T1.COMMODITY_CODE, T1.MFG_NAME, T1.MFG_PART_ID, T1.WEIGHT, T1.WEIGHT_UM, T1.DRAWING_ID, T1.DRAWING_REV_NO, T1.PRIVATE_UM_CONV, T1.NMFC_CODE_ID, T1.PACKAGE_TYPE, T1.ADD_FORECAST, T1.PIECE_TRACKED, T1.LENGTH_REQD, T1.WIDTH_REQD, T1.HEIGHT_REQD, T1.DIMENSIONS_UM, T1.SHIP_DIMENSIONS, T1.DRAWING_FILE, T1.NET_WEIGHT_2, T1.GROSS_WEIGHT_2, T1.WEIGHT_UM_2, T1.VOLUME, T1.VOLUME_UM, T1.ROLL_FORECAST, T1.PRIMARY_SOURCE, T1.LABEL_UM, T1.HTS_CODE, T1.DEF_ORIG_COUNTRY, T1.MATERIAL_CODE, T1.DEF_LBL_FORMAT_ID, T1.VOLATILE_LEADTIME, T1.LT_PLUS_DAYS, T1.LT_MINUS_DAYS, T1.CASE_QTY, T1.PALLET_QTY, T1.ECN_REVISION, T1.REVISION_ID, T1.STAGE_ID, T1.ECN_REV_CONTROL, T1.IS_KIT, T1.UNIV_PLAN_MATERIAL, T1.RLS_NEAR_DAYS, T1.SUGG_RLS_NEAR_DAYS, T1.CONTROLLED_BY_ICS, T1.PRICE_GROUP, T1.DEF_PACKAGE_QTY, T1.DEF_PACKAGE_CAP, T1.DEF_SLS_TAX_GRP_ID, IsNull( T2.PLANNING_LEADTIME, T1.PLANNING_LEADTIME ) AS PLANNING_LEADTIME, IsNull( T2.ORDER_POLICY, T1.ORDER_POLICY ) AS ORDER_POLICY, IsNull( T2.ORDER_POINT, T1.ORDER_POINT ) AS ORDER_POINT, IsNull( T2.ORDER_UP_TO_QTY, T1.ORDER_UP_TO_QTY ) AS ORDER_UP_TO_QTY, IsNull( T2.SAFETY_STOCK_QTY, T1.SAFETY_STOCK_QTY ) AS SAFETY_STOCK_QTY, IsNull( T2.FIXED_ORDER_QTY, T1.FIXED_ORDER_QTY ) AS FIXED_ORDER_QTY, IsNull( T2.DAYS_OF_SUPPLY, T1.DAYS_OF_SUPPLY ) AS DAYS_OF_SUPPLY, IsNull( T2.MINIMUM_ORDER_QTY, T1.MINIMUM_ORDER_QTY ) AS MINIMUM_ORDER_QTY, IsNull( T2.MAXIMUM_ORDER_QTY, T1.MAXIMUM_ORDER_QTY ) AS MAXIMUM_ORDER_QTY, IsNull( T2.PRODUCT_CODE, T1.PRODUCT_CODE ) AS PRODUCT_CODE, IsNull( T2.FABRICATED, T1.FABRICATED ) AS FABRICATED, IsNull( T2.PURCHASED, T1.PURCHASED ) AS PURCHASED, IsNull( T2.STOCKED, T1.STOCKED ) AS STOCKED, IsNull( T2.DETAIL_ONLY, T1.DETAIL_ONLY ) AS DETAIL_ONLY, IsNull( T2.DEMAND_HISTORY, T1.DEMAND_HISTORY ) AS DEMAND_HISTORY, IsNull( T2.TOOL_OR_FIXTURE, T1.TOOL_OR_FIXTURE ) AS TOOL_OR_FIXTURE, IsNull( T2.CONSUMABLE, T1.CONSUMABLE ) AS CONSUMABLE, IsNull( T2.INSPECTION_REQD, T1.INSPECTION_REQD ) AS INSPECTION_REQD, IsNull( T2.DEMAND_FENCE_1, T1.DEMAND_FENCE_1 ) AS DEMAND_FENCE_1, IsNull( T2.DEMAND_FENCE_2, T1.DEMAND_FENCE_2 ) AS DEMAND_FENCE_2, IsNull( T2.PLANNER_USER_ID, T1.PLANNER_USER_ID ) AS PLANNER_USER_ID, IsNull( T2.BUYER_USER_ID, T1.BUYER_USER_ID ) AS BUYER_USER_ID, IsNull( T2.ABC_CODE, T1.ABC_CODE ) AS ABC_CODE, IsNull( T2.ANNUAL_USAGE_QTY, T1.ANNUAL_USAGE_QTY ) AS ANNUAL_USAGE_QTY, IsNull( T2.INVENTORY_LOCKED, T1.INVENTORY_LOCKED ) AS INVENTORY_LOCKED, IsNull( T2.PREF_VENDOR_ID, T1.PREF_VENDOR_ID ) AS PREF_VENDOR_ID, IsNull( T2.MRP_REQUIRED, T1.MRP_REQUIRED ) AS MRP_REQUIRED, IsNull( T2.MRP_EXCEPTIONS, T1.MRP_EXCEPTIONS ) AS MRP_EXCEPTIONS, IsNull( T2.AUTO_BACKFLUSH, T1.AUTO_BACKFLUSH ) AS AUTO_BACKFLUSH, IsNull( T2.EFF_DATE_PRICE, T1.EFF_DATE_PRICE ) AS EFF_DATE_PRICE, IsNull( T2.MAT_GL_ACCT_ID, T1.MAT_GL_ACCT_ID ) AS MAT_GL_ACCT_ID, IsNull( T2.LAB_GL_ACCT_ID, T1.LAB_GL_ACCT_ID ) AS LAB_GL_ACCT_ID, IsNull( T2.BUR_GL_ACCT_ID, T1.BUR_GL_ACCT_ID ) AS BUR_GL_ACCT_ID, IsNull( T2.SER_GL_ACCT_ID, T1.SER_GL_ACCT_ID ) AS SER_GL_ACCT_ID, IsNull( T2.QTY_ON_HAND, T1.QTY_ON_HAND ) AS QTY_ON_HAND, IsNull( T2.QTY_AVAILABLE_ISS, T1.QTY_AVAILABLE_ISS ) AS QTY_AVAILABLE_ISS, IsNull( T2.QTY_AVAILABLE_MRP, T1.QTY_AVAILABLE_MRP ) AS QTY_AVAILABLE_MRP, IsNull( T2.QTY_ON_ORDER, T1.QTY_ON_ORDER ) AS QTY_ON_ORDER, IsNull( T2.QTY_IN_DEMAND, T1.QTY_IN_DEMAND ) AS QTY_IN_DEMAND, IsNull( T2.QTY_COMMITTED, T1.QTY_COMMITTED ) AS QTY_COMMITTED, IsNull( T2.TARIFF_CODE, T1.TARIFF_CODE ) AS TARIFF_CODE, IsNull( T2.TARIFF_TYPE, T1.TARIFF_TYPE ) AS TARIFF_TYPE, IsNull( T2.VAT_CODE, T1.VAT_CODE ) AS VAT_CODE, IsNull( T2.ORIG_COUNTRY_ID, T1.ORIG_COUNTRY_ID ) AS ORIG_COUNTRY_ID, IsNull( T2.INTRASTAT_EXEMPT, T1.INTRASTAT_EXEMPT ) AS INTRASTAT_EXEMPT, IsNull( T2.STATUS, T1.STATUS ) AS STATUS, IsNull( T2.STATUS_EFF_DATE, T1.STATUS_EFF_DATE ) AS STATUS_EFF_DATE, IsNull( T2.USE_SUPPLY_BEF_LT, T1.USE_SUPPLY_BEF_LT ) AS USE_SUPPLY_BEF_LT, IsNull( T2.MINIMUM_LEADTIME, T1.MINIMUM_LEADTIME ) AS MINIMUM_LEADTIME, IsNull( T2.LEADTIME_BUFFER, T1.LEADTIME_BUFFER ) AS LEADTIME_BUFFER, IsNull( T2.EMERGENCY_STOCKPCT, T1.EMERGENCY_STOCKPCT ) AS EMERGENCY_STOCKPCT, IsNull( T2.REPLENISH_LEVEL, T1.REPLENISH_LEVEL ) AS REPLENISH_LEVEL, IsNull( T2.MIN_BATCH_SIZE, T1.MIN_BATCH_SIZE ) AS MIN_BATCH_SIZE, IsNull( T2.YELLOW_STOCKPCT, T1.YELLOW_STOCKPCT ) AS YELLOW_STOCKPCT, IsNull( T2.MRP_EXCEPTION_INFO, T1.MRP_EXCEPTION_INFO ) AS MRP_EXCEPTION_INFO, IsNull( T2.MULTIPLE_ORDER_QTY, T1.MULTIPLE_ORDER_QTY ) AS MULTIPLE_ORDER_QTY, IsNull( T2.LAST_IMPLODE_DATE, T1.LAST_IMPLODE_DATE ) AS LAST_IMPLODE_DATE, IsNull( T2.MRO_CLASS, T1.MRO_CLASS ) AS MRO_CLASS, IsNull( T2.UDF_LAYOUT_ID, T1.UDF_LAYOUT_ID ) AS UDF_LAYOUT_ID, IsNull( T2.USER_1, T1.USER_1 ) AS USER_1, IsNull( T2.USER_2, T1.USER_2 ) AS USER_2, IsNull( T2.USER_3, T1.USER_3 ) AS USER_3, IsNull( T2.USER_4, T1.USER_4 ) AS USER_4, IsNull( T2.USER_5, T1.USER_5 ) AS USER_5, IsNull( T2.USER_6, T1.USER_6 ) AS USER_6, IsNull( T2.USER_7, T1.USER_7 ) AS USER_7, IsNull( T2.USER_8, T1.USER_8 ) AS USER_8, IsNull( T2.USER_9, T1.USER_9 ) AS USER_9, IsNull( T2.USER_10, T1.USER_10 ) AS USER_10, IsNull( T2.BUFFER_PROFILE_ID, T1.BUFFER_PROFILE_ID ) AS BUFFER_PROFILE_ID, IsNull( T2.ADU_HORIZON, T1.ADU_HORIZON ) AS ADU_HORIZON, IsNull( T2.ASR_LEADTIME, T1.ASR_LEADTIME ) AS ASR_LEADTIME, IsNull( T2.ONHAND_ALERT_RED_PCT, T1.ONHAND_ALERT_RED_PCT ) AS ONHAND_ALERT_RED_PCT, IsNull( T2.PROCESS_TYPE, T1.PROCESS_TYPE ) AS PROCESS_TYPE, IsNull( T2.BID_RATE_CATEGORY_ID, T1.BID_RATE_CATEGORY_ID ) AS BID_RATE_CATEGORY_ID, IsNull( T2.CREATE_DATE, T1.CREATE_DATE ) AS CREATE_DATE, IsNull( T2.MODIFY_DATE, T1.MODIFY_DATE ) AS MODIFY_DATE
FROM 
 PART T1, PART_SITE T2 WHERE T1.ID = T2.PART_ID
GO
