USE [VECA]
GO
/****** Object:  View [dbo].[SHOP_RESOURCE_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SHOP_RESOURCE_SITE_VIEW] AS 
SELECT 
  T2.SITE_ID, T2.RESOURCE_ID, T2.SETUP_COST_PER_HR, T2.RUN_COST_PER_HR, T2.BUR_PER_HR_SETUP, T2.BUR_PER_HR_RUN, T2.RUN_COST_PER_UNIT, T2.BUR_PERCENT_SETUP, T2.BUR_PERCENT_RUN, T2.BUR_PER_OPERATION, T2.BUR_PER_UNIT_RUN, T1.DESCRIPTION, T1.TYPE, T1.EXCLUSIVITY, T1.SCHEDULE_GROUP_ID, T1.STATUS_RANK, T1.GRID_ROW, T1.GRID_COLUMN, T1.WBS_RESOURCE_TYPE, IsNull( T2.SCHEDULE_NORMALLY, T1.SCHEDULE_NORMALLY ) AS SCHEDULE_NORMALLY, IsNull( T2.AUTO_REPORTING, T1.AUTO_REPORTING ) AS AUTO_REPORTING, IsNull( T2.SHIFT_1_CAPACITY, T1.SHIFT_1_CAPACITY ) AS SHIFT_1_CAPACITY, IsNull( T2.SHIFT_2_CAPACITY, T1.SHIFT_2_CAPACITY ) AS SHIFT_2_CAPACITY, IsNull( T2.SHIFT_3_CAPACITY, T1.SHIFT_3_CAPACITY ) AS SHIFT_3_CAPACITY, IsNull( T2.SERVICE_BUFFER, T1.SERVICE_BUFFER ) AS SERVICE_BUFFER, IsNull( T2.GL_ACCT_ID, T1.GL_ACCT_ID ) AS GL_ACCT_ID, IsNull( T2.AFC_GL_ACCT_ID, T1.AFC_GL_ACCT_ID ) AS AFC_GL_ACCT_ID, IsNull( T2.AFB_GL_ACCT_ID, T1.AFB_GL_ACCT_ID ) AS AFB_GL_ACCT_ID, IsNull( T2.SCHEDULE_TYPE, T1.SCHEDULE_TYPE ) AS SCHEDULE_TYPE, IsNull( T2.MIN_SEGMENT_SIZE, T1.MIN_SEGMENT_SIZE ) AS MIN_SEGMENT_SIZE, IsNull( T2.EFFICIENCY_FACTOR, T1.EFFICIENCY_FACTOR ) AS EFFICIENCY_FACTOR, IsNull( T2.MONITOR_LOAD, T1.MONITOR_LOAD ) AS MONITOR_LOAD, IsNull( T2.COST_CATEGORY_ID, T1.COST_CATEGORY_ID ) AS COST_CATEGORY_ID, IsNull( T2.DEPARTMENT_ID, T1.DEPARTMENT_ID ) AS DEPARTMENT_ID, IsNull( T2.STATUS, T1.STATUS ) AS STATUS, IsNull( T2.UDF_LAYOUT_ID, T1.UDF_LAYOUT_ID ) AS UDF_LAYOUT_ID, IsNull( T2.USER_1, T1.USER_1 ) AS USER_1, IsNull( T2.USER_2, T1.USER_2 ) AS USER_2, IsNull( T2.USER_3, T1.USER_3 ) AS USER_3, IsNull( T2.USER_4, T1.USER_4 ) AS USER_4, IsNull( T2.USER_5, T1.USER_5 ) AS USER_5, IsNull( T2.USER_6, T1.USER_6 ) AS USER_6, IsNull( T2.USER_7, T1.USER_7 ) AS USER_7, IsNull( T2.USER_8, T1.USER_8 ) AS USER_8, IsNull( T2.USER_9, T1.USER_9 ) AS USER_9, IsNull( T2.USER_10, T1.USER_10 ) AS USER_10, IsNull( T2.BID_RATE_CATEGORY_ID, T1.BID_RATE_CATEGORY_ID ) AS BID_RATE_CATEGORY_ID
FROM 
 SHOP_RESOURCE T1, SHOP_RESOURCE_SITE T2 WHERE T1.ID = T2.RESOURCE_ID
GO
