USE [VECA]
GO
/****** Object:  View [dbo].[SRP_FINAL_SCHEDULING_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SRP_FINAL_SCHEDULING_VIEW] AS
WITH RankedComponents AS (
    SELECT 
        OO.SKU, 
        COMPONENT_ID, 
        AVAILABLE_QTY AS SCHEDULABLE,
        ROW_NUMBER() OVER (PARTITION BY OO.SKU ORDER BY AVAILABLE_QTY ASC) AS RowRank
    FROM SRP_PART_MATERIAL_LIST_VIEW AS PML
    INNER JOIN SRP_OPEN_ORDER_SKU_DEMAND AS OO ON OO.SKU = PML.SKU
)
SELECT 
    RC.SKU, 
    RC.COMPONENT_ID, 
    RC.SCHEDULABLE, 
    OO.DEMAND, 
    WIP.WIP_AMOUNT, 
    SHELF.ON_SHELF_QTY
FROM RankedComponents RC
INNER JOIN SRP_OPEN_ORDER_SKU_DEMAND AS OO ON RC.SKU = OO.SKU
LEFT JOIN SRP_WIP_BY_PART AS WIP ON WIP.WO_PART_ID = RC.SKU
INNER JOIN SRP_ON_SHELF_COUNT AS SHELF ON SHELF.SKU = RC.SKU
WHERE RC.RowRank = 1;
GO
