USE [VECA]
GO
/****** Object:  View [dbo].[CUSTOMER_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CUSTOMER_SITE_VIEW] AS 
SELECT 
  T2.CUSTOMER_ID, T2.SITE_ID, T2.PRIORITY_CODE, T2.WAREHOUSE_ID, T2.CUSTOMER_TYPE, T2.ORDER_FILL_RATE, T2.FILL_RATE_TYPE, T2.ALLOCATION_FENCE, T2.CO_ALLOC_LEVEL, T2.REALLOCATE, T2.CONSOLIDATE_ORDERS, T2.COMPLIANCE_LABEL, T2.AUTO_ALLOCATE, T2.EMAIL_INVOICE, T1.NAME, T1.ADDR_1, T1.ADDR_2, T1.ADDR_3, T1.CITY, T1.STATE, T1.ZIPCODE, T1.COUNTRY, T1.CONTACT_FIRST_NAME, T1.CONTACT_LAST_NAME, T1.CONTACT_INITIAL, T1.CONTACT_POSITION, T1.CONTACT_HONORIFIC, T1.CONTACT_SALUTATION, T1.CONTACT_PHONE, T1.CONTACT_FAX, T1.BILL_TO_NAME, T1.BILL_TO_ADDR_1, T1.BILL_TO_ADDR_2, T1.BILL_TO_ADDR_3, T1.BILL_TO_CITY, T1.BILL_TO_STATE, T1.BILL_TO_ZIPCODE, T1.BILL_TO_COUNTRY, T1.DISCOUNT_CODE, T1.FREE_ON_BOARD, T1.SHIP_VIA, T1.SALESREP_ID, T1.TERRITORY, T1.CURRENCY_ID, T1.DEF_SLS_TAX_GRP_ID, T1.SIC_CODE, T1.IND_CODE, T1.FINANCE_CHARGE, T1.TAX_EXEMPT, T1.TAX_ID_NUMBER, T1.BACKORDER_FLAG, T1.TERMS_NET_TYPE, T1.TERMS_NET_DAYS, T1.TERMS_NET_DATE, T1.TERMS_DISC_TYPE, T1.TERMS_DISC_DAYS, T1.TERMS_DISC_DATE, T1.TERMS_DISC_PERCENT, T1.TERMS_DESCRIPTION, T1.FREIGHT_TERMS, T1.DUNNING_LETTERS, T1.LAST_ORDER_DATE, T1.OPEN_DATE, T1.MODIFY_DATE, T1.USER_1, T1.USER_2, T1.USER_3, T1.USER_4, T1.USER_5, T1.USER_6, T1.USER_7, T1.USER_8, T1.USER_9, T1.USER_10, T1.SUPPLIER_ID, T1.CARRIER_ID, T1.TAX_ON_WHOLESALE, T1.DEF_RECV_ACCT_ID, T1.UDF_LAYOUT_ID, T1.ARRIVAL_CODE, T1.TRANS_CODE, T1.COUNTRY_ID, T1.NATURE_OF_TRANS, T1.MODE_OF_TRANSPORT, T1.SIRET_NUMBER, T1.VAT_REGISTRATION, T1.VAT_BOOK_CODE_I, T1.VAT_BOOK_CODE_M, T1.VAT_EXEMPT, T1.SHIPTO_ID, T1.RMA_REQUIRED, T1.CONTACT_MOBILE, T1.CONTACT_EMAIL, T1.DEF_TRANS_CURRENCY, T1.DEF_LBL_FORMAT_ID, T1.ACCEPT_EARLY, T1.DAYS_EARLY, T1.VAT_DISCOUNTED, T1.WEB_USER_ID, T1.WEB_PASSWORD, T1.PRIORITY, T1.LANGUAGE_ID, T1.BILL_LANGUAGE_ID, T1.DEF_ACK_ID, T1.PRIMARILY_EDI, T1.VAT_ALWAYS_DISC, T1.VAT_CODE, T1.VAT_OVERRIDE_SEQ, T1.RETURN_TRANS, T1.CASH_PERCENT_VAR, T1.CASH_MIN_VAR, T1.CASH_MAX_VAR, T1.TAKE_DISC_DAYS, T1.MARKET_ID, T1.CREDIT_CARD_ID, T1.WEB_URL, T1.UPS_ACCOUNT_ID, T1.GENERATE_ASN, T1.HOLD_TRANSFER_ASN, T1.CUSTOMS_DOC_PRINT, T1.SUPPRESS_AR_PRINT, T1.ACCEPT_830, T1.ACCEPT_862, T1.POOL_CODE, T1.INTER_CONSIGNEE, T1.CONSOL_SHIP_LINE, T1.PALLET_DETAILS_REQ, T1.MATCH_INV_TO_PACK, T1.ALLOW_OVER_PAYMNT, T1.ALLOW_ADJ_INVOICE, T1.DEF_GL_ACCT_ID, T1.LIQ_GL_ACCT_ID, T1.PBC_GL_ACCT_ID, T1.GENERATE_WSA, T1.HOLD_TRANSFER_WSA, T1.ACTIVE_FLAG, T1.SUPPRESS_PRINT_INV_NON_EDI, T1.OPEN_OLDEST_RECV, T1.STATUS_EFF_DATE, T1.PRICE_GROUP, T1.SUPPRESS_PRINT_CUST_STMT, T1.DEF_TERMS_ID, T1.CUSTOMER_GROUP_ID, T1.INTERNAL_CUSTOMER, T1.CONTACT_PHONE_EXT, T1.EMAIL_CUST_ON_NEW_ORDER, T1.EMAIL_CUST_ON_CHG_ORDER, T1.EMAIL_CUST_ON_SHIPMENT, T1.EMAIL_EMPL_ON_NEW_ORDER, T1.EMAIL_EMPL_ON_CHG_ORDER, T1.EMAIL_EMPL_ON_SHIPMENT, T1.EMAIL_EMPL_ON_INV_PAID, T1.CUSTOMER_COUNTRY_ID, T1.BILL_TO_COUNTRY_ID
FROM 
 CUSTOMER T1, CUSTOMER_SITE T2 WHERE T1.ID = T2.CUSTOMER_ID
GO
