USE [VECA]
GO
/****** Object:  View [dbo].[CASH_PLAN_SITE_VIEW]    Script Date: 4/9/2026 9:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CASH_PLAN_SITE_VIEW] AS 
SELECT 
  T2.CASH_PLAN_ID, T1.DESCRIPTION, T1.CURRENCY_ID, T1.BEGINNING_BALANCE, T1.STATUS, T1.ACT_UPDATED, T1.ACT_FIRST_DATE, T1.ACT_LAST_DATE, T1.PRJ_UPDATED, T1.PRJ_FIRST_DATE, T1.PRJ_LAST_DATE, T1.CREATE_DATE, T1.AR_INCLUDED, T1.AR_TYPE, T1.AR_SAMPLES, T1.AR_TERMS_PLUS, T1.AR_DAYS, T1.AR_CLIP_BEFORE, T1.AR_CLIP_AFTER, T1.CO_INCLUDED, T1.CO_TYPE, T1.CO_SAMPLES, T1.CO_CLIP_BEFORE, T1.CO_CLIP_AFTER, T1.AP_INCLUDED, T1.AP_TYPE, T1.AP_TERMS_PLUS, T1.AP_DAYS, T1.PO_INCLUDED, T1.PO_TYPE, T1.PO_SAMPLES, T1.PO_INVOICE_DELAY, T1.PO_CLIP_BEFORE, T1.FIN_CAL_ID, IsNull( T2.SITE_ID, T1.SITE_ID ) AS SITE_ID
FROM 
 CASH_PLAN T1, CASH_PLAN_SITE T2 WHERE T1.ID = T2.CASH_PLAN_ID
GO
