USE [VECA]
GO
/****** Object:  Table [dbo].[EC_GROUP_USER]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EC_GROUP_USER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EC_ID] [nvarchar](15) NOT NULL,
	[GROUP_TYPE] [nvarchar](2) NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[IS_LEADER] [nchar](1) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_SIGNOFF] [nchar](1) NULL,
 CONSTRAINT [PK_EC_GROUP_USER] PRIMARY KEY CLUSTERED 
(
	[EC_ID] ASC,
	[GROUP_TYPE] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EC_GROUP_USER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[EC_GROUP_USER]  WITH CHECK ADD  CONSTRAINT [FK_EC_GROUP_USER] FOREIGN KEY([EC_ID])
REFERENCES [dbo].[EC] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EC_GROUP_USER] CHECK CONSTRAINT [FK_EC_GROUP_USER]
GO
