USE [VECA]
GO
/****** Object:  Table [dbo].[GROUPS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[DEF_AUTH_GRP] [nchar](1) NULL,
	[DEF_IMPL_GRP] [nchar](1) NULL,
	[DEF_APRV_GRP] [nchar](1) NULL,
	[DEF_DIST_GRP] [nchar](1) NULL,
	[APPROVAL_1] [nchar](1) NULL,
	[APPROVAL_2] [nchar](1) NULL,
	[APPROVAL_3] [nchar](1) NULL,
	[APPROVAL_4] [nchar](1) NULL,
	[GROUP_SIGNOFF] [nchar](1) NULL,
	[WORKFLOW_APPROVAL] [nchar](1) NULL,
	[IS_PROFILE] [nchar](1) NULL,
	[SITE_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_GROUPS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GROUPS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
