USE [VECA]
GO
/****** Object:  Table [dbo].[CURRENCY_ENTITY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY_ENTITY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[TRACKING_CURRENCY] [nchar](1) NOT NULL,
	[RND_ACCT_ID] [nvarchar](30) NULL,
	[REAL_GN_ACCT_ID] [nvarchar](30) NULL,
	[REAL_LS_ACCT_ID] [nvarchar](30) NULL,
	[UNREAL_GN_ACCT_ID] [nvarchar](30) NULL,
	[UNREAL_LS_ACCT_ID] [nvarchar](30) NULL,
 CONSTRAINT [PK_CURR_ENTITY] PRIMARY KEY CLUSTERED 
(
	[ENTITY_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_CURR_ENTITY_TO_AE] FOREIGN KEY([ENTITY_ID])
REFERENCES [dbo].[ACCOUNTING_ENTITY] ([ID])
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY] CHECK CONSTRAINT [FK_CURR_ENTITY_TO_AE]
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_CURR_ENTITY_TO_CURR] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY] CHECK CONSTRAINT [FK_CURR_ENTITY_TO_CURR]
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY]  WITH CHECK ADD  CONSTRAINT [FKEY9383] FOREIGN KEY([RND_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY] CHECK CONSTRAINT [FKEY9383]
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY]  WITH CHECK ADD  CONSTRAINT [FKEY9384] FOREIGN KEY([REAL_GN_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY] CHECK CONSTRAINT [FKEY9384]
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY]  WITH CHECK ADD  CONSTRAINT [FKEY9385] FOREIGN KEY([REAL_LS_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY] CHECK CONSTRAINT [FKEY9385]
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY]  WITH CHECK ADD  CONSTRAINT [FKEY9386] FOREIGN KEY([UNREAL_GN_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY] CHECK CONSTRAINT [FKEY9386]
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY]  WITH CHECK ADD  CONSTRAINT [FKEY9387] FOREIGN KEY([UNREAL_LS_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CURRENCY_ENTITY] CHECK CONSTRAINT [FKEY9387]
GO
