USE [VECA]
GO
/****** Object:  Table [dbo].[SPLIT_TRANS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPLIT_TRANS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[FROM_WO_TYPE] [nchar](1) NOT NULL,
	[FROM_WO_BASE_ID] [nvarchar](30) NOT NULL,
	[FROM_WO_LOT_ID] [nvarchar](3) NOT NULL,
	[FROM_WO_SPLIT_ID] [nvarchar](3) NOT NULL,
	[FROM_WO_SUB_ID] [nvarchar](3) NOT NULL,
	[FROM_WO_SEQ_NO] [smallint] NOT NULL,
	[TO_WO_TYPE] [nchar](1) NOT NULL,
	[TO_WO_BASE_ID] [nvarchar](30) NOT NULL,
	[TO_WO_LOT_ID] [nvarchar](3) NOT NULL,
	[TO_WO_SPLIT_ID] [nvarchar](3) NOT NULL,
	[TO_WO_SUB_ID] [nvarchar](3) NOT NULL,
	[TO_WO_SEQ_NO] [smallint] NOT NULL,
	[QTY] [decimal](20, 8) NOT NULL,
	[OPER_QTY] [decimal](20, 8) NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[COMMENTS] [nvarchar](80) NULL,
	[EST_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[EST_LABOR_COST] [decimal](23, 8) NOT NULL,
	[EST_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[EST_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NOT NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[REM_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[REM_LABOR_COST] [decimal](23, 8) NOT NULL,
	[REM_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[REM_SERVICE_COST] [decimal](23, 8) NOT NULL,
 CONSTRAINT [PK_SPLIT_TRANS] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [EST_MATERIAL_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [EST_LABOR_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [EST_BURDEN_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [EST_SERVICE_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [ACT_MATERIAL_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [ACT_LABOR_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [ACT_BURDEN_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [ACT_SERVICE_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [REM_MATERIAL_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [REM_LABOR_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [REM_BURDEN_COST]
GO
ALTER TABLE [dbo].[SPLIT_TRANS] ADD  DEFAULT ((0)) FOR [REM_SERVICE_COST]
GO
