USE [VECA]
GO
/****** Object:  Table [dbo].[USER_DIMENSION_SETUP]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DIMENSION_SETUP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DIMENSION] [smallint] NOT NULL,
	[DIMENSION_LABEL] [nvarchar](25) NULL,
 CONSTRAINT [PK_USER_DIMENSN_LABEL] PRIMARY KEY CLUSTERED 
(
	[DIMENSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
