USE [VECA]
GO
/****** Object:  Table [dbo].[GOTO_VMPGM]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOTO_VMPGM](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[GOTO_ID] [int] NOT NULL,
	[WPARAM_ARG] [int] NULL,
 CONSTRAINT [PK_GOTO_VMPGM] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[GOTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
