USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR_ADDRESS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR_ADDRESS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[ADDR_NO] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[TRANS_CODE] [nvarchar](25) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_OVERRIDE_SEQ] [nvarchar](1) NULL,
	[DISPATCH_ADDR_ID] [nvarchar](20) NULL,
	[CARRIER_ID] [nvarchar](20) NULL,
	[DISP_PALLET_REQ] [nchar](1) NULL,
	[VENDOR_ADDR_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_VENDOR_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC,
	[ADDR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY0074] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENDOR_ADDRESS] CHECK CONSTRAINT [FKEY0074]
GO
ALTER TABLE [dbo].[VENDOR_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9322] FOREIGN KEY([TRANS_CODE])
REFERENCES [dbo].[PORT_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[VENDOR_ADDRESS] CHECK CONSTRAINT [FKEY9322]
GO
ALTER TABLE [dbo].[VENDOR_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9466] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_ADDRESS] CHECK CONSTRAINT [FKEY9466]
GO
