USE [VECA]
GO
/****** Object:  Table [dbo].[PRORATED_LABOR_TX]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRORATED_LABOR_TX](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PRORATE_ID] [int] NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[PRORATE_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_PRORATED_LABOR] PRIMARY KEY CLUSTERED 
(
	[PRORATE_ID] ASC,
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRORATED_LABOR_TX]  WITH CHECK ADD  CONSTRAINT [FK_PRORATED_LABOR_00] FOREIGN KEY([TRANSACTION_ID])
REFERENCES [dbo].[LABOR_TICKET] ([TRANSACTION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRORATED_LABOR_TX] CHECK CONSTRAINT [FK_PRORATED_LABOR_00]
GO
