USE [VECA]
GO
/****** Object:  Table [dbo].[EIS_THRESHOLDS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EIS_THRESHOLDS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GROUP_ID] [nvarchar](15) NOT NULL,
	[PERIOD_ID] [nvarchar](15) NOT NULL,
	[ACTIVITY_ID] [nvarchar](30) NOT NULL,
	[COL_NAME] [nvarchar](15) NOT NULL,
	[ACTIVE] [nvarchar](3) NULL,
	[UNIT_PERCENT] [nvarchar](15) NULL,
	[MIN_THRESHOLD] [decimal](14, 4) NULL,
	[MAX_THRESHOLD] [decimal](14, 4) NULL,
 CONSTRAINT [PK_EIS_THRESHOLDS] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[PERIOD_ID] ASC,
	[ACTIVITY_ID] ASC,
	[COL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
