USE [VECA]
GO
/****** Object:  Table [dbo].[APPLICATION_USER]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_USER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NAME] [nvarchar](20) NOT NULL,
	[PO_STATUS_ALLOWED] [nvarchar](10) NULL,
	[CO_STATUS_ALLOWED] [nvarchar](10) NULL,
	[WO_STATUS_ALLOWED] [nvarchar](10) NULL,
	[IS_PLANNER] [nchar](1) NOT NULL,
	[IS_BUYER] [nchar](1) NOT NULL,
	[DEFAULT_SHIP_ADDR] [int] NULL,
	[QT_STATUS_ALLOWED] [nvarchar](10) NULL,
	[SH_STATUS_ALLOWED] [nvarchar](10) NULL,
	[PHYS_COUNT_ALLOWED] [nchar](1) NULL,
	[LOCK_WARN_CO] [int] NULL,
	[LOCK_WARN_WO] [int] NULL,
	[LOCK_WARN_PO] [int] NULL,
	[LOCK_WARN_IV] [int] NULL,
	[LOCK_WARN_SH] [int] NULL,
	[LOCK_WARN_RV] [int] NULL,
	[LOCK_WARN_SV] [int] NULL,
	[LOCK_WARN_LA] [int] NULL,
	[ECN_STATUS_ALLOWED] [nvarchar](10) NULL,
	[PR_STATUS_ALLOWED] [nvarchar](10) NULL,
	[PASS_LAST_CHANGED] [datetime] NULL,
	[EDIT_BRWSE_ALLOWED] [nchar](1) NULL,
	[USER_PWD] [nvarchar](90) NULL,
	[LAST_FAILED_DATE] [datetime] NULL,
	[FAILED_COUNT] [smallint] NULL,
	[IS_PROFILE] [nchar](1) NULL,
	[IS_ADMIN] [nvarchar](1) NULL,
	[WINDOWS_SID] [nvarchar](100) NULL,
	[VISUAL_USER_GROUP_SID] [nvarchar](100) NULL,
	[WINDOWS_DOMAIN_NAME] [nvarchar](20) NULL,
	[WINDOWS_DOMAIN_SID] [nvarchar](100) NULL,
	[IS_VISUAL_USER] [nchar](1) NOT NULL,
	[IS_CRM_USER] [nchar](1) NOT NULL,
	[PLM_USER_ID] [nvarchar](20) NULL,
	[IS_MOBILE_LABOR_USER] [nchar](1) NOT NULL,
	[IS_MOBILE_MATERIAL_USER] [nchar](1) NOT NULL,
 CONSTRAINT [PK_APPLICATION_USER] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPLICATION_USER] ADD  DEFAULT ('Y') FOR [IS_VISUAL_USER]
GO
ALTER TABLE [dbo].[APPLICATION_USER] ADD  DEFAULT ('N') FOR [IS_CRM_USER]
GO
ALTER TABLE [dbo].[APPLICATION_USER] ADD  DEFAULT ('N') FOR [IS_MOBILE_LABOR_USER]
GO
ALTER TABLE [dbo].[APPLICATION_USER] ADD  DEFAULT ('N') FOR [IS_MOBILE_MATERIAL_USER]
GO
