USE [VECA]
GO
/****** Object:  Table [dbo].[V_TASK_CONTACT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_TASK_CONTACT](
	[TASK_ID] [nvarchar](15) NOT NULL,
	[CONTACT_ID] [nvarchar](15) NOT NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[PRIMARY_CONTACT] [smallint] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_TASK_CONTACT_0] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_TASK_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00047] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[V_TASK] ([ID])
GO
ALTER TABLE [dbo].[V_TASK_CONTACT] CHECK CONSTRAINT [FK_VFO_00047]
GO
ALTER TABLE [dbo].[V_TASK_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00128] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[V_CONTACT] ([ID])
GO
ALTER TABLE [dbo].[V_TASK_CONTACT] CHECK CONSTRAINT [FK_VFO_00128]
GO
