USE [VECA]
GO
/****** Object:  Table [dbo].[USER_PGM_AUTHORITY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PGM_AUTHORITY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[PROGRAM_ID] [nvarchar](8) NOT NULL,
	[PROGRAM_COMPONENT] [nvarchar](8) NOT NULL,
	[PERMISSION] [nchar](1) NOT NULL,
	[PROFILE_STRING] [nvarchar](80) NULL,
 CONSTRAINT [PK_USER_PGM_AUTHORITY] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[PROGRAM_ID] ASC,
	[PROGRAM_COMPONENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER_PGM_AUTHORITY] ADD  DEFAULT ('') FOR [PERMISSION]
GO
