USE [VECA]
GO
/****** Object:  Table [dbo].[Z_FAMILY_ROLLUP]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_FAMILY_ROLLUP](
	[FAMILY_ROLLUP] [varchar](50) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[ACTIVE_FLAG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FAMILY_ROLLUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Z_FAMILY_ROLLUP] ADD  DEFAULT ((1)) FOR [ACTIVE_FLAG]
GO
