USE [VECA]
GO
/****** Object:  Table [dbo].[QRP_CONTROL]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRP_CONTROL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[STD_QRP_NAME] [nvarchar](15) NOT NULL,
	[CONTEXT_TYPE] [nchar](1) NOT NULL,
	[CONTEXT_ID] [nvarchar](30) NOT NULL,
	[USER_QRP_NAME] [nvarchar](128) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
 CONSTRAINT [PK_QRP_CONTROL] PRIMARY KEY CLUSTERED 
(
	[STD_QRP_NAME] ASC,
	[CONTEXT_TYPE] ASC,
	[CONTEXT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
