USE [VECA]
GO
/****** Object:  Table [dbo].[VR_DATA_SOURCE_TABLE]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VR_DATA_SOURCE_TABLE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DATA_SOURCE_ID] [nvarchar](80) NOT NULL,
	[ALIAS] [nvarchar](30) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
	[TYPE] [int] NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[JOIN_TYPE] [int] NOT NULL,
	[JOIN_TEXT] [nvarchar](2000) NULL,
 CONSTRAINT [PK_VR_DATA_SOURCE_TABLE] PRIMARY KEY CLUSTERED 
(
	[DATA_SOURCE_ID] ASC,
	[ALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE_TABLE] ADD  DEFAULT ((0)) FOR [JOIN_TYPE]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_DATA_SRC_TBL_TO_DATA_SRC] FOREIGN KEY([DATA_SOURCE_ID])
REFERENCES [dbo].[VR_DATA_SOURCE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE_TABLE] CHECK CONSTRAINT [FK_DATA_SRC_TBL_TO_DATA_SRC]
GO
