USE [VECA]
GO
/****** Object:  Table [dbo].[PURC_ORDER_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURC_ORDER_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[VENDOR_PART_ID] [nvarchar](30) NULL,
	[SERVICE_ID] [nvarchar](15) NULL,
	[USER_ORDER_QTY] [decimal](20, 8) NOT NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[PURCHASE_UM] [nvarchar](15) NULL,
	[UNIT_PRICE] [decimal](22, 8) NOT NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NOT NULL,
	[FIXED_CHARGE] [decimal](23, 8) NULL,
	[EST_FREIGHT] [decimal](23, 8) NOT NULL,
	[GL_EXPENSE_ACCT_ID] [nvarchar](30) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[COMMODITY_CODE] [nvarchar](15) NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[LINE_STATUS] [nchar](1) NOT NULL,
	[LAST_RECEIVED_DATE] [datetime] NULL,
	[TOTAL_ACT_FREIGHT] [decimal](23, 8) NOT NULL,
	[TOTAL_USR_RECD_QTY] [decimal](20, 8) NOT NULL,
	[TOTAL_RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[TOTAL_AMT_RECVD] [decimal](23, 8) NOT NULL,
	[TOTAL_AMT_ORDERED] [decimal](23, 8) NOT NULL,
	[MFG_NAME] [nvarchar](30) NULL,
	[MFG_PART_ID] [nvarchar](30) NULL,
	[PROMISE_DATE] [datetime] NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[TOTAL_DISPATCH_QTY] [decimal](20, 8) NOT NULL,
	[TOTAL_USR_DISP_QTY] [decimal](20, 8) NOT NULL,
	[MINIMUM_CHARGE] [decimal](23, 8) NULL,
	[LAST_DISPATCH_DATE] [datetime] NULL,
	[EDI_BLANKET_QTY] [decimal](20, 8) NULL,
	[EDI_BLANKET_USRQTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_QTY_REL] [decimal](20, 8) NULL,
	[EDI_ACCUM_USR_REL] [decimal](20, 8) NULL,
	[EDI_ACCUM_QTY_REC] [decimal](20, 8) NULL,
	[EDI_ACCUM_USR_REC] [decimal](20, 8) NULL,
	[EDI_LAST_REC_DATE] [datetime] NULL,
	[EDI_RELEASE_NO] [nvarchar](30) NULL,
	[EDI_RELEASE_DATE] [datetime] NULL,
	[EDI_QTY_RELEASED] [decimal](20, 8) NULL,
	[EDI_USR_QTY_REL] [decimal](20, 8) NULL,
	[EDI_REQ_REL_DATE] [datetime] NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[WIP_VAS_REQUIRED] [nchar](1) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[HTS_CODE] [nvarchar](20) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](50) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[vat_category] [nvarchar](15) NULL,
	[VAT_AMOUNT] [decimal](23, 8) NULL,
	[VAT_RCV_AMOUNT] [decimal](23, 8) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[PART_GL_ACCOUNT] [nvarchar](30) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[DISPATCH_ADDR_ID] [nvarchar](20) NULL,
	[SHIPFROM_ID] [nvarchar](20) NULL,
	[QA_QTY] [decimal](20, 8) NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[TRACE_QTY] [decimal](20, 8) NULL,
	[DISPATCHED] [nchar](1) NULL,
	[TRANS_CATEGORY_ID] [nvarchar](15) NULL,
	[ORIG_STAGE_REVISION_ID] [nvarchar](24) NULL,
	[CONSIGNED_WHS_ID] [nvarchar](15) NULL,
	[CONSIGNED_LOC_ID] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PROMISE_SHIP_DATE] [datetime] NULL,
	[SPECIAL_PRICE_AUTH] [nvarchar](100) NULL,
	[CONTRACT_ID] [nvarchar](30) NULL,
	[CONTRACT_LINE_NO] [smallint] NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
	[ENTERED_BY] [nvarchar](20) NULL,
	[EMAIL_NOTIFICATION] [nchar](1) NOT NULL,
	[VAT_IE_PERCENT] [decimal](6, 3) NULL,
	[VAT_IE_AMOUNT] [decimal](23, 8) NULL,
	[VAT_IE_DR_GL_ACCT_ID] [nvarchar](30) NULL,
	[VAT_IE_CR_GL_ACCT_ID] [nvarchar](30) NULL,
	[CONFIRMED_SHIP_DATE] [datetime] NULL,
 CONSTRAINT [PK_PURC_ORDER_LINE] PRIMARY KEY CLUSTERED 
(
	[PURC_ORDER_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TRADE_DISC_PERCENT]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [EST_FREIGHT]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ('') FOR [LINE_STATUS]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_ACT_FREIGHT]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_USR_RECD_QTY]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_RECEIVED_QTY]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_RECVD]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_ORDERED]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_DISPATCH_QTY]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_USR_DISP_QTY]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ('N') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] ADD  DEFAULT ('D') FOR [EMAIL_NOTIFICATION]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FK_PO_LINE_TRX_CAT] FOREIGN KEY([TRANS_CATEGORY_ID])
REFERENCES [dbo].[TRANS_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FK_PO_LINE_TRX_CAT]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FK_PURC_ORD_LINE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FK_PURC_ORD_LINE_TO_SITE]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0038] FOREIGN KEY([PURCHASE_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FKEY0038]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0101] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FKEY0101]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0115] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FKEY0115]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0165] FOREIGN KEY([PURC_ORDER_ID])
REFERENCES [dbo].[PURCHASE_ORDER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FKEY0165]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0272] FOREIGN KEY([GL_EXPENSE_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FKEY0272]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9583] FOREIGN KEY([vat_category])
REFERENCES [dbo].[VAT_CATEGORY] ([id])
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [FKEY9583]
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [CHK9044] CHECK  (([LINE_STATUS]='A' OR [LINE_STATUS]='C'))
GO
ALTER TABLE [dbo].[PURC_ORDER_LINE] CHECK CONSTRAINT [CHK9044]
GO
