USE [VECA]
GO
/****** Object:  Table [dbo].[V_CONTACT]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_CONTACT](
	[ID] [nvarchar](15) NOT NULL,
	[ACCT_ID] [nvarchar](15) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[ADDR_NAME] [nvarchar](50) NULL,
	[ALT_NAME] [nvarchar](50) NULL,
	[ALT_ADDR_1] [nvarchar](50) NULL,
	[ALT_ADDR_2] [nvarchar](50) NULL,
	[ALT_ADDR_3] [nvarchar](50) NULL,
	[ALT_COUNTRY] [nvarchar](50) NULL,
	[ALT_CITY] [nvarchar](30) NULL,
	[ALT_STATE] [nvarchar](10) NULL,
	[ALT_ZIPCODE] [nvarchar](15) NULL,
	[BIRTH_DATE] [datetime] NULL,
	[BUS_PHONE] [nvarchar](20) NULL,
	[CITY] [nvarchar](30) NULL,
	[CONTACT_NO] [smallint] NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[CREATOR] [nvarchar](15) NULL,
	[CUST_ID] [nvarchar](15) NULL,
	[EMAIL_ADDR] [nvarchar](50) NULL,
	[FAX_PHONE] [nvarchar](20) NULL,
	[FIRST_NAME] [nvarchar](30) NULL,
	[FOLLOW_UP] [smallint] NOT NULL,
	[FOLLOW_UP_DATE] [datetime] NULL,
	[FOLLOW_UP_TYPE] [nvarchar](1) NULL,
	[GENDER] [nvarchar](1) NULL,
	[HOME_PHONE] [nvarchar](20) NULL,
	[HONORIFIC] [nvarchar](15) NULL,
	[MIDDLE_INITIAL] [nvarchar](2) NULL,
	[LAST_NAME] [nvarchar](30) NULL,
	[MOBILE_PHONE] [nvarchar](20) NULL,
	[NICK_NAME] [nvarchar](50) NULL,
	[OTHER_PHONE] [nvarchar](20) NULL,
	[OWNER] [nvarchar](15) NULL,
	[REPORTS_TO_ID] [nvarchar](15) NULL,
	[SEMINAR_INVITE] [smallint] NOT NULL,
	[SEND_NEWS] [smallint] NOT NULL,
	[SEND_PROMO] [smallint] NOT NULL,
	[SOC_SEC_NBR] [nvarchar](11) NULL,
	[STATE] [nvarchar](10) NULL,
	[TIME_ZONE] [nvarchar](10) NULL,
	[TITLE] [nvarchar](50) NULL,
	[URL] [nvarchar](80) NULL,
	[USER_T1] [nvarchar](80) NULL,
	[USER_T2] [nvarchar](80) NULL,
	[USER_T3] [nvarchar](80) NULL,
	[USER_T4] [nvarchar](80) NULL,
	[USER_T5] [nvarchar](80) NULL,
	[USER_D1] [datetime] NULL,
	[USER_D2] [datetime] NULL,
	[USER_D3] [datetime] NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[WEB_PASSWORD] [nvarchar](20) NULL,
	[WEB_USER_ID] [nvarchar](20) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COMMENTS] [nvarchar](254) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[USER_N1] [decimal](23, 8) NULL,
	[USER_N2] [decimal](23, 8) NULL,
	[USER_N3] [decimal](23, 8) NULL,
	[USER_N4] [decimal](23, 8) NULL,
	[USER_N5] [decimal](23, 8) NULL,
	[INACTIVE_CONTACT] [smallint] NULL,
	[ACCT_PRIMARY] [smallint] NULL,
	[PROPER_NAME] [nvarchar](60) NULL,
	[USER_T6] [nvarchar](80) NULL,
	[USER_T7] [nvarchar](80) NULL,
	[USER_T8] [nvarchar](80) NULL,
	[USER_T9] [nvarchar](80) NULL,
	[USER_T10] [nvarchar](80) NULL,
	[USER_T11] [nvarchar](80) NULL,
	[USER_T12] [nvarchar](80) NULL,
	[USER_T13] [nvarchar](80) NULL,
	[USER_T14] [nvarchar](80) NULL,
	[USER_T15] [nvarchar](80) NULL,
	[USER_T16] [nvarchar](80) NULL,
	[USER_T17] [nvarchar](80) NULL,
	[USER_T18] [nvarchar](80) NULL,
	[USER_T19] [nvarchar](80) NULL,
	[USER_T20] [nvarchar](80) NULL,
	[USER_T21] [nvarchar](80) NULL,
	[USER_T22] [nvarchar](80) NULL,
	[USER_T23] [nvarchar](80) NULL,
	[USER_T24] [nvarchar](80) NULL,
	[USER_T25] [nvarchar](80) NULL,
	[USER_T26] [nvarchar](80) NULL,
	[USER_T27] [nvarchar](80) NULL,
	[USER_T28] [nvarchar](80) NULL,
	[USER_T29] [nvarchar](80) NULL,
	[USER_T30] [nvarchar](80) NULL,
	[USER_N6] [decimal](23, 8) NULL,
	[USER_N7] [decimal](23, 8) NULL,
	[USER_N8] [decimal](23, 8) NULL,
	[USER_N9] [decimal](23, 8) NULL,
	[USER_N10] [decimal](23, 8) NULL,
	[USER_N11] [decimal](23, 8) NULL,
	[USER_N12] [decimal](23, 8) NULL,
	[USER_N13] [decimal](23, 8) NULL,
	[USER_N14] [decimal](23, 8) NULL,
	[USER_N15] [decimal](23, 8) NULL,
	[USER_D4] [datetime] NULL,
	[USER_D5] [datetime] NULL,
	[AREA_ID] [nvarchar](15) NULL,
	[BRANCH_ID] [nvarchar](15) NULL,
	[BUS_UNIT_ID] [nvarchar](15) NULL,
	[DIVISION_ID] [nvarchar](15) NULL,
	[RATING] [smallint] NULL,
	[RATING_COMMENTS] [nvarchar](254) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[SUB_AREA_ID] [nvarchar](15) NULL,
	[TERRITORY] [nvarchar](15) NULL,
	[TYPE] [nvarchar](15) NULL,
	[DO_NOT_CONTACT] [datetime] NULL,
	[DO_NOT_EMAIL] [datetime] NULL,
	[DO_NOT_PHONE] [datetime] NULL,
	[DO_NOT_MAIL] [datetime] NULL,
	[DO_NOT_FAX] [datetime] NULL,
	[COMMENTS_BIN] [ntext] NULL,
	[PREF_CONTACT] [nvarchar](15) NULL,
	[SALUTATION] [nvarchar](60) NULL,
 CONSTRAINT [X_V_CONTACT_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_CONTACT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[V_CONTACT] ADD  DEFAULT ((0)) FOR [FOLLOW_UP]
GO
ALTER TABLE [dbo].[V_CONTACT] ADD  DEFAULT ((0)) FOR [SEMINAR_INVITE]
GO
ALTER TABLE [dbo].[V_CONTACT] ADD  DEFAULT ((0)) FOR [SEND_NEWS]
GO
ALTER TABLE [dbo].[V_CONTACT] ADD  DEFAULT ((0)) FOR [SEND_PROMO]
GO
ALTER TABLE [dbo].[V_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00045] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[V_CONTACT] CHECK CONSTRAINT [FK_VFO_00045]
GO
ALTER TABLE [dbo].[V_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00096] FOREIGN KEY([ACCT_ID])
REFERENCES [dbo].[V_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[V_CONTACT] CHECK CONSTRAINT [FK_VFO_00096]
GO
