USE [VECA]
GO
/****** Object:  Table [dbo].[TRACE_PROFILE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACE_PROFILE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[NUMBERING_ID] [nvarchar](30) NULL,
	[APPLY_TO_REC] [nchar](1) NOT NULL,
	[APPLY_TO_ISSUE] [nchar](1) NOT NULL,
	[APPLY_TO_ADJ] [nchar](1) NULL,
	[APPLY_TO_LABOR] [nchar](1) NOT NULL,
	[PRE_ASSIGN] [nchar](1) NOT NULL,
	[ASSIGN_METHOD] [nchar](1) NOT NULL,
	[TRACE_ID_LABEL] [nvarchar](30) NULL,
	[APROPERTY_LABEL_1] [nvarchar](30) NULL,
	[APROPERTY_LABEL_2] [nvarchar](30) NULL,
	[APROPERTY_LABEL_3] [nvarchar](30) NULL,
	[APROPERTY_LABEL_4] [nvarchar](30) NULL,
	[APROPERTY_LABEL_5] [nvarchar](30) NULL,
	[APROPERTY_1_REQD] [nchar](1) NOT NULL,
	[APROPERTY_2_REQD] [nchar](1) NOT NULL,
	[APROPERTY_3_REQD] [nchar](1) NOT NULL,
	[APROPERTY_4_REQD] [nchar](1) NOT NULL,
	[APROPERTY_5_REQD] [nchar](1) NOT NULL,
	[NPROPERTY_LABEL_1] [nvarchar](30) NULL,
	[NPROPERTY_LABEL_2] [nvarchar](30) NULL,
	[NPROPERTY_LABEL_3] [nvarchar](30) NULL,
	[NPROPERTY_LABEL_4] [nvarchar](30) NULL,
	[NPROPERTY_LABEL_5] [nvarchar](30) NULL,
	[NPROPERTY_1_REQD] [nchar](1) NOT NULL,
	[NPROPERTY_2_REQD] [nchar](1) NOT NULL,
	[NPROPERTY_3_REQD] [nchar](1) NOT NULL,
	[NPROPERTY_4_REQD] [nchar](1) NOT NULL,
	[NPROPERTY_5_REQD] [nchar](1) NOT NULL,
	[MAX_LOT_QTY] [decimal](20, 8) NULL,
	[SHELF_LIFE] [smallint] NULL,
	[COMMENTS] [nvarchar](250) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[APROPERTY_1_EDIT] [nchar](1) NOT NULL,
	[APROPERTY_2_EDIT] [nchar](1) NOT NULL,
	[APROPERTY_3_EDIT] [nchar](1) NOT NULL,
	[APROPERTY_4_EDIT] [nchar](1) NOT NULL,
	[APROPERTY_5_EDIT] [nchar](1) NOT NULL,
	[NPROPERTY_1_EDIT] [nchar](1) NOT NULL,
	[NPROPERTY_2_EDIT] [nchar](1) NOT NULL,
	[NPROPERTY_3_EDIT] [nchar](1) NOT NULL,
	[NPROPERTY_4_EDIT] [nchar](1) NOT NULL,
	[NPROPERTY_5_EDIT] [nchar](1) NOT NULL,
	[APROPERTY_1_VIS] [nchar](1) NOT NULL,
	[APROPERTY_2_VIS] [nchar](1) NOT NULL,
	[APROPERTY_3_VIS] [nchar](1) NOT NULL,
	[APROPERTY_4_VIS] [nchar](1) NOT NULL,
	[APROPERTY_5_VIS] [nchar](1) NOT NULL,
	[NPROPERTY_1_VIS] [nchar](1) NOT NULL,
	[NPROPERTY_2_VIS] [nchar](1) NOT NULL,
	[NPROPERTY_3_VIS] [nchar](1) NOT NULL,
	[NPROPERTY_4_VIS] [nchar](1) NOT NULL,
	[NPROPERTY_5_VIS] [nchar](1) NOT NULL,
	[EDIT_EXP_DATE] [nchar](1) NOT NULL,
	[AUTO_FILL_TRACE] [nchar](1) NULL,
	[APPLY_TO_SERVDISP] [nchar](1) NOT NULL,
	[APPLY_TO_SERVREC] [nchar](1) NOT NULL,
	[OWNERSHIP] [nchar](1) NOT NULL,
	[LOT] [nchar](1) NOT NULL,
	[SERIAL] [nchar](1) NOT NULL,
	[COLOCATE_OWNERS] [nchar](1) NOT NULL,
	[COLOCATE_LOTS] [nchar](1) NOT NULL,
	[EXPIRATION] [nchar](1) NOT NULL,
	[COLOCATE_ALPHAS] [nchar](1) NOT NULL,
	[COLOCATE_NUMERICS] [nchar](1) NOT NULL,
	[ACCEPT_EXPIRED_RCV] [nchar](1) NOT NULL,
	[OWNERSHIP_KNOWN] [nchar](1) NOT NULL,
	[LOT_KNOWN] [nchar](1) NOT NULL,
	[SERIAL_KNOWN] [nchar](1) NOT NULL,
	[EXPIRATION_KNOWN] [nchar](1) NOT NULL,
	[APROPERTY_1_KNOWN] [nchar](1) NOT NULL,
	[APROPERTY_2_KNOWN] [nchar](1) NOT NULL,
	[APROPERTY_3_KNOWN] [nchar](1) NOT NULL,
	[APROPERTY_4_KNOWN] [nchar](1) NOT NULL,
	[APROPERTY_5_KNOWN] [nchar](1) NOT NULL,
	[NPROPERTY_1_KNOWN] [nchar](1) NOT NULL,
	[NPROPERTY_2_KNOWN] [nchar](1) NOT NULL,
	[NPROPERTY_3_KNOWN] [nchar](1) NOT NULL,
	[NPROPERTY_4_KNOWN] [nchar](1) NOT NULL,
	[NPROPERTY_5_KNOWN] [nchar](1) NOT NULL,
	[COUNT_DETAIL] [nchar](1) NOT NULL,
	[PRODUCTION] [nchar](1) NOT NULL,
	[PRODUCTION_KNOWN] [nchar](1) NOT NULL,
	[COLOCATE_PROD] [nchar](1) NOT NULL,
	[RECEIVE_BY] [nchar](1) NOT NULL,
	[RECEIVE_BY_KNOWN] [nchar](1) NOT NULL,
	[COLOCATE_REC_BY] [nchar](1) NOT NULL,
	[AVAILABLE] [nchar](1) NOT NULL,
	[AVAILABLE_KNOWN] [nchar](1) NOT NULL,
	[COLOCATE_AVAILABLE] [nchar](1) NOT NULL,
	[SHIP_BY] [nchar](1) NOT NULL,
	[SHIP_BY_KNOWN] [nchar](1) NOT NULL,
	[COLOCATE_SHIP_BY] [nchar](1) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRACE_PROFILE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APPLY_TO_REC]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APPLY_TO_ISSUE]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APPLY_TO_LABOR]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [PRE_ASSIGN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [ASSIGN_METHOD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_1_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_2_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_3_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_4_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_5_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_1_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_2_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_3_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_4_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_5_REQD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_1_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_2_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_3_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_4_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_5_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_1_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_2_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_3_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_4_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_5_EDIT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_1_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_2_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_3_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_4_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_5_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_1_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_2_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_3_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_4_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_5_VIS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [EDIT_EXP_DATE]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APPLY_TO_SERVDISP]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APPLY_TO_SERVREC]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [OWNERSHIP]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [LOT]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [SERIAL]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_OWNERS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_LOTS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [EXPIRATION]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_ALPHAS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_NUMERICS]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [ACCEPT_EXPIRED_RCV]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [OWNERSHIP_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [LOT_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [SERIAL_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [EXPIRATION_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_1_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_2_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_3_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_4_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [APROPERTY_5_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_1_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_2_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_3_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_4_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [NPROPERTY_5_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COUNT_DETAIL]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [PRODUCTION]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [PRODUCTION_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_PROD]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [RECEIVE_BY]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [RECEIVE_BY_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_REC_BY]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [AVAILABLE]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [AVAILABLE_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_AVAILABLE]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [SHIP_BY]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [SHIP_BY_KNOWN]
GO
ALTER TABLE [dbo].[TRACE_PROFILE] ADD  DEFAULT ('') FOR [COLOCATE_SHIP_BY]
GO
ALTER TABLE [dbo].[TRACE_PROFILE]  WITH CHECK ADD  CONSTRAINT [FK_TRACE_PROF_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[TRACE_PROFILE] CHECK CONSTRAINT [FK_TRACE_PROF_TO_SITE]
GO
ALTER TABLE [dbo].[TRACE_PROFILE]  WITH CHECK ADD  CONSTRAINT [FKEY0107] FOREIGN KEY([SITE_ID], [PART_ID])
REFERENCES [dbo].[PART_SITE] ([SITE_ID], [PART_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRACE_PROFILE] CHECK CONSTRAINT [FKEY0107]
GO
ALTER TABLE [dbo].[TRACE_PROFILE]  WITH CHECK ADD  CONSTRAINT [FKEY0239] FOREIGN KEY([NUMBERING_ID])
REFERENCES [dbo].[TRACE_NUMBERING] ([ID])
GO
ALTER TABLE [dbo].[TRACE_PROFILE] CHECK CONSTRAINT [FKEY0239]
GO
ALTER TABLE [dbo].[TRACE_PROFILE]  WITH CHECK ADD  CONSTRAINT [FKEY9464] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[TRACE_PROFILE] CHECK CONSTRAINT [FKEY9464]
GO
ALTER TABLE [dbo].[TRACE_PROFILE]  WITH CHECK ADD  CONSTRAINT [CHK0082] CHECK  ((([APPLY_TO_REC]='Y' OR [APPLY_TO_REC]='N') AND ([APPLY_TO_ISSUE]='Y' OR [APPLY_TO_ISSUE]='N') AND ([APPLY_TO_LABOR]='Y' OR [APPLY_TO_LABOR]='N') AND ([PRE_ASSIGN]='Y' OR [PRE_ASSIGN]='N') AND ([APROPERTY_1_REQD]='Y' OR [APROPERTY_1_REQD]='N') AND ([APROPERTY_2_REQD]='Y' OR [APROPERTY_2_REQD]='N') AND ([APROPERTY_3_REQD]='Y' OR [APROPERTY_3_REQD]='N') AND ([APROPERTY_4_REQD]='Y' OR [APROPERTY_4_REQD]='N') AND ([APROPERTY_5_REQD]='Y' OR [APROPERTY_5_REQD]='N') AND ([NPROPERTY_1_REQD]='Y' OR [NPROPERTY_1_REQD]='N') AND ([NPROPERTY_2_REQD]='Y' OR [NPROPERTY_2_REQD]='N') AND ([NPROPERTY_3_REQD]='Y' OR [NPROPERTY_3_REQD]='N') AND ([NPROPERTY_4_REQD]='Y' OR [NPROPERTY_4_REQD]='N') AND ([NPROPERTY_5_REQD]='Y' OR [NPROPERTY_5_REQD]='N')))
GO
ALTER TABLE [dbo].[TRACE_PROFILE] CHECK CONSTRAINT [CHK0082]
GO
