USE [VECA]
GO
/****** Object:  Table [dbo].[CO_PRODUCT]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CO_PRODUCT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[MAT_COST_PERCENT] [decimal](6, 3) NOT NULL,
	[DESIRED_QTY] [decimal](20, 8) NOT NULL,
	[RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[LINE_STATUS] [nchar](1) NOT NULL,
	[LAB_COST_PERCENT] [decimal](6, 3) NOT NULL,
	[BUR_COST_PERCENT] [decimal](6, 3) NOT NULL,
	[SER_COST_PERCENT] [decimal](6, 3) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[WIP_VAS_REQUIRED] [nchar](1) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[QTY_IS_RATIO] [nchar](1) NULL,
	[QTY_PER] [decimal](20, 8) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_CO_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CO_PRODUCT] ADD  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[CO_PRODUCT] ADD  DEFAULT ('') FOR [LINE_STATUS]
GO
ALTER TABLE [dbo].[CO_PRODUCT] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[CO_PRODUCT] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[CO_PRODUCT] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[CO_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FKEY0094] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[CO_PRODUCT] CHECK CONSTRAINT [FKEY0094]
GO
ALTER TABLE [dbo].[CO_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FKEY0136] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID])
REFERENCES [dbo].[WORK_ORDER] ([TYPE], [BASE_ID], [LOT_ID], [SPLIT_ID], [SUB_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CO_PRODUCT] CHECK CONSTRAINT [FKEY0136]
GO
ALTER TABLE [dbo].[CO_PRODUCT]  WITH CHECK ADD  CONSTRAINT [CHK9022] CHECK  (([LINE_STATUS]='A' OR [LINE_STATUS]='C'))
GO
ALTER TABLE [dbo].[CO_PRODUCT] CHECK CONSTRAINT [CHK9022]
GO
