USE [VECA]
GO
/****** Object:  Table [dbo].[LOGINS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGINS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MACHINE_ID] [nvarchar](40) NULL,
	[PROGRAM_ID] [nvarchar](30) NULL,
	[LOGIN_TIME] [datetime] NOT NULL,
	[LAST_ACTIVITY] [datetime] NOT NULL,
	[LICENSE_NUMBER] [nvarchar](50) NULL,
	[CHECKSUM] [nvarchar](80) NULL,
	[USER_ID] [nvarchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOGINS] ADD  DEFAULT (getdate()) FOR [LOGIN_TIME]
GO
ALTER TABLE [dbo].[LOGINS] ADD  DEFAULT (getdate()) FOR [LAST_ACTIVITY]
GO
