USE [VECA]
GO
/****** Object:  Table [dbo].[WEB_SESSION]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEB_SESSION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[APPLICATION_ID] [nvarchar](15) NOT NULL,
	[TOKEN] [nvarchar](2000) NOT NULL,
	[LAST_ACTIVITY] [datetime] NOT NULL,
	[EXPIRE_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WEB_SESSION] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[APPLICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WEB_SESSION] ADD  DEFAULT (getdate()) FOR [LAST_ACTIVITY]
GO
ALTER TABLE [dbo].[WEB_SESSION] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
