USE [VECA]
GO
/****** Object:  Table [dbo].[CYCLE_COUNT_PART]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CYCLE_COUNT_PART](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NOT NULL,
	[COUNT_FREQ] [smallint] NULL,
	[LAST_COUNT_DATE] [datetime] NULL,
 CONSTRAINT [PK_CYCLE_COUNT_PART] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CYCLE_COUNT_PART]  WITH CHECK ADD  CONSTRAINT [FKEY0111] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CYCLE_COUNT_PART] CHECK CONSTRAINT [FKEY0111]
GO
ALTER TABLE [dbo].[CYCLE_COUNT_PART]  WITH CHECK ADD  CONSTRAINT [FKEY0291] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([ID])
GO
ALTER TABLE [dbo].[CYCLE_COUNT_PART] CHECK CONSTRAINT [FKEY0291]
GO
