USE [VECA]
GO
/****** Object:  Table [dbo].[INV_RECEIPT_DIST]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_RECEIPT_DIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[INV_TRANS_ID] [int] NOT NULL,
	[DEMAND_SUPPLY_ID] [int] NOT NULL,
	[QTY] [decimal](20, 8) NOT NULL,
 CONSTRAINT [PK_INV_RCPT_DIST] PRIMARY KEY CLUSTERED 
(
	[INV_TRANS_ID] ASC,
	[DEMAND_SUPPLY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DIST] ADD  DEFAULT ((0)) FOR [QTY]
GO
ALTER TABLE [dbo].[INV_RECEIPT_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY9554] FOREIGN KEY([INV_TRANS_ID])
REFERENCES [dbo].[INVENTORY_TRANS] ([TRANSACTION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INV_RECEIPT_DIST] CHECK CONSTRAINT [FKEY9554]
GO
