USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR_BINARY]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_VENDOR_BINARY] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR_BINARY]  WITH CHECK ADD  CONSTRAINT [FKEY0073] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENDOR_BINARY] CHECK CONSTRAINT [FKEY0073]
GO
ALTER TABLE [dbo].[VENDOR_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK0012] CHECK  (([TYPE]='D' OR [TYPE]='B'))
GO
ALTER TABLE [dbo].[VENDOR_BINARY] CHECK CONSTRAINT [CHK0012]
GO
