USE [VECA]
GO
/****** Object:  Table [dbo].[REASON]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REASON](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TYPE] [nchar](2) NOT NULL,
	[CODE] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NULL,
 CONSTRAINT [PK_REASON] PRIMARY KEY CLUSTERED 
(
	[TYPE] ASC,
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
