USE [VECA]
GO
/****** Object:  Table [dbo].[RECEIVABLE_DIST]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLE_DIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[DIST_NO] [smallint] NOT NULL,
	[ENTRY_NO] [smallint] NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[AMOUNT_TYPE] [nchar](2) NOT NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[NATIVE_AMOUNT] [decimal](23, 8) NOT NULL,
	[POSTING_STATUS] [nchar](1) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[BATCH_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[NATIVE] [nchar](1) NULL,
 CONSTRAINT [PK_RECEIVABLE_DIST] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[DIST_NO] ASC,
	[ENTRY_NO] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] ADD  DEFAULT ('') FOR [POSTING_STATUS]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST]  WITH CHECK ADD  CONSTRAINT [FK_RCVDST_BATCH] FOREIGN KEY([SITE_ID], [BATCH_ID])
REFERENCES [dbo].[JOURNAL_BATCH] ([SITE_ID], [ID])
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] CHECK CONSTRAINT [FK_RCVDST_BATCH]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0026] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] CHECK CONSTRAINT [FKEY0026]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0203] FOREIGN KEY([GL_ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] CHECK CONSTRAINT [FKEY0203]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0233] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[RECEIVABLE] ([INVOICE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] CHECK CONSTRAINT [FKEY0233]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY9393] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] CHECK CONSTRAINT [FKEY9393]
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST]  WITH CHECK ADD  CONSTRAINT [CHK9076] CHECK  (([AMOUNT_TYPE]='CR' OR [AMOUNT_TYPE]='DR' AND ([POSTING_STATUS]='U' OR [POSTING_STATUS]='P')))
GO
ALTER TABLE [dbo].[RECEIVABLE_DIST] CHECK CONSTRAINT [CHK9076]
GO
