USE [VECA]
GO
/****** Object:  Table [dbo].[VS_WO_ACT_COST_TEMP]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_WO_ACT_COST_TEMP](
	[INDENTION] [int] NULL,
	[BASE_ID] [nvarchar](30) NULL,
	[LOT_ID] [nvarchar](3) NULL,
	[SPLIT_ID] [nvarchar](3) NULL,
	[QTY] [decimal](20, 8) NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NULL,
	[IN_TRANS] [int] NULL,
	[OUT_TRANS] [int] NULL,
	[TRANSACTION_ID] [int] NULL,
	[EXPLODED] [nvarchar](1) NULL,
	[IN_BASE_ID] [nvarchar](30) NULL,
	[IN_LOT_ID] [nvarchar](3) NULL,
	[IN_SPLIT_ID] [nvarchar](3) NULL
) ON [PRIMARY]
GO
