USE [VECA]
GO
/****** Object:  Table [dbo].[WORKFLOW]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TYPE] [nvarchar](30) NOT NULL,
	[APPLICATION_AREA] [nvarchar](30) NOT NULL,
	[TEMPLATE_NAME] [nvarchar](30) NOT NULL,
	[REFERENCE] [nvarchar](100) NOT NULL,
	[STATUS] [nvarchar](30) NULL,
	[DBTABLE] [nvarchar](30) NULL,
	[EVALUATE_ON_TIMER] [nchar](1) NULL,
	[DIAGRAM] [image] NULL,
	[curr_step_name] [nvarchar](15) NULL,
	[curr_step_id] [nvarchar](10) NULL,
	[curr_approv_user] [nvarchar](15) NULL,
	[curr_step_start_on] [datetime] NULL,
	[curr_step_last_notified] [datetime] NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_WORKFLOW] PRIMARY KEY CLUSTERED 
(
	[TYPE] ASC,
	[APPLICATION_AREA] ASC,
	[TEMPLATE_NAME] ASC,
	[REFERENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WORKFLOW] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
