USE [VECA]
GO
/****** Object:  Table [dbo].[z_QUERY_RESULT_HIST]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_QUERY_RESULT_HIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QUERY_NAME] [nvarchar](80) NOT NULL,
	[QUERY_RESULT] [nvarchar](80) NOT NULL,
	[RESULT_CNT] [int] NOT NULL,
	[EXECUTION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_z_QUERY_RESULT_HIST] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
