USE [VECA]
GO
/****** Object:  Table [dbo].[NORMAL_DIST_AREA]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NORMAL_DIST_AREA](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Z] [decimal](4, 3) NOT NULL,
	[AREA_MEAN_TO_Z] [decimal](6, 5) NOT NULL,
 CONSTRAINT [PK_NORMAL_DIST_AREA] PRIMARY KEY CLUSTERED 
(
	[Z] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
