USE [VECA]
GO
/****** Object:  Table [dbo].[Z_UPS_SHIPMENTS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_UPS_SHIPMENTS](
	[PACKLIST_ID] [nvarchar](20) NULL,
	[ORDER_ID] [nvarchar](20) NULL,
	[LINE_NO] [int] NULL,
	[VOID] [nvarchar](10) NOT NULL,
	[WEIGHT] [nvarchar](20) NOT NULL,
	[DATE_EXPORTED] [datetime] NULL,
	[TRACKING_NUMBER] [nvarchar](254) NOT NULL,
	[RowID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DEST_NAME] [nvarchar](20) NULL,
	[ADDR1] [nvarchar](80) NULL,
	[POSTAL_CODE] [nvarchar](20) NULL
) ON [PRIMARY]
GO
