USE [VECA]
GO
/****** Object:  Table [dbo].[CA_PART_SUBASSEMBLY]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_PART_SUBASSEMBLY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MAIN_PART] [varchar](50) NULL,
	[DEMAND_PART] [varchar](50) NULL,
	[SUB_PART] [varchar](50) NULL,
	[LEVEL] [int] NULL,
	[PURCHASED] [varchar](1) NULL,
	[FABRICATED] [varchar](1) NULL,
	[RUN_DATE] [datetime] NULL,
	[WORKORDER_BASE_ID] [varchar](50) NULL,
	[QTY_ON_HAND] [int] NULL,
	[QTY_REQUIRED] [int] NULL,
	[BALANCE] [int] NULL,
	[HAS_QTY] [int] NULL,
 CONSTRAINT [PK_CA_PART_SUBASSEMBLY] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
