USE [VECA]
GO
/****** Object:  Table [dbo].[NEXT_NUMBER_GEN]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEXT_NUMBER_GEN](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TABLE_NAME] [nvarchar](18) NULL,
	[COLUMN_NAME] [nvarchar](18) NULL,
	[DESCRIPTION] [nvarchar](30) NULL,
	[ALPHA_PREFIX] [nvarchar](4) NULL,
	[NEXT_NUMBER] [int] NULL,
	[ALPHA_SUFFIX] [nvarchar](4) NULL,
	[LEADING_ZEROS] [nchar](1) NULL,
	[DECIMAL_PLACES] [smallint] NULL,
	[SITE_ID] [nvarchar](15) NULL
) ON [PRIMARY]
GO
