USE [VECA]
GO
/****** Object:  Table [dbo].[ATF_AUDIT_PERIOD]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATF_AUDIT_PERIOD](
	[Date_Created] [datetime] NOT NULL,
	[ATF_Name] [nvarchar](80) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATF_AUDIT_PERIOD] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
