USE [VECA]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[TYPE] [nchar](1) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_LOCATION] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD  CONSTRAINT [FKEY0117] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOCATION] CHECK CONSTRAINT [FKEY0117]
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD  CONSTRAINT [FKEY9607] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOCATION] CHECK CONSTRAINT [FKEY9607]
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD  CONSTRAINT [FKEY9608] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOCATION] CHECK CONSTRAINT [FKEY9608]
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD  CONSTRAINT [CHK0017] CHECK  (([TYPE]='T' OR [TYPE]='R' OR [TYPE]='F' OR [TYPE]='C' OR [TYPE]='V'))
GO
ALTER TABLE [dbo].[LOCATION] CHECK CONSTRAINT [CHK0017]
GO
