USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_BINARY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_BINARY] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_BINARY]  WITH CHECK ADD  CONSTRAINT [FKEY0061] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_BINARY] CHECK CONSTRAINT [FKEY0061]
GO
ALTER TABLE [dbo].[CUSTOMER_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK0009] CHECK  (([TYPE]='D' OR [TYPE]='B'))
GO
ALTER TABLE [dbo].[CUSTOMER_BINARY] CHECK CONSTRAINT [CHK0009]
GO
