USE [VECA]
GO
/****** Object:  Table [dbo].[USER_SITE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[VIEWABLE_SITES] [nchar](1) NULL,
	[DEFAULT_SITE] [nchar](1) NULL,
 CONSTRAINT [PK_USER_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER_SITE]  WITH CHECK ADD  CONSTRAINT [FK_USER_SITE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[USER_SITE] CHECK CONSTRAINT [FK_USER_SITE_TO_SITE]
GO
