USE [VECA]
GO
/****** Object:  Table [dbo].[V_TASK]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_TASK](
	[ID] [nvarchar](15) NOT NULL,
	[ACCT_ID] [nvarchar](15) NULL,
	[CATEGORY_ID] [nvarchar](15) NULL,
	[COMPLETED_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATOR] [nvarchar](15) NULL,
	[DUE_DATE] [datetime] NULL,
	[OWNER] [nvarchar](15) NULL,
	[PRIORITY_TYPE] [nvarchar](6) NULL,
	[REL_ID] [nvarchar](15) NULL,
	[REL_TYPE] [nvarchar](15) NULL,
	[START_DATE] [datetime] NULL,
	[STATUS] [nvarchar](15) NULL,
	[SUBJECT] [nvarchar](50) NULL,
	[USER_T1] [nvarchar](80) NULL,
	[USER_T2] [nvarchar](80) NULL,
	[USER_T3] [nvarchar](80) NULL,
	[USER_T4] [nvarchar](80) NULL,
	[USER_T5] [nvarchar](80) NULL,
	[USER_D1] [datetime] NULL,
	[USER_D2] [datetime] NULL,
	[USER_D3] [datetime] NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[ACTUAL_WORK] [decimal](14, 4) NULL,
	[ESTIMATED_WORK] [decimal](14, 4) NULL,
	[USER_N1] [decimal](23, 8) NULL,
	[USER_N2] [decimal](23, 8) NULL,
	[USER_N3] [decimal](23, 8) NULL,
	[USER_N4] [decimal](23, 8) NULL,
	[USER_N5] [decimal](23, 8) NULL,
	[COMPLETE_PERCENT] [decimal](6, 3) NULL,
	[USER_NOTE] [smallint] NOT NULL,
	[CONTACT_ID] [nvarchar](15) NULL,
	[SNOOZE_INTERVAL] [nvarchar](15) NULL,
	[REMINDER_INTERVAL] [nvarchar](15) NULL,
	[REMINDER_TIME] [datetime] NULL,
	[REMINDER] [smallint] NULL,
	[CATALOG_ID] [nvarchar](15) NULL,
	[EVENT_ID] [nvarchar](15) NULL,
	[COMMENTS_BIN] [ntext] NULL,
	[REL_NO] [int] NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[PART_ID] [nvarchar](30) NULL,
	[VE_CONT_ID] [nvarchar](25) NULL,
	[SERVICE_ID] [nvarchar](15) NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[CONTROL_NO] [smallint] NULL,
	[ACTIVITY_TYPE_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[COMMENTS] [nvarchar](2000) NULL,
 CONSTRAINT [X_V_TASK_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_TASK] ADD  DEFAULT ((0)) FOR [USER_NOTE]
GO
ALTER TABLE [dbo].[V_TASK] ADD  DEFAULT ((0)) FOR [REL_NO]
GO
ALTER TABLE [dbo].[V_TASK]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00101] FOREIGN KEY([ACCT_ID])
REFERENCES [dbo].[V_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[V_TASK] CHECK CONSTRAINT [FK_VFO_00101]
GO
ALTER TABLE [dbo].[V_TASK]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00255] FOREIGN KEY([EVENT_ID])
REFERENCES [dbo].[V_EVENT] ([ID])
GO
ALTER TABLE [dbo].[V_TASK] CHECK CONSTRAINT [FK_VFO_00255]
GO
