USE [VECA]
GO
/****** Object:  Table [dbo].[GJ]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GJ](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[GJ_DATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[TOTAL_DR_AMOUNT] [decimal](23, 8) NOT NULL,
	[TOTAL_CR_AMOUNT] [decimal](23, 8) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[POST_ALL_TRACKING] [nchar](1) NOT NULL,
	[POST_AS_NATIVE] [nchar](1) NOT NULL,
	[USER_EXCH_RATE] [nchar](1) NOT NULL,
	[ALLOCATION_ID] [nvarchar](5) NULL,
	[RECURRING_ID] [nvarchar](15) NULL,
	[ACT_RATE_ID] [nvarchar](15) NULL,
	[ACT_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_ID] [nvarchar](15) NULL,
	[RETRO_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_CODE] [nchar](1) NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_GJ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ((0)) FOR [TOTAL_DR_AMOUNT]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ((0)) FOR [TOTAL_CR_AMOUNT]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ((0)) FOR [SELL_RATE]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ((0)) FOR [BUY_RATE]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ('') FOR [POST_ALL_TRACKING]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ('') FOR [POST_AS_NATIVE]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ('') FOR [USER_EXCH_RATE]
GO
ALTER TABLE [dbo].[GJ] ADD  DEFAULT ('Y') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[GJ]  WITH CHECK ADD  CONSTRAINT [FKEY9436] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[GJ] CHECK CONSTRAINT [FKEY9436]
GO
