USE [VECA]
GO
/****** Object:  Table [dbo].[TMP_PART_PLANNING]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_PART_PLANNING](
	[PART_ID] [nvarchar](255) NULL,
	[FAB] [nvarchar](255) NULL,
	[PUR] [nvarchar](255) NULL,
	[BUYER_USER_ID] [nvarchar](255) NULL,
	[SAFETY_STOCK] [float] NULL
) ON [PRIMARY]
GO
