USE [VECA]
GO
/****** Object:  Table [dbo].[WIP_BALANCE]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WIP_BALANCE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[FLAG] [nchar](1) NOT NULL,
	[MATERIAL_AMOUNT] [decimal](23, 8) NULL,
	[LABOR_AMOUNT] [decimal](23, 8) NULL,
	[BURDEN_AMOUNT] [decimal](23, 8) NULL,
	[SERVICE_AMOUNT] [decimal](23, 8) NULL,
	[MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_WIP_BALANCE] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[POSTING_DATE] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WIP_BALANCE] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[WIP_BALANCE]  WITH CHECK ADD  CONSTRAINT [FK_WIPBAL_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[WIP_BALANCE] CHECK CONSTRAINT [FK_WIPBAL_TO_SITE]
GO
ALTER TABLE [dbo].[WIP_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9115] FOREIGN KEY([MAT_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[WIP_BALANCE] CHECK CONSTRAINT [FKEY9115]
GO
ALTER TABLE [dbo].[WIP_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9116] FOREIGN KEY([LAB_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[WIP_BALANCE] CHECK CONSTRAINT [FKEY9116]
GO
ALTER TABLE [dbo].[WIP_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9117] FOREIGN KEY([BUR_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[WIP_BALANCE] CHECK CONSTRAINT [FKEY9117]
GO
ALTER TABLE [dbo].[WIP_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9118] FOREIGN KEY([SER_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[WIP_BALANCE] CHECK CONSTRAINT [FKEY9118]
GO
ALTER TABLE [dbo].[WIP_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9416] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[WIP_BALANCE] CHECK CONSTRAINT [FKEY9416]
GO
ALTER TABLE [dbo].[WIP_BALANCE]  WITH CHECK ADD  CONSTRAINT [CHK0104] CHECK  (([FLAG]='B' OR [FLAG]='A' OR [FLAG]='R' OR [FLAG]='N'))
GO
ALTER TABLE [dbo].[WIP_BALANCE] CHECK CONSTRAINT [CHK0104]
GO
