USE [VECA]
GO
/****** Object:  Table [dbo].[V_RIGHTS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_RIGHTS](
	[ID] [nvarchar](15) NOT NULL,
	[VFO_USER_ID] [nvarchar](15) NOT NULL,
	[USER_TYPE] [nvarchar](15) NULL,
	[RIGHT_TYPE] [nvarchar](3) NULL,
	[RIGHT_DESC] [nvarchar](50) NULL,
	[PERMISSION] [int] NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_RIGHTS_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[VFO_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
