USE [VECA]
GO
/****** Object:  Table [dbo].[TRACE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[NUMBERING_ID] [nvarchar](30) NULL,
	[OUT_QTY] [decimal](20, 8) NOT NULL,
	[IN_QTY] [decimal](20, 8) NOT NULL,
	[REPORTED_QTY] [decimal](20, 8) NOT NULL,
	[ASSIGNED_QTY] [decimal](20, 8) NOT NULL,
	[APROPERTY_1] [nvarchar](80) NULL,
	[APROPERTY_2] [nvarchar](80) NULL,
	[APROPERTY_3] [nvarchar](80) NULL,
	[APROPERTY_4] [nvarchar](80) NULL,
	[APROPERTY_5] [nvarchar](80) NULL,
	[NPROPERTY_1] [decimal](15, 6) NULL,
	[NPROPERTY_2] [decimal](15, 6) NULL,
	[NPROPERTY_3] [decimal](15, 6) NULL,
	[NPROPERTY_4] [decimal](15, 6) NULL,
	[NPROPERTY_5] [decimal](15, 6) NULL,
	[COMMENTS] [nvarchar](250) NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[DISP_IN_QTY] [decimal](20, 8) NOT NULL,
	[DISP_OUT_QTY] [decimal](20, 8) NOT NULL,
	[UNAVAILABLE_QTY] [decimal](20, 8) NOT NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[LOT_ID] [nvarchar](30) NULL,
	[SERIAL_ID] [nvarchar](30) NULL,
	[COMMITTED_QTY] [decimal](20, 8) NULL,
	[PRODUCTION_DATE] [datetime] NULL,
	[RECEIVE_BY_DATE] [datetime] NULL,
	[AVAILABLE_DATE] [datetime] NULL,
	[SHIP_BY_DATE] [datetime] NULL,
	[SITE_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_TRACE] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRACE] ADD  DEFAULT ((0)) FOR [REPORTED_QTY]
GO
ALTER TABLE [dbo].[TRACE] ADD  DEFAULT ((0)) FOR [ASSIGNED_QTY]
GO
ALTER TABLE [dbo].[TRACE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TRACE] ADD  DEFAULT ((0)) FOR [DISP_IN_QTY]
GO
ALTER TABLE [dbo].[TRACE] ADD  DEFAULT ((0)) FOR [DISP_OUT_QTY]
GO
ALTER TABLE [dbo].[TRACE] ADD  DEFAULT ((0)) FOR [UNAVAILABLE_QTY]
GO
ALTER TABLE [dbo].[TRACE]  WITH CHECK ADD  CONSTRAINT [FKEY0108] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[TRACE] CHECK CONSTRAINT [FKEY0108]
GO
