USE [VECA]
GO
/****** Object:  Table [dbo].[PLANNING_CALENDAR]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANNING_CALENDAR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CALENDAR_NO] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[BEGIN_DATE] [datetime] NULL,
	[PLANNING_SIZE] [int] NULL,
	[PLANNING_HORIZON] [int] NULL,
	[RANGE_1_COUNT] [int] NULL,
	[RANGE_1_SIZE] [int] NULL,
	[RANGE_2_COUNT] [int] NULL,
	[RANGE_2_SIZE] [int] NULL,
	[RANGE_3_COUNT] [int] NULL,
	[RANGE_3_SIZE] [int] NULL,
 CONSTRAINT [PK_PLANNING_CALENDAR] PRIMARY KEY CLUSTERED 
(
	[CALENDAR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
