USE [VECA]
GO
/****** Object:  Table [dbo].[RECEIVABLE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[INVOICE_DATE] [datetime] NOT NULL,
	[TOTAL_AMOUNT] [decimal](23, 8) NOT NULL,
	[PAID_AMOUNT] [decimal](23, 8) NOT NULL,
	[DISCOUNT_GIVEN] [decimal](23, 8) NOT NULL,
	[LAST_PAID_DATE] [datetime] NULL,
	[ZERO_DATE] [datetime] NULL,
	[TERMS_NET_TYPE] [nchar](1) NOT NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_TYPE] [nchar](1) NOT NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](5, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[FREIGHT_TERMS] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[PREPAY_ORDER_ID] [nvarchar](15) NULL,
	[PREPAY_INVOICE_ID] [nvarchar](15) NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[RECV_GL_ACCT_ID] [nvarchar](30) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[NEW_SELL_RATE] [decimal](15, 8) NULL,
	[NEW_BUY_RATE] [decimal](15, 8) NULL,
	[PRINTED_DATE] [datetime] NULL,
	[VAT_BOOK_CODE] [nvarchar](5) NULL,
	[VAT_REPORT_NO] [int] NULL,
	[VAT_FILENAME] [nvarchar](15) NULL,
	[RCR_INVOICE_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[USER_EXCH_RATE] [nchar](1) NOT NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[COMM_PAID_AMOUNT] [decimal](23, 8) NOT NULL,
	[VOID_DATE] [datetime] NULL,
	[PREPAY_APPLIED_AMT] [decimal](23, 8) NULL,
	[LAST_PREPAY_INVOICE_ID] [nvarchar](15) NULL,
	[TERMS_ID] [nvarchar](15) NULL,
	[USER_DIMENSION_1] [nvarchar](15) NULL,
	[USER_DIMENSION_2] [nvarchar](15) NULL,
	[DISTRIBUTION_METHOD] [nvarchar](15) NULL,
	[DISTRIBUTED_DATE] [datetime] NULL,
	[DOC_FILE_PATH] [nvarchar](255) NULL,
	[DOCUMENT_ID] [nvarchar](128) NULL,
	[DIST_DOC_FILE_TYPE] [nvarchar](4) NULL,
 CONSTRAINT [PK_RECEIVABLE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ('') FOR [TYPE]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ((0)) FOR [PAID_AMOUNT]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ((0)) FOR [DISCOUNT_GIVEN]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ('') FOR [TERMS_NET_TYPE]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ('') FOR [TERMS_DISC_TYPE]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ('') FOR [FREIGHT_TERMS]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ('') FOR [USER_EXCH_RATE]
GO
ALTER TABLE [dbo].[RECEIVABLE] ADD  DEFAULT ((0)) FOR [COMM_PAID_AMOUNT]
GO
ALTER TABLE [dbo].[RECEIVABLE]  WITH CHECK ADD  CONSTRAINT [FKEY0025] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE] CHECK CONSTRAINT [FKEY0025]
GO
ALTER TABLE [dbo].[RECEIVABLE]  WITH CHECK ADD  CONSTRAINT [FKEY0067] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE] CHECK CONSTRAINT [FKEY0067]
GO
ALTER TABLE [dbo].[RECEIVABLE]  WITH CHECK ADD  CONSTRAINT [FKEY9390] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE] CHECK CONSTRAINT [FKEY9390]
GO
ALTER TABLE [dbo].[RECEIVABLE]  WITH CHECK ADD  CONSTRAINT [FKEY9588] FOREIGN KEY([SALESREP_ID])
REFERENCES [dbo].[SALES_REP] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE] CHECK CONSTRAINT [FKEY9588]
GO
ALTER TABLE [dbo].[RECEIVABLE]  WITH CHECK ADD  CONSTRAINT [FKEY9626] FOREIGN KEY([TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE] CHECK CONSTRAINT [FKEY9626]
GO
ALTER TABLE [dbo].[RECEIVABLE]  WITH CHECK ADD  CONSTRAINT [CHK_RECEIVABLE] CHECK  ((([TYPE]='I' OR [TYPE]='M' OR [TYPE]='U') AND ([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E') AND ([FREIGHT_TERMS]='P' OR [FREIGHT_TERMS]='B' OR [FREIGHT_TERMS]='C') AND ([STATUS]='A' OR [STATUS]='X') AND ([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N')))
GO
ALTER TABLE [dbo].[RECEIVABLE] CHECK CONSTRAINT [CHK_RECEIVABLE]
GO
