USE [VECA]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[REGION_ID] [nvarchar](2) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[WIP_VAS] [nchar](1) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[INDEPENDENT] [nchar](1) NOT NULL,
	[VDW_INSTALLED] [nchar](1) NULL,
	[INV_NOT_SHARED] [nchar](1) NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[CONSIGNED_TYPE] [nchar](1) NULL,
	[MRP_EXEMPT] [nchar](1) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[WAREHOUSE_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WAREHOUSE] ADD  DEFAULT ('') FOR [INDEPENDENT]
GO
ALTER TABLE [dbo].[WAREHOUSE] ADD  DEFAULT ('N') FOR [MRP_EXEMPT]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_CNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FK_WAREHOUSE_CNTRY]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FK_WAREHOUSE_TO_SITE]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FKEY9330] FOREIGN KEY([REGION_ID])
REFERENCES [dbo].[REGION] ([ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FKEY9330]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FKEY9467] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FKEY9467]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FKEY9611] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FKEY9611]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FKEY9612] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FKEY9612]
GO
