USE [VECA]
GO
/****** Object:  Table [dbo].[UNITS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNITS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UNIT_OF_MEASURE] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[SCALE] [smallint] NOT NULL,
	[CATEGORY] [nvarchar](64) NULL,
	[USER_DEFINED_UOM] [nchar](1) NULL,
 CONSTRAINT [PK_UNITS] PRIMARY KEY CLUSTERED 
(
	[UNIT_OF_MEASURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UNITS]  WITH CHECK ADD  CONSTRAINT [CHK0001] CHECK  (([SCALE]>=(0) AND [SCALE]<=(4)))
GO
ALTER TABLE [dbo].[UNITS] CHECK CONSTRAINT [CHK0001]
GO
