USE [VECA]
GO
/****** Object:  Table [dbo].[PAYB_LINE_CURR]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYB_LINE_CURR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VOUCHER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
	[ACT_MATERIAL_COST_MFG] [decimal](23, 8) NULL,
	[ACT_LABOR_COST_MFG] [decimal](23, 8) NULL,
	[ACT_BURDEN_COST_MFG] [decimal](23, 8) NULL,
	[ACT_SERVICE_COST_MFG] [decimal](23, 8) NULL,
 CONSTRAINT [PK_PAYB_LINE_CURR] PRIMARY KEY CLUSTERED 
(
	[VOUCHER_ID] ASC,
	[LINE_NO] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYB_LINE_CURR] ADD  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[PAYB_LINE_CURR] ADD  DEFAULT ((0)) FOR [SELL_RATE]
GO
ALTER TABLE [dbo].[PAYB_LINE_CURR] ADD  DEFAULT ((0)) FOR [BUY_RATE]
GO
ALTER TABLE [dbo].[PAYB_LINE_CURR]  WITH CHECK ADD  CONSTRAINT [FKEY9428] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[PAYB_LINE_CURR] CHECK CONSTRAINT [FKEY9428]
GO
ALTER TABLE [dbo].[PAYB_LINE_CURR]  WITH CHECK ADD  CONSTRAINT [FKEY9429] FOREIGN KEY([VOUCHER_ID], [LINE_NO])
REFERENCES [dbo].[PAYABLE_LINE] ([VOUCHER_ID], [LINE_NO])
GO
ALTER TABLE [dbo].[PAYB_LINE_CURR] CHECK CONSTRAINT [FKEY9429]
GO
