USE [VECA]
GO
/****** Object:  Table [dbo].[PLANNING_FORECAST]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANNING_FORECAST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FORECAST_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[REQUIRED_DATE] [datetime] NOT NULL,
	[REQUIRED_QTY] [decimal](20, 8) NULL,
	[ACTIVE] [nchar](1) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLANNING_FORECAST]  WITH CHECK ADD  CONSTRAINT [FK_PLNG_FORECAST_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PLANNING_FORECAST] CHECK CONSTRAINT [FK_PLNG_FORECAST_TO_SITE]
GO
