USE [VECA]
GO
/****** Object:  Table [dbo].[SEMAPHORE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMAPHORE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[EVENT_NO] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SEMAPHORE] ADD  DEFAULT ((0)) FOR [EVENT_NO]
GO
