USE [VECA]
GO
/****** Object:  Table [dbo].[V_HISTORY]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_HISTORY](
	[ID] [nvarchar](15) NOT NULL,
	[ACCT_ID] [nvarchar](15) NULL,
	[CONTACT_ID] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[REL_ID] [nvarchar](15) NULL,
	[LINE_NO] [smallint] NULL,
	[REL_TYPE] [nvarchar](15) NOT NULL,
	[AUTO_NOTE] [smallint] NOT NULL,
	[BIN_HDR] [nvarchar](254) NULL,
	[SENT_TO] [nvarchar](254) NULL,
	[SENT_FROM] [nvarchar](254) NULL,
	[SENT_CC] [nvarchar](254) NULL,
	[SUMMARY] [nvarchar](254) NULL,
	[ATTACHMENT] [nvarchar](254) NULL,
	[TYPE] [nvarchar](15) NULL,
	[CATEGORY_ID] [nvarchar](15) NULL,
	[CREATOR] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
	[NOTE_DATE] [datetime] NULL,
	[USER_T1] [nvarchar](80) NULL,
	[USER_T2] [nvarchar](80) NULL,
	[USER_T3] [nvarchar](80) NULL,
	[USER_T4] [nvarchar](80) NULL,
	[USER_T5] [nvarchar](80) NULL,
	[USER_D1] [datetime] NULL,
	[USER_D2] [datetime] NULL,
	[USER_D3] [datetime] NULL,
	[USER_N1] [decimal](23, 8) NULL,
	[USER_N2] [decimal](23, 8) NULL,
	[USER_N3] [decimal](23, 8) NULL,
	[USER_N4] [decimal](23, 8) NULL,
	[USER_N5] [decimal](23, 8) NULL,
	[EMAIL_ID] [nvarchar](254) NULL,
	[PRIVATE] [smallint] NOT NULL,
	[USER_T6] [nvarchar](80) NULL,
	[USER_T7] [nvarchar](80) NULL,
	[USER_T8] [nvarchar](80) NULL,
	[USER_T9] [nvarchar](80) NULL,
	[USER_T10] [nvarchar](80) NULL,
	[USER_T11] [nvarchar](80) NULL,
	[USER_T12] [nvarchar](80) NULL,
	[USER_T13] [nvarchar](80) NULL,
	[USER_T14] [nvarchar](80) NULL,
	[USER_T15] [nvarchar](80) NULL,
	[USER_T16] [nvarchar](80) NULL,
	[USER_T17] [nvarchar](80) NULL,
	[USER_T18] [nvarchar](80) NULL,
	[USER_T19] [nvarchar](80) NULL,
	[USER_T20] [nvarchar](80) NULL,
	[USER_T21] [nvarchar](80) NULL,
	[USER_T22] [nvarchar](80) NULL,
	[USER_T23] [nvarchar](80) NULL,
	[USER_T24] [nvarchar](80) NULL,
	[USER_T25] [nvarchar](80) NULL,
	[USER_T26] [nvarchar](80) NULL,
	[USER_T27] [nvarchar](80) NULL,
	[USER_T28] [nvarchar](80) NULL,
	[USER_T29] [nvarchar](80) NULL,
	[USER_T30] [nvarchar](80) NULL,
	[USER_N6] [decimal](23, 8) NULL,
	[USER_N7] [decimal](23, 8) NULL,
	[USER_N8] [decimal](23, 8) NULL,
	[USER_N9] [decimal](23, 8) NULL,
	[USER_N10] [decimal](23, 8) NULL,
	[USER_N11] [decimal](23, 8) NULL,
	[USER_N12] [decimal](23, 8) NULL,
	[USER_N13] [decimal](23, 8) NULL,
	[USER_N14] [decimal](23, 8) NULL,
	[USER_N15] [decimal](23, 8) NULL,
	[USER_D4] [datetime] NULL,
	[USER_D5] [datetime] NULL,
	[EVENT_ID] [nvarchar](15) NULL,
	[NOTE] [ntext] NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[EMAIL_STORE_1] [nvarchar](254) NULL,
	[EMAIL_STORE_2] [nvarchar](254) NULL,
 CONSTRAINT [X_V_HISTORY_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_HISTORY] ADD  DEFAULT ('') FOR [REL_TYPE]
GO
ALTER TABLE [dbo].[V_HISTORY] ADD  DEFAULT ('') FOR [AUTO_NOTE]
GO
ALTER TABLE [dbo].[V_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00098] FOREIGN KEY([ACCT_ID])
REFERENCES [dbo].[V_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[V_HISTORY] CHECK CONSTRAINT [FK_VFO_00098]
GO
ALTER TABLE [dbo].[V_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00126] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[V_CONTACT] ([ID])
GO
ALTER TABLE [dbo].[V_HISTORY] CHECK CONSTRAINT [FK_VFO_00126]
GO
ALTER TABLE [dbo].[V_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00245] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[V_HISTORY_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[V_HISTORY] CHECK CONSTRAINT [FK_VFO_00245]
GO
ALTER TABLE [dbo].[V_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00254] FOREIGN KEY([EVENT_ID])
REFERENCES [dbo].[V_EVENT] ([ID])
GO
ALTER TABLE [dbo].[V_HISTORY] CHECK CONSTRAINT [FK_VFO_00254]
GO
