USE [VECA]
GO
/****** Object:  Table [dbo].[SRP_OO_MATERIAL_LIST]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SRP_OO_MATERIAL_LIST](
	[Component_ID] [nvarchar](255) NULL,
	[On_Hand_Balance] [float] NULL,
	[Assigned_Quantity] [float] NULL,
	[Avg_Required_Per_WO] [float] NULL,
	[Component_Demand] [float] NULL,
	[Schedulable_Amount] [float] NULL
) ON [PRIMARY]
GO
