USE [VECA]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DEFAULT_DEPARTMENT] [nchar](1) NULL,
	[PARENT_DEPT_ID] [nvarchar](15) NULL,
	[MATL_COST_CAT_ID] [nvarchar](15) NULL,
	[SERV_COST_CAT_ID] [nvarchar](15) NULL,
	[LAB_COST_CAT_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_00] FOREIGN KEY([MATL_COST_CAT_ID])
REFERENCES [dbo].[COST_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_00]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_01] FOREIGN KEY([SERV_COST_CAT_ID])
REFERENCES [dbo].[COST_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_01]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_02] FOREIGN KEY([LAB_COST_CAT_ID])
REFERENCES [dbo].[COST_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_02]
GO
