USE [VECA]
GO
/****** Object:  Table [dbo].[z_INTL_ORDERS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_INTL_ORDERS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [varchar](20) NOT NULL,
	[DOC_TYPE] [varchar](20) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[CREATE_USER_ID] [varchar](20) NOT NULL,
	[VALUE] [varchar](50) NOT NULL,
	[EXP_DATE] [datetime] NULL,
	[MODIFY_DATE] [datetime] NOT NULL,
	[MODIFY_USER_ID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_z_INTL_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[z_INTL_ORDERS]  WITH CHECK ADD  CONSTRAINT [CK_DOC_TYPE] CHECK  (([DOC_TYPE]='PMT_RCVD' OR [DOC_TYPE]='GUNS_COMP' OR [DOC_TYPE]='EXP_LICENSE' OR [DOC_TYPE]='EXP_LICENSE_SUB' OR [DOC_TYPE]='SN_RSVD' OR [DOC_TYPE]='ORD_PERM' OR [DOC_TYPE]='FRT_FRWRDR' OR [DOC_TYPE]='DSP_83' OR [DOC_TYPE]='CUST_PO' OR [DOC_TYPE]='USAGE_STMT' OR [DOC_TYPE]='IMPORT_CERT'))
GO
ALTER TABLE [dbo].[z_INTL_ORDERS] CHECK CONSTRAINT [CK_DOC_TYPE]
GO
