USE [VECA]
GO
/****** Object:  Table [dbo].[z_PURC_ORDER_LINE_ACCTS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_PURC_ORDER_LINE_ACCTS](
	[PURC_ACCT] [varchar](50) NOT NULL,
	[DEPT] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
