USE [VECA]
GO
/****** Object:  Table [dbo].[PART_PLANNER]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_PLANNER](
	[USER_ID] [varchar](100) NOT NULL,
	[OnTop] [char](1) NULL,
	[MRU_1] [varchar](50) NULL,
	[MRU_2] [varchar](50) NULL,
	[MRU_3] [varchar](50) NULL,
	[MRU_4] [varchar](50) NULL,
	[MRU_5] [varchar](50) NULL,
	[MRU_6] [varchar](50) NULL,
	[MRU_7] [varchar](50) NULL,
	[MRU_8] [varchar](50) NULL,
	[MRU_9] [varchar](50) NULL,
	[MRU_10] [varchar](50) NULL,
	[MRU_1_WO] [varchar](50) NULL,
	[MRU_2_WO] [varchar](50) NULL,
	[MRU_3_WO] [varchar](50) NULL,
	[MRU_4_WO] [varchar](50) NULL,
	[MRU_5_WO] [varchar](50) NULL,
	[MRU_6_WO] [varchar](50) NULL,
	[MRU_7_WO] [varchar](50) NULL,
	[MRU_8_WO] [varchar](50) NULL,
	[MRU_9_WO] [varchar](50) NULL,
	[MRU_10_WO] [varchar](50) NULL,
	[MRU_1_Q] [varchar](50) NULL,
	[MRU_2_Q] [varchar](50) NULL,
	[MRU_3_Q] [varchar](50) NULL,
	[MRU_4_Q] [varchar](50) NULL,
	[MRU_5_Q] [varchar](50) NULL,
	[MRU_6_Q] [varchar](50) NULL,
	[MRU_7_Q] [varchar](50) NULL,
	[MRU_8_Q] [varchar](50) NULL,
	[MRU_9_Q] [varchar](50) NULL,
	[MRU_10_Q] [varchar](50) NULL,
	[PART_SITE] [varchar](100) NULL,
	[EXPAND_ALL] [varchar](1) NULL,
	[AUTO_BROWSE] [varchar](1) NULL,
	[MASTER_TYPE] [varchar](1) NULL,
	[HIDE_DESC] [varchar](1) NULL,
	[HIDE_TOOLING] [varchar](1) NULL,
	[HIDE_DETAILS] [varchar](1) NULL,
	[HIDE_CONSUMABLES] [varchar](1) NULL
) ON [PRIMARY]
GO
