USE [VECA]
GO
/****** Object:  Table [dbo].[TL_282023]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TL_282023](
	[part_id] [nvarchar](30) NULL,
	[warehouse_id] [nvarchar](15) NULL,
	[location_id] [nvarchar](15) NULL
) ON [PRIMARY]
GO
