USE [VECA]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[SERVICE_PART_ID] [nvarchar](30) NULL,
	[USAGE_UM] [nvarchar](15) NULL,
	[PLAN_TRANSIT_DAYS] [smallint] NULL,
	[SCHEDULE_RANK] [smallint] NULL,
	[RUN] [decimal](20, 8) NULL,
	[RUN_TYPE] [nvarchar](15) NULL,
	[LOAD_SIZE_QTY] [decimal](20, 8) NULL,
	[MINIMUM_MOVE_QTY] [decimal](20, 8) NULL,
	[LONG_DESCRIPTION] [image] NULL,
	[INTRASTAT_INCLUDE] [nchar](1) NULL,
	[STATUS] [nchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERVICE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FKEY0077] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FKEY0077]
GO
