USE [VECA]
GO
/****** Object:  Table [dbo].[REPORT_CAL_MAP]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORT_CAL_MAP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RPT_CAL_ID] [nvarchar](15) NOT NULL,
	[FIN_CAL_ID] [nvarchar](15) NOT NULL,
	[BEGIN_ACCT_PERIOD] [decimal](2, 0) NOT NULL,
	[END_ACCT_PERIOD] [decimal](2, 0) NOT NULL,
	[BEGIN_ACCT_YEAR] [decimal](2, 0) NULL,
	[END_ACCT_YEAR] [decimal](2, 0) NULL,
 CONSTRAINT [PK_RPT_CAL_MAP] PRIMARY KEY CLUSTERED 
(
	[RPT_CAL_ID] ASC,
	[FIN_CAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REPORT_CAL_MAP]  WITH CHECK ADD  CONSTRAINT [FK_FIN_CAL_MAP] FOREIGN KEY([FIN_CAL_ID])
REFERENCES [dbo].[FINANCIAL_CALENDAR] ([ID])
GO
ALTER TABLE [dbo].[REPORT_CAL_MAP] CHECK CONSTRAINT [FK_FIN_CAL_MAP]
GO
ALTER TABLE [dbo].[REPORT_CAL_MAP]  WITH CHECK ADD  CONSTRAINT [FK_RPT_CAL_MAP] FOREIGN KEY([RPT_CAL_ID])
REFERENCES [dbo].[REPORT_CALENDAR] ([ID])
GO
ALTER TABLE [dbo].[REPORT_CAL_MAP] CHECK CONSTRAINT [FK_RPT_CAL_MAP]
GO
