USE [VECA]
GO
/****** Object:  Table [dbo].[INV_TRANS_DIST]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_TRANS_DIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IN_TRANS_ID] [int] NOT NULL,
	[OUT_TRANS_ID] [int] NOT NULL,
	[DIST_QTY] [decimal](20, 8) NOT NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NOT NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[DEMAND_SUPPLY_ID] [int] NULL,
 CONSTRAINT [PK_INV_TRANS_DIST] PRIMARY KEY CLUSTERED 
(
	[IN_TRANS_ID] ASC,
	[OUT_TRANS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INV_TRANS_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0173] FOREIGN KEY([IN_TRANS_ID])
REFERENCES [dbo].[INVENTORY_TRANS] ([TRANSACTION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INV_TRANS_DIST] CHECK CONSTRAINT [FKEY0173]
GO
ALTER TABLE [dbo].[INV_TRANS_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0174] FOREIGN KEY([OUT_TRANS_ID])
REFERENCES [dbo].[INVENTORY_TRANS] ([TRANSACTION_ID])
GO
ALTER TABLE [dbo].[INV_TRANS_DIST] CHECK CONSTRAINT [FKEY0174]
GO
