USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_PRICE_EFFECT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_PRICE_EFFECT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[SELLING_UM] [nvarchar](15) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[DISCONTINUE_DATE] [datetime] NULL,
	[CUSTOMER_PART_ID] [nvarchar](30) NULL,
	[QTY_BREAK_1] [decimal](20, 8) NULL,
	[QTY_BREAK_2] [decimal](20, 8) NULL,
	[QTY_BREAK_3] [decimal](20, 8) NULL,
	[QTY_BREAK_4] [decimal](20, 8) NULL,
	[QTY_BREAK_5] [decimal](20, 8) NULL,
	[QTY_BREAK_6] [decimal](20, 8) NULL,
	[QTY_BREAK_7] [decimal](20, 8) NULL,
	[QTY_BREAK_8] [decimal](20, 8) NULL,
	[QTY_BREAK_9] [decimal](20, 8) NULL,
	[QTY_BREAK_10] [decimal](20, 8) NULL,
	[UNIT_PRICE_1] [decimal](22, 8) NULL,
	[UNIT_PRICE_2] [decimal](22, 8) NULL,
	[UNIT_PRICE_3] [decimal](22, 8) NULL,
	[UNIT_PRICE_4] [decimal](22, 8) NULL,
	[UNIT_PRICE_5] [decimal](22, 8) NULL,
	[UNIT_PRICE_6] [decimal](22, 8) NULL,
	[UNIT_PRICE_7] [decimal](22, 8) NULL,
	[UNIT_PRICE_8] [decimal](22, 8) NULL,
	[UNIT_PRICE_9] [decimal](22, 8) NULL,
	[UNIT_PRICE_10] [decimal](22, 8) NULL,
	[DEFAULT_UNIT_PRICE] [decimal](22, 8) NULL,
	[BY_DATE_CODE] [nvarchar](5) NULL,
 CONSTRAINT [PK_CUST_PRICE_EFFECT] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[PART_ID] ASC,
	[SELLING_UM] ASC,
	[CREATE_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_PRICE_EFFECT]  WITH CHECK ADD  CONSTRAINT [FKEY9600] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUST_PRICE_EFFECT] CHECK CONSTRAINT [FKEY9600]
GO
