USE [VECA]
GO
/****** Object:  Table [dbo].[ACCOUNT_AT_NATIVE]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_AT_NATIVE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[ACCT_YEAR] [decimal](4, 0) NOT NULL,
	[ACCT_PERIOD] [decimal](2, 0) NOT NULL,
	[DEBIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[CREDIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_ACCT_NTV] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[SITE_ID] ASC,
	[ACCT_YEAR] ASC,
	[ACCT_PERIOD] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT_AT_NATIVE] ADD  DEFAULT ((0)) FOR [DEBIT_AMOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_AT_NATIVE] ADD  DEFAULT ((0)) FOR [CREDIT_AMOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_AT_NATIVE]  WITH CHECK ADD  CONSTRAINT [FKEY9409] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_AT_NATIVE] CHECK CONSTRAINT [FKEY9409]
GO
