USE [VECA]
GO
/****** Object:  Table [dbo].[V_RPT_USER_OPT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_RPT_USER_OPT](
	[ID] [nvarchar](15) NOT NULL,
	[USER_ID] [nvarchar](15) NULL,
	[RPT_TYPE] [nvarchar](15) NULL,
	[RPT_SUB_TYPE] [nvarchar](15) NULL,
	[RPT_SECTION] [nvarchar](15) NULL,
	[PRINT_SECTION] [int] NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
	[PRINT_SECURITY] [int] NULL,
 CONSTRAINT [X_V_RPT_USER_OPT_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
