USE [VECA]
GO
/****** Object:  Table [dbo].[JOURNAL_BATCH]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNAL_BATCH](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[TYPE] [nvarchar](3) NOT NULL,
	[BATCH_DATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[LOCKED] [nchar](1) NOT NULL,
	[DEBIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[CREDIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_JOURNAL_BATCH] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JOURNAL_BATCH] ADD  DEFAULT ('') FOR [TYPE]
GO
ALTER TABLE [dbo].[JOURNAL_BATCH] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[JOURNAL_BATCH] ADD  DEFAULT ('') FOR [LOCKED]
GO
ALTER TABLE [dbo].[JOURNAL_BATCH] ADD  DEFAULT ((0)) FOR [DEBIT_AMOUNT]
GO
ALTER TABLE [dbo].[JOURNAL_BATCH] ADD  DEFAULT ((0)) FOR [CREDIT_AMOUNT]
GO
ALTER TABLE [dbo].[JOURNAL_BATCH]  WITH CHECK ADD  CONSTRAINT [CHK_JOURNAL_BATCH] CHECK  ((([TYPE]='APC' OR [TYPE]='API' OR [TYPE]='ARC' OR [TYPE]='ARI' OR [TYPE]='PUR' OR [TYPE]='SLS' OR [TYPE]='WIP' OR [TYPE]='FG' OR [TYPE]='IND' OR [TYPE]='ADJ' OR [TYPE]='GJ' OR [TYPE]='BAJ' OR [TYPE]='RVJ' OR [TYPE]='PRJ' OR [TYPE]='PRA' OR [TYPE]='REV' OR [TYPE]='BUR' OR [TYPE]='WPA') AND ([LOCKED]='Y' OR [LOCKED]='N')))
GO
ALTER TABLE [dbo].[JOURNAL_BATCH] CHECK CONSTRAINT [CHK_JOURNAL_BATCH]
GO
