USE [VECA]
GO
/****** Object:  Table [dbo].[QUOTE_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOTE_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QUOTE_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
	[CUSTOMER_PART_ID] [nvarchar](30) NULL,
	[WORKORDER_TYPE] [nchar](1) NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NULL,
	[DRAWING_ID] [nvarchar](30) NULL,
	[DRAWING_REV_NO] [nvarchar](8) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[COMMODITY_CODE] [nvarchar](15) NULL,
	[SERVICE_CHARGE_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[ORIG_STAGE_REVISION_ID] [nvarchar](24) NULL,
	[PRICE_NOTE] [nvarchar](255) NULL,
	[DISCOUNT_NOTE] [nvarchar](255) NULL,
	[FREIGHT_NOTE] [nvarchar](255) NULL,
	[COMMISSION_NOTE] [nvarchar](255) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[WBS_DESCRIPTION] [nvarchar](80) NULL,
	[WBS_CLIN] [nvarchar](15) NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[PRICE_GROUP_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_QUOTE_LINE] PRIMARY KEY CLUSTERED 
(
	[QUOTE_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QUOTE_LINE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[QUOTE_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0104] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[QUOTE_LINE] CHECK CONSTRAINT [FKEY0104]
GO
ALTER TABLE [dbo].[QUOTE_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0180] FOREIGN KEY([QUOTE_ID])
REFERENCES [dbo].[QUOTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUOTE_LINE] CHECK CONSTRAINT [FKEY0180]
GO
