USE [VECA]
GO
/****** Object:  Table [dbo].[CURRENCY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](40) NULL,
	[SHORT_NAME] [nvarchar](10) NULL,
	[COUNTRY_PROFILE] [nvarchar](40) NULL,
	[I_CURRENCY] [smallint] NULL,
	[I_CURR_DIGITS] [smallint] NULL,
	[I_NEG_CURR] [smallint] NULL,
	[S_CURRENCY] [nvarchar](40) NULL,
	[S_THOUSAND] [nchar](1) NULL,
	[EURO_PARTICIPANT] [nchar](1) NOT NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
	[ISO_CODE] [nvarchar](5) NULL,
	[REPORTING_CURRENCY] [nchar](1) NULL,
 CONSTRAINT [PK_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CURRENCY] ADD  DEFAULT ('') FOR [EURO_PARTICIPANT]
GO
