USE [VECA]
GO
/****** Object:  Table [dbo].[T_SEC_APPROX_K1]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SEC_APPROX_K1](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[T] [decimal](3, 1) NOT NULL,
	[OUTSIDE_LIM1] [decimal](6, 4) NOT NULL,
	[OUTSIDE_LIM2] [decimal](6, 4) NOT NULL,
 CONSTRAINT [PK_T_SEC_APPROX_K1] PRIMARY KEY CLUSTERED 
(
	[T] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
