USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR_QUOTE]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR_QUOTE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[VENDOR_PART_ID] [nvarchar](30) NOT NULL,
	[MFG_NAME] [nvarchar](30) NULL,
	[MFG_PART_ID] [nvarchar](30) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[QTY_BREAK_1] [decimal](20, 8) NULL,
	[QTY_BREAK_2] [decimal](20, 8) NULL,
	[QTY_BREAK_3] [decimal](20, 8) NULL,
	[QTY_BREAK_4] [decimal](20, 8) NULL,
	[QTY_BREAK_5] [decimal](20, 8) NULL,
	[QTY_BREAK_6] [decimal](20, 8) NULL,
	[QTY_BREAK_7] [decimal](20, 8) NULL,
	[QTY_BREAK_8] [decimal](20, 8) NULL,
	[QTY_BREAK_9] [decimal](20, 8) NULL,
	[QTY_BREAK_10] [decimal](20, 8) NULL,
	[UNIT_PRICE_1] [decimal](22, 8) NULL,
	[UNIT_PRICE_2] [decimal](22, 8) NULL,
	[UNIT_PRICE_3] [decimal](22, 8) NULL,
	[UNIT_PRICE_4] [decimal](22, 8) NULL,
	[UNIT_PRICE_5] [decimal](22, 8) NULL,
	[UNIT_PRICE_6] [decimal](22, 8) NULL,
	[UNIT_PRICE_7] [decimal](22, 8) NULL,
	[UNIT_PRICE_8] [decimal](22, 8) NULL,
	[UNIT_PRICE_9] [decimal](22, 8) NULL,
	[UNIT_PRICE_10] [decimal](22, 8) NULL,
	[DEFAULT_UNIT_PRICE] [decimal](22, 8) NOT NULL,
	[UNIT_PRICE_CURR_1] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_2] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_3] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_4] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_5] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_6] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_7] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_8] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_9] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_10] [decimal](22, 8) NULL,
	[DEF_UNIT_PRICE_CURR] [decimal](22, 8) NOT NULL,
	[PURCHASE_UM] [nvarchar](15) NULL,
	[QUOTE_DATE] [datetime] NULL,
	[LONG_DESCRIPTION] [image] NULL,
	[CONTRACT_ID] [nvarchar](30) NULL,
	[CONTRACT_LINE_NO] [smallint] NULL,
	[VENDOR_CLIN] [nvarchar](15) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[LEADTIME_1] [smallint] NULL,
	[LEADTIME_2] [smallint] NULL,
	[LEADTIME_3] [smallint] NULL,
	[LEADTIME_4] [smallint] NULL,
	[LEADTIME_5] [smallint] NULL,
	[LEADTIME_6] [smallint] NULL,
	[LEADTIME_7] [smallint] NULL,
	[LEADTIME_8] [smallint] NULL,
	[LEADTIME_9] [smallint] NULL,
	[LEADTIME_10] [smallint] NULL,
	[DEFAULT_LEADTIME] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR_QUOTE] ADD  DEFAULT ((0)) FOR [DEFAULT_UNIT_PRICE]
GO
ALTER TABLE [dbo].[VENDOR_QUOTE] ADD  DEFAULT ((0)) FOR [DEF_UNIT_PRICE_CURR]
GO
ALTER TABLE [dbo].[VENDOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [FK_VEND_QUOTE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_QUOTE] CHECK CONSTRAINT [FK_VEND_QUOTE_TO_SITE]
GO
ALTER TABLE [dbo].[VENDOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY0039] FOREIGN KEY([PURCHASE_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[VENDOR_QUOTE] CHECK CONSTRAINT [FKEY0039]
GO
ALTER TABLE [dbo].[VENDOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY0081] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_QUOTE] CHECK CONSTRAINT [FKEY0081]
GO
ALTER TABLE [dbo].[VENDOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY9602] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENDOR_QUOTE] CHECK CONSTRAINT [FKEY9602]
GO
