USE [VECA]
GO
/****** Object:  Table [dbo].[HISTORY_SCHEMA]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY_SCHEMA](
	[TBL_NAME] [nvarchar](50) NOT NULL,
	[COL_NAME] [nvarchar](50) NOT NULL,
	[COL_TYPE] [nvarchar](15) NULL,
	[IS_PRIMARY] [nchar](1) NULL,
	[PK_ORDER] [int] NULL,
 CONSTRAINT [PK_HISTORY_SCHEMA] PRIMARY KEY CLUSTERED 
(
	[TBL_NAME] ASC,
	[COL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
