USE [VECA]
GO
/****** Object:  Table [dbo].[MASTER_SCHEDULE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_SCHEDULE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MASTER_SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[WANT_DATE] [datetime] NOT NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[FIRMED] [nchar](1) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MASTER_SCHEDULE] ADD  DEFAULT ('') FOR [MASTER_SCHEDULE_ID]
GO
ALTER TABLE [dbo].[MASTER_SCHEDULE] ADD  DEFAULT ('') FOR [FIRMED]
GO
ALTER TABLE [dbo].[MASTER_SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_MSTRSCHD_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[MASTER_SCHEDULE] CHECK CONSTRAINT [FK_MSTRSCHD_TO_SITE]
GO
ALTER TABLE [dbo].[MASTER_SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FKEY0096] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MASTER_SCHEDULE] CHECK CONSTRAINT [FKEY0096]
GO
