USE [VECA]
GO
/****** Object:  Table [dbo].[RMA_BINARY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMA_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RMA_ID] [nvarchar](15) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_RMA_BINARY] PRIMARY KEY CLUSTERED 
(
	[RMA_ID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RMA_BINARY]  WITH CHECK ADD  CONSTRAINT [FKEY9377] FOREIGN KEY([RMA_ID])
REFERENCES [dbo].[RMA] ([ID])
GO
ALTER TABLE [dbo].[RMA_BINARY] CHECK CONSTRAINT [FKEY9377]
GO
