USE [VECA]
GO
/****** Object:  Table [dbo].[QUOTE_LINE_BINARY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOTE_LINE_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QUOTE_ID] [nvarchar](15) NOT NULL,
	[QUOTE_LINE_NO] [smallint] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_QUOTE_LINE_BINARY] PRIMARY KEY CLUSTERED 
(
	[QUOTE_ID] ASC,
	[QUOTE_LINE_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[QUOTE_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [FKEY0181] FOREIGN KEY([QUOTE_ID], [QUOTE_LINE_NO])
REFERENCES [dbo].[QUOTE_LINE] ([QUOTE_ID], [LINE_NO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUOTE_LINE_BINARY] CHECK CONSTRAINT [FKEY0181]
GO
ALTER TABLE [dbo].[QUOTE_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK0057] CHECK  (([TYPE]='D' OR [TYPE]='B' OR [TYPE]='N' OR [TYPE]='I' OR [TYPE]='P'))
GO
ALTER TABLE [dbo].[QUOTE_LINE_BINARY] CHECK CONSTRAINT [CHK0057]
GO
