USE [VECA]
GO
/****** Object:  Table [dbo].[RES_SIMULATION]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RES_SIMULATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SIMULATION_ID] [nvarchar](15) NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NULL,
	[PRV_SET_CST_PER_HR] [decimal](22, 8) NULL,
	[PRV_RUN_CST_PER_HR] [decimal](22, 8) NULL,
	[PRV_RUN_CST_PER_UN] [decimal](22, 8) NULL,
	[PRV_BUR_PER_HR_SET] [decimal](22, 8) NULL,
	[PRV_BUR_PER_HR_RUN] [decimal](22, 8) NULL,
	[PRV_BUR_PER_UN_RUN] [decimal](22, 8) NULL,
	[PRV_BUR_PER_OPER] [decimal](22, 8) NULL,
	[TOT_PRV_LAB_COST] [decimal](23, 8) NULL,
	[TOT_PRV_BUR_COST] [decimal](23, 8) NULL,
	[SIM_SET_CST_PER_HR] [decimal](22, 8) NULL,
	[SIM_RUN_CST_PER_HR] [decimal](22, 8) NULL,
	[SIM_RUN_CST_PER_UN] [decimal](22, 8) NULL,
	[SIM_BUR_PER_HR_SET] [decimal](22, 8) NULL,
	[SIM_BUR_PER_HR_RUN] [decimal](22, 8) NULL,
	[SIM_BUR_PER_UN_RUN] [decimal](22, 8) NULL,
	[SIM_BUR_PER_OPER] [decimal](22, 8) NULL,
	[TOT_SIM_LAB_COST] [decimal](23, 8) NULL,
	[TOT_SIM_BUR_COST] [decimal](23, 8) NULL,
	[PRV_CREATE_DATE] [datetime] NULL,
	[SIM_CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_] PRIMARY KEY CLUSTERED 
(
	[SIMULATION_ID] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RES_SIMULATION]  WITH CHECK ADD  CONSTRAINT [FK_RES_SIMULATION_00] FOREIGN KEY([SIMULATION_ID])
REFERENCES [dbo].[SIMULATION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RES_SIMULATION] CHECK CONSTRAINT [FK_RES_SIMULATION_00]
GO
ALTER TABLE [dbo].[RES_SIMULATION]  WITH CHECK ADD  CONSTRAINT [FK_RES_SIMULATION_01] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[RES_SIMULATION] CHECK CONSTRAINT [FK_RES_SIMULATION_01]
GO
