USE [VECA]
GO
/****** Object:  Table [dbo].[PLANNED_ORDER]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANNED_ORDER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[SEQ_NO] [smallint] NOT NULL,
	[WANT_DATE] [datetime] NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[MAIN_PART_ID] [nvarchar](30) NULL,
	[MAIN_SEQ_NO] [smallint] NULL,
	[SCHEDULE_ID] [nvarchar](15) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLANNED_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PLND_ORD_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PLANNED_ORDER] CHECK CONSTRAINT [FK_PLND_ORD_TO_SITE]
GO
ALTER TABLE [dbo].[PLANNED_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0098] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[PLANNED_ORDER] CHECK CONSTRAINT [FKEY0098]
GO
