USE [VECA]
GO
/****** Object:  Table [dbo].[WIP_ISSUE_DIST]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WIP_ISSUE_DIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[DIST_NO] [smallint] NOT NULL,
	[ENTRY_NO] [smallint] NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[AMOUNT_TYPE] [nchar](2) NOT NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[POSTING_STATUS] [nchar](1) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[BATCH_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[NATIVE] [nchar](1) NULL,
 CONSTRAINT [PK_WIP_ISSUE_DIST] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[DIST_NO] ASC,
	[ENTRY_NO] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST]  WITH CHECK ADD  CONSTRAINT [FK_WPIDST_BATCH] FOREIGN KEY([SITE_ID], [BATCH_ID])
REFERENCES [dbo].[JOURNAL_BATCH] ([SITE_ID], [ID])
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST] CHECK CONSTRAINT [FK_WPIDST_BATCH]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0005] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST] CHECK CONSTRAINT [FKEY0005]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0194] FOREIGN KEY([GL_ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST] CHECK CONSTRAINT [FKEY0194]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY9410] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST] CHECK CONSTRAINT [FKEY9410]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST]  WITH CHECK ADD  CONSTRAINT [CHK9024] CHECK  (([POSTING_STATUS]='U' OR [POSTING_STATUS]='P'))
GO
ALTER TABLE [dbo].[WIP_ISSUE_DIST] CHECK CONSTRAINT [CHK9024]
GO
