USE [VECA]
GO
/****** Object:  Table [dbo].[PHYSICAL_COUNT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYSICAL_COUNT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[START_DATE] [datetime] NOT NULL,
	[STARTING_TAG_NO] [int] NOT NULL,
	[EXTRA_TAGS_BLANK] [int] NOT NULL,
	[TAGS_PER_GROUP] [int] NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[LOCK_INVENTORY] [nchar](1) NOT NULL,
	[ADJ_GL_ACCT_ID] [nvarchar](30) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[DEFICIT_USER_DIMENSION_1] [nvarchar](15) NULL,
	[DEFICIT_USER_DIMENSION_2] [nvarchar](15) NULL,
	[DEFICIT_CUST_ORDER_ID] [nvarchar](15) NULL,
	[OVERSTOCK_USER_DIMENSION_1] [nvarchar](15) NULL,
	[OVERSTOCK_USER_DIMENSION_2] [nvarchar](15) NULL,
	[OVERSTOCK_CUST_ORDER_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_PHYSICAL_COUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHYSICAL_COUNT] ADD  DEFAULT (getdate()) FOR [START_DATE]
GO
ALTER TABLE [dbo].[PHYSICAL_COUNT] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[PHYSICAL_COUNT] ADD  DEFAULT ('') FOR [LOCK_INVENTORY]
GO
ALTER TABLE [dbo].[PHYSICAL_COUNT] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PHYSICAL_COUNT]  WITH CHECK ADD  CONSTRAINT [CHK0053] CHECK  ((([STATUS]='A' OR [STATUS]='C') AND ([LOCK_INVENTORY]='Y' OR [LOCK_INVENTORY]='N')))
GO
ALTER TABLE [dbo].[PHYSICAL_COUNT] CHECK CONSTRAINT [CHK0053]
GO
