USE [VECA]
GO
/****** Object:  Table [dbo].[APPLICATION_GROUP]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_GROUP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GROUP_ID] [nvarchar](20) NOT NULL,
	[LANGUAGE_ID] [nvarchar](3) NOT NULL,
	[MENU_STRING] [nvarchar](20) NOT NULL,
	[ACCELERATOR] [nchar](1) NOT NULL,
	[SEQ_NO] [smallint] NOT NULL,
 CONSTRAINT [PK_APPLICATION_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[LANGUAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
