USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_ADDRESS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_ADDRESS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[ADDR_NO] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[DEF_SLS_TAX_GRP_ID] [nvarchar](15) NULL,
	[TAX_ID_NUMBER] [nvarchar](25) NULL,
	[TAX_EXEMPT] [nchar](1) NOT NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[TERRITORY] [nvarchar](15) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[DISCOUNT_CODE] [nvarchar](15) NULL,
	[ARRIVAL_CODE] [nvarchar](25) NULL,
	[TRANS_CODE] [nvarchar](25) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[NATURE_OF_TRANS] [int] NULL,
	[MODE_OF_TRANSPORT] [int] NULL,
	[SIRET_NUMBER] [decimal](14, 0) NULL,
	[SHIPTO_ID] [nvarchar](20) NOT NULL,
	[PRIORITY_CODE] [nvarchar](15) NULL,
	[FILL_RATE_TYPE] [nchar](1) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[COMPLIANCE_LABEL] [nchar](1) NULL,
	[CONSOLIDATE_ORDERS] [nchar](1) NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[ORDER_FILL_RATE] [decimal](5, 2) NOT NULL,
	[language_id] [nvarchar](2) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](80) NULL,
	[GENERATE_ASN] [nvarchar](1) NULL,
	[HOLD_TRANSFER_ASN] [nvarchar](1) NULL,
	[CUSTOMS_DOC_PRINT] [nvarchar](1) NULL,
	[SUPPRESS_AR_PRINT] [nvarchar](1) NULL,
	[ACCEPT_830] [nvarchar](1) NULL,
	[ACCEPT_862] [nvarchar](1) NULL,
	[POOL_POINT_ID] [nvarchar](20) NULL,
	[POOL_CODE] [nvarchar](20) NULL,
	[SUPPLIER_ID] [nvarchar](20) NULL,
	[DOCK_CODE_FIELD] [nvarchar](20) NULL,
	[DUTY_BROKERAGE] [nvarchar](20) NULL,
	[MATERIAL_ISSUER] [nvarchar](20) NULL,
	[TRANS_METHOD_CODE] [nvarchar](20) NULL,
	[EQUIPMENT_DESCR] [nvarchar](20) NULL,
	[LADING_CODE] [nvarchar](20) NULL,
	[MODEL_YEAR] [nvarchar](20) NULL,
	[HANDLING_ID] [nvarchar](20) NULL,
	[ALLOW_CHARGE_NO] [nvarchar](20) NULL,
	[NON_RETURN_CODE] [nvarchar](20) NULL,
	[MIXED_CODE] [nvarchar](20) NULL,
	[TRADING_PARTNER] [nvarchar](20) NULL,
	[TRANSIT_TIME] [decimal](14, 4) NULL,
	[INTER_CONSIGNEE] [nvarchar](20) NULL,
	[CONSOL_SHIP_LINE] [nchar](1) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_OVERRIDE_SEQ] [nvarchar](1) NULL,
	[PALLET_DETAILS_REQ] [nchar](1) NULL,
	[MATCH_INV_TO_PACK] [nchar](1) NULL,
	[GENERATE_WSA] [nchar](1) NULL,
	[HOLD_TRANSFER_WSA] [nchar](1) NULL,
	[PRICE_GROUP] [nvarchar](15) NULL,
	[CUST_ADDR_COUNTRY_ID] [nvarchar](15) NULL,
	[ACTIVE_FLAG] [nchar](1) NOT NULL,
 CONSTRAINT [PK_CUST_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[ADDR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_ADDRESS] ADD  DEFAULT ('') FOR [TAX_EXEMPT]
GO
ALTER TABLE [dbo].[CUST_ADDRESS] ADD  DEFAULT ((0)) FOR [ORDER_FILL_RATE]
GO
ALTER TABLE [dbo].[CUST_ADDRESS] ADD  DEFAULT ('Y') FOR [ACTIVE_FLAG]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_CUST_ADDR_CNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FK_CUST_ADDR_CNTRY]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY0043] FOREIGN KEY([DEF_SLS_TAX_GRP_ID])
REFERENCES [dbo].[SALES_TAX_GROUP] ([ID])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY0043]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY0062] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY0062]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY0070] FOREIGN KEY([DISCOUNT_CODE])
REFERENCES [dbo].[CUSTOMER_DISCOUNT] ([DISCOUNT_CODE])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY0070]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY0259] FOREIGN KEY([SALESREP_ID])
REFERENCES [dbo].[SALES_REP] ([ID])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY0259]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9311] FOREIGN KEY([ARRIVAL_CODE])
REFERENCES [dbo].[PORT_OF_ARRIVAL] ([CODE])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY9311]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9312] FOREIGN KEY([TRANS_CODE])
REFERENCES [dbo].[PORT_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY9312]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9314] FOREIGN KEY([NATURE_OF_TRANS])
REFERENCES [dbo].[NATURE_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY9314]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9315] FOREIGN KEY([MODE_OF_TRANSPORT])
REFERENCES [dbo].[MODE_OF_TRANSPORT] ([CODE])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY9315]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9462] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [FKEY9462]
GO
ALTER TABLE [dbo].[CUST_ADDRESS]  WITH CHECK ADD  CONSTRAINT [CHK0010] CHECK  (([TAX_EXEMPT]='Y' OR [TAX_EXEMPT]='N'))
GO
ALTER TABLE [dbo].[CUST_ADDRESS] CHECK CONSTRAINT [CHK0010]
GO
