USE [VECA]
GO
/****** Object:  Table [dbo].[PART_SUBSTITUTE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_SUBSTITUTE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[SUBSTITUTE_PART_ID] [nvarchar](30) NOT NULL,
	[RANK] [smallint] NULL,
 CONSTRAINT [PK_PART_SUBST] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[SUBSTITUTE_PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
