USE [VECA]
GO
/****** Object:  Table [dbo].[RECEIVER_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVER_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[PURC_ORDER_LINE_NO] [smallint] NOT NULL,
	[USER_RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[INSPECT_QTY] [decimal](20, 8) NOT NULL,
	[ACT_FREIGHT] [decimal](23, 8) NOT NULL,
	[INVOICE_ID] [nvarchar](15) NULL,
	[INVOICED_DATE] [datetime] NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[LOCATION_ID] [nvarchar](15) NULL,
	[TRANSACTION_ID] [int] NULL,
	[SERV_TRANS_ID] [int] NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[REJECTED_QTY] [decimal](20, 8) NULL,
	[HTS_CODE] [nvarchar](20) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](50) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[LANDED_UNIT_PRICE] [decimal](22, 8) NULL,
	[FIXED_CHARGE] [decimal](23, 8) NULL,
	[INTRASTAT_AMOUNT] [decimal](23, 8) NULL,
	[DATA_COLL_COMP] [nchar](1) NULL,
	[GROSS_WEIGHT] [decimal](15, 4) NULL,
	[CNSN_OUT_TRANS_ID] [int] NULL,
	[INSP_REASON_CD] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
 CONSTRAINT [PK_RECEIVER_LINE] PRIMARY KEY CLUSTERED 
(
	[RECEIVER_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECEIVER_LINE] ADD  DEFAULT ((0)) FOR [USER_RECEIVED_QTY]
GO
ALTER TABLE [dbo].[RECEIVER_LINE] ADD  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[RECEIVER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0171] FOREIGN KEY([PURC_ORDER_ID], [PURC_ORDER_LINE_NO])
REFERENCES [dbo].[PURC_ORDER_LINE] ([PURC_ORDER_ID], [LINE_NO])
GO
ALTER TABLE [dbo].[RECEIVER_LINE] CHECK CONSTRAINT [FKEY0171]
GO
ALTER TABLE [dbo].[RECEIVER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0172] FOREIGN KEY([RECEIVER_ID])
REFERENCES [dbo].[RECEIVER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECEIVER_LINE] CHECK CONSTRAINT [FKEY0172]
GO
