USE [VECA]
GO
/****** Object:  Table [dbo].[INVENTORY_TRANS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_TRANS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NULL,
	[OPERATION_SEQ_NO] [smallint] NULL,
	[REQ_PIECE_NO] [smallint] NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[CUST_ORDER_LINE_NO] [smallint] NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[PART_ID] [nvarchar](30) NULL,
	[TYPE] [nchar](1) NOT NULL,
	[CLASS] [nchar](1) NOT NULL,
	[QTY] [decimal](20, 8) NOT NULL,
	[COSTED_QTY] [decimal](20, 8) NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[LOCATION_ID] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
	[USER_ID] [nvarchar](20) NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
	[ADJ_REASON_ID] [nvarchar](15) NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NOT NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[ADD_BURDEN] [decimal](23, 8) NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[TRANSFER_TRANS_ID] [int] NULL,
	[XFER_IN_TRANSIT] [nchar](1) NULL,
	[IBT_ID] [nvarchar](15) NULL,
	[IBT_LINE_NO] [smallint] NULL,
	[GL_ADJ_ACCT_ID] [nvarchar](30) NULL,
	[FROM_WBS_CODE] [nvarchar](30) NULL,
	[TO_WBS_CODE] [nvarchar](30) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[REVISION_ID] [nvarchar](8) NULL,
	[STAGE_ID] [nvarchar](15) NULL,
	[ISSUE_REAS_ID] [nvarchar](15) NULL,
	[ACT_RATE_ID] [nvarchar](15) NULL,
	[ACT_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_ID] [nvarchar](15) NULL,
	[RETRO_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_CODE] [nchar](1) NULL,
	[LAST_RETRO_DATE] [datetime] NULL,
	[COUNT_SEQUENCE] [int] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[USER_DIMENSION_1] [nvarchar](15) NULL,
	[USER_DIMENSION_2] [nvarchar](15) NULL,
	[LOCATION_HOLD_CODE_ID] [nvarchar](15) NULL,
	[RET_COST_ZERO] [nchar](1) NULL,
 CONSTRAINT [PK_INVENTORY_TRANS] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT ((0)) FOR [COSTED_QTY]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT ('') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT ((0)) FOR [ACT_MATERIAL_COST]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT ((0)) FOR [ACT_LABOR_COST]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT ((0)) FOR [ACT_BURDEN_COST]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT ((0)) FOR [ACT_SERVICE_COST]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] ADD  DEFAULT ((1)) FOR [COUNT_SEQUENCE]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS]  WITH CHECK ADD  CONSTRAINT [FK_INV_TRANS_ISS] FOREIGN KEY([ISSUE_REAS_ID])
REFERENCES [dbo].[ISSUE_REASON] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] CHECK CONSTRAINT [FK_INV_TRANS_ISS]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS]  WITH CHECK ADD  CONSTRAINT [FK_INVTRANS_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] CHECK CONSTRAINT [FK_INVTRANS_TO_SITE]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS]  WITH CHECK ADD  CONSTRAINT [FKEY0273] FOREIGN KEY([GL_ADJ_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] CHECK CONSTRAINT [FKEY0273]
GO
ALTER TABLE [dbo].[INVENTORY_TRANS]  WITH CHECK ADD  CONSTRAINT [CHK9048] CHECK  ((([TYPE]='I' OR [TYPE]='O') AND ([CLASS]='I' OR [CLASS]='A' OR [CLASS]='R' OR [CLASS]='C') AND ([POSTING_CANDIDATE]='Y' OR [POSTING_CANDIDATE]='N')))
GO
ALTER TABLE [dbo].[INVENTORY_TRANS] CHECK CONSTRAINT [CHK9048]
GO
