USE [VECA]
GO
/****** Object:  Table [dbo].[V_USER]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_USER](
	[ID] [nvarchar](15) NOT NULL,
	[TYPE] [nvarchar](15) NULL,
	[EMP_ID] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATOR] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_USER_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_USER]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00228] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[V_EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[V_USER] CHECK CONSTRAINT [FK_VFO_00228]
GO
