USE [VECA]
GO
/****** Object:  Table [dbo].[RECEIVABLE_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLE_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[REFERENCE] [nvarchar](120) NULL,
	[QTY] [decimal](20, 8) NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[VAT_PERCENT] [decimal](6, 3) NULL,
	[VAT_AMOUNT] [decimal](23, 8) NULL,
	[VAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[CUST_ORDER_LINE_NO] [smallint] NULL,
	[PACKLIST_ID] [nvarchar](15) NULL,
	[PACKLIST_LINE_NO] [smallint] NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[HTS_CODE] [nvarchar](20) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](50) NULL,
	[DUTY_PERCENT] [decimal](6, 3) NULL,
	[DUTY_AMOUNT] [decimal](23, 8) NULL,
	[vat_category] [nvarchar](15) NULL,
	[FT_TYPE] [nchar](1) NULL,
	[PREPAY_APPLIED_AMT] [decimal](23, 8) NULL,
	[PREPAY_APPLIED_VAT] [decimal](23, 8) NULL,
	[PREPAY_INVOICE_ID] [nvarchar](15) NULL,
	[USER_DIMENSION_1] [nvarchar](15) NULL,
	[USER_DIMENSION_2] [nvarchar](15) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
 CONSTRAINT [PK_RECEIVABLE_LINE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECEIVABLE_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0231] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[RECEIVABLE] ([INVOICE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECEIVABLE_LINE] CHECK CONSTRAINT [FKEY0231]
GO
ALTER TABLE [dbo].[RECEIVABLE_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0281] FOREIGN KEY([CUST_ORDER_ID], [CUST_ORDER_LINE_NO])
REFERENCES [dbo].[CUST_ORDER_LINE] ([CUST_ORDER_ID], [LINE_NO])
GO
ALTER TABLE [dbo].[RECEIVABLE_LINE] CHECK CONSTRAINT [FKEY0281]
GO
ALTER TABLE [dbo].[RECEIVABLE_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9579] FOREIGN KEY([vat_category])
REFERENCES [dbo].[VAT_CATEGORY] ([id])
GO
ALTER TABLE [dbo].[RECEIVABLE_LINE] CHECK CONSTRAINT [FKEY9579]
GO
