USE [VECA]
GO
/****** Object:  Table [dbo].[PURC_REQ_CURR]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURC_REQ_CURR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PURC_REQ_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
 CONSTRAINT [PK_PURC_REQ_CURR] PRIMARY KEY CLUSTERED 
(
	[PURC_REQ_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURC_REQ_CURR] ADD  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[PURC_REQ_CURR] ADD  DEFAULT ((0)) FOR [SELL_RATE]
GO
ALTER TABLE [dbo].[PURC_REQ_CURR] ADD  DEFAULT ((0)) FOR [BUY_RATE]
GO
ALTER TABLE [dbo].[PURC_REQ_CURR]  WITH CHECK ADD  CONSTRAINT [FK_PURC_REQ_CURR_00] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[PURC_REQ_CURR] CHECK CONSTRAINT [FK_PURC_REQ_CURR_00]
GO
ALTER TABLE [dbo].[PURC_REQ_CURR]  WITH CHECK ADD  CONSTRAINT [FK_PURC_REQ_CURR_01] FOREIGN KEY([PURC_REQ_ID])
REFERENCES [dbo].[PURC_REQUISITION] ([ID])
GO
ALTER TABLE [dbo].[PURC_REQ_CURR] CHECK CONSTRAINT [FK_PURC_REQ_CURR_01]
GO
