USE [VECA]
GO
/****** Object:  Table [dbo].[EMPLOYEE_SITE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](15) NOT NULL,
	[DEFAULT_SITE] [nchar](1) NULL,
	[BASE_PAY_RATE] [decimal](22, 8) NULL,
 CONSTRAINT [PK_EMPLOYEE_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEE_SITE]  WITH CHECK ADD  CONSTRAINT [FK_EMP_SITE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE_SITE] CHECK CONSTRAINT [FK_EMP_SITE_TO_SITE]
GO
