USE [VECA]
GO
/****** Object:  Table [dbo].[REQUIREMENT_BINARY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUIREMENT_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[OPERATION_SEQ_NO] [smallint] NOT NULL,
	[PIECE_NO] [smallint] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_REQUIREMENT_BINARY] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[OPERATION_SEQ_NO] ASC,
	[PIECE_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[REQUIREMENT_BINARY]  WITH CHECK ADD  CONSTRAINT [FK_REQUIREMENT_BINARY_00] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID], [OPERATION_SEQ_NO], [PIECE_NO])
REFERENCES [dbo].[REQUIREMENT] ([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID], [OPERATION_SEQ_NO], [PIECE_NO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REQUIREMENT_BINARY] CHECK CONSTRAINT [FK_REQUIREMENT_BINARY_00]
GO
ALTER TABLE [dbo].[REQUIREMENT_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK0031] CHECK  (([TYPE]='D' OR [TYPE]='B'))
GO
ALTER TABLE [dbo].[REQUIREMENT_BINARY] CHECK CONSTRAINT [CHK0031]
GO
