USE [VECA]
GO
/****** Object:  Table [dbo].[VMDI_ASSOC]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDI_ASSOC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LAYOUT_KEY] [nchar](3) NOT NULL,
	[LAYOUT_VERSION] [nchar](4) NOT NULL,
	[LAYOUT_DIRECTION] [nchar](1) NOT NULL,
	[TABLE_NAME] [nvarchar](18) NOT NULL,
	[TABLE_KEY] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_VMDI_ASSOC] PRIMARY KEY CLUSTERED 
(
	[LAYOUT_KEY] ASC,
	[LAYOUT_VERSION] ASC,
	[LAYOUT_DIRECTION] ASC,
	[TABLE_NAME] ASC,
	[TABLE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VMDI_ASSOC]  WITH CHECK ADD  CONSTRAINT [FKEY9114] FOREIGN KEY([LAYOUT_KEY], [LAYOUT_VERSION], [LAYOUT_DIRECTION])
REFERENCES [dbo].[VMDI_LAYOUT] ([KEY], [VERSION], [DIRECTION])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VMDI_ASSOC] CHECK CONSTRAINT [FKEY9114]
GO
