USE [VECA]
GO
/****** Object:  Table [dbo].[GL_INTERFACE_ACCT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_INTERFACE_ACCT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[INTERFACE_ID] [nvarchar](15) NOT NULL,
	[GL_GROUP_ID] [nvarchar](15) NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NULL,
 CONSTRAINT [PK_GL_INTERFACE_ACCT] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[INTERFACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GL_INTERFACE_ACCT]  WITH CHECK ADD  CONSTRAINT [FKEY0000] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GL_INTERFACE_ACCT] CHECK CONSTRAINT [FKEY0000]
GO
ALTER TABLE [dbo].[GL_INTERFACE_ACCT]  WITH CHECK ADD  CONSTRAINT [FKEY0029] FOREIGN KEY([INTERFACE_ID])
REFERENCES [dbo].[GL_INTERFACE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GL_INTERFACE_ACCT] CHECK CONSTRAINT [FKEY0029]
GO
ALTER TABLE [dbo].[GL_INTERFACE_ACCT]  WITH CHECK ADD  CONSTRAINT [FKEY0193] FOREIGN KEY([GL_ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[GL_INTERFACE_ACCT] CHECK CONSTRAINT [FKEY0193]
GO
