USE [VECA]
GO
/****** Object:  Table [dbo].[DEMAND_SUPPLY_LINK]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMAND_SUPPLY_LINK](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [int] NOT NULL,
	[DEMAND_TYPE] [nvarchar](2) NOT NULL,
	[DEMAND_BASE_ID] [nvarchar](30) NOT NULL,
	[DEMAND_LOT_ID] [nvarchar](15) NULL,
	[DEMAND_SPLIT_ID] [nvarchar](3) NULL,
	[DEMAND_SUB_ID] [nvarchar](3) NULL,
	[DEMAND_SEQ_NO] [int] NULL,
	[DEMAND_NO] [int] NULL,
	[SUPPLY_TYPE] [nvarchar](2) NOT NULL,
	[SUPPLY_BASE_ID] [nvarchar](30) NOT NULL,
	[SUPPLY_LOT_ID] [nvarchar](15) NULL,
	[SUPPLY_SPLIT_ID] [nvarchar](3) NULL,
	[SUPPLY_SUB_ID] [nvarchar](3) NULL,
	[SUPPLY_SEQ_NO] [int] NULL,
	[SUPPLY_NO] [int] NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[DEMAND_PART_ID] [nvarchar](30) NULL,
	[SUPPLY_PART_ID] [nvarchar](30) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[ISSUED_QTY] [decimal](20, 8) NOT NULL,
	[SUPPLY_MODE] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NULL,
	[TYPE] [nchar](1) NULL,
	[REALLOCATE] [nchar](1) NULL,
	[DEMAND_SITE_ID] [nvarchar](15) NOT NULL,
	[SUPPLY_SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_DEMAND_SUPPLY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK] ADD  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK] ADD  DEFAULT ((0)) FOR [ISSUED_QTY]
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK]  WITH CHECK ADD  CONSTRAINT [FK_DSL_DEMAND_TO_SITE] FOREIGN KEY([DEMAND_SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK] CHECK CONSTRAINT [FK_DSL_DEMAND_TO_SITE]
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK]  WITH CHECK ADD  CONSTRAINT [FK_DSL_SUPPLY_TO_SITE] FOREIGN KEY([SUPPLY_SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[DEMAND_SUPPLY_LINK] CHECK CONSTRAINT [FK_DSL_SUPPLY_TO_SITE]
GO
