USE [VECA]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TYPE] [nvarchar](15) NOT NULL,
	[TASK_NO] [int] NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[SUB_TYPE] [nvarchar](15) NOT NULL,
	[EC_ID] [nvarchar](128) NULL,
	[STATUS] [nvarchar](5) NOT NULL,
	[REJECT_CODE] [nvarchar](15) NULL,
	[REJ_TASK_NO] [int] NULL,
	[REJ_SEQ_NO] [int] NULL,
	[COMPLETED_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[OL_ENTRY_ID] [nvarchar](250) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[TYPE] ASC,
	[TASK_NO] ASC,
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TASK] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TASK] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_TASK_REJ_CODE] FOREIGN KEY([REJECT_CODE])
REFERENCES [dbo].[TASK_REJ_CODES] ([CODE])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_TASK_REJ_CODE]
GO
