USE [VECA]
GO
/****** Object:  Table [dbo].[LSA_SYNC]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_SYNC](
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[SYNC_COMMAND] [nvarchar](30) NOT NULL,
	[SYNC_DATE] [datetime] NOT NULL,
	[KEY_COLUMNS] [nvarchar](250) NULL,
	[KEY_DATA] [nvarchar](250) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LSA_SYNC] ADD  DEFAULT (getdate()) FOR [SYNC_DATE]
GO
