USE [VECA]
GO
/****** Object:  Table [dbo].[REQUIREMENT]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUIREMENT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[OPERATION_SEQ_NO] [smallint] NOT NULL,
	[PIECE_NO] [smallint] NOT NULL,
	[SUBORD_WO_SUB_ID] [nvarchar](3) NULL,
	[PART_ID] [nvarchar](30) NULL,
	[REFERENCE] [nvarchar](10) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[QTY_PER] [decimal](20, 8) NOT NULL,
	[QTY_PER_TYPE] [nchar](1) NOT NULL,
	[FIXED_QTY] [decimal](20, 8) NOT NULL,
	[SCRAP_PERCENT] [decimal](5, 2) NOT NULL,
	[DIMENSIONS] [nvarchar](80) NULL,
	[DIM_EXPRESSION] [nvarchar](128) NULL,
	[USAGE_UM] [nvarchar](15) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[DISCONTINUE_DATE] [datetime] NULL,
	[CALC_QTY] [decimal](20, 8) NULL,
	[ISSUED_QTY] [decimal](20, 8) NOT NULL,
	[REQUIRED_DATE] [datetime] NULL,
	[CLOSE_DATE] [datetime] NULL,
	[UNIT_MATERIAL_COST] [decimal](22, 8) NOT NULL,
	[UNIT_LABOR_COST] [decimal](22, 8) NOT NULL,
	[UNIT_BURDEN_COST] [decimal](22, 8) NOT NULL,
	[UNIT_SERVICE_COST] [decimal](22, 8) NOT NULL,
	[BURDEN_PERCENT] [decimal](5, 2) NOT NULL,
	[BURDEN_PER_UNIT] [decimal](22, 8) NOT NULL,
	[FIXED_COST] [decimal](23, 8) NULL,
	[DRAWING_ID] [nvarchar](30) NULL,
	[DRAWING_REV_NO] [nvarchar](8) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[VENDOR_PART_ID] [nvarchar](30) NULL,
	[EST_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[EST_LABOR_COST] [decimal](23, 8) NOT NULL,
	[EST_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[EST_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[REM_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[REM_LABOR_COST] [decimal](23, 8) NOT NULL,
	[REM_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[REM_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NOT NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[MFG_NAME] [nvarchar](30) NULL,
	[MFG_PART_ID] [nvarchar](30) NULL,
	[PROTECT_COST] [nchar](1) NOT NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DRAWING_FILE] [nvarchar](100) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[PLANNING_LEADTIME] [smallint] NULL,
	[REQUIRED_FOR_SETUP] [nchar](1) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[calc_fixed_scrap] [decimal](20, 8) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[WBS_DESCRIPTION] [nvarchar](80) NULL,
	[WBS_CLIN] [nvarchar](15) NULL,
	[WBS_CUSTOMER_WBS] [nvarchar](30) NULL,
	[WBS_CDRL] [nvarchar](30) NULL,
	[WBS_TDC] [nvarchar](30) NULL,
	[INHERIT_WAREHOUSE] [nchar](1) NULL,
	[LOCATION_ID] [nvarchar](15) NULL,
	[DUE_DATE] [datetime] NULL,
	[DISPATCHED] [nchar](1) NULL,
	[ORIG_STAGE_REVISION_ID] [nvarchar](24) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[ALT_PART_PARENT_PIECE_NO] [smallint] NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_REQUIREMENT] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[OPERATION_SEQ_NO] ASC,
	[PIECE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [FIXED_QTY]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [SCRAP_PERCENT]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [ISSUED_QTY]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [UNIT_MATERIAL_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [UNIT_LABOR_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [UNIT_BURDEN_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [UNIT_SERVICE_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [BURDEN_PERCENT]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [BURDEN_PER_UNIT]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [EST_MATERIAL_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [EST_LABOR_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [EST_BURDEN_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [EST_SERVICE_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [REM_MATERIAL_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [REM_LABOR_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [REM_BURDEN_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [REM_SERVICE_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [ACT_MATERIAL_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [ACT_LABOR_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [ACT_BURDEN_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [ACT_SERVICE_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ('') FOR [PROTECT_COST]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[REQUIREMENT] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FKEY0036] FOREIGN KEY([USAGE_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[REQUIREMENT] CHECK CONSTRAINT [FKEY0036]
GO
ALTER TABLE [dbo].[REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FKEY0078] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[REQUIREMENT] CHECK CONSTRAINT [FKEY0078]
GO
ALTER TABLE [dbo].[REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FKEY0095] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[REQUIREMENT] CHECK CONSTRAINT [FKEY0095]
GO
ALTER TABLE [dbo].[REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FKEY0133] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [SUBORD_WO_SUB_ID])
REFERENCES [dbo].[WORK_ORDER] ([TYPE], [BASE_ID], [LOT_ID], [SPLIT_ID], [SUB_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REQUIREMENT] CHECK CONSTRAINT [FKEY0133]
GO
ALTER TABLE [dbo].[REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [CHK0102] CHECK  (([STATUS]='U' OR [STATUS]='F' OR [STATUS]='R' OR [STATUS]='C' OR [STATUS]='X'))
GO
ALTER TABLE [dbo].[REQUIREMENT] CHECK CONSTRAINT [CHK0102]
GO
