USE [VECA]
GO
/****** Object:  Table [dbo].[z_COUNTRY_CODES]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_COUNTRY_CODES](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[COUNTRY] [varchar](50) NULL,
	[COUNTRY_CODE] [varchar](50) NULL,
	[ISO_CODE] [varchar](10) NULL,
 CONSTRAINT [PK_z_COUNTRY_CODES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
