USE [VECA]
GO
/****** Object:  Table [dbo].[ATF_CNT_TBL]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATF_CNT_TBL](
	[rowid] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[serial_number] [varchar](60) NULL,
	[employee_id] [varchar](20) NULL,
	[date_stamp] [datetime] NULL,
	[location_id] [varchar](80) NULL,
	[state] [varchar](20) NULL,
	[record_type] [varchar](20) NULL,
	[ATF_AUDIT_PERIOD_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
