USE [VECA]
GO
/****** Object:  Table [dbo].[PURCHASE_ORDER]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_ORDER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[PURC_ORD_ADDR_NO] [int] NULL,
	[SHIPTO_ADDR_NO] [int] NULL,
	[ORDER_DATE] [datetime] NOT NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[BUYER] [nvarchar](20) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[BACK_ORDER] [nchar](1) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
	[LAST_RECEIVED_DATE] [datetime] NULL,
	[TOTAL_AMT_ORDERED] [decimal](23, 8) NOT NULL,
	[TOTAL_AMT_RECVD] [decimal](23, 8) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[EXCH_RATE_FIXED] [nchar](1) NOT NULL,
	[PROMISE_DATE] [datetime] NULL,
	[PRINTED_DATE] [datetime] NULL,
	[EDI_BLANKET_FLAG] [nchar](1) NULL,
	[EDI_BLANKET_PO_NO] [nvarchar](30) NULL,
	[CONTRACT_ID] [nvarchar](30) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[TERMS_NET_TYPE] [nchar](1) NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_TYPE] [nchar](1) NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](5, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[DISPATCH_ADDR_ID] [nvarchar](20) NULL,
	[CARRIER_ID] [nvarchar](20) NULL,
	[SHIPFROM_ID] [nvarchar](20) NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[DISPATCHED] [nchar](1) NULL,
	[VEND_BANK_ID] [nvarchar](30) NULL,
	[VEND_PACK_ID] [nvarchar](40) NULL,
	[VEND_PACK_DATE] [datetime] NULL,
	[VEND_FREIGHT_ID] [nvarchar](40) NULL,
	[CONSIGNMENT] [nchar](1) NOT NULL,
	[CONSIGNED_WHS_ID] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PROMISE_SHIP_DATE] [datetime] NULL,
	[SALES_ORDER_ID] [nvarchar](100) NULL,
	[SPECIAL_PRICE_AUTH] [nvarchar](100) NULL,
	[TERMS_ID] [nvarchar](15) NULL,
	[INTERNAL_ORDER] [nchar](1) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[ENTERED_BY] [nvarchar](20) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
	[EMAIL_NOTIFICATION] [nchar](1) NOT NULL,
	[EMAIL_VEND_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_VEND_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_VEND_ON_PO_RECEIPT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_PO_RECEIPT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_INV_PAID] [nchar](1) NOT NULL,
	[CONFIRMED_SHIP_DATE] [datetime] NULL,
 CONSTRAINT [PK_PURCHASE_ORDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT (getdate()) FOR [ORDER_DATE]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('') FOR [BACK_ORDER]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_ORDERED]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_RECVD]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('') FOR [EXCH_RATE_FIXED]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('N') FOR [CONSIGNMENT]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_NOTIFICATION]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_VEND_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_VEND_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_VEND_ON_PO_RECEIPT]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_PO_RECEIPT]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_INV_PAID]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_PUR_ORD_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [FK_PUR_ORD_CONT_ID]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0009] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [FKEY0009]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0052] FOREIGN KEY([SHIPTO_ADDR_NO])
REFERENCES [dbo].[SHIPTO_ADDRESS] ([ADDR_NO])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [FKEY0052]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0079] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [FKEY0079]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY9398] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [FKEY9398]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY9629] FOREIGN KEY([TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [FKEY9629]
GO
ALTER TABLE [dbo].[PURCHASE_ORDER]  WITH CHECK ADD  CONSTRAINT [CHK_PURCHASE_ORDER] CHECK  ((([STATUS]='F' OR [STATUS]='R' OR [STATUS]='C' OR [STATUS]='X' OR [STATUS]='Q') AND ([BACK_ORDER]='Y' OR [BACK_ORDER]='N') AND ([POSTING_CANDIDATE]='Y' OR [POSTING_CANDIDATE]='N') AND ([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N') AND ([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E')))
GO
ALTER TABLE [dbo].[PURCHASE_ORDER] CHECK CONSTRAINT [CHK_PURCHASE_ORDER]
GO
