USE [VECA]
GO
/****** Object:  Table [dbo].[Z_CUSTOMER_INV_DATA]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_CUSTOMER_INV_DATA](
	[ROW_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RETAILER] [nvarchar](50) NOT NULL,
	[LOCATION_ID] [nvarchar](50) NULL,
	[PART_ID] [nvarchar](50) NOT NULL,
	[UPC] [nvarchar](50) NOT NULL,
	[FILE_SOURCE] [nvarchar](255) NOT NULL,
	[CREATE_DATE] [date] NOT NULL,
	[QOH] [int] NULL,
	[QOO] [int] NULL,
	[QOB] [int] NULL,
	[QTY_SOLD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
