USE [VECA]
GO
/****** Object:  Table [dbo].[PHYS_TRACE_COUNT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYS_TRACE_COUNT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PHYS_COUNT_ID] [nvarchar](15) NOT NULL,
	[TAG_NO] [int] NOT NULL,
	[SUB_TAG_NO] [int] NOT NULL,
	[TRACE_ID] [nvarchar](30) NOT NULL,
	[SUB_TAG_TOTAL_NO] [int] NOT NULL,
	[SUB_COUNT_QTY] [decimal](20, 8) NULL,
	[SUB_COUNT_USER] [nvarchar](20) NULL,
	[SUB_RECOUNT_QTY] [decimal](20, 8) NULL,
	[SUB_RECOUNT_USER] [nvarchar](20) NULL,
	[SUB_COUNT_DATE] [datetime] NULL,
 CONSTRAINT [PK_PHYS_TRACE_COUNT] PRIMARY KEY CLUSTERED 
(
	[PHYS_COUNT_ID] ASC,
	[TAG_NO] ASC,
	[SUB_TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHYS_TRACE_COUNT]  WITH CHECK ADD  CONSTRAINT [FKEY0177] FOREIGN KEY([PHYS_COUNT_ID], [TAG_NO])
REFERENCES [dbo].[PHYS_COUNT_TAG] ([PHYS_COUNT_ID], [TAG_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHYS_TRACE_COUNT] CHECK CONSTRAINT [FKEY0177]
GO
