USE [VECA]
GO
/****** Object:  Table [dbo].[SCHEDULER_RUN_LOG]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULER_RUN_LOG](
	[SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[COUNT] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[WORK_ORDERS] [int] NOT NULL,
	[OPERATIONS] [int] NOT NULL,
	[REQUIREMENTS] [int] NOT NULL,
	[ERROR_COUNT] [int] NOT NULL,
	[INFINITE_CAPACITY] [nchar](1) NOT NULL,
	[MATERIALS_CHECKED] [nchar](1) NOT NULL,
	[SERVICES_CHECKED] [nchar](1) NOT NULL,
	[RUN_ABORTED] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[HARD_RELEASE_DATE] [nchar](1) NULL,
	[CCR_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SCHEDULER_RUN_LOG] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[COUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCHEDULER_RUN_LOG] ADD  DEFAULT ((0)) FOR [COUNT]
GO
ALTER TABLE [dbo].[SCHEDULER_RUN_LOG] ADD  DEFAULT ((0)) FOR [WORK_ORDERS]
GO
ALTER TABLE [dbo].[SCHEDULER_RUN_LOG] ADD  DEFAULT ((0)) FOR [OPERATIONS]
GO
ALTER TABLE [dbo].[SCHEDULER_RUN_LOG] ADD  DEFAULT ((0)) FOR [REQUIREMENTS]
GO
ALTER TABLE [dbo].[SCHEDULER_RUN_LOG] ADD  DEFAULT ((0)) FOR [ERROR_COUNT]
GO
ALTER TABLE [dbo].[SCHEDULER_RUN_LOG] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
