USE [VECA]
GO
/****** Object:  Table [dbo].[PHYS_COUNT_LOC]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYS_COUNT_LOC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PHYS_COUNT_ID] [nvarchar](15) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NOT NULL,
	[LOCATION_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_PHYS_COUNT_LOC] PRIMARY KEY CLUSTERED 
(
	[PHYS_COUNT_ID] ASC,
	[WAREHOUSE_ID] ASC,
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
