USE [VECA]
GO
/****** Object:  Table [dbo].[_SN_UPLOAD]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_SN_UPLOAD](
	[RowID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SN] [nvarchar](50) NOT NULL,
	[uploaded] [int] NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL
) ON [PRIMARY]
GO
