USE [VECA]
GO
/****** Object:  Table [dbo].[SHIPTO_ADDRESS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPTO_ADDRESS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ADDR_NO] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[ARRIVAL_CODE] [nvarchar](25) NULL,
	[TRANS_CODE] [nvarchar](25) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[NATURE_OF_TRANS] [int] NULL,
	[MODE_OF_TRANSPORT] [int] NULL,
	[SIRET_NUMBER] [decimal](14, 0) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_OVERRIDE_SEQ] [nvarchar](1) NULL,
	[SHIPTO_ADDR_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SHIPTO_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ADDR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_SHIPTOADD_CNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS] CHECK CONSTRAINT [FK_SHIPTOADD_CNTRY]
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9323] FOREIGN KEY([ARRIVAL_CODE])
REFERENCES [dbo].[PORT_OF_ARRIVAL] ([CODE])
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS] CHECK CONSTRAINT [FKEY9323]
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9324] FOREIGN KEY([TRANS_CODE])
REFERENCES [dbo].[PORT_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS] CHECK CONSTRAINT [FKEY9324]
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9326] FOREIGN KEY([NATURE_OF_TRANS])
REFERENCES [dbo].[NATURE_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS] CHECK CONSTRAINT [FKEY9326]
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FKEY9327] FOREIGN KEY([MODE_OF_TRANSPORT])
REFERENCES [dbo].[MODE_OF_TRANSPORT] ([CODE])
GO
ALTER TABLE [dbo].[SHIPTO_ADDRESS] CHECK CONSTRAINT [FKEY9327]
GO
