USE [VECA]
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](80) NOT NULL,
	[REFERENCE_TYPE] [nvarchar](5) NULL,
	[CATEGORY_ID] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DOC_FILE_PATH] [nvarchar](255) NULL,
	[ECN_REVISION] [nchar](1) NULL,
	[REVISION_ID] [nvarchar](8) NULL,
	[STAGE_ID] [nvarchar](15) NULL,
	[ECN_REV_CONTROL] [nchar](1) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[ALLOW_EMAIL] [nchar](1) NULL,
	[PATH_TYPE] [nchar](1) NOT NULL,
	[SITE_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCUMENT] ADD  DEFAULT ('N') FOR [PATH_TYPE]
GO
