USE [VECA]
GO
/****** Object:  Table [dbo].[V_EMPLOYEE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_EMPLOYEE](
	[ID] [nvarchar](15) NOT NULL,
	[ACCT_MANAGER] [smallint] NOT NULL,
	[SRVC_AREA_ID] [nvarchar](15) NULL,
	[SRVC_SUB_AREA_ID] [nvarchar](15) NULL,
	[EMAIL_ADDR] [nvarchar](50) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[CREATOR] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
	[USER_T1] [nvarchar](80) NULL,
	[USER_T2] [nvarchar](80) NULL,
	[USER_T3] [nvarchar](80) NULL,
	[USER_T4] [nvarchar](80) NULL,
	[USER_T5] [nvarchar](80) NULL,
	[USER_D1] [datetime] NULL,
	[USER_D2] [datetime] NULL,
	[USER_D3] [datetime] NULL,
	[USER_N1] [decimal](23, 8) NULL,
	[USER_N2] [decimal](23, 8) NULL,
	[USER_N3] [decimal](23, 8) NULL,
	[USER_N4] [decimal](23, 8) NULL,
	[USER_N5] [decimal](23, 8) NULL,
 CONSTRAINT [X_V_EMPLOYEE_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00108] FOREIGN KEY([SRVC_AREA_ID])
REFERENCES [dbo].[V_AREA] ([ID])
GO
ALTER TABLE [dbo].[V_EMPLOYEE] CHECK CONSTRAINT [FK_VFO_00108]
GO
ALTER TABLE [dbo].[V_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00110] FOREIGN KEY([SRVC_SUB_AREA_ID], [SRVC_AREA_ID])
REFERENCES [dbo].[V_SUB_AREA] ([ID], [AREA_ID])
GO
ALTER TABLE [dbo].[V_EMPLOYEE] CHECK CONSTRAINT [FK_VFO_00110]
GO
