USE [VECA]
GO
/****** Object:  Table [dbo].[V_MERGE_DOCS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_MERGE_DOCS](
	[ID] [nvarchar](15) NOT NULL,
	[LONG_DESC] [nvarchar](254) NULL,
	[FILE_NAME] [nvarchar](254) NULL,
	[CONTEXT] [nvarchar](50) NULL,
	[DEFAULT_DOC] [smallint] NULL,
	[USER_ID] [nvarchar](15) NULL,
	[SQL_SELECT] [nvarchar](254) NULL,
	[SQL_WHERE] [nvarchar](254) NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[ALL_USERS] [smallint] NULL,
	[COMMENTS_BIN] [ntext] NULL,
 CONSTRAINT [X_V_MERGE_DOCS_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
