USE [VECA]
GO
/****** Object:  Table [dbo].[SHIPPER_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPER_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PACKLIST_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_LINE_NO] [smallint] NULL,
	[USER_SHIPPED_QTY] [decimal](20, 8) NOT NULL,
	[SHIPPED_QTY] [decimal](20, 8) NOT NULL,
	[ACT_FREIGHT] [decimal](23, 8) NOT NULL,
	[SHIPPING_WEIGHT] [decimal](14, 4) NULL,
	[WEIGHT_UM] [nvarchar](15) NULL,
	[CARTON_COUNT] [smallint] NULL,
	[TRANSACTION_ID] [int] NULL,
	[NMFC_CODE_ID] [nvarchar](15) NULL,
	[PACKAGE_TYPE] [nvarchar](5) NULL,
	[PALLET_COUNT] [smallint] NULL,
	[SHIPPING_UM] [nvarchar](15) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[GL_REVENUE_ACCT_ID] [nvarchar](30) NULL,
	[LONG_DESCRIPTION] [image] NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[SHIP_DIMENSIONS] [nvarchar](50) NULL,
	[SERVICE_CHARGE_ID] [nvarchar](15) NULL,
	[MISC_REFERENCE] [nvarchar](120) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[RMA_ID] [nvarchar](15) NULL,
	[RMA_LINE_NO] [smallint] NULL,
	[HTS_CODE] [nvarchar](20) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](50) NULL,
	[ITA_SPECIAL_CHARGE] [nvarchar](1) NULL,
	[NET_SHIP_WEIGHT] [decimal](14, 4) NULL,
	[TARE_WEIGHT] [decimal](14, 4) NULL,
	[NO_INVOICE] [nchar](1) NULL,
	[REVENUE_STATUS] [nchar](1) NULL,
	[RECEIVABLE_AMOUNT] [decimal](23, 8) NULL,
	[INTRASTAT_AMOUNT] [decimal](23, 8) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
	[SERVICE_CHG_SITE_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SHIPPER_LINE] PRIMARY KEY CLUSTERED 
(
	[PACKLIST_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHIPPER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0161] FOREIGN KEY([CUST_ORDER_ID], [CUST_ORDER_LINE_NO])
REFERENCES [dbo].[CUST_ORDER_LINE] ([CUST_ORDER_ID], [LINE_NO])
GO
ALTER TABLE [dbo].[SHIPPER_LINE] CHECK CONSTRAINT [FKEY0161]
GO
ALTER TABLE [dbo].[SHIPPER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0163] FOREIGN KEY([PACKLIST_ID])
REFERENCES [dbo].[SHIPPER] ([PACKLIST_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHIPPER_LINE] CHECK CONSTRAINT [FKEY0163]
GO
ALTER TABLE [dbo].[SHIPPER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9380] FOREIGN KEY([RMA_ID], [RMA_LINE_NO])
REFERENCES [dbo].[RMA_LINE] ([RMA_ID], [LINE_NO])
GO
ALTER TABLE [dbo].[SHIPPER_LINE] CHECK CONSTRAINT [FKEY9380]
GO
