USE [VECA]
GO
/****** Object:  Table [dbo].[Z_GL_MAPPING]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_GL_MAPPING](
	[ACCOUNT_ID] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](70) NOT NULL,
	[ACCOUNT_CLASS] [nvarchar](50) NOT NULL,
	[ACCOUNT_CAT_ID] [nvarchar](50) NOT NULL,
	[ACTIVE_FLAG] [bit] NOT NULL,
	[POSTING_LEVEL] [tinyint] NOT NULL,
	[FS] [nvarchar](50) NULL,
	[FS_CAT] [nvarchar](50) NULL,
	[FS_COND] [nvarchar](50) NULL,
	[FS_DET] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[CC_CAT] [nvarchar](50) NULL,
	[BREAK_CAT] [nvarchar](50) NULL,
	[EFFECTIVE_START_DATE] [date] NOT NULL,
	[EFFECTIVE_END_DATE] [date] NOT NULL,
 CONSTRAINT [PK_Z_GL_MAPPING] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[EFFECTIVE_START_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Z_GL_MAPPING] ADD  CONSTRAINT [DF_Z_GL_MAPPING_EFFECTIVE_START_DATE]  DEFAULT ('19000101') FOR [EFFECTIVE_START_DATE]
GO
ALTER TABLE [dbo].[Z_GL_MAPPING] ADD  CONSTRAINT [DF_Z_GL_MAPPING_EFFECTIVE_END_DATE]  DEFAULT ('25000101') FOR [EFFECTIVE_END_DATE]
GO
