USE [VECA]
GO
/****** Object:  Table [dbo].[V_INST_LINE]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_INST_LINE](
	[INSTALLMENT_ID] [nvarchar](15) NOT NULL,
	[INST_TYPE] [nvarchar](2) NOT NULL,
	[INST_NO] [smallint] NOT NULL,
	[INST_PERCENT] [decimal](6, 3) NOT NULL,
	[PERIOD] [smallint] NOT NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
 CONSTRAINT [X_V_INST_LINE_0] PRIMARY KEY CLUSTERED 
(
	[INSTALLMENT_ID] ASC,
	[INST_TYPE] ASC,
	[INST_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_INST_LINE] ADD  DEFAULT ((100)) FOR [INST_PERCENT]
GO
ALTER TABLE [dbo].[V_INST_LINE]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00256] FOREIGN KEY([INSTALLMENT_ID], [INST_TYPE])
REFERENCES [dbo].[V_INST] ([ID], [INST_TYPE])
GO
ALTER TABLE [dbo].[V_INST_LINE] CHECK CONSTRAINT [FK_VFO_00256]
GO
