USE [VECA]
GO
/****** Object:  Table [dbo].[DBR_EVENT_DETECT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBR_EVENT_DETECT](
	[EVENT_CLASS] [nvarchar](2) NOT NULL,
	[EVENT_ACTION] [nvarchar](2) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[DOC_TYPE] [nvarchar](2) NULL,
	[DOC_BASE_ID] [nvarchar](30) NULL,
	[DOC_LOT_ID] [nvarchar](15) NULL,
	[DOC_SPLIT_ID] [nvarchar](3) NULL,
	[DOC_SUB_ID] [nvarchar](3) NULL,
	[DOC_SEQ_NO] [int] NULL,
	[DOC_SUB_SEQ_NO] [smallint] NULL,
	[CAUSE] [nvarchar](5) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[STATUS] [nchar](1) NULL,
	[ERROR_MSG] [nvarchar](250) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DBR_EVENT_DETECT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
