USE [VECA]
GO
/****** Object:  Table [dbo].[QUOTE_PRICE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOTE_PRICE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QUOTE_ID] [nvarchar](15) NOT NULL,
	[QUOTE_LINE_NO] [smallint] NOT NULL,
	[QTY] [decimal](20, 8) NOT NULL,
	[CALC_UNIT_COST] [decimal](22, 8) NULL,
	[CALC_UNIT_PRICE] [decimal](22, 8) NULL,
	[UNIT_PRICE] [decimal](22, 8) NOT NULL,
	[SELLING_UM] [nvarchar](15) NULL,
	[PUR_MATL_PERCENT] [decimal](6, 3) NULL,
	[FAB_MATL_PERCENT] [decimal](6, 3) NULL,
	[LABOR_PERCENT] [decimal](6, 3) NULL,
	[BURDEN_PERCENT] [decimal](6, 3) NULL,
	[SERVICE_PERCENT] [decimal](6, 3) NULL,
	[PUR_MATL_MARKUP] [decimal](23, 8) NULL,
	[FAB_MATL_MARKUP] [decimal](23, 8) NULL,
	[LABOR_MARKUP] [decimal](23, 8) NULL,
	[BURDEN_MARKUP] [decimal](23, 8) NULL,
	[SERVICE_MARKUP] [decimal](23, 8) NULL,
	[IN_PROFORMA] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[PUR_MATL_GSA] [decimal](6, 3) NULL,
	[FAB_MATL_GSA] [decimal](6, 3) NULL,
	[LABOR_GSA] [decimal](6, 3) NULL,
	[BURDEN_GSA] [decimal](6, 3) NULL,
	[SERVICE_GSA] [decimal](6, 3) NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NULL,
	[IN_TOTAL] [nchar](1) NOT NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
 CONSTRAINT [PK_QUOTE_PRICE] PRIMARY KEY CLUSTERED 
(
	[QUOTE_ID] ASC,
	[QUOTE_LINE_NO] ASC,
	[QTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QUOTE_PRICE] ADD  DEFAULT ('') FOR [IN_PROFORMA]
GO
ALTER TABLE [dbo].[QUOTE_PRICE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[QUOTE_PRICE] ADD  DEFAULT ('') FOR [IN_TOTAL]
GO
ALTER TABLE [dbo].[QUOTE_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY0182] FOREIGN KEY([QUOTE_ID], [QUOTE_LINE_NO])
REFERENCES [dbo].[QUOTE_LINE] ([QUOTE_ID], [LINE_NO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUOTE_PRICE] CHECK CONSTRAINT [FKEY0182]
GO
ALTER TABLE [dbo].[QUOTE_PRICE]  WITH CHECK ADD  CONSTRAINT [CHK0058] CHECK  (([IN_PROFORMA]='Y' OR [IN_PROFORMA]='N' AND ([IN_TOTAL]='Y' OR [IN_TOTAL]='N')))
GO
ALTER TABLE [dbo].[QUOTE_PRICE] CHECK CONSTRAINT [CHK0058]
GO
