USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_GROUP_RELATION]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_GROUP_RELATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GROUP_ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_CUST_GROUP_RELATION] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
