USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_CONT_EML_DOC]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_CONT_EML_DOC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[CONTACT_NO] [smallint] NOT NULL,
	[DOCUMENT_TYPE] [nvarchar](3) NOT NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_CONT_EML_DOC]  WITH CHECK ADD  CONSTRAINT [FKEY9605] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUST_CONT_EML_DOC] CHECK CONSTRAINT [FKEY9605]
GO
