USE [VECA]
GO
/****** Object:  Table [dbo].[EC_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EC_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EC_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[TYPE] [nvarchar](5) NOT NULL,
	[STATUS] [nvarchar](5) NOT NULL,
	[WO_TYPE] [nvarchar](3) NULL,
	[WO_BASE_ID] [nvarchar](30) NULL,
	[WO_LOT_ID] [nvarchar](3) NULL,
	[WO_SPLIT_ID] [nvarchar](3) NULL,
	[PART_ID] [nvarchar](30) NULL,
	[ENG_ID] [nvarchar](3) NULL,
	[DISPOSITION_CODE] [nvarchar](15) NULL,
	[DOC_ID] [nvarchar](100) NULL,
	[FILE_LOCATION] [nvarchar](254) NULL,
	[LINKED_EC_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[LOCKED] [nchar](1) NULL,
	[UPDATE_REV] [nchar](1) NULL,
	[NEW_STAGE_ID] [nvarchar](15) NULL,
	[OLD_REVISION_ID] [nvarchar](8) NULL,
	[NEW_REVISION_ID] [nvarchar](8) NULL,
	[REV_INCORPORATED] [nchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_EC_LINE] PRIMARY KEY CLUSTERED 
(
	[EC_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EC_LINE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[EC_LINE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[EC_LINE]  WITH CHECK ADD  CONSTRAINT [FK_EC_LINE] FOREIGN KEY([EC_ID])
REFERENCES [dbo].[EC] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EC_LINE] CHECK CONSTRAINT [FK_EC_LINE]
GO
