USE [VECA]
GO
/****** Object:  Table [dbo].[PART_LOCATION]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_LOCATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NOT NULL,
	[LOCATION_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[HOLD_REASON_ID] [nvarchar](15) NULL,
	[QTY] [decimal](20, 8) NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[LOCKED] [nchar](1) NOT NULL,
	[TRANSIT] [nchar](1) NOT NULL,
	[LAST_COUNT_DATE] [datetime] NULL,
	[PURGE_QTY] [decimal](20, 8) NULL,
	[COMMITTED_QTY] [decimal](20, 8) NOT NULL,
	[DEF_BACKFLUSH_LOC] [nchar](1) NOT NULL,
	[AUTO_ISSUE_LOC] [nchar](1) NOT NULL,
	[DEF_INSPECT_LOC] [nchar](1) NOT NULL,
	[DC_CLASS_ID] [nchar](1) NULL,
	[ORDER_POINT] [decimal](20, 8) NULL,
	[ORDER_UP_TO_QTY] [decimal](20, 8) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[FROM_HOLD_REASON_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_PART_LOCATION] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[WAREHOUSE_ID] ASC,
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT ((0)) FOR [QTY]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT ('N') FOR [LOCKED]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT ('N') FOR [TRANSIT]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT ((0)) FOR [COMMITTED_QTY]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT ('N') FOR [DEF_BACKFLUSH_LOC]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT ('N') FOR [AUTO_ISSUE_LOC]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT ('N') FOR [DEF_INSPECT_LOC]
GO
ALTER TABLE [dbo].[PART_LOCATION] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PART_LOCATION]  WITH CHECK ADD  CONSTRAINT [FKEY0092] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PART_LOCATION] CHECK CONSTRAINT [FKEY0092]
GO
ALTER TABLE [dbo].[PART_LOCATION]  WITH CHECK ADD  CONSTRAINT [FKEY0119] FOREIGN KEY([WAREHOUSE_ID], [LOCATION_ID])
REFERENCES [dbo].[LOCATION] ([WAREHOUSE_ID], [ID])
GO
ALTER TABLE [dbo].[PART_LOCATION] CHECK CONSTRAINT [FKEY0119]
GO
ALTER TABLE [dbo].[PART_LOCATION]  WITH CHECK ADD  CONSTRAINT [FKEY0265] FOREIGN KEY([HOLD_REASON_ID])
REFERENCES [dbo].[HOLD_REASON] ([ID])
GO
ALTER TABLE [dbo].[PART_LOCATION] CHECK CONSTRAINT [FKEY0265]
GO
ALTER TABLE [dbo].[PART_LOCATION]  WITH CHECK ADD  CONSTRAINT [CHK9017] CHECK  ((([STATUS]='H' OR [STATUS]='U' OR [STATUS]='A') AND ([LOCKED]='Y' OR [LOCKED]='N') AND ([TRANSIT]='Y' OR [TRANSIT]='N') AND ([DEF_BACKFLUSH_LOC]='Y' OR [DEF_BACKFLUSH_LOC]='N') AND ([AUTO_ISSUE_LOC]='Y' OR [AUTO_ISSUE_LOC]='N') AND ([DEF_INSPECT_LOC]='Y' OR [DEF_INSPECT_LOC]='N')))
GO
ALTER TABLE [dbo].[PART_LOCATION] CHECK CONSTRAINT [CHK9017]
GO
