USE [VECA]
GO
/****** Object:  Table [dbo].[V_USER_DEF_LIST]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_USER_DEF_LIST](
	[BUS_TYPE] [smallint] NOT NULL,
	[FIELD_NAME] [nvarchar](40) NOT NULL,
	[CODE] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_USER_DEF_LIST_0] PRIMARY KEY CLUSTERED 
(
	[BUS_TYPE] ASC,
	[FIELD_NAME] ASC,
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
