USE [VECA]
GO
/****** Object:  Table [dbo].[z_OVERRIDES]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_OVERRIDES](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [varchar](30) NULL,
	[OVERRIDE] [varchar](40) NULL,
	[NOTE_COMMENT] [varchar](80) NULL,
	[DATE_ADDED] [date] NULL,
 CONSTRAINT [PK_z_OVERRIDES] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
