USE [VECA]
GO
/****** Object:  Table [dbo].[TERMS_INST]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMS_INST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TERMS_ID] [nvarchar](15) NOT NULL,
	[INST_NO] [smallint] NOT NULL,
	[INST_PERCENT] [decimal](6, 3) NOT NULL,
	[PERIOD] [smallint] NOT NULL,
 CONSTRAINT [PK_TERMS_INST] PRIMARY KEY CLUSTERED 
(
	[TERMS_ID] ASC,
	[INST_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TERMS_INST] ADD  DEFAULT ((0)) FOR [INST_PERCENT]
GO
ALTER TABLE [dbo].[TERMS_INST]  WITH CHECK ADD  CONSTRAINT [FK_TERMS_INST_00] FOREIGN KEY([TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TERMS_INST] CHECK CONSTRAINT [FK_TERMS_INST_00]
GO
