USE [VECA]
GO
/****** Object:  Table [dbo].[z_HISTORICAL_WHERE_USED]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_HISTORICAL_WHERE_USED](
	[PART_ID] [nvarchar](50) NULL,
	[MATL] [nvarchar](50) NULL,
	[PRODUCT_CODE] [nvarchar](50) NULL,
	[COMMODITY_CODE] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](80) NULL
) ON [PRIMARY]
GO
