USE [VECA]
GO
/****** Object:  Table [dbo].[SHOP_GROUP]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP_GROUP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GROUP_RESOURCE_ID] [nvarchar](15) NOT NULL,
	[SEQ_NO] [smallint] NOT NULL,
	[SUB_RESOURCE_ID] [nvarchar](15) NOT NULL,
	[EFFICIENCY_FACTOR] [decimal](15, 8) NULL,
 CONSTRAINT [PK_SHOP_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_RESOURCE_ID] ASC,
	[SEQ_NO] ASC,
	[SUB_RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHOP_GROUP]  WITH CHECK ADD  CONSTRAINT [FKEY0123] FOREIGN KEY([GROUP_RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHOP_GROUP] CHECK CONSTRAINT [FKEY0123]
GO
ALTER TABLE [dbo].[SHOP_GROUP]  WITH CHECK ADD  CONSTRAINT [FKEY0124] FOREIGN KEY([SUB_RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[SHOP_GROUP] CHECK CONSTRAINT [FKEY0124]
GO
