USE [VECA]
GO
/****** Object:  Table [dbo].[VR_RECEIVABLE_HDR]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VR_RECEIVABLE_HDR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[INVOICE_ID] [nvarchar](15) NULL,
	[INVOICE_DATE] [datetime] NULL,
	[LAST_PAID_DATE] [datetime] NULL,
	[ZERO_DATE] [datetime] NULL,
	[POSTING_DATE] [datetime] NULL,
	[DUE_DATE] [datetime] NULL,
	[TOTAL_AMOUNT] [decimal](23, 8) NULL,
	[PAID_AMOUNT] [decimal](23, 8) NULL,
	[DISCOUNT_GIVEN] [decimal](23, 8) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[CUSTOMER_NAME] [nvarchar](50) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[SELL_RATE] [decimal](15, 8) NULL,
	[INVOICE_STYLE] [nvarchar](20) NULL
) ON [PRIMARY]
GO
