USE [VECA]
GO
/****** Object:  Table [dbo].[SALES_REP]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_REP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](40) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[EMPLOYEE_ID] [nvarchar](15) NULL,
	[PAY_METHOD] [nchar](1) NOT NULL,
	[DEF_COMMISSION_PCT] [decimal](6, 3) NULL,
	[EARNING_CODE_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SALES_REP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SALES_REP] ADD  DEFAULT ('') FOR [PAY_METHOD]
GO
ALTER TABLE [dbo].[SALES_REP]  WITH CHECK ADD  CONSTRAINT [FKEY0049] FOREIGN KEY([EARNING_CODE_ID])
REFERENCES [dbo].[EARNING_CODE] ([ID])
GO
ALTER TABLE [dbo].[SALES_REP] CHECK CONSTRAINT [FKEY0049]
GO
ALTER TABLE [dbo].[SALES_REP]  WITH CHECK ADD  CONSTRAINT [FKEY0072] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[SALES_REP] CHECK CONSTRAINT [FKEY0072]
GO
ALTER TABLE [dbo].[SALES_REP]  WITH CHECK ADD  CONSTRAINT [FKEY0085] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[SALES_REP] CHECK CONSTRAINT [FKEY0085]
GO
ALTER TABLE [dbo].[SALES_REP]  WITH CHECK ADD  CONSTRAINT [CHK0003] CHECK  (([PAY_METHOD]='P' OR [PAY_METHOD]='A' OR [PAY_METHOD]='N'))
GO
ALTER TABLE [dbo].[SALES_REP] CHECK CONSTRAINT [CHK0003]
GO
