USE [VECA]
GO
/****** Object:  Table [dbo].[DRILLBACK]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRILLBACK](
	[ID] [nvarchar](50) NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[PROGRAM_NAME] [nvarchar](80) NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_DRILLBACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[PROGRAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
