USE [VECA]
GO
/****** Object:  Table [dbo].[EC]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[ORIGINATOR] [nvarchar](20) NOT NULL,
	[ASSIGNED_TO] [nvarchar](20) NULL,
	[STATUS] [nvarchar](5) NOT NULL,
	[ON_HOLD_STATUS] [nvarchar](5) NULL,
	[REQUEST_DATE] [datetime] NULL,
	[WANT_DATE] [datetime] NULL,
	[AUTH_DATE] [datetime] NULL,
	[IMPL_DATE] [datetime] NULL,
	[APRV_DATE] [datetime] NULL,
	[DIST_DATE] [datetime] NULL,
	[TYPE] [nvarchar](15) NULL,
	[REASON] [nvarchar](15) NULL,
	[PRIORITY] [int] NOT NULL,
	[ORIGIN_ID] [nvarchar](20) NULL,
	[ORIGIN_TYPE] [nvarchar](15) NULL,
	[HAS_SUBORDINATES] [nchar](1) NULL,
	[EXT_TASKS_DONE] [nchar](1) NULL,
	[REWORK_COST] [decimal](23, 8) NULL,
	[SCRAP_COST] [decimal](23, 8) NULL,
	[ECN_COST] [decimal](23, 8) NULL,
	[COST_COMMENT] [nvarchar](254) NULL,
	[CREATED_BY] [nvarchar](20) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[LOCKED] [nchar](1) NULL,
	[NEXT_LINE_NO] [int] NOT NULL,
	[UPDATE_PART_REV] [nchar](1) NULL,
	[UPDATE_DOC_REV] [nchar](1) NULL,
	[UPDATE_LEVEL] [nvarchar](5) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_EC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EC] ADD  DEFAULT ((0)) FOR [PRIORITY]
GO
ALTER TABLE [dbo].[EC] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[EC] ADD  DEFAULT ((0)) FOR [NEXT_LINE_NO]
GO
ALTER TABLE [dbo].[EC] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
