USE [VECA]
GO
/****** Object:  Table [dbo].[z_US_ZIP_CODES]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_US_ZIP_CODES](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZIP] [int] NULL,
	[ZIPTEXT] [varchar](12) NULL,
	[TYPE] [varchar](20) NULL,
	[DECOMMISSIONED] [nchar](10) NULL,
	[PRIMARY_CITY] [varchar](50) NULL,
	[ACCEPTABLE_CITIES] [varchar](100) NULL,
	[UNACCEPTABLE_CITIES] [varchar](max) NULL,
	[STATE] [varchar](10) NULL,
	[COUNTY] [varchar](50) NULL,
	[WORLD_REGION] [varchar](2) NULL,
	[COUNTRY] [varchar](2) NULL,
	[LATITUDE] [decimal](6, 2) NULL,
	[LONGITUDE] [decimal](6, 2) NULL,
 CONSTRAINT [PK_z_US_ZIP_CODES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
