USE [VECA]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[LAST_NAME] [nvarchar](30) NULL,
	[FIRST_NAME] [nvarchar](30) NULL,
	[MIDDLE_INITIAL] [nchar](2) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[PHONE] [nvarchar](20) NULL,
	[TYPE] [nchar](1) NOT NULL,
	[DEPARTMENT_ID] [nvarchar](15) NOT NULL,
	[ACTIVE] [nchar](1) NOT NULL,
	[SHIFT_ID] [nvarchar](15) NULL,
	[EARNING_CODE_ID] [nvarchar](15) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[USER_ID] [nvarchar](20) NULL,
	[EMAIL_ADDR] [nvarchar](80) NULL,
	[PAYROLL_SITE_ID] [nvarchar](15) NULL,
	[EMPLOYEE_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT ('') FOR [TYPE]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT ('') FOR [ACTIVE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FKEY0050] FOREIGN KEY([EARNING_CODE_ID])
REFERENCES [dbo].[EARNING_CODE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FKEY0050]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FKEY0263] FOREIGN KEY([SHIFT_ID])
REFERENCES [dbo].[SHIFT] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FKEY0263]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [CHK0013] CHECK  (([TYPE]='S' OR [TYPE]='H'))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CHK0013]
GO
