USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_CONTACT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_CONTACT](
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[CONTACT_NO] [smallint] NULL,
	[CONTACT_ID] [nvarchar](25) NOT NULL,
	[PRIMARY_CONTACT] [nchar](1) NOT NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_CUST_CONTACT] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_CONTACT] ADD  DEFAULT ('N') FOR [PRIMARY_CONTACT]
GO
ALTER TABLE [dbo].[CUST_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_CUST_CONT_CONT] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[CUST_CONTACT] CHECK CONSTRAINT [FK_CUST_CONT_CONT]
GO
ALTER TABLE [dbo].[CUST_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_CUST_CONT_CUST] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[CUST_CONTACT] CHECK CONSTRAINT [FK_CUST_CONT_CUST]
GO
