USE [VECA]
GO
/****** Object:  Table [dbo].[RECEIVER_LINE_DEL]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVER_LINE_DEL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_LINE_NO] [smallint] NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[PURC_DEL_LINE_NO] [smallint] NULL,
	[USER_RECEIVED_QTY] [decimal](20, 8) NULL,
	[RECEIVED_QTY] [decimal](20, 8) NULL,
	[PIECE_COUNT] [int] NULL,
 CONSTRAINT [PK_RECEIVER_LINE_DEL] PRIMARY KEY CLUSTERED 
(
	[RECEIVER_ID] ASC,
	[RECEIVER_LINE_NO] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECEIVER_LINE_DEL] ADD  CONSTRAINT [DF__RECEIVER_LINE_DEL__VM__00000001]  DEFAULT ((0)) FOR [USER_RECEIVED_QTY]
GO
ALTER TABLE [dbo].[RECEIVER_LINE_DEL] ADD  CONSTRAINT [DF__RECEIVER_LINE_DEL__VM__00000002]  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[RECEIVER_LINE_DEL]  WITH CHECK ADD  CONSTRAINT [FKEY9374] FOREIGN KEY([PURC_ORDER_ID], [PURC_ORDER_LINE_NO])
REFERENCES [dbo].[PURC_ORDER_LINE] ([PURC_ORDER_ID], [LINE_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECEIVER_LINE_DEL] CHECK CONSTRAINT [FKEY9374]
GO
