USE [VECA]
GO
/****** Object:  Table [dbo].[IBT_SHIPPER_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBT_SHIPPER_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SHIPPER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[IBT_ID] [nvarchar](15) NOT NULL,
	[IBT_LINE_NO] [int] NOT NULL,
	[USER_SHIPPED_QTY] [decimal](20, 8) NOT NULL,
	[SHIPPED_QTY] [decimal](20, 8) NOT NULL,
	[ACT_FREIGHT] [decimal](23, 8) NOT NULL,
	[SHIPPING_WEIGHT] [decimal](14, 4) NULL,
	[WEIGHT_UM] [nvarchar](15) NULL,
	[CARTON_COUNT] [int] NULL,
	[IN_TRANSACTION_ID] [int] NULL,
	[OUT_TRANSACTION_ID] [int] NULL,
	[NMFC_CODE_ID] [nvarchar](15) NULL,
	[PACKAGE_TYPE] [nvarchar](5) NULL,
	[PALLET_COUNT] [int] NULL,
	[SHIPPING_UM] [nvarchar](15) NULL,
	[LONG_DESCRIPTION] [image] NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[SHIP_DIMENSIONS] [nvarchar](50) NULL,
	[SERVICE_CHARGE_ID] [nvarchar](15) NULL,
	[MISC_REFERENCE] [nvarchar](40) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[ITA_SPECIAL_CHARGE] [nvarchar](1) NULL,
	[NET_SHIP_WEIGHT] [decimal](14, 4) NULL,
	[TARE_WEIGHT] [decimal](14, 4) NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
 CONSTRAINT [PK_IBT_SHIPPER_LINE] PRIMARY KEY CLUSTERED 
(
	[SHIPPER_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBT_SHIPPER_LINE] ADD  DEFAULT ((0)) FOR [ACT_FREIGHT]
GO
ALTER TABLE [dbo].[IBT_SHIPPER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9492] FOREIGN KEY([SHIPPER_ID])
REFERENCES [dbo].[IBT_SHIPPER] ([SHIPPER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IBT_SHIPPER_LINE] CHECK CONSTRAINT [FKEY9492]
GO
