USE [VECA]
GO
/****** Object:  Table [dbo].[PART_WAREHOUSE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_WAREHOUSE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[MIN_INV_QTY] [decimal](20, 8) NOT NULL,
	[COMMITTED_CO] [decimal](20, 8) NOT NULL,
	[COMMITTED_REQ] [decimal](20, 8) NOT NULL,
	[COMMITTED_PLREQ] [decimal](20, 8) NOT NULL,
	[COMMITTED_IBT] [decimal](20, 8) NOT NULL,
	[AVAILABLE_QTY] [decimal](20, 8) NOT NULL,
	[EXPECTED_PO] [decimal](20, 8) NOT NULL,
	[EXPECTED_WO] [decimal](20, 8) NOT NULL,
	[EXPECTED_PL] [decimal](20, 8) NOT NULL,
	[EXPECTED_IBT] [decimal](20, 8) NOT NULL,
	[EXPECT_COMMIT_CO] [decimal](20, 8) NOT NULL,
	[EXPECT_COMMIT_REQ] [decimal](20, 8) NOT NULL,
	[EXPECT_COMMIT_PLR] [decimal](20, 8) NOT NULL,
	[EXPECT_COMMIT_IBT] [decimal](20, 8) NOT NULL,
	[UNALLOC_DEMAND_QTY] [decimal](20, 8) NOT NULL,
	[OUTBOUND_QTY] [decimal](20, 8) NOT NULL,
	[ON_HOLD_QTY] [decimal](20, 8) NOT NULL,
	[LOCKED_QTY] [decimal](20, 8) NOT NULL,
	[UNAVAILABLE_QTY] [decimal](20, 8) NOT NULL,
	[AUTO_CREATE] [nchar](1) NOT NULL,
	[SOURCE_TYPE] [nchar](1) NULL,
	[SOURCE_ID] [nvarchar](15) NULL,
	[PLANNING_LEADTIME] [smallint] NOT NULL,
	[ORDER_POLICY] [nchar](1) NOT NULL,
	[ORDER_POINT] [decimal](20, 8) NULL,
	[ORDER_UP_TO_QTY] [decimal](20, 8) NULL,
	[SAFETY_STOCK_QTY] [decimal](20, 8) NULL,
	[FIXED_ORDER_QTY] [decimal](20, 8) NULL,
	[DAYS_OF_SUPPLY] [smallint] NULL,
	[MINIMUM_ORDER_QTY] [decimal](20, 8) NULL,
	[MAXIMUM_ORDER_QTY] [decimal](20, 8) NULL,
	[PLANNER_USER_ID] [nvarchar](20) NULL,
	[BUYER_USER_ID] [nvarchar](20) NULL,
	[ANNUAL_USAGE_QTY] [decimal](20, 8) NULL,
	[MULTIPLE_ORDER_QTY] [decimal](20, 8) NULL,
	[DEMAND_FENCE_1] [int] NULL,
	[DEMAND_FENCE_2] [int] NULL,
	[MRP_EXCEPTIONS] [nchar](1) NULL,
	[MRP_EXCEPTION_INFO] [nvarchar](80) NULL,
	[MRP_REQUIRED] [nchar](1) NULL,
	[MINIMUM_LEADTIME] [smallint] NULL,
	[LEADTIME_BUFFER] [smallint] NULL,
	[EMERGENCY_STOCKPCT] [int] NULL,
	[YELLOW_STOCKPCT] [int] NULL,
	[REPLENISH_LEVEL] [decimal](20, 8) NULL,
	[COUNT_SEQUENCE] [int] NOT NULL,
	[BUFFER_PROFILE_ID] [nvarchar](15) NULL,
	[ADU_HORIZON] [smallint] NULL,
	[ASR_LEADTIME] [smallint] NULL,
	[ONHAND_ALERT_RED_PCT] [smallint] NULL,
 CONSTRAINT [PK_PART_WAREHS] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC,
	[PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [MIN_INV_QTY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [COMMITTED_CO]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [COMMITTED_REQ]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [COMMITTED_PLREQ]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [COMMITTED_IBT]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [AVAILABLE_QTY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECTED_PO]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECTED_WO]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECTED_PL]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECTED_IBT]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECT_COMMIT_CO]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECT_COMMIT_REQ]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECT_COMMIT_PLR]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [EXPECT_COMMIT_IBT]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [UNALLOC_DEMAND_QTY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [OUTBOUND_QTY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [ON_HOLD_QTY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [LOCKED_QTY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [UNAVAILABLE_QTY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((0)) FOR [PLANNING_LEADTIME]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ('') FOR [ORDER_POLICY]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] ADD  DEFAULT ((1)) FOR [COUNT_SEQUENCE]
GO
ALTER TABLE [dbo].[PART_WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_PART_WHS_BUF_PROFILE] FOREIGN KEY([BUFFER_PROFILE_ID])
REFERENCES [dbo].[BUFFER_PROFILE] ([ID])
GO
ALTER TABLE [dbo].[PART_WAREHOUSE] CHECK CONSTRAINT [FK_PART_WHS_BUF_PROFILE]
GO
