USE [VECA]
GO
/****** Object:  Table [dbo].[TRACE_HISTORY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACE_HISTORY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[TRACE_ID] [nvarchar](30) NOT NULL,
	[ORIG_TRACE_ID] [nvarchar](30) NOT NULL,
	[APROPERTY_1] [nvarchar](80) NULL,
	[APROPERTY_2] [nvarchar](80) NULL,
	[APROPERTY_3] [nvarchar](80) NULL,
	[APROPERTY_4] [nvarchar](80) NULL,
	[APROPERTY_5] [nvarchar](80) NULL,
	[NPROPERTY_1] [decimal](15, 6) NULL,
	[NPROPERTY_2] [decimal](15, 6) NULL,
	[NPROPERTY_3] [decimal](15, 6) NULL,
	[NPROPERTY_4] [decimal](15, 6) NULL,
	[NPROPERTY_5] [decimal](15, 6) NULL,
	[NUMBERING_ID] [nvarchar](30) NULL,
	[REPORTED_QTY] [decimal](20, 8) NULL,
	[ASSIGNED_QTY] [decimal](20, 8) NULL,
	[COMMENTS] [nvarchar](250) NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[HIST_COMMENTS] [nvarchar](250) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[LOT_ID] [nvarchar](30) NULL,
	[SERIAL_ID] [nvarchar](30) NULL,
	[COMMITTED_QTY] [decimal](20, 8) NULL,
	[PRODUCTION_DATE] [datetime] NULL,
	[RECEIVE_BY_DATE] [datetime] NULL,
	[AVAILABLE_DATE] [datetime] NULL,
	[SHIP_BY_DATE] [datetime] NULL,
 CONSTRAINT [PK_TRACE_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[TRACE_ID] ASC,
	[CREATE_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRACE_HISTORY] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
