USE [VECA]
GO
/****** Object:  Table [dbo].[WORKORDER_BINARY]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDER_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_WORKORDER_BINARY] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WORKORDER_BINARY]  WITH CHECK ADD  CONSTRAINT [FKEY0134] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID])
REFERENCES [dbo].[WORK_ORDER] ([TYPE], [BASE_ID], [LOT_ID], [SPLIT_ID], [SUB_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WORKORDER_BINARY] CHECK CONSTRAINT [FKEY0134]
GO
ALTER TABLE [dbo].[WORKORDER_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK0024] CHECK  (([TYPE]='D' OR [TYPE]='B' OR [TYPE]='P'))
GO
ALTER TABLE [dbo].[WORKORDER_BINARY] CHECK CONSTRAINT [CHK0024]
GO
