USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_SITE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[PRIORITY_CODE] [nvarchar](15) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[CUSTOMER_TYPE] [nvarchar](20) NULL,
	[ORDER_FILL_RATE] [decimal](5, 2) NOT NULL,
	[FILL_RATE_TYPE] [nchar](1) NULL,
	[ALLOCATION_FENCE] [int] NULL,
	[CO_ALLOC_LEVEL] [nchar](1) NULL,
	[REALLOCATE] [nchar](1) NULL,
	[CONSOLIDATE_ORDERS] [nchar](1) NULL,
	[COMPLIANCE_LABEL] [nchar](1) NULL,
	[AUTO_ALLOCATE] [nchar](1) NULL,
	[EMAIL_INVOICE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_CUSTOMER_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_SITE] ADD  DEFAULT ((0)) FOR [ORDER_FILL_RATE]
GO
ALTER TABLE [dbo].[CUSTOMER_SITE] ADD  DEFAULT ('N') FOR [EMAIL_INVOICE]
GO
ALTER TABLE [dbo].[CUSTOMER_SITE]  WITH CHECK ADD  CONSTRAINT [FK_CUST_SITE_TO_CUST] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_SITE] CHECK CONSTRAINT [FK_CUST_SITE_TO_CUST]
GO
ALTER TABLE [dbo].[CUSTOMER_SITE]  WITH CHECK ADD  CONSTRAINT [FK_CUST_SITE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_SITE] CHECK CONSTRAINT [FK_CUST_SITE_TO_SITE]
GO
