USE [VECA]
GO
/****** Object:  Table [dbo].[DOCUMENT_REFERENCE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_REFERENCE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[DOCUMENT_ID] [nvarchar](80) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[SOURCE_TYPE] [nchar](1) NOT NULL,
	[SITE_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_DOCUMENT_REFERENCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[DOCUMENT_ID] ASC,
	[LINE_NO] ASC,
	[SOURCE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
