USE [VECA]
GO
/****** Object:  Table [dbo].[ACCOUNT_BALANCE]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_BALANCE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[ACCT_YEAR] [decimal](4, 0) NOT NULL,
	[ACCT_PERIOD] [decimal](2, 0) NOT NULL,
	[DEBIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[CREDIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[DEBIT_BUDGET] [decimal](23, 8) NOT NULL,
	[CREDIT_BUDGET] [decimal](23, 8) NOT NULL,
	[FLAG] [int] NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[CURR_BALANCE] [decimal](23, 8) NULL,
	[SOA_BAL_SENT] [nchar](1) NULL,
 CONSTRAINT [PK_ACCOUNT_BALANCE] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[SITE_ID] ASC,
	[ACCT_YEAR] ASC,
	[ACCT_PERIOD] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] ADD  DEFAULT ((0)) FOR [DEBIT_AMOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] ADD  DEFAULT ((0)) FOR [CREDIT_AMOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] ADD  DEFAULT ((0)) FOR [DEBIT_BUDGET]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] ADD  DEFAULT ((0)) FOR [CREDIT_BUDGET]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] ADD  DEFAULT ((0)) FOR [FLAG]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY0014] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] CHECK CONSTRAINT [FKEY0014]
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9408] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_BALANCE] CHECK CONSTRAINT [FKEY9408]
GO
