USE [VECA]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ID] [nvarchar](25) NOT NULL,
	[FIRST_NAME] [nvarchar](30) NULL,
	[LAST_NAME] [nvarchar](30) NULL,
	[MIDDLE_NAME] [nvarchar](30) NULL,
	[MIDDLE_INITIAL] [nvarchar](2) NULL,
	[POSITION] [nvarchar](50) NULL,
	[SALUTATION] [nvarchar](60) NULL,
	[HONORIFIC] [nvarchar](15) NULL,
	[COUNTRY_DIAL_CODE] [nvarchar](10) NULL,
	[PHONE] [nvarchar](20) NULL,
	[PHONE_EXT] [nvarchar](10) NULL,
	[FAX] [nvarchar](20) NULL,
	[MOBILE] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[WEB_USER_ID] [nvarchar](20) NULL,
	[WEB_PASSWORD] [nvarchar](20) NULL,
	[PREFERRED_CONTACT_METHOD] [nchar](1) NULL,
	[GENDER_CODE] [nchar](1) NOT NULL,
	[MARITAL_STATUS] [nchar](1) NOT NULL,
	[BIRTH_DATE] [datetime] NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[NO_CALL_PHONE] [nchar](1) NOT NULL,
	[NO_CALL_MOBILE] [nchar](1) NOT NULL,
	[NO_EMAIL] [nchar](1) NOT NULL,
	[URL_TWITTER] [nvarchar](255) NULL,
	[URL_FACEBOOK] [nvarchar](255) NULL,
	[URL_MYSPACE] [nvarchar](255) NULL,
	[URL_LINKEDIN] [nvarchar](255) NULL,
	[URL_HYVES] [nvarchar](255) NULL,
	[ACTIVE_FLAG] [nchar](1) NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CONTACT_COUNTRY_ID] [nvarchar](15) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_CONTACT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ('N') FOR [GENDER_CODE]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ('N') FOR [MARITAL_STATUS]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ('N') FOR [NO_CALL_PHONE]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ('N') FOR [NO_CALL_MOBILE]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ('N') FOR [NO_EMAIL]
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD  CONSTRAINT [CHK_CONTACT_GEND] CHECK  (([GENDER_CODE]='M' OR [GENDER_CODE]='F' OR [GENDER_CODE]='O' OR [GENDER_CODE]='N'))
GO
ALTER TABLE [dbo].[CONTACT] CHECK CONSTRAINT [CHK_CONTACT_GEND]
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD  CONSTRAINT [CHK_CONTACT_MARITAL] CHECK  (([MARITAL_STATUS]='S' OR [MARITAL_STATUS]='M' OR [MARITAL_STATUS]='D' OR [MARITAL_STATUS]='P' OR [MARITAL_STATUS]='W' OR [MARITAL_STATUS]='C' OR [MARITAL_STATUS]='N'))
GO
ALTER TABLE [dbo].[CONTACT] CHECK CONSTRAINT [CHK_CONTACT_MARITAL]
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD  CONSTRAINT [CHK_CONTACT_PREF] CHECK  (([PREFERRED_CONTACT_METHOD]='P' OR [PREFERRED_CONTACT_METHOD]='F' OR [PREFERRED_CONTACT_METHOD]='M' OR [PREFERRED_CONTACT_METHOD]='E' OR [PREFERRED_CONTACT_METHOD]='A'))
GO
ALTER TABLE [dbo].[CONTACT] CHECK CONSTRAINT [CHK_CONTACT_PREF]
GO
