USE [VECA]
GO
/****** Object:  Table [dbo].[FIN_DIST_DETAIL]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_DIST_DETAIL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROCESS_TYPE] [nvarchar](5) NOT NULL,
	[SOURCE_ID] [nvarchar](40) NOT NULL,
	[SOURCE_LINE_NO] [smallint] NOT NULL,
	[SOURCE_DIST_NO] [smallint] NOT NULL,
	[SOURCE_ENTRY_NO] [smallint] NOT NULL,
	[AMOUNT_TYPE] [nchar](2) NOT NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
 CONSTRAINT [PK_FIN_DIST_LINE_ACCT] PRIMARY KEY CLUSTERED 
(
	[PROCESS_TYPE] ASC,
	[SOURCE_ID] ASC,
	[SOURCE_DIST_NO] ASC,
	[SOURCE_ENTRY_NO] ASC,
	[SOURCE_LINE_NO] ASC,
	[AMOUNT_TYPE] ASC,
	[GL_ACCOUNT_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FIN_DIST_DETAIL] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
