USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_LINE_BILLING]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_LINE_BILLING](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_LINE_NO] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[EVENT_SEQ_NO] [smallint] NOT NULL,
	[BILL_AMOUNT] [decimal](23, 8) NULL,
	[BILL_PERCENT] [decimal](6, 3) NULL,
	[REV_AMOUNT] [decimal](23, 8) NULL,
	[REV_PERCENT] [decimal](6, 3) NULL,
	[MILESTONE_ID] [nvarchar](15) NULL,
	[EVENT_DATE] [datetime] NULL,
	[TRIGGERED_FLAG] [nchar](1) NULL,
	[TRIGGERED_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[REV_GL_ACCT_ID] [nvarchar](30) NULL,
	[INVOICE_ID] [nvarchar](15) NULL,
	[BILLING_BASIS] [nchar](1) NULL,
	[REVENUE_STATUS] [nchar](1) NULL,
	[DOC_FILE_PATH] [nvarchar](255) NULL,
	[DOCUMENT_ID] [nvarchar](128) NULL,
	[DISTRIBUTED_DATE] [datetime] NULL,
	[DOC_TOTAL_AMOUNT] [decimal](23, 8) NULL,
 CONSTRAINT [PK_CUST_LINE_BILLING] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[CUST_ORDER_LINE_NO] ASC,
	[EVENT_SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_LINE_BILLING] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[CUST_LINE_BILLING]  WITH CHECK ADD  CONSTRAINT [FKEY9106] FOREIGN KEY([REV_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CUST_LINE_BILLING] CHECK CONSTRAINT [FKEY9106]
GO
ALTER TABLE [dbo].[CUST_LINE_BILLING]  WITH CHECK ADD  CONSTRAINT [FKEY9112] FOREIGN KEY([CUST_ORDER_ID], [CUST_ORDER_LINE_NO])
REFERENCES [dbo].[CUST_ORDER_LINE] ([CUST_ORDER_ID], [LINE_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUST_LINE_BILLING] CHECK CONSTRAINT [FKEY9112]
GO
ALTER TABLE [dbo].[CUST_LINE_BILLING]  WITH CHECK ADD  CONSTRAINT [CHK9100] CHECK  (([TRIGGERED_FLAG]='Y' OR [TRIGGERED_FLAG]='N'))
GO
ALTER TABLE [dbo].[CUST_LINE_BILLING] CHECK CONSTRAINT [CHK9100]
GO
