USE [VECA]
GO
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](60) NULL,
	[CREATE_DATE] [datetime] NULL,
	[GLOBAL_START_DATE] [datetime] NULL,
	[GLOBAL_END_DATE] [datetime] NULL,
	[GLOBAL_COUNT] [int] NULL,
	[SORT_START_DATE] [datetime] NULL,
	[SORT_END_DATE] [datetime] NULL,
	[SORT_COUNT] [int] NULL,
	[OPERATIONS] [int] NULL,
	[REQUIREMENTS] [int] NULL,
	[WORK_ORDERS] [int] NULL,
	[BOTTLENECK_ID] [nvarchar](15) NULL,
	[BOTTLENECK_DELAY] [int] NULL,
	[DELAYED_OPERATIONS] [int] NULL,
	[INFINITE_CAPACITY] [nchar](1) NOT NULL,
	[MATERIALS_CHECKED] [nchar](1) NOT NULL,
	[ACTIVE] [nchar](1) NOT NULL,
	[AS_OF_DATETIME] [datetime] NULL,
	[SERVICES_CHECKED] [nchar](1) NOT NULL,
	[MASTER_SCHEDULE_ID] [nvarchar](15) NULL,
	[HARD_RELEASE_DATE] [nchar](1) NULL,
	[CCR_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[IN_PROCESS] [nchar](1) NOT NULL,
 CONSTRAINT [PK_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SCHEDULE] ADD  DEFAULT ('') FOR [INFINITE_CAPACITY]
GO
ALTER TABLE [dbo].[SCHEDULE] ADD  DEFAULT ('') FOR [MATERIALS_CHECKED]
GO
ALTER TABLE [dbo].[SCHEDULE] ADD  DEFAULT ('') FOR [ACTIVE]
GO
ALTER TABLE [dbo].[SCHEDULE] ADD  DEFAULT ('') FOR [SERVICES_CHECKED]
GO
ALTER TABLE [dbo].[SCHEDULE] ADD  DEFAULT (N'N') FOR [IN_PROCESS]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_SCHED_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [FK_SCHED_TO_SITE]
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD  CONSTRAINT [CHK0059] CHECK  ((([INFINITE_CAPACITY]='Y' OR [INFINITE_CAPACITY]='N') AND ([MATERIALS_CHECKED]='Y' OR [MATERIALS_CHECKED]='N') AND ([ACTIVE]='Y' OR [ACTIVE]='N')))
GO
ALTER TABLE [dbo].[SCHEDULE] CHECK CONSTRAINT [CHK0059]
GO
