USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_DISCOUNT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DISCOUNT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DISCOUNT_CODE] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DISCOUNT_PERCENT] [decimal](6, 3) NULL,
 CONSTRAINT [PK_CUSTOMER_DISCOUNT] PRIMARY KEY CLUSTERED 
(
	[DISCOUNT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
