USE [VECA]
GO
/****** Object:  Table [dbo].[LIC_UserKickLog]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIC_UserKickLog](
	[Log_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [varchar](30) NOT NULL,
	[LAST_ACTIVITY] [datetime] NOT NULL,
	[KICKED_AT] [datetime] NOT NULL,
	[Reason] [varchar](200) NULL,
	[RunTag] [varchar](50) NULL,
	[KICK_DATE]  AS (CONVERT([date],[KICKED_AT],0)),
PRIMARY KEY CLUSTERED 
(
	[Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LIC_UserKickLog] ADD  DEFAULT (getdate()) FOR [KICKED_AT]
GO
