USE [VECA]
GO
/****** Object:  Table [dbo].[WORK_ORDER]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_ORDER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BASE_ID] [nvarchar](30) NOT NULL,
	[LOT_ID] [nvarchar](3) NOT NULL,
	[SPLIT_ID] [nvarchar](3) NOT NULL,
	[SUB_ID] [nvarchar](3) NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[GLOBAL_RANK] [smallint] NULL,
	[DESIRED_QTY] [decimal](20, 8) NULL,
	[RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[DESIRED_RLS_DATE] [datetime] NULL,
	[DESIRED_WANT_DATE] [datetime] NULL,
	[CLOSE_DATE] [datetime] NULL,
	[COSTED_DATE] [datetime] NULL,
	[STATUS] [nchar](1) NOT NULL,
	[COPY_FROM_SPLIT_ID] [nvarchar](3) NULL,
	[ENGINEERED_BY] [nvarchar](40) NULL,
	[ENGINEERED_DATE] [datetime] NULL,
	[DRAWING_ID] [nvarchar](30) NULL,
	[DRAWING_REV_NO] [nvarchar](8) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[COMMODITY_CODE] [nvarchar](15) NULL,
	[FORWARD_SCHEDULE] [nchar](1) NOT NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
	[MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[VARIABLE_TABLE] [nvarchar](250) NULL,
	[SCHEDULE_GROUP_ID] [nvarchar](15) NULL,
	[SCHED_START_DATE] [datetime] NULL,
	[SCHED_FINISH_DATE] [datetime] NULL,
	[COULD_FINISH_DATE] [datetime] NULL,
	[EST_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[EST_LABOR_COST] [decimal](23, 8) NOT NULL,
	[EST_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[EST_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NOT NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[REM_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[REM_LABOR_COST] [decimal](23, 8) NOT NULL,
	[REM_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[REM_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[PRINTED_DATE] [datetime] NULL,
	[DRAWING_FILE] [nvarchar](100) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[WIP_VAS_REQUIRED] [nchar](1) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[HARD_RELEASE_DATE] [nchar](1) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[DBR_TYPE] [nchar](1) NULL,
	[DBR_PRIORITY] [nchar](1) NULL,
	[DBR_CODE] [int] NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[WBS_PROJECT] [nchar](1) NULL,
	[WBS_CUST_ORDER_ID] [nvarchar](15) NULL,
	[MILESTONE_SEQ_NO] [smallint] NULL,
	[MILESTONE_SUB_ID] [nvarchar](3) NULL,
	[ECN_REVISION] [nchar](1) NULL,
	[EDI_BLANKET_FLAG] [nchar](1) NULL,
	[DISPATCHED] [nchar](1) NULL,
	[ORIG_STAGE_REVISION_ID] [nvarchar](24) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[ALLOW_ALT_PARTS] [nchar](1) NULL,
	[ALLOW_UPD_FROM_MST] [nchar](1) NOT NULL,
	[ALLOW_UPD_FROM_LEG] [nchar](1) NOT NULL,
	[UPDATE_FROM_REF] [nvarchar](100) NULL,
	[UPDATE_USER_ID] [nvarchar](20) NULL,
	[UPDATE_ENG_MASTER] [nvarchar](3) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[PROD_ORDER_TYPE] [nvarchar](25) NULL,
	[PLANNER_ID] [nvarchar](20) NULL,
	[INACTIVE] [nchar](1) NOT NULL,
	[ENTERED_BY] [nvarchar](100) NULL,
	[PERCENT_COMPL] [nvarchar](1) NULL,
	[QTY_COMPL_BY_HRS] [nvarchar](1) NULL,
	[MAX_QTY_COMPLETE] [decimal](20, 8) NULL,
	[CUSTOMER_PRIORITY] [int] NOT NULL,
 CONSTRAINT [PK_WORK_ORDER] PRIMARY KEY CLUSTERED 
(
	[TYPE] ASC,
	[BASE_ID] ASC,
	[LOT_ID] ASC,
	[SPLIT_ID] ASC,
	[SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ('') FOR [FORWARD_SCHEDULE]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ('') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [EST_MATERIAL_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [EST_LABOR_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [EST_BURDEN_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [EST_SERVICE_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [ACT_MATERIAL_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [ACT_LABOR_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [ACT_BURDEN_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [ACT_SERVICE_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [REM_MATERIAL_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [REM_LABOR_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [REM_BURDEN_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [REM_SERVICE_COST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ('Y') FOR [ALLOW_UPD_FROM_MST]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ('Y') FOR [ALLOW_UPD_FROM_LEG]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ('Y') FOR [INACTIVE]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT (N'N') FOR [PERCENT_COMPL]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT (N'N') FOR [QTY_COMPL_BY_HRS]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [MAX_QTY_COMPLETE]
GO
ALTER TABLE [dbo].[WORK_ORDER] ADD  DEFAULT ((0)) FOR [CUSTOMER_PRIORITY]
GO
ALTER TABLE [dbo].[WORK_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_WO_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[WORK_ORDER] CHECK CONSTRAINT [FK_WO_TO_SITE]
GO
ALTER TABLE [dbo].[WORK_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0093] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[WORK_ORDER] CHECK CONSTRAINT [FKEY0093]
GO
ALTER TABLE [dbo].[WORK_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY9468] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[WORK_ORDER] CHECK CONSTRAINT [FKEY9468]
GO
ALTER TABLE [dbo].[WORK_ORDER]  WITH CHECK ADD  CONSTRAINT [CHK0105] CHECK  (([STATUS]='U' OR [STATUS]='F' OR [STATUS]='R' OR [STATUS]='C' OR [STATUS]='X' AND ([FORWARD_SCHEDULE]='Y' OR [FORWARD_SCHEDULE]='N') AND ([POSTING_CANDIDATE]='Y' OR [POSTING_CANDIDATE]='N') AND ([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N') AND [DESIRED_QTY]>=(0)))
GO
ALTER TABLE [dbo].[WORK_ORDER] CHECK CONSTRAINT [CHK0105]
GO
