USE [VECA]
GO
/****** Object:  Table [dbo].[USER_DIM_PROC_PRI]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DIM_PROC_PRI](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DIMENSION] [smallint] NOT NULL,
	[PROCESS_TYPE] [nvarchar](5) NOT NULL,
	[SOURCE_TYPE] [nvarchar](15) NOT NULL,
	[DR_PROCESS_ORDER] [smallint] NULL,
	[CR_PROCESS_ORDER] [smallint] NULL,
 CONSTRAINT [PK_USR_DIM_PROC_PRI] PRIMARY KEY CLUSTERED 
(
	[DIMENSION] ASC,
	[PROCESS_TYPE] ASC,
	[SOURCE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
