USE [VECA]
GO
/****** Object:  Table [dbo].[Z_LABOR_TICKET_PART_LIST]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_LABOR_TICKET_PART_LIST](
	[part_id] [varchar](30) NULL,
	[active] [bit] NULL
) ON [PRIMARY]
GO
