USE [VECA]
GO
/****** Object:  Table [dbo].[CY_EVERY_DATE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CY_EVERY_DATE](
	[DateKey] [date] NOT NULL,
	[Year] [int] NULL,
	[MonthNumber] [int] NULL,
	[MonthName] [nvarchar](20) NULL,
	[DayNumber] [int] NULL,
	[DayOfWeek] [int] NULL,
	[DayName] [nvarchar](20) NULL,
	[WeekOfYear] [int] NULL,
	[IsWeekend] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
