USE [VECA]
GO
/****** Object:  Table [dbo].[NOTIFICATION_TOKEN]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION_TOKEN](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](30) NOT NULL,
	[TYPE] [nvarchar](10) NOT NULL,
	[TOKEN] [nvarchar](30) NOT NULL,
	[TOKEN_TABLE] [nvarchar](50) NOT NULL,
	[TOKEN_COLUMN] [nvarchar](200) NOT NULL,
	[SELECTED_TOKEN] [nchar](1) NOT NULL,
	[DATA_FORMAT_TYPE] [nchar](1) NOT NULL,
	[MIN_DECIMAL_POSITIONS] [nchar](1) NOT NULL,
	[CALCULATED_VALUE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_NOTIF_TOKEN] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[TYPE] ASC,
	[TOKEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NOTIFICATION_TOKEN] ADD  DEFAULT ('N') FOR [SELECTED_TOKEN]
GO
ALTER TABLE [dbo].[NOTIFICATION_TOKEN] ADD  DEFAULT ('S') FOR [DATA_FORMAT_TYPE]
GO
ALTER TABLE [dbo].[NOTIFICATION_TOKEN] ADD  DEFAULT ('0') FOR [MIN_DECIMAL_POSITIONS]
GO
ALTER TABLE [dbo].[NOTIFICATION_TOKEN] ADD  DEFAULT ('N') FOR [CALCULATED_VALUE]
GO
