USE [VECA]
GO
/****** Object:  Table [dbo].[APPLICATION_FIELDS]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_FIELDS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[FIELD_ID] [nvarchar](30) NOT NULL,
	[FIELD_DESCRIPTION] [nvarchar](80) NULL,
 CONSTRAINT [PK_APPLICATION_FIELDS] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[FIELD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
