USE [VECA]
GO
/****** Object:  Table [dbo].[V_INDUSTRY_CODES]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_INDUSTRY_CODES](
	[ID] [nvarchar](15) NOT NULL,
	[TYPE] [nvarchar](15) NOT NULL,
	[LONG_DESC] [nvarchar](254) NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
 CONSTRAINT [X_V_IND_CODES_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
