USE [VECA]
GO
/****** Object:  Table [dbo].[IBT_LINE_BINARY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBT_LINE_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IBT_ID] [nvarchar](15) NOT NULL,
	[IBT_LINE_NO] [smallint] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_IBT_LINE_BINARY] PRIMARY KEY CLUSTERED 
(
	[IBT_ID] ASC,
	[IBT_LINE_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBT_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [FKEY9546] FOREIGN KEY([IBT_ID], [IBT_LINE_NO])
REFERENCES [dbo].[IBT_LINE] ([IBT_ID], [LINE_NO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[IBT_LINE_BINARY] CHECK CONSTRAINT [FKEY9546]
GO
