USE [VECA]
GO
/****** Object:  Table [dbo].[USAGE_ANALYSIS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USAGE_ANALYSIS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[CALC_VALUE] [decimal](23, 8) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USAGE_ANALYSIS]  WITH CHECK ADD  CONSTRAINT [FK_USAGE_ANAL_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[USAGE_ANALYSIS] CHECK CONSTRAINT [FK_USAGE_ANAL_TO_SITE]
GO
