USE [VECA]
GO
/****** Object:  Table [dbo].[z_CUST_SVC_CALL_LOG]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_CUST_SVC_CALL_LOG](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_NAME] [varchar](50) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[PHONE] [varchar](20) NOT NULL,
	[EMAIL] [nvarchar](250) NULL,
	[REASON_CODE] [varchar](15) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](15) NOT NULL,
	[TRACE_ID] [varchar](30) NOT NULL,
	[CALL_RESULT] [nvarchar](250) NOT NULL,
	[COMMENT] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_z_CUST_SVC_CALL_LOG] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
