USE [VECA]
GO
/****** Object:  Table [dbo].[JOURNAL]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNAL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[BATCH_ID] [nvarchar](15) NOT NULL,
	[ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[ACCT_YEAR] [decimal](4, 0) NOT NULL,
	[ACCT_PERIOD] [decimal](2, 0) NOT NULL,
	[DEBIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[CREDIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[REFERENCE] [nvarchar](254) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[NATIVE] [nchar](1) NULL,
 CONSTRAINT [PK_JOURNAL] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JOURNAL] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[JOURNAL] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[JOURNAL]  WITH CHECK ADD  CONSTRAINT [FK_JRN_BATCH] FOREIGN KEY([SITE_ID], [BATCH_ID])
REFERENCES [dbo].[JOURNAL_BATCH] ([SITE_ID], [ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JOURNAL] CHECK CONSTRAINT [FK_JRN_BATCH]
GO
ALTER TABLE [dbo].[JOURNAL]  WITH CHECK ADD  CONSTRAINT [FKEY0015] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[JOURNAL] CHECK CONSTRAINT [FKEY0015]
GO
ALTER TABLE [dbo].[JOURNAL]  WITH CHECK ADD  CONSTRAINT [FKEY0192] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[JOURNAL] CHECK CONSTRAINT [FKEY0192]
GO
ALTER TABLE [dbo].[JOURNAL]  WITH CHECK ADD  CONSTRAINT [FKEY9435] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[JOURNAL] CHECK CONSTRAINT [FKEY9435]
GO
