USE [VECA]
GO
/****** Object:  Table [dbo].[SERVICE_DISP_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_DISP_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DISPATCH_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[SERVICE_ID] [nvarchar](15) NOT NULL,
	[SERVICE_PART_ID] [nvarchar](30) NULL,
	[USER_DISPATCH_QTY] [decimal](20, 8) NOT NULL,
	[DISPATCH_QTY] [decimal](20, 8) NOT NULL,
	[RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[ACT_FREIGHT] [decimal](23, 8) NOT NULL,
	[SHIPPING_WEIGHT] [decimal](14, 4) NULL,
	[WEIGHT_UM] [nvarchar](15) NULL,
	[SHIPPING_UM] [nvarchar](15) NULL,
	[PROMISE_DATE] [datetime] NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[CALC_RECV_QTY] [decimal](20, 8) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[CARTON_COUNT] [smallint] NULL,
	[PACKAGE_TYPE] [nvarchar](5) NULL,
	[UNIT_COST] [decimal](22, 8) NULL,
	[DISPATCH_ADDR_ID] [nvarchar](20) NULL,
	[net_ship_weight] [decimal](14, 4) NULL,
	[tare_weight] [decimal](14, 4) NULL,
	[pallet_count] [decimal](20, 8) NULL,
 CONSTRAINT [PK_SERVICE_DISP_LINE] PRIMARY KEY CLUSTERED 
(
	[DISPATCH_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERVICE_DISP_LINE] ADD  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[SERVICE_DISP_LINE] ADD  DEFAULT ((0)) FOR [ACT_FREIGHT]
GO
ALTER TABLE [dbo].[SERVICE_DISP_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9365] FOREIGN KEY([DISPATCH_ID])
REFERENCES [dbo].[SERVICE_DISPATCH] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERVICE_DISP_LINE] CHECK CONSTRAINT [FKEY9365]
GO
