USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_PRICE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_PRICE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[SELLING_UM] [nvarchar](15) NOT NULL,
	[CUSTOMER_PART_ID] [nvarchar](30) NULL,
	[QTY_BREAK_1] [decimal](20, 8) NULL,
	[QTY_BREAK_2] [decimal](20, 8) NULL,
	[QTY_BREAK_3] [decimal](20, 8) NULL,
	[QTY_BREAK_4] [decimal](20, 8) NULL,
	[QTY_BREAK_5] [decimal](20, 8) NULL,
	[QTY_BREAK_6] [decimal](20, 8) NULL,
	[QTY_BREAK_7] [decimal](20, 8) NULL,
	[QTY_BREAK_8] [decimal](20, 8) NULL,
	[QTY_BREAK_9] [decimal](20, 8) NULL,
	[QTY_BREAK_10] [decimal](20, 8) NULL,
	[UNIT_PRICE_1] [decimal](22, 8) NULL,
	[UNIT_PRICE_2] [decimal](22, 8) NULL,
	[UNIT_PRICE_3] [decimal](22, 8) NULL,
	[UNIT_PRICE_4] [decimal](22, 8) NULL,
	[UNIT_PRICE_5] [decimal](22, 8) NULL,
	[UNIT_PRICE_6] [decimal](22, 8) NULL,
	[UNIT_PRICE_7] [decimal](22, 8) NULL,
	[UNIT_PRICE_8] [decimal](22, 8) NULL,
	[UNIT_PRICE_9] [decimal](22, 8) NULL,
	[UNIT_PRICE_10] [decimal](22, 8) NULL,
	[DEFAULT_UNIT_PRICE] [decimal](22, 8) NULL,
 CONSTRAINT [PK_CUSTOMER_PRICE] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC,
	[PART_ID] ASC,
	[SELLING_UM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY0063] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_PRICE] CHECK CONSTRAINT [FKEY0063]
GO
ALTER TABLE [dbo].[CUSTOMER_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY0088] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_PRICE] CHECK CONSTRAINT [FKEY0088]
GO
ALTER TABLE [dbo].[CUSTOMER_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY0260] FOREIGN KEY([SELLING_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[CUSTOMER_PRICE] CHECK CONSTRAINT [FKEY0260]
GO
