USE [VECA]
GO
/****** Object:  Table [dbo].[VMDI_SPECIAL_COLS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDI_SPECIAL_COLS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LAYOUT_KEY] [nchar](3) NOT NULL,
	[TABLE_NAME] [nvarchar](18) NOT NULL,
	[COLUMN_NAME] [nvarchar](18) NOT NULL,
	[SPECIAL_INST] [nchar](1) NULL,
	[SEGMENT_TYPE] [nchar](1) NULL,
 CONSTRAINT [PK_VMDI_SPEC_COLS] PRIMARY KEY CLUSTERED 
(
	[LAYOUT_KEY] ASC,
	[TABLE_NAME] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
