USE [VECA]
GO
/****** Object:  Table [dbo].[RFQ_VENDOR]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RFQ_VENDOR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RFQ_ID] [nvarchar](15) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[QUOTED_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[FOLLOWUP_DATE] [datetime] NULL,
	[EXPECTED_DATE] [datetime] NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[SUPPLIER_QUOTE_ID] [nvarchar](100) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[VENDOR_CONTRACT_ID] [nvarchar](30) NULL,
	[CONTRACT_ID] [nvarchar](30) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
	[RFQ_VENDOR_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_RFQ_VENDOR] PRIMARY KEY CLUSTERED 
(
	[RFQ_ID] ASC,
	[VENDOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RFQ_VENDOR]  WITH CHECK ADD  CONSTRAINT [FK_RFQ_VEN_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[RFQ_VENDOR] CHECK CONSTRAINT [FK_RFQ_VEN_CONT_ID]
GO
ALTER TABLE [dbo].[RFQ_VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY0251] FOREIGN KEY([RFQ_ID])
REFERENCES [dbo].[REQUEST_FOR_QUOTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RFQ_VENDOR] CHECK CONSTRAINT [FKEY0251]
GO
ALTER TABLE [dbo].[RFQ_VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY0293] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[RFQ_VENDOR] CHECK CONSTRAINT [FKEY0293]
GO
