USE [VECA]
GO
/****** Object:  Table [dbo].[IBT_RECEIVER_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBT_RECEIVER_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[IBT_ID] [nvarchar](15) NOT NULL,
	[IBT_LINE_NO] [int] NOT NULL,
	[USER_RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[ACT_FREIGHT] [decimal](23, 8) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[LOCATION_ID] [nvarchar](15) NULL,
	[IN_TRANSACTION_ID] [int] NULL,
	[OUT_TRANSACTION_ID] [int] NULL,
	[SHIPPER_ID] [nvarchar](15) NULL,
	[SHIPPER_LINE_NO] [int] NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
 CONSTRAINT [PK_IBT_RECEIVER_LINE] PRIMARY KEY CLUSTERED 
(
	[RECEIVER_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBT_RECEIVER_LINE] ADD  DEFAULT ((0)) FOR [ACT_FREIGHT]
GO
ALTER TABLE [dbo].[IBT_RECEIVER_LINE]  WITH CHECK ADD  CONSTRAINT [FK_IBT_RECEIVER_LINE_00] FOREIGN KEY([SHIPPER_ID])
REFERENCES [dbo].[IBT_SHIPPER] ([SHIPPER_ID])
GO
ALTER TABLE [dbo].[IBT_RECEIVER_LINE] CHECK CONSTRAINT [FK_IBT_RECEIVER_LINE_00]
GO
ALTER TABLE [dbo].[IBT_RECEIVER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9495] FOREIGN KEY([RECEIVER_ID])
REFERENCES [dbo].[IBT_RECEIVER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IBT_RECEIVER_LINE] CHECK CONSTRAINT [FKEY9495]
GO
