USE [VECA]
GO
/****** Object:  Table [dbo].[PART_SITE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[PLANNING_LEADTIME] [smallint] NULL,
	[ORDER_POLICY] [nchar](1) NULL,
	[ORDER_POINT] [decimal](20, 8) NULL,
	[ORDER_UP_TO_QTY] [decimal](20, 8) NULL,
	[SAFETY_STOCK_QTY] [decimal](20, 8) NULL,
	[FIXED_ORDER_QTY] [decimal](20, 8) NULL,
	[DAYS_OF_SUPPLY] [smallint] NULL,
	[MINIMUM_ORDER_QTY] [decimal](20, 8) NULL,
	[MAXIMUM_ORDER_QTY] [decimal](20, 8) NULL,
	[ENGINEERING_MSTR] [nvarchar](3) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[FABRICATED] [nchar](1) NULL,
	[PURCHASED] [nchar](1) NULL,
	[STOCKED] [nchar](1) NULL,
	[DETAIL_ONLY] [nchar](1) NULL,
	[DEMAND_HISTORY] [nchar](1) NULL,
	[TOOL_OR_FIXTURE] [nchar](1) NULL,
	[CONSUMABLE] [nchar](1) NULL,
	[INSPECTION_REQD] [nchar](1) NULL,
	[DEMAND_FENCE_1] [int] NULL,
	[DEMAND_FENCE_2] [int] NULL,
	[PLANNER_USER_ID] [nvarchar](20) NULL,
	[BUYER_USER_ID] [nvarchar](20) NULL,
	[ABC_CODE] [nchar](1) NULL,
	[ANNUAL_USAGE_QTY] [decimal](20, 8) NULL,
	[INVENTORY_LOCKED] [nchar](1) NULL,
	[PREF_VENDOR_ID] [nvarchar](15) NULL,
	[PRIMARY_WHS_ID] [nvarchar](15) NULL,
	[PRIMARY_LOC_ID] [nvarchar](15) NULL,
	[BACKFLUSH_WHS_ID] [nvarchar](15) NULL,
	[BACKFLUSH_LOC_ID] [nvarchar](15) NULL,
	[INSPECT_WHS_ID] [nvarchar](15) NULL,
	[INSPECT_LOC_ID] [nvarchar](15) NULL,
	[MRP_REQUIRED] [nchar](1) NULL,
	[MRP_EXCEPTIONS] [nchar](1) NULL,
	[AUTO_BACKFLUSH] [nchar](1) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[EFF_DATE_PRICE] [nchar](1) NULL,
	[UNIT_MATERIAL_COST] [decimal](22, 8) NOT NULL,
	[UNIT_LABOR_COST] [decimal](22, 8) NOT NULL,
	[WHSALE_UNIT_COST] [decimal](22, 8) NULL,
	[BURDEN_PERCENT] [decimal](5, 2) NOT NULL,
	[BURDEN_PER_UNIT] [decimal](22, 8) NOT NULL,
	[EXCISE_UNIT_PRICE] [decimal](22, 8) NULL,
	[PURC_BUR_PERCENT] [decimal](6, 3) NOT NULL,
	[UNIT_BURDEN_COST] [decimal](22, 8) NOT NULL,
	[FIXED_COST] [decimal](23, 8) NOT NULL,
	[UNIT_SERVICE_COST] [decimal](22, 8) NOT NULL,
	[NEW_MATERIAL_COST] [decimal](23, 8) NOT NULL,
	[NEW_LABOR_COST] [decimal](23, 8) NOT NULL,
	[NEW_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[NEW_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[NEW_BURDEN_PERCENT] [decimal](5, 2) NOT NULL,
	[NEW_BURDEN_PERUNIT] [decimal](22, 8) NOT NULL,
	[PURC_BUR_PER_UNIT] [decimal](22, 8) NOT NULL,
	[NEW_FIXED_COST] [decimal](23, 8) NOT NULL,
	[MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[QTY_ON_HAND] [decimal](20, 8) NOT NULL,
	[QTY_AVAILABLE_ISS] [decimal](20, 8) NOT NULL,
	[QTY_AVAILABLE_MRP] [decimal](20, 8) NOT NULL,
	[QTY_ON_ORDER] [decimal](20, 8) NOT NULL,
	[QTY_IN_DEMAND] [decimal](20, 8) NOT NULL,
	[QTY_COMMITTED] [decimal](20, 8) NOT NULL,
	[TARIFF_CODE] [nvarchar](15) NULL,
	[TARIFF_TYPE] [nvarchar](20) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](15) NULL,
	[INTRASTAT_EXEMPT] [nvarchar](1) NOT NULL,
	[STATUS] [nchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NULL,
	[USE_SUPPLY_BEF_LT] [nchar](1) NULL,
	[MINIMUM_LEADTIME] [smallint] NULL,
	[LEADTIME_BUFFER] [smallint] NULL,
	[EMERGENCY_STOCKPCT] [int] NULL,
	[REPLENISH_LEVEL] [decimal](20, 8) NULL,
	[MIN_BATCH_SIZE] [decimal](20, 8) NULL,
	[YELLOW_STOCKPCT] [int] NULL,
	[MRP_EXCEPTION_INFO] [nvarchar](80) NULL,
	[MULTIPLE_ORDER_QTY] [decimal](20, 8) NULL,
	[LAST_IMPLODE_DATE] [datetime] NULL,
	[MRO_CLASS] [nvarchar](20) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[BUFFER_PROFILE_ID] [nvarchar](15) NULL,
	[ADU_HORIZON] [smallint] NULL,
	[ASR_LEADTIME] [smallint] NULL,
	[ONHAND_ALERT_RED_PCT] [smallint] NULL,
	[LAST_ABC_DATE] [datetime] NULL,
	[PROCESS_TYPE] [nvarchar](15) NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[MODIFY_DATE] [datetime] NULL,
	[IS_RATE_BASED] [nchar](1) NOT NULL,
 CONSTRAINT [PK_PART_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [UNIT_MATERIAL_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [UNIT_LABOR_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [BURDEN_PERCENT]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [BURDEN_PER_UNIT]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [PURC_BUR_PERCENT]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [UNIT_BURDEN_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [FIXED_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [UNIT_SERVICE_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [NEW_MATERIAL_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [NEW_LABOR_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [NEW_BURDEN_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [NEW_SERVICE_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [NEW_BURDEN_PERCENT]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [NEW_BURDEN_PERUNIT]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [PURC_BUR_PER_UNIT]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [NEW_FIXED_COST]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [QTY_ON_HAND]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [QTY_AVAILABLE_ISS]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [QTY_AVAILABLE_MRP]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [QTY_ON_ORDER]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [QTY_IN_DEMAND]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ((0)) FOR [QTY_COMMITTED]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT ('N') FOR [INTRASTAT_EXEMPT]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[PART_SITE] ADD  DEFAULT (N'N') FOR [IS_RATE_BASED]
GO
ALTER TABLE [dbo].[PART_SITE]  WITH CHECK ADD  CONSTRAINT [FK_PART_SITE_BUF_PROFILE] FOREIGN KEY([BUFFER_PROFILE_ID])
REFERENCES [dbo].[BUFFER_PROFILE] ([ID])
GO
ALTER TABLE [dbo].[PART_SITE] CHECK CONSTRAINT [FK_PART_SITE_BUF_PROFILE]
GO
ALTER TABLE [dbo].[PART_SITE]  WITH CHECK ADD  CONSTRAINT [FK_PART_SITE_TO_PART] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[PART_SITE] CHECK CONSTRAINT [FK_PART_SITE_TO_PART]
GO
ALTER TABLE [dbo].[PART_SITE]  WITH CHECK ADD  CONSTRAINT [FK_PART_SITE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PART_SITE] CHECK CONSTRAINT [FK_PART_SITE_TO_SITE]
GO
ALTER TABLE [dbo].[PART_SITE]  WITH CHECK ADD  CONSTRAINT [FKEY0264] FOREIGN KEY([INSPECT_WHS_ID], [INSPECT_LOC_ID])
REFERENCES [dbo].[LOCATION] ([WAREHOUSE_ID], [ID])
GO
ALTER TABLE [dbo].[PART_SITE] CHECK CONSTRAINT [FKEY0264]
GO
