USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR_BANK]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR_BANK](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[BANK_ID] [nvarchar](30) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[IBAN] [nvarchar](40) NULL,
	[SWIFT] [nvarchar](30) NULL,
	[ACCOUNT_NO] [nvarchar](30) NULL,
	[BRANCH_ID] [nvarchar](15) NULL,
	[IS_DEFAULT] [smallint] NOT NULL,
	[VENDOR_BANK_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_VEND_BANK] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC,
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR_BANK] ADD  DEFAULT ((0)) FOR [IS_DEFAULT]
GO
ALTER TABLE [dbo].[VENDOR_BANK]  WITH CHECK ADD  CONSTRAINT [FK_VEND_BANK_CNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_BANK] CHECK CONSTRAINT [FK_VEND_BANK_CNTRY]
GO
ALTER TABLE [dbo].[VENDOR_BANK]  WITH CHECK ADD  CONSTRAINT [FK_VEND_BANK_VEND] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_BANK] CHECK CONSTRAINT [FK_VEND_BANK_VEND]
GO
