USE [VECA]
GO
/****** Object:  Table [dbo].[SIZING]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZING](
	[USER_ID] [nvarchar](20) NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[SECTION] [nvarchar](120) NOT NULL,
	[ENTRY] [nvarchar](100) NOT NULL,
	[VALUE] [nvarchar](100) NOT NULL,
	[MODIFY_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_SIZING] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[PROGRAM_ID] ASC,
	[SECTION] ASC,
	[ENTRY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SIZING] ADD  DEFAULT (getdate()) FOR [MODIFY_DATE]
GO
