USE [VECA]
GO
/****** Object:  Table [dbo].[LABOR_TICKET]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABOR_TICKET](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NULL,
	[OPERATION_SEQ_NO] [smallint] NULL,
	[TYPE] [nchar](1) NOT NULL,
	[SETUP_COMPLETED] [nchar](1) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](15) NOT NULL,
	[DEPARTMENT_ID] [nvarchar](15) NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NULL,
	[HOURLY_COST] [decimal](15, 2) NULL,
	[CLOCK_IN] [datetime] NULL,
	[CLOCK_OUT] [datetime] NULL,
	[HOURS_WORKED] [decimal](7, 2) NULL,
	[HOURS_BREAK] [decimal](7, 2) NULL,
	[MULTIPLIER_1] [decimal](5, 3) NULL,
	[MULTIPLIER_2] [decimal](5, 3) NULL,
	[GOOD_QTY] [decimal](20, 8) NOT NULL,
	[BAD_QTY] [decimal](20, 8) NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[USER_ID] [nvarchar](20) NULL,
	[BURDEN_PER_HR] [decimal](22, 8) NULL,
	[BURDEN_PERCENT] [decimal](6, 3) NULL,
	[BUR_PER_OPERATION] [decimal](23, 8) NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
	[HOURS_OVERALL] [decimal](7, 2) NULL,
	[HOURS_PREVIOUS] [decimal](7, 2) NULL,
	[INDIRECT_CODE] [nchar](1) NOT NULL,
	[INDIRECT_ID] [nvarchar](15) NULL,
	[SHIFT_DATE] [datetime] NULL,
	[BREAK_CLOCKIN] [datetime] NULL,
	[HOURS_BREAK_IND] [decimal](5, 2) NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NOT NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[ACT_CLOCK_IN] [datetime] NULL,
	[ACT_CLOCK_OUT] [datetime] NULL,
	[STARTING_TRANS] [nchar](1) NULL,
	[BURDEN_PER_UNIT] [decimal](22, 8) NULL,
	[UNIT_COST] [decimal](22, 8) NULL,
	[GL_ACCT_ID] [nvarchar](30) NULL,
	[EARNING_CODE_ID] [nvarchar](15) NULL,
	[BUDGET_ACCT_YEAR] [decimal](4, 0) NULL,
	[BUDGET_ACCT_PERIOD] [decimal](2, 0) NULL,
	[MILESTONE_TXN_ID] [int] NULL,
	[MILESTONE_UPDATED] [nchar](1) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[AUTOGEN_TXN_ID] [int] NULL,
	[UNADJ_CLOCK_IN] [datetime] NULL,
	[UNADJ_CLOCK_OUT] [datetime] NULL,
	[DEVIATION_ID] [nvarchar](15) NULL,
	[DATA_COLL_COMP] [nchar](1) NULL,
	[PRD_INSP_PLAN_ID] [nvarchar](16) NULL,
	[ACT_RATE_ID] [nvarchar](15) NULL,
	[ACT_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_ID] [nvarchar](15) NULL,
	[RETRO_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_CODE] [nchar](1) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[START_MACHINE_ID] [nvarchar](240) NULL,
	[STOP_MACHINE_ID] [nvarchar](240) NULL,
 CONSTRAINT [PK_LABOR_TICKET] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT ('') FOR [TYPE]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT ('') FOR [SETUP_COMPLETED]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT ((0)) FOR [BAD_QTY]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT ('') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT ('') FOR [INDIRECT_CODE]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT ((0)) FOR [ACT_LABOR_COST]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT ((0)) FOR [ACT_BURDEN_COST]
GO
ALTER TABLE [dbo].[LABOR_TICKET] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[LABOR_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_LABOR_TICKET_00] FOREIGN KEY([DEVIATION_ID])
REFERENCES [dbo].[DEVIATION_REASON] ([ID])
GO
ALTER TABLE [dbo].[LABOR_TICKET] CHECK CONSTRAINT [FK_LABOR_TICKET_00]
GO
ALTER TABLE [dbo].[LABOR_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_LABORTICKET_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[LABOR_TICKET] CHECK CONSTRAINT [FK_LABORTICKET_TO_SITE]
GO
ALTER TABLE [dbo].[LABOR_TICKET]  WITH CHECK ADD  CONSTRAINT [FKEY0048] FOREIGN KEY([INDIRECT_ID])
REFERENCES [dbo].[INDIRECT] ([ID])
GO
ALTER TABLE [dbo].[LABOR_TICKET] CHECK CONSTRAINT [FKEY0048]
GO
ALTER TABLE [dbo].[LABOR_TICKET]  WITH CHECK ADD  CONSTRAINT [FKEY0051] FOREIGN KEY([EARNING_CODE_ID])
REFERENCES [dbo].[EARNING_CODE] ([ID])
GO
ALTER TABLE [dbo].[LABOR_TICKET] CHECK CONSTRAINT [FKEY0051]
GO
ALTER TABLE [dbo].[LABOR_TICKET]  WITH CHECK ADD  CONSTRAINT [FKEY0086] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[LABOR_TICKET] CHECK CONSTRAINT [FKEY0086]
GO
ALTER TABLE [dbo].[LABOR_TICKET]  WITH CHECK ADD  CONSTRAINT [FKEY0129] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[LABOR_TICKET] CHECK CONSTRAINT [FKEY0129]
GO
ALTER TABLE [dbo].[LABOR_TICKET]  WITH CHECK ADD  CONSTRAINT [CHK9050] CHECK  ((([TYPE]='S' OR [TYPE]='R' OR [TYPE]='I') AND [MULTIPLIER_1]>=(1) AND [MULTIPLIER_2]<=(1) AND ([POSTING_CANDIDATE]='Y' OR [POSTING_CANDIDATE]='N') AND ([SETUP_COMPLETED]='Y' OR [SETUP_COMPLETED]='N')))
GO
ALTER TABLE [dbo].[LABOR_TICKET] CHECK CONSTRAINT [CHK9050]
GO
