USE [VECA]
GO
/****** Object:  Table [dbo].[QUOTE_ORDER]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOTE_ORDER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[QUOTE_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_QUOTE_ORDER] PRIMARY KEY CLUSTERED 
(
	[QUOTE_ID] ASC,
	[CUST_ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QUOTE_ORDER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[QUOTE_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0158] FOREIGN KEY([CUST_ORDER_ID])
REFERENCES [dbo].[CUSTOMER_ORDER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUOTE_ORDER] CHECK CONSTRAINT [FKEY0158]
GO
ALTER TABLE [dbo].[QUOTE_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0178] FOREIGN KEY([QUOTE_ID])
REFERENCES [dbo].[QUOTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUOTE_ORDER] CHECK CONSTRAINT [FKEY0178]
GO
