USE [VECA]
GO
/****** Object:  Table [dbo].[FINANCIAL_PERIOD]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_PERIOD](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CALENDAR_ID] [nvarchar](15) NOT NULL,
	[ACCT_YEAR] [decimal](4, 0) NOT NULL,
	[ACCT_PERIOD] [decimal](2, 0) NOT NULL,
	[BEGIN_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
 CONSTRAINT [PK_FINANCIAL_PERIOD] PRIMARY KEY CLUSTERED 
(
	[CALENDAR_ID] ASC,
	[ACCT_YEAR] ASC,
	[ACCT_PERIOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
