USE [VECA]
GO
/****** Object:  Table [dbo].[INDIRECT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIRECT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[INDIRECT_CODE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_INDIRECT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INDIRECT]  WITH CHECK ADD  CONSTRAINT [FKEY0255] FOREIGN KEY([GL_ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[INDIRECT] CHECK CONSTRAINT [FKEY0255]
GO
ALTER TABLE [dbo].[INDIRECT]  WITH CHECK ADD  CONSTRAINT [CHK0002] CHECK  (([INDIRECT_CODE]='H' OR [INDIRECT_CODE]='V' OR [INDIRECT_CODE]='S' OR [INDIRECT_CODE]='M'))
GO
ALTER TABLE [dbo].[INDIRECT] CHECK CONSTRAINT [CHK0002]
GO
