USE [VECA]
GO
/****** Object:  Table [dbo].[V_RPT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_RPT](
	[ID] [nvarchar](15) NOT NULL,
	[TYPE] [nvarchar](15) NOT NULL,
	[SUB_TYPE] [nvarchar](15) NULL,
	[DIALOG_CODE] [int] NULL,
	[FILE_NAME] [nvarchar](254) NULL,
	[MENU_TEXT] [nvarchar](50) NULL,
	[LONG_DESC] [nvarchar](254) NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[HAS_CHILD] [smallint] NOT NULL,
	[FILE_PATH] [nvarchar](254) NULL,
	[PARENT_ID] [nvarchar](15) NULL,
	[CONTEXT] [nvarchar](15) NULL,
	[USER_ID] [nvarchar](15) NULL,
	[DEFAULT_RPT] [smallint] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_RPT_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_RPT] ADD  DEFAULT ((0)) FOR [HAS_CHILD]
GO
