USE [VECA]
GO
/****** Object:  Table [dbo].[APP_CONFIG_ITEM]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_CONFIG_ITEM](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [int] NOT NULL,
	[APP_CONFIG_ID] [int] NOT NULL,
	[CAPTION] [nvarchar](100) NOT NULL,
	[ITEM_TYPE] [nvarchar](100) NOT NULL,
	[PARENT_ITEM_ID] [int] NULL,
	[POS_X] [decimal](14, 4) NULL,
	[POS_Y] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[ITEM_STATE] [int] NULL,
	[ITEM_FOCUS] [nchar](1) NOT NULL,
	[CONFIG] [image] NULL,
 CONSTRAINT [PK_APP_CONFIG_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[APP_CONFIG_ITEM] ADD  DEFAULT ('N') FOR [ITEM_FOCUS]
GO
ALTER TABLE [dbo].[APP_CONFIG_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_APP_CONFIG_ITEM_TO_APP] FOREIGN KEY([APP_CONFIG_ID])
REFERENCES [dbo].[APP_CONFIG] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APP_CONFIG_ITEM] CHECK CONSTRAINT [FK_APP_CONFIG_ITEM_TO_APP]
GO
