USE [VECA]
GO
/****** Object:  Table [dbo].[RECVR_LINE_BINARY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECVR_LINE_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_LINE_NO] [smallint] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_RECVR_LINE_BINARY] PRIMARY KEY CLUSTERED 
(
	[RECEIVER_ID] ASC,
	[RECEIVER_LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECVR_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [FK_RECVR_LINE_BINARY] FOREIGN KEY([RECEIVER_ID], [RECEIVER_LINE_NO])
REFERENCES [dbo].[RECEIVER_LINE] ([RECEIVER_ID], [LINE_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECVR_LINE_BINARY] CHECK CONSTRAINT [FK_RECVR_LINE_BINARY]
GO
