USE [VECA]
GO
/****** Object:  Table [dbo].[REQUEST_FOR_QUOTE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_FOR_QUOTE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_QUOTE_ID] [nvarchar](15) NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[BUYER] [nvarchar](20) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_REQUEST_FOR_QUOTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REQUEST_FOR_QUOTE] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[REQUEST_FOR_QUOTE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[REQUEST_FOR_QUOTE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[REQUEST_FOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY0292] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[REQUEST_FOR_QUOTE] CHECK CONSTRAINT [FKEY0292]
GO
ALTER TABLE [dbo].[REQUEST_FOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [CHK0090] CHECK  (([STATUS]='A' OR [STATUS]='C' OR [STATUS]='X'))
GO
ALTER TABLE [dbo].[REQUEST_FOR_QUOTE] CHECK CONSTRAINT [CHK0090]
GO
