USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_TYPE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_TYPE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TYPE] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[REALLOCATE] [nchar](1) NOT NULL,
	[ALLOCATION_FENCE] [int] NULL,
	[PRIORITY] [smallint] NULL,
	[AUTO_ALLOCATE] [nchar](1) NULL,
	[CO_ALLOC_LEVEL] [nchar](1) NULL,
 CONSTRAINT [PK_CUSTOMER_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
