USE [VECA]
GO
/****** Object:  Table [dbo].[RECEIVER]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[RECEIVED_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[SHIP_REASON_CD] [nvarchar](15) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[BOL_ID] [nvarchar](20) NULL,
	[VEND_PACK_ID] [nvarchar](40) NULL,
	[VEND_PACK_DATE] [datetime] NULL,
	[VEND_FREIGHT_ID] [nvarchar](40) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_RECEIVER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECEIVER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[RECEIVER] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[RECEIVER]  WITH CHECK ADD  CONSTRAINT [FK_RECEIVER_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[RECEIVER] CHECK CONSTRAINT [FK_RECEIVER_TO_SITE]
GO
ALTER TABLE [dbo].[RECEIVER]  WITH CHECK ADD  CONSTRAINT [FKEY0167] FOREIGN KEY([PURC_ORDER_ID])
REFERENCES [dbo].[PURCHASE_ORDER] ([ID])
GO
ALTER TABLE [dbo].[RECEIVER] CHECK CONSTRAINT [FKEY0167]
GO
ALTER TABLE [dbo].[RECEIVER]  WITH CHECK ADD  CONSTRAINT [CHK0048] CHECK  (([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N'))
GO
ALTER TABLE [dbo].[RECEIVER] CHECK CONSTRAINT [CHK0048]
GO
