USE [VECA]
GO
/****** Object:  Table [dbo].[TOOLBAR]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOLBAR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[PROGRAM_ID] [nvarchar](15) NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[BITMAP] [nvarchar](250) NULL,
	[POSITION] [int] NULL,
	[TOOLTIP] [nvarchar](40) NULL,
	[EXECUTE_COMMAND] [nvarchar](250) NULL,
	[USE_KEY_IN_CMD_LINE] [nchar](1) NULL,
	[ADD_ENTRY_TO_TOOLBAR] [nchar](1) NULL,
	[TOOLBAR_TYPE] [nvarchar](10) NULL,
 CONSTRAINT [PK_TOOLBAR] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[PROGRAM_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
