USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_BOOKINGS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_BOOKINGS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[BOOK_DATE] [datetime] NOT NULL,
	[ORDER_DATE] [datetime] NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[EDI_RELEASE_NO] [nvarchar](30) NULL,
	[EDI_ACCUM_SHIP_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_AUTH_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_BUY_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_SHIP_ADJ] [decimal](20, 8) NULL,
	[EDI_ACCUM_ORD_ADJ] [decimal](20, 8) NULL,
	[EDI_LAST_SHIPDATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[REVISION_ID] [nvarchar](8) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_CUSTOMER_BOOKINGS] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[BOOK_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_BOOKINGS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
