USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_FORECAST]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_FORECAST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[FORECAST_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[REQUIRED_DATE] [datetime] NOT NULL,
	[REQUIRED_QTY] [decimal](20, 8) NOT NULL,
	[CUSTOMER_PART_ID] [nvarchar](30) NULL,
	[CUSTOMER_PO_REF] [nvarchar](40) NULL,
	[USER_DATE] [datetime] NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_FORECAST]  WITH CHECK ADD  CONSTRAINT [FK_CUST_FORECAST_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_FORECAST] CHECK CONSTRAINT [FK_CUST_FORECAST_TO_SITE]
GO
ALTER TABLE [dbo].[CUSTOMER_FORECAST]  WITH CHECK ADD  CONSTRAINT [FKEY9101] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_FORECAST] CHECK CONSTRAINT [FKEY9101]
GO
ALTER TABLE [dbo].[CUSTOMER_FORECAST]  WITH CHECK ADD  CONSTRAINT [FKEY9102] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_FORECAST] CHECK CONSTRAINT [FKEY9102]
GO
