USE [VECA]
GO
/****** Object:  Table [dbo].[_SN_Synced]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_SN_Synced](
	[RowID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SN] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](10) NULL,
	[Cust_Order_ID] [nvarchar](50) NULL,
	[Cust_Line_No] [int] NULL,
	[Date_Synced] [datetime] NULL
) ON [PRIMARY]
GO
