USE [VECA]
GO
/****** Object:  Table [dbo].[GJ_DIST]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GJ_DIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GJ_ID] [nvarchar](15) NOT NULL,
	[DIST_NO] [smallint] NOT NULL,
	[ENTRY_NO] [smallint] NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[AMOUNT_TYPE] [nchar](2) NOT NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[NATIVE_AMOUNT] [decimal](23, 8) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[POSTING_STATUS] [nchar](1) NOT NULL,
	[BATCH_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[NATIVE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_GJ_DIST] PRIMARY KEY CLUSTERED 
(
	[GJ_ID] ASC,
	[DIST_NO] ASC,
	[ENTRY_NO] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GJ_DIST] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[GJ_DIST] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[GJ_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY9438] FOREIGN KEY([GJ_ID])
REFERENCES [dbo].[GJ] ([ID])
GO
ALTER TABLE [dbo].[GJ_DIST] CHECK CONSTRAINT [FKEY9438]
GO
ALTER TABLE [dbo].[GJ_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY9439] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[GJ_DIST] CHECK CONSTRAINT [FKEY9439]
GO
