USE [VECA]
GO
/****** Object:  Table [dbo].[EVENT_DETECT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_DETECT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EVENT_ID] [int] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[EVENT_TYPE] [nchar](1) NULL,
	[EVENT_BASE_ID] [nvarchar](30) NULL,
	[EVENT_LOT_ID] [nvarchar](5) NULL,
	[EVENT_SPLIT_ID] [nvarchar](3) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[STATUS] [nchar](1) NULL,
	[ERROR_MSG] [nvarchar](250) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVENT_DETECT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
