USE [VECA]
GO
/****** Object:  Table [dbo].[T_ABC_PART]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ABC_PART](
	[part_id] [nvarchar](30) NULL,
	[abc_code] [nchar](1) NULL,
	[abc_part_count] [int] NULL,
	[warehouse_id] [nvarchar](15) NULL,
	[location_id] [nvarchar](15) NULL,
	[qty] [decimal](14, 4) NULL,
	[pl_locked] [nchar](1) NULL
) ON [PRIMARY]
GO
