USE [VECA]
GO
/****** Object:  Table [dbo].[SHIPPER_INVOICE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPER_INVOICE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PACKLIST_ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[INVOICE_ID] [nvarchar](15) NULL,
	[INVOICED_DATE] [datetime] NULL,
	[INVOICE_CANDIDATE] [nchar](1) NOT NULL,
	[DOC_FILE_PATH] [nvarchar](255) NULL,
	[DOCUMENT_ID] [nvarchar](128) NULL,
	[DISTRIBUTED_DATE] [datetime] NULL,
	[DOC_TOTAL_AMOUNT] [decimal](23, 8) NULL,
 CONSTRAINT [PK_SHIPPER_INVOICE] PRIMARY KEY CLUSTERED 
(
	[PACKLIST_ID] ASC,
	[SITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHIPPER_INVOICE] ADD  DEFAULT ('N') FOR [INVOICE_CANDIDATE]
GO
