USE [VECA]
GO
/****** Object:  Table [dbo].[PURCHASE_DIST]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_DIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[DIST_NO] [smallint] NOT NULL,
	[ENTRY_NO] [smallint] NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[AMOUNT_TYPE] [nchar](2) NOT NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[POSTING_STATUS] [nchar](1) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[BATCH_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[NATIVE] [nchar](1) NULL,
 CONSTRAINT [PK_PURCHASE_DIST] PRIMARY KEY CLUSTERED 
(
	[PURC_ORDER_ID] ASC,
	[DIST_NO] ASC,
	[ENTRY_NO] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURCHASE_DIST] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[PURCHASE_DIST] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[PURCHASE_DIST]  WITH CHECK ADD  CONSTRAINT [FK_PURDST_BATCH] FOREIGN KEY([SITE_ID], [BATCH_ID])
REFERENCES [dbo].[JOURNAL_BATCH] ([SITE_ID], [ID])
GO
ALTER TABLE [dbo].[PURCHASE_DIST] CHECK CONSTRAINT [FK_PURDST_BATCH]
GO
ALTER TABLE [dbo].[PURCHASE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0010] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_DIST] CHECK CONSTRAINT [FKEY0010]
GO
ALTER TABLE [dbo].[PURCHASE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0166] FOREIGN KEY([PURC_ORDER_ID])
REFERENCES [dbo].[PURCHASE_ORDER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_DIST] CHECK CONSTRAINT [FKEY0166]
GO
ALTER TABLE [dbo].[PURCHASE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY0197] FOREIGN KEY([GL_ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_DIST] CHECK CONSTRAINT [FKEY0197]
GO
ALTER TABLE [dbo].[PURCHASE_DIST]  WITH CHECK ADD  CONSTRAINT [FKEY9413] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[PURCHASE_DIST] CHECK CONSTRAINT [FKEY9413]
GO
ALTER TABLE [dbo].[PURCHASE_DIST]  WITH CHECK ADD  CONSTRAINT [CHK9046] CHECK  (([POSTING_STATUS]='U' OR [POSTING_STATUS]='P'))
GO
ALTER TABLE [dbo].[PURCHASE_DIST] CHECK CONSTRAINT [CHK9046]
GO
