USE [VECA]
GO
/****** Object:  Table [dbo].[SELECTED_OPTIONS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELECTED_OPTIONS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_LINE_NO] [smallint] NOT NULL,
	[SEQ_NO] [smallint] NOT NULL,
	[TYPE] [nchar](3) NULL,
	[RQD_OPT] [nchar](3) NULL,
	[STD_OPT] [nchar](3) NULL,
	[SERIES_ID] [nvarchar](15) NULL,
	[SERIES_DESCR] [nvarchar](40) NULL,
	[MODEL_ID] [nvarchar](15) NULL,
	[MODEL_DESCR] [nvarchar](40) NULL,
	[SALES_CODE] [nvarchar](30) NULL,
	[SALES_CODE_DESCR] [nvarchar](40) NULL,
	[CATEGORY_ID] [nvarchar](15) NULL,
	[CATEGORY_DESCR] [nvarchar](40) NULL,
	[USER_TEXT] [nvarchar](80) NULL,
	[DIM_UM_0] [nvarchar](15) NULL,
	[DIM_VALUE_0] [decimal](23, 8) NULL,
	[DIM_UM_1] [nvarchar](15) NULL,
	[DIM_VALUE_1] [decimal](23, 8) NULL,
	[DIM_UM_2] [nvarchar](15) NULL,
	[DIM_VALUE_2] [decimal](23, 8) NULL,
	[DIM_UM_3] [nvarchar](15) NULL,
	[DIM_VALUE_3] [decimal](23, 8) NULL,
	[QTY] [decimal](20, 8) NULL,
	[TRADE_DISCOUNT] [decimal](23, 8) NULL,
	[DISCOUNT_TYPE] [nchar](1) NULL,
	[PART_ID] [nvarchar](30) NULL,
	[ENG_ID] [nvarchar](3) NULL,
	[COPY_SEQ_NO] [smallint] NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
 CONSTRAINT [PK_SELECTED_OPTIONS] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[CUST_ORDER_LINE_NO] ASC,
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SELECTED_OPTIONS]  WITH CHECK ADD  CONSTRAINT [FKEY0286] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[SELECTED_OPTIONS] CHECK CONSTRAINT [FKEY0286]
GO
