USE [VECA]
GO
/****** Object:  Table [dbo].[SERVICE_RECEIPT]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_RECEIPT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[OPERATION_SEQ_NO] [smallint] NOT NULL,
	[SERVICE_ID] [nvarchar](15) NOT NULL,
	[FIXED_COST] [decimal](23, 8) NOT NULL,
	[GOOD_QTY] [decimal](20, 8) NOT NULL,
	[BAD_QTY] [decimal](20, 8) NOT NULL,
	[TRANSACTION_DATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[USER_ID] [nvarchar](20) NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[REJECTED_QTY] [decimal](20, 8) NULL,
	[ACT_FREIGHT] [decimal](23, 8) NULL,
	[SHIPPING_WEIGHT] [decimal](14, 4) NULL,
	[WEIGHT_UM] [nvarchar](15) NULL,
	[SERVICE_PART_ID] [nvarchar](30) NULL,
	[RECEIVER_ID] [nvarchar](15) NULL,
	[RECEIVER_LINE_NO] [smallint] NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[UNIT_COST] [decimal](22, 8) NULL,
	[PURC_DEL_LINE_NO] [smallint] NULL,
	[RCVR_DEL_LINE_NO] [smallint] NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NOT NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[USER_GOOD_QTY] [decimal](20, 8) NULL,
	[USER_BAD_QTY] [decimal](20, 8) NULL,
	[LAST_RETRO_DATE] [datetime] NULL,
	[ACT_RATE_ID] [nvarchar](15) NULL,
	[ACT_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_ID] [nvarchar](15) NULL,
	[RETRO_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_CODE] [nchar](1) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SERVICE_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] ADD  DEFAULT ((0)) FOR [FIXED_COST]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] ADD  DEFAULT ((0)) FOR [BAD_QTY]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] ADD  DEFAULT ((0)) FOR [ACT_SERVICE_COST]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] ADD  DEFAULT ((0)) FOR [ACT_BURDEN_COST]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_RECEIPT_00] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] CHECK CONSTRAINT [FK_SERVICE_RECEIPT_00]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_RECEIPT_01] FOREIGN KEY([COST_CATEGORY_ID])
REFERENCES [dbo].[COST_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] CHECK CONSTRAINT [FK_SERVICE_RECEIPT_01]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_SRVRCPT_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] CHECK CONSTRAINT [FK_SRVRCPT_TO_SITE]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FKEY0116] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] CHECK CONSTRAINT [FKEY0116]
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FKEY0274] FOREIGN KEY([PURC_ORDER_ID], [PURC_ORDER_LINE_NO])
REFERENCES [dbo].[PURC_ORDER_LINE] ([PURC_ORDER_ID], [LINE_NO])
GO
ALTER TABLE [dbo].[SERVICE_RECEIPT] CHECK CONSTRAINT [FKEY0274]
GO
