USE [VECA]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
	[TYPE] [nchar](1) NOT NULL,
	[SUMMARY_ACCOUNT] [nchar](1) NOT NULL,
	[PARENT_ACCT_ID] [nvarchar](30) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[REVALUE] [nchar](1) NOT NULL,
	[PROJECT_ACCOUNT] [nchar](1) NULL,
	[ACTIVE_FLAG] [nchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ('') FOR [SUMMARY_ACCOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ('') FOR [REVALUE]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FKEY9407] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FKEY9407]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [CHK9061] CHECK  ((([TYPE]='A' OR [TYPE]='L' OR [TYPE]='Q' OR [TYPE]='E' OR [TYPE]='R') AND ([SUMMARY_ACCOUNT]='Y' OR [SUMMARY_ACCOUNT]='N')))
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [CHK9061]
GO
