USE [VECA]
GO
/****** Object:  Table [dbo].[V_INST]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_INST](
	[ID] [nvarchar](15) NOT NULL,
	[INST_TYPE] [nvarchar](2) NOT NULL,
	[END_OF_MONTH] [nchar](1) NULL,
	[VAT_ON_FIRST_INST] [nchar](1) NULL,
	[PERIOD_TYPE] [nchar](1) NOT NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
 CONSTRAINT [X_V_INST_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[INST_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_INST] ADD  DEFAULT ('D') FOR [PERIOD_TYPE]
GO
