USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_BOOK_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_BOOK_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_LINE_NO] [smallint] NOT NULL,
	[BOOK_DATE] [datetime] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[ORDER_QTY] [decimal](20, 8) NULL,
	[USER_ORDER_QTY] [decimal](20, 8) NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[EDI_BLANKET_QTY] [decimal](20, 8) NULL,
	[EDI_RELEASE_NO] [nvarchar](30) NULL,
	[EDI_ACCUM_SHIP_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_FAB_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_RAW_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_SHIP_ADJ] [decimal](20, 8) NULL,
	[EDI_ACCUM_ORD_ADJ] [decimal](20, 8) NULL,
	[EDI_LAST_SHIPDATE] [datetime] NULL,
	[TOTAL_SHIPPED_QTY] [decimal](20, 8) NULL,
	[TOTAL_USR_SHIP_QTY] [decimal](20, 8) NULL,
	[ACTUAL_SHIP_DATE] [datetime] NULL,
	[REVISION_ID] [nvarchar](8) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_CUST_BOOK_LINE] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[CUST_ORDER_LINE_NO] ASC,
	[BOOK_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_BOOK_LINE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
