USE [VECA]
GO
/****** Object:  Table [dbo].[ACCOUNT_SITE]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[IS_VIEWABLE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_ACCOUNT_SITE] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[SITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT_SITE]  WITH CHECK ADD  CONSTRAINT [FK_ACCT_SITE_ACCT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_SITE] CHECK CONSTRAINT [FK_ACCT_SITE_ACCT]
GO
ALTER TABLE [dbo].[ACCOUNT_SITE]  WITH CHECK ADD  CONSTRAINT [FK_ACCT_SITE_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT_SITE] CHECK CONSTRAINT [FK_ACCT_SITE_SITE]
GO
