USE [VECA]
GO
/****** Object:  Table [dbo].[SOA_CODE_MAP]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOA_CODE_MAP](
	[LIST_ID] [nvarchar](100) NOT NULL,
	[AGENCY_ID] [nvarchar](10) NOT NULL,
	[SOA_CODE] [nvarchar](100) NOT NULL,
	[VE_CODE] [nvarchar](50) NOT NULL,
	[VE_CODE_DESC] [nvarchar](250) NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SOA_CODE_MAP]  WITH CHECK ADD  CONSTRAINT [FK_SOA_CODE_LIST] FOREIGN KEY([LIST_ID], [AGENCY_ID], [SOA_CODE])
REFERENCES [dbo].[SOA_CODE_LIST] ([LIST_ID], [AGENCY_ID], [CODE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOA_CODE_MAP] CHECK CONSTRAINT [FK_SOA_CODE_LIST]
GO
