USE [VECA]
GO
/****** Object:  Table [dbo].[SRP_SKU_BUILDABLE_OVERVIEW]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SRP_SKU_BUILDABLE_OVERVIEW](
	[SKU] [varchar](max) NULL,
	[Demand_for_SKU] [float] NULL,
	[Max_SKU_Buildable] [float] NULL,
	[Limiting_Component_ID] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
