USE [VECA]
GO
/****** Object:  Table [dbo].[ECN_DETAIL]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECN_DETAIL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ECN_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[ENTRY_NO] [smallint] NOT NULL,
	[DETAIL_TYPE] [int] NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NULL,
	[OPERATION_SEQ_NO] [int] NULL,
	[REQ_PIECE_NO] [int] NULL,
	[CHILD_NOTIFY] [nchar](1) NOT NULL,
	[LOCK_NOTIFY] [nchar](1) NOT NULL,
	[ECN_ACTION] [nchar](1) NOT NULL,
	[RESTORED] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[COMMENTS] [nvarchar](250) NULL,
 CONSTRAINT [PK_ECN_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ECN_ID] ASC,
	[LINE_NO] ASC,
	[ENTRY_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ECN_DETAIL] ADD  DEFAULT ('N') FOR [CHILD_NOTIFY]
GO
ALTER TABLE [dbo].[ECN_DETAIL] ADD  DEFAULT ('Y') FOR [LOCK_NOTIFY]
GO
ALTER TABLE [dbo].[ECN_DETAIL] ADD  DEFAULT ('E') FOR [ECN_ACTION]
GO
ALTER TABLE [dbo].[ECN_DETAIL] ADD  DEFAULT ('N') FOR [RESTORED]
GO
ALTER TABLE [dbo].[ECN_DETAIL] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[ECN_DETAIL]  WITH CHECK ADD  CONSTRAINT [CHK_ECN_DETAIL] CHECK  ((([LOCK_NOTIFY]='Y' OR [LOCK_NOTIFY]='N') AND ([CHILD_NOTIFY]='Y' OR [CHILD_NOTIFY]='N') AND ([RESTORED]='Y' OR [RESTORED]='N') AND ([ECN_ACTION]='A' OR [ECN_ACTION]='E' OR [ECN_ACTION]='D' OR [ECN_ACTION]='X')))
GO
ALTER TABLE [dbo].[ECN_DETAIL] CHECK CONSTRAINT [CHK_ECN_DETAIL]
GO
