USE [VECA]
GO
/****** Object:  Table [dbo].[Z_BUDGET]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_BUDGET](
	[Financial_Statement] [nvarchar](50) NULL,
	[Budget_Line] [nvarchar](60) NULL,
	[FS_Line] [nvarchar](60) NULL,
	[Date] [date] NULL,
	[Value] [decimal](25, 4) NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOURCE] [nvarchar](60) NULL,
 CONSTRAINT [PK_Z_BUDGET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
