USE [VECA]
GO
/****** Object:  Table [dbo].[EXTRA_JOIN]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTRA_JOIN](
	[PARENT] [nvarchar](20) NOT NULL,
	[CHILD] [nvarchar](20) NOT NULL,
	[ADDTL_WHERE] [nvarchar](2000) NULL,
	[NAME] [nvarchar](20) NOT NULL,
	[CHILD_COLUMNS] [nvarchar](2000) NULL,
 CONSTRAINT [PK_EXTRA_JOIN] PRIMARY KEY CLUSTERED 
(
	[PARENT] ASC,
	[CHILD] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
