USE [VECA]
GO
/****** Object:  Table [dbo].[VMDI_TABLE]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDI_TABLE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LAYOUT_KEY] [nchar](3) NOT NULL,
	[LAYOUT_VERSION] [nchar](4) NOT NULL,
	[LAYOUT_DIRECTION] [nchar](1) NOT NULL,
	[SEGMENT_TYPE] [nchar](3) NOT NULL,
	[TABLE_NAME] [nvarchar](18) NOT NULL,
	[JOIN] [nvarchar](250) NULL,
	[PRIMARY_KEY] [nvarchar](250) NULL,
 CONSTRAINT [PK_VMDI_TABLE] PRIMARY KEY CLUSTERED 
(
	[LAYOUT_KEY] ASC,
	[LAYOUT_VERSION] ASC,
	[LAYOUT_DIRECTION] ASC,
	[SEGMENT_TYPE] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VMDI_TABLE]  WITH CHECK ADD  CONSTRAINT [FKEY9103] FOREIGN KEY([LAYOUT_KEY], [LAYOUT_VERSION], [LAYOUT_DIRECTION])
REFERENCES [dbo].[VMDI_LAYOUT] ([KEY], [VERSION], [DIRECTION])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VMDI_TABLE] CHECK CONSTRAINT [FKEY9103]
GO
