USE [VECA]
GO
/****** Object:  Table [dbo].[ATF_SN]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATF_SN](
	[serial_number] [varchar](60) NULL,
	[entry_type] [varchar](60) NULL,
	[date_stamp] [datetime] NULL,
	[ATF_AUDIT_PERIOD_ID] [int] NULL
) ON [PRIMARY]
GO
