USE [VECA]
GO
/****** Object:  Table [dbo].[SHOP_VIEW]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP_VIEW](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VIEW_ID] [nvarchar](20) NOT NULL,
	[SEQ_NO] [smallint] NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SHOP_VIEW] PRIMARY KEY CLUSTERED 
(
	[VIEW_ID] ASC,
	[SEQ_NO] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHOP_VIEW]  WITH CHECK ADD  CONSTRAINT [FKEY0125] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHOP_VIEW] CHECK CONSTRAINT [FKEY0125]
GO
