USE [VECA]
GO
/****** Object:  Table [dbo].[ACCOUNT_PERIOD]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_PERIOD](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ACCT_YEAR] [decimal](4, 0) NOT NULL,
	[ACCT_PERIOD] [decimal](2, 0) NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[BEGIN_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CALENDAR_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_ACCOUNT_PERIOD] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[ACCT_YEAR] ASC,
	[ACCT_PERIOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT_PERIOD] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[ACCOUNT_PERIOD]  WITH CHECK ADD  CONSTRAINT [CHK0061] CHECK  (([STATUS]='A' OR [STATUS]='C' OR [STATUS]='L'))
GO
ALTER TABLE [dbo].[ACCOUNT_PERIOD] CHECK CONSTRAINT [CHK0061]
GO
