USE [VECA]
GO
/****** Object:  Table [dbo].[NOTIFICATION_DATA]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION_DATA](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[PROGRAM_ID] [nvarchar](30) NOT NULL,
	[PRIMARY_KEY] [nvarchar](15) NOT NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[DOC_ID] [nvarchar](15) NULL,
	[DOC_ID2] [nvarchar](15) NULL,
	[DOC_ID3] [int] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[EMPLOYEE_ID] [nvarchar](20) NULL,
	[ACTION] [nvarchar](15) NULL,
	[EMAIL_ADDR] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NOTIFICATION_DATA] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
