USE [VECA]
GO
/****** Object:  Table [dbo].[Z_CUSTOMER_SALES]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_CUSTOMER_SALES](
	[ROW_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CREATE_DATE] [date] NOT NULL,
	[SALE_DATE] [date] NOT NULL,
	[RETAILER] [nvarchar](50) NOT NULL,
	[UPC] [nvarchar](50) NOT NULL,
	[PART_ID] [nvarchar](50) NOT NULL,
	[QTY] [int] NOT NULL,
	[PRICE] [float] NULL,
	[COGS] [float] NULL,
	[FILE_SOURCE] [nvarchar](225) NOT NULL,
	[STATE] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
