USE [VECA]
GO
/****** Object:  Table [dbo].[PAYABLE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VOUCHER_ID] [nvarchar](15) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[INVOICE_DATE] [datetime] NOT NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[LAST_PAID_DATE] [datetime] NULL,
	[ZERO_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NULL,
	[PAY_STATUS] [nchar](1) NOT NULL,
	[TOTAL_AMOUNT] [decimal](23, 8) NOT NULL,
	[PAID_AMOUNT] [decimal](23, 8) NOT NULL,
	[DISCOUNT_TAKEN] [decimal](23, 8) NOT NULL,
	[AUTHORIZED_PAYMENT] [decimal](23, 8) NULL,
	[TERMS_NET_TYPE] [nchar](1) NOT NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_TYPE] [nchar](1) NOT NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](5, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[REPORT_1099_MISC] [nchar](1) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[PAYB_GL_ACCT_ID] [nvarchar](30) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[NEW_SELL_RATE] [decimal](15, 8) NULL,
	[NEW_BUY_RATE] [decimal](15, 8) NULL,
	[VAT_BOOK_CODE] [nvarchar](5) NULL,
	[VAT_REPORT_NO] [int] NULL,
	[VAT_FILENAME] [nvarchar](15) NULL,
	[WITHHOLDING_CODE] [nvarchar](15) NULL,
	[WITHHELD_AMOUNT] [decimal](23, 8) NOT NULL,
	[WH_ALLOWED_AMOUNT] [decimal](23, 8) NOT NULL,
	[REMIT_ADDR_NO] [int] NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[USER_EXCH_RATE] [nchar](1) NOT NULL,
	[VOID_DATE] [datetime] NULL,
	[COMM_INVOICE_ID] [nvarchar](15) NULL,
	[COMM_PAID_AMOUNT] [decimal](23, 8) NULL,
	[LANDED_COST_INV] [nchar](1) NULL,
	[ACT_RATE_ID] [nvarchar](15) NULL,
	[ACT_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_ID] [nvarchar](15) NULL,
	[RETRO_PERIOD_ID] [nvarchar](15) NULL,
	[RETRO_RATE_CODE] [nchar](1) NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[TERMS_ID] [nvarchar](15) NULL,
	[USER_DIMENSION_1] [nvarchar](15) NULL,
	[USER_DIMENSION_2] [nvarchar](15) NULL,
 CONSTRAINT [PK_PAYABLE] PRIMARY KEY CLUSTERED 
(
	[VOUCHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ('') FOR [PAY_STATUS]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ((0)) FOR [PAID_AMOUNT]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ((0)) FOR [DISCOUNT_TAKEN]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ('') FOR [TERMS_NET_TYPE]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ('') FOR [TERMS_DISC_TYPE]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ((0)) FOR [WITHHELD_AMOUNT]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ((0)) FOR [WH_ALLOWED_AMOUNT]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ('') FOR [USER_EXCH_RATE]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT ('Y') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[PAYABLE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PAYABLE]  WITH CHECK ADD  CONSTRAINT [FKEY0020] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PAYABLE] CHECK CONSTRAINT [FKEY0020]
GO
ALTER TABLE [dbo].[PAYABLE]  WITH CHECK ADD  CONSTRAINT [FKEY0082] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[PAYABLE] CHECK CONSTRAINT [FKEY0082]
GO
ALTER TABLE [dbo].[PAYABLE]  WITH CHECK ADD  CONSTRAINT [FKEY0277] FOREIGN KEY([PAYB_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[PAYABLE] CHECK CONSTRAINT [FKEY0277]
GO
ALTER TABLE [dbo].[PAYABLE]  WITH CHECK ADD  CONSTRAINT [FKEY9399] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[PAYABLE] CHECK CONSTRAINT [FKEY9399]
GO
ALTER TABLE [dbo].[PAYABLE]  WITH CHECK ADD  CONSTRAINT [FKEY9631] FOREIGN KEY([TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[PAYABLE] CHECK CONSTRAINT [FKEY9631]
GO
ALTER TABLE [dbo].[PAYABLE]  WITH CHECK ADD  CONSTRAINT [CHK_PAYABLE] CHECK  ((([TYPE]='I' OR [TYPE]='M' OR [TYPE]='U' OR [TYPE]='W') AND ([PAY_STATUS]='H' OR [PAY_STATUS]='P' OR [PAY_STATUS]='X' OR [PAY_STATUS]='L') AND ([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I' OR [TERMS_NET_TYPE]=' ' AND [TYPE]='W') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E' OR [TERMS_DISC_TYPE]=' ' AND [TYPE]='W') AND ([REPORT_1099_MISC]='Y' OR [REPORT_1099_MISC]='N') AND ([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N') AND ([TYPE]='W' OR [VENDOR_ID] IS NOT NULL)))
GO
ALTER TABLE [dbo].[PAYABLE] CHECK CONSTRAINT [CHK_PAYABLE]
GO
