USE [VECA]
GO
/****** Object:  Table [dbo].[MENU_NAME]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_NAME](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[ID] [nvarchar](40) NOT NULL,
	[MENU_TEXT] [nvarchar](80) NULL,
	[bkgd_color] [nvarchar](20) NULL,
	[text_color] [nvarchar](20) NULL,
 CONSTRAINT [PK_MENU_NAME] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[SEQ_NO] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
