USE [VECA]
GO
/****** Object:  Table [dbo].[SHOP_RESOURCE_SITE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP_RESOURCE_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
	[SCHEDULE_NORMALLY] [nchar](1) NULL,
	[AUTO_REPORTING] [nchar](1) NULL,
	[SHIFT_1_CAPACITY] [smallint] NULL,
	[SHIFT_2_CAPACITY] [smallint] NULL,
	[SHIFT_3_CAPACITY] [smallint] NULL,
	[SETUP_COST_PER_HR] [decimal](22, 8) NOT NULL,
	[RUN_COST_PER_HR] [decimal](22, 8) NOT NULL,
	[SERVICE_BUFFER] [int] NULL,
	[BUR_PER_HR_SETUP] [decimal](22, 8) NOT NULL,
	[BUR_PER_HR_RUN] [decimal](22, 8) NOT NULL,
	[RUN_COST_PER_UNIT] [decimal](22, 8) NOT NULL,
	[BUR_PERCENT_SETUP] [decimal](6, 3) NOT NULL,
	[BUR_PERCENT_RUN] [decimal](6, 3) NOT NULL,
	[BUR_PER_OPERATION] [decimal](23, 8) NOT NULL,
	[GL_ACCT_ID] [nvarchar](30) NULL,
	[AFC_GL_ACCT_ID] [nvarchar](30) NULL,
	[AFB_GL_ACCT_ID] [nvarchar](30) NULL,
	[SCHEDULE_TYPE] [smallint] NULL,
	[MIN_SEGMENT_SIZE] [decimal](14, 2) NULL,
	[EFFICIENCY_FACTOR] [decimal](14, 2) NULL,
	[BUR_PER_UNIT_RUN] [decimal](22, 8) NOT NULL,
	[MONITOR_LOAD] [nchar](1) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[STATUS] [nchar](1) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SHOP_RESOURCE_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [SETUP_COST_PER_HR]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [RUN_COST_PER_HR]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [BUR_PER_HR_SETUP]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [BUR_PER_HR_RUN]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [RUN_COST_PER_UNIT]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [BUR_PERCENT_SETUP]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [BUR_PERCENT_RUN]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [BUR_PER_OPERATION]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] ADD  DEFAULT ((0)) FOR [BUR_PER_UNIT_RUN]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE]  WITH CHECK ADD  CONSTRAINT [FK_SHOP_RES_SITE_TO_SHOP_RESOURCE] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] CHECK CONSTRAINT [FK_SHOP_RES_SITE_TO_SHOP_RESOURCE]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE]  WITH CHECK ADD  CONSTRAINT [FK_SHOP_RES_SITE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[SHOP_RESOURCE_SITE] CHECK CONSTRAINT [FK_SHOP_RES_SITE_TO_SITE]
GO
