USE [VECA]
GO
/****** Object:  Table [dbo].[USER_MNU_AUTHORITY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_MNU_AUTHORITY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[GROUP_ID] [nvarchar](20) NOT NULL,
	[LANGUAGE_ID] [nvarchar](3) NOT NULL,
	[PERMISSION] [nchar](1) NULL,
 CONSTRAINT [PK_USER_MNU_AUTHORITY] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[GROUP_ID] ASC,
	[LANGUAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
