USE [VECA]
GO
/****** Object:  Table [dbo].[ENUM_CODES]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENUM_CODES](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TABLE_NAME] [nvarchar](20) NOT NULL,
	[COLUMN_NAME] [nvarchar](20) NOT NULL,
	[LANGUAGE_ID] [nvarchar](3) NOT NULL,
	[ENUM_TEXT] [nvarchar](40) NULL,
	[ENUM_VALUE] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ENUM_CODES] PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC,
	[COLUMN_NAME] ASC,
	[LANGUAGE_ID] ASC,
	[ENUM_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
