USE [VECA]
GO
/****** Object:  Table [dbo].[SITE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[SOFT_ALLOC_DATE] [datetime] NULL,
	[SITE_NAME] [nvarchar](50) NULL,
	[SITE_ADDR_1] [nvarchar](50) NULL,
	[SITE_ADDR_2] [nvarchar](50) NULL,
	[SITE_ADDR_3] [nvarchar](50) NULL,
	[SITE_CITY] [nvarchar](30) NULL,
	[SITE_STATE] [nvarchar](10) NULL,
	[SITE_ZIPCODE] [nvarchar](10) NULL,
	[SITE_COUNTRY] [nvarchar](50) NULL,
	[STATUS] [nchar](1) NULL,
	[DEF_SHIPPER_STATUS] [nchar](1) NOT NULL,
	[DEMAND_FENCE_1] [int] NULL,
	[DEMAND_FENCE_2] [int] NULL,
	[USE_MRP_DMND_FENCE] [nchar](1) NULL,
	[SHOW_LOC_MESSAGE] [nchar](1) NULL,
	[SHOW_WHS_MESSAGE] [nchar](1) NULL,
	[ADD_LOC_ON_FLY] [nchar](1) NOT NULL,
	[ALLOC_TO_LATER_DEM] [nchar](1) NOT NULL,
	[SCH_NOTCH_SIZE] [smallint] NULL,
	[USE_CAL_RLS_CALC] [nchar](1) NULL,
	[USE_CAL_LT_CALC] [nchar](1) NULL,
	[HARD_RELEASE_DATE] [nchar](1) NULL,
	[USE_SUPPLY_BEF_LT] [nchar](1) NULL,
	[DBR_CAN_DELETE_WO] [nchar](1) NULL,
	[FLAG_RES_CCR_PCT] [int] NULL,
	[FREE_WO_SHIP_BUF] [int] NOT NULL,
	[ALLOCATE_NEGATIVE] [nchar](1) NULL,
	[ISSUE_NEGATIVE] [nchar](1) NULL,
	[ISSNEG_LOCATION] [nchar](1) NULL,
	[SHIP_TRK_ENABLED] [nchar](1) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[PARTIAL_SHIP_PREPAY_BAL] [nchar](1) NULL,
	[SHP_REASON_CD_REQ] [nchar](1) NULL,
	[ECN_CHANGE_ON_HOLD] [nchar](1) NULL,
	[ECN_CMNT_PWD_REQ] [nchar](1) NULL,
	[ECN_GEN_ALL_TASKS] [nchar](1) NULL,
	[ECN_REVISE_ITEMS] [nchar](1) NULL,
	[ONE_ECN_PER_PART] [nchar](1) NULL,
	[ONE_ECN_PER_DOC] [nchar](1) NULL,
	[ONE_ECN_PER_WO] [nchar](1) NULL,
	[ONE_ECN_PER_MSTR] [nchar](1) NULL,
	[ONE_ECN_PER_PRJ] [nchar](1) NULL,
	[ECN_AUTH_LABEL] [nvarchar](10) NULL,
	[ECN_IMPL_LABEL] [nvarchar](10) NULL,
	[ECN_APRV_LABEL] [nvarchar](10) NULL,
	[ECN_DIST_LABEL] [nvarchar](10) NULL,
	[APPLY_ECN_INPROCESS_WO] [nchar](1) NULL,
	[ECN_REQ_FOR_UPDATE] [nchar](1) NULL,
	[LOCK_ECNS] [nchar](1) NULL,
	[AUTOGEN_LAB_ON_REC] [nchar](1) NULL,
	[ISS_REAS_REQ_ISS] [nchar](1) NULL,
	[ISS_REAS_REQ_ISSRTN] [nchar](1) NULL,
	[ADJ_REAS_REQ_ADJIN] [nchar](1) NULL,
	[ADJ_REAS_REQ_ADJOUT] [nchar](1) NULL,
	[DEVIATION_REQUIRED] [nchar](1) NULL,
	[DEF_WAREHOUSE_ID] [nvarchar](15) NULL,
	[BACKFLUSH_LABTICK] [nchar](1) NULL,
	[BACKFLUSH_LABCOST] [nchar](1) NULL,
	[BACKFLUSH_SUB_IDS] [nchar](1) NOT NULL,
	[DEFAULT_EMPLOYEE] [nvarchar](15) NULL,
	[TRANSFER_REASON_REQ] [nchar](1) NULL,
	[LAB_TIC_REQ_INSP] [nchar](1) NULL,
	[PURC_RECV_REQ_INSP] [nchar](1) NULL,
	[APS_DEF_LOC_ID] [nvarchar](15) NULL,
	[APS_DEF_SERVICE_ID] [nvarchar](15) NULL,
	[APS_DEF_WHSE_ID] [nvarchar](15) NULL,
	[APS_DEFAULT_CUST] [nvarchar](15) NULL,
	[APS_DEFAULT_EMPL] [nvarchar](15) NULL,
	[APS_DEFAULT_VENDOR] [nvarchar](15) NULL,
	[APS_IMPLIED_DEC] [nchar](1) NULL,
	[APS_TRIM_STRINGS] [nchar](1) NULL,
	[CAL_EXC_DATA_PATH] [nvarchar](128) NULL,
	[CUST_ORD_DATA_PATH] [nvarchar](128) NULL,
	[FROZE_OP_DATA_PATH] [nvarchar](128) NULL,
	[INV_DATA_PATH] [nvarchar](128) NULL,
	[LABOR_DATA_PATH] [nvarchar](128) NULL,
	[MAST_SCH_DATA_PATH] [nvarchar](128) NULL,
	[PART_DATA_PATH] [nvarchar](128) NULL,
	[PLANNING_DATA_PATH] [nvarchar](128) NULL,
	[PURC_ORD_DATA_PATH] [nvarchar](128) NULL,
	[SCHED_DATA_PATH] [nvarchar](128) NULL,
	[SHOP_DATA_PATH] [nvarchar](128) NULL,
	[WORK_ORD_DATA_PATH] [nvarchar](128) NULL,
	[FIELD_DELIMITER] [nchar](1) NULL,
	[RECORD_DELIMITER] [nchar](1) NULL,
	[QUOTED_STRING] [nvarchar](1) NULL,
	[STANDARD_SCHED_ID] [nvarchar](15) NULL,
	[UPS_ACCOUNT_ID] [nvarchar](15) NULL,
	[RLS_NEAR_DAYS] [smallint] NULL,
	[SUGG_RLS_NEAR_DAYS] [smallint] NULL,
	[ENABLED_PRODUCTS] [nvarchar](8) NULL,
	[PERIODS_PER_YEAR] [smallint] NOT NULL,
	[PERIOD_TYPE] [nchar](1) NOT NULL,
	[MULT_AP_INV_RCVR] [nchar](1) NULL,
	[DUP_AP_CHECK_NO] [nchar](1) NULL,
	[PART_UDF_LABELS] [nvarchar](250) NULL,
	[PROJ_UDF_LABELS] [nvarchar](250) NULL,
	[SHOP_UDF_LABELS] [nvarchar](250) NULL,
	[VQ_ENABLED] [nchar](1) NULL,
	[VQ_QUERY_USE] [nchar](1) NULL,
	[VQ_DIRECTORY] [nvarchar](128) NULL,
	[VQ_DBNAME] [nvarchar](80) NULL,
	[DEL_PACK_CLS_PRD] [nchar](1) NULL,
	[INTERNAL_CUST_ID] [nvarchar](15) NULL,
	[PLAN_BY_WAREHOUSE] [nchar](1) NULL,
	[VENDOR_EXCLUSION] [nchar](1) NOT NULL,
	[PLM_URL] [nvarchar](2000) NULL,
	[PLM_ENABLED] [nchar](1) NOT NULL,
	[PREVENT_NEGATIVE] [nchar](1) NULL,
	[SITE_COUNTRY_ID] [nvarchar](15) NULL,
	[MRP_IN_PROCESS] [nchar](1) NOT NULL,
	[PERCENT_COMPL] [nvarchar](1) NULL,
	[QTY_COMPL_BY_HRS] [nvarchar](1) NULL,
	[MAX_QTY_COMPLETE] [decimal](20, 8) NULL,
	[AUTO_ISSUE_METHOD] [nchar](1) NOT NULL,
 CONSTRAINT [PK_SITE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ('A') FOR [DEF_SHIPPER_STATUS]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ('N') FOR [ADD_LOC_ON_FLY]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ('N') FOR [ALLOC_TO_LATER_DEM]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ((0)) FOR [FREE_WO_SHIP_BUF]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ((12)) FOR [PERIODS_PER_YEAR]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ('M') FOR [PERIOD_TYPE]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ('U') FOR [VENDOR_EXCLUSION]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ('D') FOR [PLM_ENABLED]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT (N'N') FOR [MRP_IN_PROCESS]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT (N'N') FOR [PERCENT_COMPL]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT (N'N') FOR [QTY_COMPL_BY_HRS]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ((0)) FOR [MAX_QTY_COMPLETE]
GO
ALTER TABLE [dbo].[SITE] ADD  DEFAULT ('S') FOR [AUTO_ISSUE_METHOD]
GO
ALTER TABLE [dbo].[SITE]  WITH CHECK ADD  CONSTRAINT [FK_SITE_TO_ACC_ENTITY] FOREIGN KEY([ENTITY_ID])
REFERENCES [dbo].[ACCOUNTING_ENTITY] ([ID])
GO
ALTER TABLE [dbo].[SITE] CHECK CONSTRAINT [FK_SITE_TO_ACC_ENTITY]
GO
