USE [VECA]
GO
/****** Object:  Table [dbo].[INVENTORY_BALANCE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_BALANCE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[QTY] [decimal](20, 8) NOT NULL,
	[FLAG] [nchar](1) NOT NULL,
	[MATERIAL_AMOUNT] [decimal](23, 8) NULL,
	[LABOR_AMOUNT] [decimal](23, 8) NULL,
	[BURDEN_AMOUNT] [decimal](23, 8) NULL,
	[SERVICE_AMOUNT] [decimal](23, 8) NULL,
	[MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_INVENTORY_BALANCE] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[POSTING_DATE] ASC,
	[TRANSACTION_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [FK_INVBAL_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [FK_INVBAL_TO_SITE]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9119] FOREIGN KEY([TRANSACTION_ID])
REFERENCES [dbo].[INVENTORY_TRANS] ([TRANSACTION_ID])
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [FKEY9119]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9120] FOREIGN KEY([MAT_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [FKEY9120]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9121] FOREIGN KEY([LAB_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [FKEY9121]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9122] FOREIGN KEY([BUR_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [FKEY9122]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9123] FOREIGN KEY([SER_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [FKEY9123]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [FKEY9417] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [FKEY9417]
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE]  WITH CHECK ADD  CONSTRAINT [CHK0098] CHECK  (([FLAG]='B' OR [FLAG]='A' OR [FLAG]='R' OR [FLAG]='N'))
GO
ALTER TABLE [dbo].[INVENTORY_BALANCE] CHECK CONSTRAINT [CHK0098]
GO
