USE [VECA]
GO
/****** Object:  Table [dbo].[OPERATION_TYPE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_TYPE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[RESOURCE_ID] [nvarchar](15) NULL,
	[SETUP_HRS] [decimal](6, 3) NULL,
	[RUN] [decimal](20, 8) NULL,
	[RUN_TYPE] [nchar](15) NULL,
	[LOAD_SIZE_QTY] [decimal](20, 8) NULL,
	[MOVE_HRS] [decimal](6, 3) NULL,
	[SERVICE_ID] [nvarchar](15) NULL,
	[TRANSIT_DAYS] [decimal](6, 3) NULL,
	[SCRAP_YIELD_PCT] [decimal](5, 2) NULL,
	[SCRAP_YIELD_TYPE] [nchar](1) NULL,
	[FIXED_SCRAP_UNITS] [decimal](20, 8) NULL,
	[MINIMUM_MOVE_QTY] [decimal](20, 8) NULL,
	[CALC_START_QTY] [decimal](20, 8) NULL,
	[CALC_END_QTY] [decimal](20, 8) NULL,
	[OVERRIDE_QTYS] [nchar](1) NULL,
	[BEGIN_TRACEABILITY] [nchar](1) NULL,
	[TEST_ID] [nvarchar](15) NULL,
	[SETUP_COST_PER_HR] [decimal](22, 8) NULL,
	[RUN_COST_PER_HR] [decimal](22, 8) NULL,
	[BUR_PER_HR_SETUP] [decimal](22, 8) NULL,
	[BUR_PER_HR_RUN] [decimal](22, 8) NULL,
	[SERVICE_BASE_CHG] [decimal](23, 8) NULL,
	[BUR_PERCENT_SETUP] [decimal](6, 3) NULL,
	[BUR_PERCENT_RUN] [decimal](6, 3) NULL,
	[BUR_PER_OPERATION] [decimal](23, 8) NULL,
	[CAPACITY_USAGE_MAX] [smallint] NULL,
	[CAPACITY_USAGE_MIN] [smallint] NULL,
	[SCHEDULE_TYPE] [smallint] NULL,
	[MIN_SEGMENT_SIZE] [decimal](14, 2) NULL,
	[SERVICE_MIN_CHG] [decimal](23, 8) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[VENDOR_SERVICE_ID] [nvarchar](30) NULL,
	[SERVICE_PART_ID] [nvarchar](30) NULL,
	[BUR_PER_UNIT_RUN] [decimal](22, 8) NULL,
	[RUN_COST_PER_UNIT] [decimal](22, 8) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_OPERATION_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[SITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_OPER_TYPE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[OPERATION_TYPE] CHECK CONSTRAINT [FK_OPER_TYPE_TO_SITE]
GO
ALTER TABLE [dbo].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [FKEY0112] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[OPERATION_TYPE] CHECK CONSTRAINT [FKEY0112]
GO
ALTER TABLE [dbo].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [FKEY0121] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[OPERATION_TYPE] CHECK CONSTRAINT [FKEY0121]
GO
ALTER TABLE [dbo].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [FKEY0258] FOREIGN KEY([TEST_ID])
REFERENCES [dbo].[TEST] ([ID])
GO
ALTER TABLE [dbo].[OPERATION_TYPE] CHECK CONSTRAINT [FKEY0258]
GO
ALTER TABLE [dbo].[OPERATION_TYPE]  WITH CHECK ADD  CONSTRAINT [CHK0005] CHECK  ((([RUN_TYPE]='DAYS/PC' OR [RUN_TYPE]='DAYS/LOAD' OR [RUN_TYPE]='PCS/DAY' OR [RUN_TYPE]='LOADS/HR' OR [RUN_TYPE]='LOADS/DAY' OR [RUN_TYPE]='HRS/LOAD' OR [RUN_TYPE]='PCS/MIN' OR [RUN_TYPE]='MIN/PC' OR [RUN_TYPE]='PCS/HR' OR [RUN_TYPE]='HRS/PC') AND ([BEGIN_TRACEABILITY]='N' OR [BEGIN_TRACEABILITY]='Y') AND ([OVERRIDE_QTYS]='N' OR [OVERRIDE_QTYS]='Y') AND [CAPACITY_USAGE_MIN]>=(0) AND [CAPACITY_USAGE_MAX]>=(0)))
GO
ALTER TABLE [dbo].[OPERATION_TYPE] CHECK CONSTRAINT [CHK0005]
GO
