USE [VECA]
GO
/****** Object:  Table [dbo].[Z_TUNNEL_RESULTS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_TUNNEL_RESULTS](
	[TEST_ID] [nvarchar](255) NOT NULL,
	[TEMP] [float] NULL,
	[BARO] [float] NULL,
	[HUMIDITY] [float] NULL,
	[OPERATOR] [nvarchar](255) NULL,
	[TEST_DATE] [date] NULL,
	[TEST_TIME] [time](7) NULL,
	[GROUP_NUM] [int] NULL,
	[GUN] [nvarchar](255) NULL,
	[MFG] [nvarchar](255) NULL,
	[CALIBER] [nvarchar](255) NULL,
	[LOAD_TYPE] [nvarchar](255) NULL,
	[BULLETMFG] [nvarchar](255) NULL,
	[BULLETWGHT] [nvarchar](255) NULL,
	[BULLETSTYLE] [nvarchar](255) NULL,
	[POWDERWGT] [nvarchar](255) NULL,
	[ES] [int] NULL,
	[FILE_SOURCE] [nvarchar](255) NULL,
	[SPREAD] [float] NULL,
	[PROCESS_BOUND] [bit] NULL,
	[COMMENT] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
