USE [VECA]
GO
/****** Object:  Table [dbo].[z_SALES_GOALS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_SALES_GOALS](
	[CUSTOMER_GROUP] [nvarchar](20) NULL,
	[PERIOD_START] [datetime] NULL,
	[GOAL_AMOUNT] [decimal](23, 8) NULL,
	[CUSTOMER_SUB_GROUP] [nvarchar](20) NULL,
	[MODEL] [nchar](15) NULL,
	[UNITS] [int] NULL,
	[ASP] [float] NULL,
	[AVG_COST] [float] NULL,
	[REVENUE] [float] NULL,
	[COST] [float] NULL,
	[SOURCE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
