USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR_PART]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR_PART](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[VENDOR_PART_ID] [nvarchar](30) NULL,
	[LONG_DESCRIPTION] [image] NULL,
	[LEADTIME_BUFFER] [smallint] NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR_PART]  WITH CHECK ADD  CONSTRAINT [FK_VEND_PART_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_PART] CHECK CONSTRAINT [FK_VEND_PART_TO_SITE]
GO
ALTER TABLE [dbo].[VENDOR_PART]  WITH CHECK ADD  CONSTRAINT [FKEY0080] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_PART] CHECK CONSTRAINT [FKEY0080]
GO
ALTER TABLE [dbo].[VENDOR_PART]  WITH CHECK ADD  CONSTRAINT [FKEY0102] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENDOR_PART] CHECK CONSTRAINT [FKEY0102]
GO
