USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[BILL_TO_NAME] [nvarchar](50) NULL,
	[BILL_TO_ADDR_1] [nvarchar](50) NULL,
	[BILL_TO_ADDR_2] [nvarchar](50) NULL,
	[BILL_TO_ADDR_3] [nvarchar](50) NULL,
	[BILL_TO_CITY] [nvarchar](30) NULL,
	[BILL_TO_STATE] [nvarchar](10) NULL,
	[BILL_TO_ZIPCODE] [nvarchar](10) NULL,
	[BILL_TO_COUNTRY] [nvarchar](50) NULL,
	[DISCOUNT_CODE] [nvarchar](15) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[TERRITORY] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[DEF_SLS_TAX_GRP_ID] [nvarchar](15) NULL,
	[SIC_CODE] [nvarchar](15) NULL,
	[IND_CODE] [nvarchar](15) NULL,
	[FINANCE_CHARGE] [decimal](23, 8) NULL,
	[TAX_EXEMPT] [nchar](1) NOT NULL,
	[TAX_ID_NUMBER] [nvarchar](25) NULL,
	[BACKORDER_FLAG] [nchar](1) NOT NULL,
	[TERMS_NET_TYPE] [nchar](1) NOT NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_TYPE] [nchar](1) NOT NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](5, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[FREIGHT_TERMS] [nchar](1) NOT NULL,
	[DUNNING_LETTERS] [nchar](1) NOT NULL,
	[LAST_ORDER_DATE] [datetime] NULL,
	[OPEN_DATE] [datetime] NULL,
	[MODIFY_DATE] [datetime] NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[TAX_ON_WHOLESALE] [nchar](1) NULL,
	[DEF_RECV_ACCT_ID] [nvarchar](30) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[ARRIVAL_CODE] [nvarchar](25) NULL,
	[TRANS_CODE] [nvarchar](25) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[NATURE_OF_TRANS] [int] NULL,
	[MODE_OF_TRANSPORT] [int] NULL,
	[SIRET_NUMBER] [decimal](14, 0) NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[VAT_BOOK_CODE_I] [nvarchar](5) NULL,
	[VAT_BOOK_CODE_M] [nvarchar](5) NULL,
	[VAT_EXEMPT] [nchar](1) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[RMA_REQUIRED] [nchar](1) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[DEF_TRANS_CURRENCY] [nvarchar](15) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[ACCEPT_EARLY] [nchar](1) NULL,
	[DAYS_EARLY] [smallint] NULL,
	[VAT_DISCOUNTED] [nchar](1) NOT NULL,
	[WEB_USER_ID] [nvarchar](20) NULL,
	[WEB_PASSWORD] [nvarchar](20) NULL,
	[PRIORITY] [smallint] NULL,
	[LANGUAGE_ID] [nvarchar](2) NULL,
	[BILL_LANGUAGE_ID] [nvarchar](2) NULL,
	[DEF_ACK_ID] [nvarchar](15) NULL,
	[PRIMARILY_EDI] [nchar](1) NULL,
	[VAT_ALWAYS_DISC] [nvarchar](1) NOT NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_OVERRIDE_SEQ] [nvarchar](1) NOT NULL,
	[RETURN_TRANS] [int] NULL,
	[CASH_PERCENT_VAR] [nchar](1) NULL,
	[CASH_MIN_VAR] [decimal](23, 8) NULL,
	[CASH_MAX_VAR] [decimal](23, 8) NULL,
	[TAKE_DISC_DAYS] [decimal](15, 2) NULL,
	[MARKET_ID] [nvarchar](15) NULL,
	[CREDIT_CARD_ID] [nvarchar](250) NULL,
	[WEB_URL] [nvarchar](255) NULL,
	[UPS_ACCOUNT_ID] [nvarchar](15) NULL,
	[GENERATE_ASN] [nvarchar](1) NULL,
	[HOLD_TRANSFER_ASN] [nvarchar](1) NULL,
	[CUSTOMS_DOC_PRINT] [nvarchar](1) NULL,
	[SUPPRESS_AR_PRINT] [nvarchar](1) NULL,
	[ACCEPT_830] [nvarchar](1) NULL,
	[ACCEPT_862] [nvarchar](1) NULL,
	[POOL_CODE] [nvarchar](20) NULL,
	[INTER_CONSIGNEE] [nvarchar](20) NULL,
	[CONSOL_SHIP_LINE] [nchar](1) NULL,
	[PALLET_DETAILS_REQ] [nchar](1) NULL,
	[MATCH_INV_TO_PACK] [nchar](1) NULL,
	[ALLOW_OVER_PAYMNT] [nchar](1) NULL,
	[ALLOW_ADJ_INVOICE] [nchar](1) NULL,
	[DEF_GL_ACCT_ID] [nvarchar](30) NULL,
	[LIQ_GL_ACCT_ID] [nvarchar](30) NULL,
	[PBC_GL_ACCT_ID] [nvarchar](30) NULL,
	[GENERATE_WSA] [nchar](1) NULL,
	[HOLD_TRANSFER_WSA] [nchar](1) NULL,
	[ACTIVE_FLAG] [nchar](1) NULL,
	[SUPPRESS_PRINT_INV_NON_EDI] [nchar](1) NULL,
	[OPEN_OLDEST_RECV] [datetime] NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PRICE_GROUP] [nvarchar](15) NULL,
	[SUPPRESS_PRINT_CUST_STMT] [nchar](1) NULL,
	[DEF_TERMS_ID] [nvarchar](15) NULL,
	[CUSTOMER_GROUP_ID] [nvarchar](15) NULL,
	[INTERNAL_CUSTOMER] [nchar](1) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
	[EMAIL_CUST_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_CUST_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_CUST_ON_SHIPMENT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_SHIPMENT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_INV_PAID] [nchar](1) NOT NULL,
	[CUSTOMER_COUNTRY_ID] [nvarchar](15) NULL,
	[BILL_TO_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [TAX_EXEMPT]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [BACKORDER_FLAG]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [TERMS_NET_TYPE]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [TERMS_DISC_TYPE]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [FREIGHT_TERMS]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [DUNNING_LETTERS]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [VAT_DISCOUNTED]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [VAT_ALWAYS_DISC]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('') FOR [VAT_OVERRIDE_SEQ]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('N') FOR [EMAIL_CUST_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('N') FOR [EMAIL_CUST_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('N') FOR [EMAIL_CUST_ON_SHIPMENT]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_SHIPMENT]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_INV_PAID]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUST_CNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUST_CNTRY]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUST_GROUP_ID] FOREIGN KEY([CUSTOMER_GROUP_ID])
REFERENCES [dbo].[CUSTOMER_GROUP] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUST_GROUP_ID]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY0042] FOREIGN KEY([DEF_SLS_TAX_GRP_ID])
REFERENCES [dbo].[SALES_TAX_GROUP] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY0042]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY0069] FOREIGN KEY([DISCOUNT_CODE])
REFERENCES [dbo].[CUSTOMER_DISCOUNT] ([DISCOUNT_CODE])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY0069]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9304] FOREIGN KEY([ARRIVAL_CODE])
REFERENCES [dbo].[PORT_OF_ARRIVAL] ([CODE])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9304]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9305] FOREIGN KEY([TRANS_CODE])
REFERENCES [dbo].[PORT_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9305]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9307] FOREIGN KEY([NATURE_OF_TRANS])
REFERENCES [dbo].[NATURE_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9307]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9308] FOREIGN KEY([MODE_OF_TRANSPORT])
REFERENCES [dbo].[MODE_OF_TRANSPORT] ([CODE])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9308]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9461] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9461]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9470] FOREIGN KEY([DEF_TRANS_CURRENCY])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9470]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9499] FOREIGN KEY([DEF_ACK_ID])
REFERENCES [dbo].[VMDI_ACK_CODES] ([ACK_ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9499]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9577] FOREIGN KEY([RETURN_TRANS])
REFERENCES [dbo].[NATURE_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9577]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FKEY9623] FOREIGN KEY([DEF_TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FKEY9623]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [CHK_CUSTOMER] CHECK  ((([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E') AND ([DUNNING_LETTERS]='Y' OR [DUNNING_LETTERS]='N') AND ([TAX_EXEMPT]='Y' OR [TAX_EXEMPT]='N') AND ([RMA_REQUIRED]='Y' OR [RMA_REQUIRED]='N') AND ([VAT_DISCOUNTED]='Y' OR [VAT_DISCOUNTED]='N') AND ([VAT_ALWAYS_DISC]='Y' OR [VAT_ALWAYS_DISC]='N') AND ([VAT_OVERRIDE_SEQ]='C' OR [VAT_OVERRIDE_SEQ]='P')))
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [CHK_CUSTOMER]
GO
