USE [VECA]
GO
/****** Object:  Table [dbo].[V_ACCOUNT]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_ACCOUNT](
	[ID] [nvarchar](15) NOT NULL,
	[ACCEPT_EARLY] [smallint] NOT NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[ALLOCATION_FENCE] [int] NULL,
	[ANN_SALES] [nchar](1) NULL,
	[AREA_ID] [nvarchar](15) NULL,
	[BACKORDER] [smallint] NOT NULL,
	[BILL_LANGUAGE_ID] [nvarchar](2) NULL,
	[BILL_TO_ADDR_1] [nvarchar](50) NULL,
	[BILL_TO_ADDR_2] [nvarchar](50) NULL,
	[BILL_TO_ADDR_3] [nvarchar](50) NULL,
	[BILL_TO_CITY] [nvarchar](30) NULL,
	[BILL_TO_COUNTRY] [nvarchar](50) NULL,
	[BILL_TO_NAME] [nvarchar](50) NULL,
	[BILL_TO_STATE] [nvarchar](10) NULL,
	[BILL_TO_ZIPCODE] [nvarchar](10) NULL,
	[BRANCH_ID] [nvarchar](15) NULL,
	[BUS_PHONE] [nvarchar](20) NULL,
	[BUS_TYPE] [nvarchar](30) NULL,
	[BUS_UNIT_ID] [nvarchar](15) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[CITY] [nvarchar](30) NULL,
	[CONTACT_BUSINESS] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_HOME] [nvarchar](20) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_ID] [nvarchar](15) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_OTHER] [nvarchar](20) NULL,
	[CONTACT_POSITION] [nvarchar](20) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[COUNTY_NAME] [nvarchar](20) NULL,
	[CREATOR] [nvarchar](15) NULL,
	[CREDIT_LIMIT] [decimal](23, 8) NULL,
	[CREDIT_LIMIT_CTL] [nchar](1) NOT NULL,
	[CREDIT_STATUS] [nchar](1) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[CUST_ID] [nvarchar](15) NULL,
	[CUST_TYPE] [nvarchar](20) NULL,
	[DAYS_EARLY] [smallint] NULL,
	[DEF_ACK_ID] [nvarchar](15) NULL,
	[DEF_SLS_TAX_GRP_ID] [nvarchar](15) NULL,
	[DEF_TRANS_CURRENCY] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[DISCOUNT_CODE] [nvarchar](15) NULL,
	[DIVISION_ID] [nvarchar](15) NULL,
	[DUNNING_LETTERS] [smallint] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[FAX_PHONE] [nvarchar](20) NULL,
	[FINANCE_CHARGE] [decimal](23, 8) NULL,
	[FOLLOW_UP] [smallint] NOT NULL,
	[FOLLOW_UP_DATE] [datetime] NULL,
	[FOLLOW_UP_TYPE] [nvarchar](1) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[FRT_TERMS] [nchar](1) NULL,
	[IND_CODE] [nvarchar](15) NULL,
	[LAST_ORDER_DATE] [datetime] NULL,
	[LBL_FORMAT_ID] [nvarchar](30) NULL,
	[MODE_OF_TRANSPORT] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[NO_EMPS] [int] NULL,
	[OPEN_DATE] [datetime] NOT NULL,
	[OPEN_ORDER_COUNT] [int] NOT NULL,
	[OPEN_RECV_COUNT] [int] NOT NULL,
	[ORDER_FILL_RATE] [decimal](5, 2) NOT NULL,
	[OWNER] [nvarchar](15) NULL,
	[PARENT_ACCT_ID] [nvarchar](15) NULL,
	[PRIORITY] [smallint] NULL,
	[PRODUCT] [nvarchar](254) NULL,
	[PLANT_SQFT] [decimal](15, 2) NULL,
	[REALLOCATE] [smallint] NOT NULL,
	[RECV_ACCT_ID] [nvarchar](15) NULL,
	[RECV_AGE_LIMIT] [smallint] NULL,
	[RMA_REQUIRED] [smallint] NOT NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[SIC_CODE] [nvarchar](15) NULL,
	[SIC_ALT_1] [nvarchar](15) NULL,
	[SIC_ALT_2] [nvarchar](15) NULL,
	[SIC_ALT_3] [nvarchar](15) NULL,
	[STATE] [nvarchar](10) NULL,
	[SUB_AREA_ID] [nvarchar](15) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[TAX_EXEMPT] [smallint] NOT NULL,
	[TAX_ID_NBR] [nvarchar](25) NULL,
	[TAX_ON_WHOLESALE] [smallint] NOT NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_PERCENT] [decimal](6, 3) NULL,
	[TERMS_DISC_TYPE] [nchar](1) NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_TYPE] [nchar](1) NULL,
	[TERRITORY] [nvarchar](15) NULL,
	[TOTAL_OPEN_ORDERS] [decimal](23, 8) NOT NULL,
	[TOTAL_OPEN_RECV] [decimal](23, 8) NOT NULL,
	[URL] [nvarchar](80) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[USER_T1] [nvarchar](80) NULL,
	[USER_T2] [nvarchar](80) NULL,
	[USER_T3] [nvarchar](80) NULL,
	[USER_T4] [nvarchar](80) NULL,
	[USER_T5] [nvarchar](80) NULL,
	[USER_D1] [datetime] NULL,
	[USER_D2] [datetime] NULL,
	[USER_D3] [datetime] NULL,
	[WEB_USER_ID] [nvarchar](20) NULL,
	[WEB_PASSWORD] [nvarchar](20) NULL,
	[YR_ESTABLISHED] [nvarchar](4) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COMMENTS] [nvarchar](254) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[USER_N1] [decimal](23, 8) NULL,
	[USER_N2] [decimal](23, 8) NULL,
	[USER_N3] [decimal](23, 8) NULL,
	[USER_N4] [decimal](23, 8) NULL,
	[USER_N5] [decimal](23, 8) NULL,
	[ACCT_TYPE] [nvarchar](15) NULL,
	[ALT_PHONE] [nvarchar](20) NULL,
	[ACCT_CATEGORY] [nchar](1) NOT NULL,
	[USER_T6] [nvarchar](80) NULL,
	[USER_T7] [nvarchar](80) NULL,
	[USER_T8] [nvarchar](80) NULL,
	[USER_T9] [nvarchar](80) NULL,
	[USER_T10] [nvarchar](80) NULL,
	[USER_T11] [nvarchar](80) NULL,
	[USER_T12] [nvarchar](80) NULL,
	[USER_T13] [nvarchar](80) NULL,
	[USER_T14] [nvarchar](80) NULL,
	[USER_T15] [nvarchar](80) NULL,
	[USER_T16] [nvarchar](80) NULL,
	[USER_T17] [nvarchar](80) NULL,
	[USER_T18] [nvarchar](80) NULL,
	[USER_T19] [nvarchar](80) NULL,
	[USER_T20] [nvarchar](80) NULL,
	[USER_T21] [nvarchar](80) NULL,
	[USER_T22] [nvarchar](80) NULL,
	[USER_T23] [nvarchar](80) NULL,
	[USER_T24] [nvarchar](80) NULL,
	[USER_T25] [nvarchar](80) NULL,
	[USER_T26] [nvarchar](80) NULL,
	[USER_T27] [nvarchar](80) NULL,
	[USER_T28] [nvarchar](80) NULL,
	[USER_T29] [nvarchar](80) NULL,
	[USER_T30] [nvarchar](80) NULL,
	[USER_N6] [decimal](23, 8) NULL,
	[USER_N7] [decimal](23, 8) NULL,
	[USER_N8] [decimal](23, 8) NULL,
	[USER_N9] [decimal](23, 8) NULL,
	[USER_N10] [decimal](23, 8) NULL,
	[USER_N11] [decimal](23, 8) NULL,
	[USER_N12] [decimal](23, 8) NULL,
	[USER_N13] [decimal](23, 8) NULL,
	[USER_N14] [decimal](23, 8) NULL,
	[USER_N15] [decimal](23, 8) NULL,
	[USER_D4] [datetime] NULL,
	[USER_D5] [datetime] NULL,
	[INACTIVE_ACCOUNT] [smallint] NULL,
	[ACCT_MANAGER] [nvarchar](15) NULL,
	[RATING] [smallint] NULL,
	[RATING_COMMENTS] [nvarchar](254) NULL,
	[CREATE_DATE] [datetime] NULL,
	[DO_NOT_CONTACT] [datetime] NULL,
	[DO_NOT_EMAIL] [datetime] NULL,
	[DO_NOT_PHONE] [datetime] NULL,
	[DO_NOT_MAIL] [datetime] NULL,
	[DO_NOT_FAX] [datetime] NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[MARKET_ID] [nvarchar](15) NULL,
	[DEF_RECV_ACCT_ID] [nvarchar](30) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[PRIORITY_CODE] [nvarchar](15) NULL,
	[FILL_RATE_TYPE] [nchar](1) NULL,
	[CO_ALLOC_LEVEL] [nchar](1) NULL,
	[FILL_RATE] [decimal](5, 2) NULL,
	[CONSOLIDATE_ORDERS] [smallint] NULL,
	[COMPLIANCE_LABEL] [smallint] NULL,
	[AUTO_ALLOCATE] [smallint] NULL,
	[PRIMARILY_EDI] [smallint] NULL,
	[INTER_CONSIGNEE] [nvarchar](20) NULL,
	[POOL_CODE] [nvarchar](20) NULL,
	[GENERATE_ASN] [smallint] NULL,
	[HOLD_TRANSFER_ASN] [smallint] NULL,
	[ACCEPT_830] [smallint] NULL,
	[ACCEPT_862] [smallint] NULL,
	[CONSOL_SHIP_LINE] [smallint] NULL,
	[TAKE_DISC_DAYS] [decimal](15, 2) NULL,
	[LANGUAGE_ID] [nvarchar](2) NULL,
	[CUSTOMS_DOC_PRINT] [nchar](1) NULL,
	[COMMENTS_BIN] [ntext] NULL,
	[VAT_ON_FIRST_INST] [nchar](1) NULL,
	[EOM_DUE_DATE] [nchar](1) NULL,
	[INST_PERIOD_TYPE] [nchar](1) NULL,
	[VAT_ALWAYS_DISC] [smallint] NULL,
	[VAT_BOOK_CODE_I] [nvarchar](5) NULL,
	[VAT_BOOK_CODE_M] [nvarchar](5) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_DISCOUNTED] [smallint] NULL,
	[VAT_EXEMPT] [smallint] NULL,
	[VAT_OVERRIDE_SEQ] [nvarchar](1) NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[ARRIVAL_CODE] [nvarchar](25) NULL,
	[TRANS_CODE] [nvarchar](25) NULL,
	[NATURE_OF_TRANS] [int] NULL,
	[RETURN_TRANS] [int] NULL,
	[SIRET_NUMBER] [decimal](14, 0) NULL,
	[CALL_BILLING_ID] [nvarchar](15) NULL,
	[IS_LEAD] [smallint] NULL,
	[LEAD_TO_ACCT] [datetime] NULL,
	[ACCT_TO_CUST] [datetime] NULL,
	[DEF_TERMS_ID] [nvarchar](15) NULL,
 CONSTRAINT [X_V_ACCOUNT_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [ACCEPT_EARLY]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [BACKORDER]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ('') FOR [CREDIT_LIMIT_CTL]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ('') FOR [CREDIT_STATUS]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [DUNNING_LETTERS]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [FOLLOW_UP]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT (getdate()) FOR [OPEN_DATE]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [OPEN_ORDER_COUNT]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [OPEN_RECV_COUNT]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [ORDER_FILL_RATE]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [REALLOCATE]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [RMA_REQUIRED]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [TAX_EXEMPT]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [TAX_ON_WHOLESALE]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [TOTAL_OPEN_ORDERS]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ((0)) FOR [TOTAL_OPEN_RECV]
GO
ALTER TABLE [dbo].[V_ACCOUNT] ADD  DEFAULT ('A') FOR [ACCT_CATEGORY]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00033] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00033]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00036] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00036]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00039] FOREIGN KEY([DEF_ACK_ID])
REFERENCES [dbo].[VMDI_ACK_CODES] ([ACK_ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00039]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00040] FOREIGN KEY([LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00040]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00042] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00042]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00093] FOREIGN KEY([PARENT_ACCT_ID])
REFERENCES [dbo].[V_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00093]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00106] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[V_AREA] ([ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00106]
GO
ALTER TABLE [dbo].[V_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00109] FOREIGN KEY([AREA_ID], [SUB_AREA_ID])
REFERENCES [dbo].[V_SUB_AREA] ([ID], [AREA_ID])
GO
ALTER TABLE [dbo].[V_ACCOUNT] CHECK CONSTRAINT [FK_VFO_00109]
GO
