USE [VECA]
GO
/****** Object:  Table [dbo].[VEND_CONTACT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEND_CONTACT](
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[CONTACT_NO] [smallint] NULL,
	[CONTACT_ID] [nvarchar](25) NOT NULL,
	[PRIMARY_CONTACT] [nchar](1) NOT NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_VEND_CONTACT] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC,
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VEND_CONTACT] ADD  DEFAULT ('N') FOR [PRIMARY_CONTACT]
GO
ALTER TABLE [dbo].[VEND_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_VEND_CONT_CONT] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[VEND_CONTACT] CHECK CONSTRAINT [FK_VEND_CONT_CONT]
GO
ALTER TABLE [dbo].[VEND_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_VEND_CONT_VEND] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[VEND_CONTACT] CHECK CONSTRAINT [FK_VEND_CONT_VEND]
GO
