USE [VECA]
GO
/****** Object:  Table [dbo].[SLS_TAX_GRP_TAX]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_TAX_GRP_TAX](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NOT NULL,
	[SALES_TAX_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SLS_TAX_GRP_TAX] PRIMARY KEY CLUSTERED 
(
	[SALES_TAX_GROUP_ID] ASC,
	[SALES_TAX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SLS_TAX_GRP_TAX]  WITH CHECK ADD  CONSTRAINT [FKEY0041] FOREIGN KEY([SALES_TAX_GROUP_ID])
REFERENCES [dbo].[SALES_TAX_GROUP] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLS_TAX_GRP_TAX] CHECK CONSTRAINT [FKEY0041]
GO
ALTER TABLE [dbo].[SLS_TAX_GRP_TAX]  WITH CHECK ADD  CONSTRAINT [FKEY0046] FOREIGN KEY([SALES_TAX_ID])
REFERENCES [dbo].[SALES_TAX] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SLS_TAX_GRP_TAX] CHECK CONSTRAINT [FKEY0046]
GO
