USE [VECA]
GO
/****** Object:  Table [dbo].[GJ_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GJ_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GJ_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[DEBIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[CREDIT_AMOUNT] [decimal](23, 8) NOT NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[ACCOUNT_YEAR] [decimal](4, 0) NULL,
	[HOURS] [decimal](15, 2) NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NULL,
	[USER_DIMENSION_1] [nvarchar](15) NULL,
	[USER_DIMENSION_2] [nvarchar](15) NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
 CONSTRAINT [PK_GJ_LINE] PRIMARY KEY CLUSTERED 
(
	[GJ_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GJ_LINE]  WITH CHECK ADD  CONSTRAINT [FK_GJLINE_00] FOREIGN KEY([COST_CATEGORY_ID])
REFERENCES [dbo].[COST_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[GJ_LINE] CHECK CONSTRAINT [FK_GJLINE_00]
GO
ALTER TABLE [dbo].[GJ_LINE]  WITH CHECK ADD  CONSTRAINT [FK_GJLINE_01] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
ALTER TABLE [dbo].[GJ_LINE] CHECK CONSTRAINT [FK_GJLINE_01]
GO
ALTER TABLE [dbo].[GJ_LINE]  WITH CHECK ADD  CONSTRAINT [FK_GJLINE_02] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT_INFO] ([ID])
GO
ALTER TABLE [dbo].[GJ_LINE] CHECK CONSTRAINT [FK_GJLINE_02]
GO
ALTER TABLE [dbo].[GJ_LINE]  WITH CHECK ADD  CONSTRAINT [FK_GJLINE_03] FOREIGN KEY([WBS_CODE], [PROJECT_ID])
REFERENCES [dbo].[WBS] ([CODE], [PROJECT_ID])
GO
ALTER TABLE [dbo].[GJ_LINE] CHECK CONSTRAINT [FK_GJLINE_03]
GO
ALTER TABLE [dbo].[GJ_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9437] FOREIGN KEY([GJ_ID])
REFERENCES [dbo].[GJ] ([ID])
GO
ALTER TABLE [dbo].[GJ_LINE] CHECK CONSTRAINT [FKEY9437]
GO
