USE [VECA]
GO
/****** Object:  Table [dbo].[ECN_REQ_BINARY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECN_REQ_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ECN_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[ECN_ENTRY_NO] [smallint] NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[OPERATION_SEQ_NO] [smallint] NOT NULL,
	[PIECE_NO] [smallint] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NULL,
 CONSTRAINT [PK_ECN_REQ_BINARY] PRIMARY KEY CLUSTERED 
(
	[ECN_ID] ASC,
	[LINE_NO] ASC,
	[ECN_ENTRY_NO] ASC,
	[WORKORDER_SUB_ID] ASC,
	[OPERATION_SEQ_NO] ASC,
	[PIECE_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ECN_REQ_BINARY]  WITH CHECK ADD  CONSTRAINT [FK_ECN_REQ_BINARY] FOREIGN KEY([ECN_ID], [LINE_NO], [ECN_ENTRY_NO], [WORKORDER_SUB_ID], [OPERATION_SEQ_NO], [PIECE_NO])
REFERENCES [dbo].[ECN_REQUIREMENT] ([ECN_ID], [LINE_NO], [ECN_ENTRY_NO], [WORKORDER_SUB_ID], [OPERATION_SEQ_NO], [PIECE_NO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ECN_REQ_BINARY] CHECK CONSTRAINT [FK_ECN_REQ_BINARY]
GO
ALTER TABLE [dbo].[ECN_REQ_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK_ECN_REQ_BINARY] CHECK  (([TYPE]='D' OR [TYPE]='B'))
GO
ALTER TABLE [dbo].[ECN_REQ_BINARY] CHECK CONSTRAINT [CHK_ECN_REQ_BINARY]
GO
