USE [VECA]
GO
/****** Object:  Table [dbo].[E_CLASS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_CLASS](
	[rowid] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [nvarchar](60) NULL,
	[summary_purge] [int] NULL,
	[detail_purge] [int] NULL
) ON [PRIMARY]
GO
