USE [VECA]
GO
/****** Object:  Table [dbo].[SERVICE_SITE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[SERVICE_ID] [nvarchar](15) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[EST_MIN_CHARGE] [decimal](23, 8) NOT NULL,
	[EST_BASE_CHARGE] [decimal](23, 8) NOT NULL,
	[SERVICE_PART_ID] [nvarchar](30) NULL,
	[PLAN_TRANSIT_DAYS] [smallint] NULL,
	[SCHEDULE_RANK] [smallint] NULL,
	[RUN] [decimal](20, 8) NULL,
	[RUN_TYPE] [nvarchar](15) NULL,
	[LOAD_SIZE_QTY] [decimal](20, 8) NULL,
	[MINIMUM_MOVE_QTY] [decimal](20, 8) NULL,
	[EST_COST_PER_UNIT] [decimal](22, 8) NOT NULL,
	[STATUS] [nchar](1) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[INTRASTAT_INCLUDE] [nvarchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SERVICE_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERVICE_SITE] ADD  DEFAULT ((0)) FOR [EST_MIN_CHARGE]
GO
ALTER TABLE [dbo].[SERVICE_SITE] ADD  DEFAULT ((0)) FOR [EST_BASE_CHARGE]
GO
ALTER TABLE [dbo].[SERVICE_SITE] ADD  DEFAULT ((0)) FOR [EST_COST_PER_UNIT]
GO
ALTER TABLE [dbo].[SERVICE_SITE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[SERVICE_SITE]  WITH CHECK ADD  CONSTRAINT [FK_SERV_SITE_TO_SERVICE] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_SITE] CHECK CONSTRAINT [FK_SERV_SITE_TO_SERVICE]
GO
ALTER TABLE [dbo].[SERVICE_SITE]  WITH CHECK ADD  CONSTRAINT [FK_SERV_SITE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_SITE] CHECK CONSTRAINT [FK_SERV_SITE_TO_SITE]
GO
