USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_LINE_BINARY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_LINE_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_LINE_NO] [smallint] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_CUST_LINE_BINARY] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[CUST_ORDER_LINE_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK0041] CHECK  (([TYPE]='D' OR [TYPE]='B' OR [TYPE]='P' OR [TYPE]='I'))
GO
ALTER TABLE [dbo].[CUST_LINE_BINARY] CHECK CONSTRAINT [CHK0041]
GO
