USE [VECA]
GO
/****** Object:  Table [dbo].[TEST_ABC]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_ABC](
	[ID] [nvarchar](30) NULL,
	[ABC_CODE] [nchar](1) NULL
) ON [PRIMARY]
GO
