USE [VECA]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[IS_APPROVER] [nchar](1) NOT NULL,
	[IS_BUYER] [nchar](1) NOT NULL,
	[IS_PLANNER] [nchar](1) NOT NULL,
	[IS_REQUESTER] [nchar](1) NOT NULL,
 CONSTRAINT [PK_PERSON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERSON] ADD  DEFAULT ('N') FOR [IS_APPROVER]
GO
ALTER TABLE [dbo].[PERSON] ADD  DEFAULT ('N') FOR [IS_BUYER]
GO
ALTER TABLE [dbo].[PERSON] ADD  DEFAULT ('N') FOR [IS_PLANNER]
GO
ALTER TABLE [dbo].[PERSON] ADD  DEFAULT ('N') FOR [IS_REQUESTER]
GO
