USE [VECA]
GO
/****** Object:  Table [dbo].[VR_DATA_SOURCE_COLUMN]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VR_DATA_SOURCE_COLUMN](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DATA_SOURCE_ID] [nvarchar](80) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
	[TABLE_ALIAS] [nvarchar](30) NULL,
	[LABEL] [nvarchar](80) NULL,
	[SQL_REF] [nvarchar](2000) NULL,
	[DATA_TYPE] [nvarchar](20) NOT NULL,
	[DATA_FORMAT] [nvarchar](80) NULL,
	[BACKGROUND_COLOR] [nvarchar](11) NULL,
	[TEXT_COLOR] [nvarchar](11) NULL,
	[CELL_BKGD_COLOR] [nvarchar](100) NULL,
	[CELL_TEXT_COLOR] [nvarchar](100) NULL,
	[CLASS_NAME] [nvarchar](50) NULL,
	[FILTER_TYPE] [nvarchar](15) NOT NULL,
	[FILTER_SOURCE_TYPE] [nvarchar](15) NULL,
	[FILTER_SOURCE_TEXT] [nvarchar](2000) NULL,
	[SEQ_NO] [int] NOT NULL,
	[IS_VISIBLE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_VR_DATA_SOURCE_COLUMN] PRIMARY KEY CLUSTERED 
(
	[DATA_SOURCE_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE_COLUMN] ADD  DEFAULT ('NONE') FOR [FILTER_TYPE]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE_COLUMN] ADD  DEFAULT ('Y') FOR [IS_VISIBLE]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_DATA_SRC_COL_TO_DATA_SRC] FOREIGN KEY([DATA_SOURCE_ID])
REFERENCES [dbo].[VR_DATA_SOURCE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE_COLUMN] CHECK CONSTRAINT [FK_DATA_SRC_COL_TO_DATA_SRC]
GO
