USE [VECA]
GO
/****** Object:  Table [dbo].[SHIFT]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[SHIFT_BEG_BEF_WIN] [smallint] NULL,
	[SHIFT_BEG_AFT_WIN] [smallint] NULL,
	[SHIFT_END_BEF_WIN] [smallint] NULL,
	[SHIFT_END_AFT_WIN] [smallint] NULL,
	[BTWN_JOB_LAG_TIME] [smallint] NULL,
	[BREAKS_WINDOW] [smallint] NULL,
	[INDIRECT_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SHIFT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
