USE [VECA]
GO
/****** Object:  Table [dbo].[TERMS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[NET_TYPE] [nchar](1) NOT NULL,
	[NET_DAYS] [smallint] NULL,
	[NET_DATE] [datetime] NULL,
	[DISC_TYPE] [nchar](1) NOT NULL,
	[DISC_DAYS] [smallint] NULL,
	[DISC_DATE] [datetime] NULL,
	[DISC_PERCENT] [decimal](5, 3) NULL,
	[FREIGHT_TERMS] [nchar](1) NULL,
	[END_OF_MONTH] [nchar](1) NULL,
	[VAT_ON_FIRST_INST] [nchar](1) NULL,
	[PERIOD_TYPE] [nchar](1) NULL,
	[DISC_BASIS] [nvarchar](32) NULL,
	[ACTIVE_FLAG] [nchar](1) NULL,
 CONSTRAINT [PK_TERMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TERMS] ADD  DEFAULT ('') FOR [NET_TYPE]
GO
ALTER TABLE [dbo].[TERMS] ADD  DEFAULT ('') FOR [DISC_TYPE]
GO
ALTER TABLE [dbo].[TERMS] ADD  CONSTRAINT [DF__TERMS__FREIGHT__TERMS]  DEFAULT ('B') FOR [FREIGHT_TERMS]
GO
