USE [VECA]
GO
/****** Object:  Table [dbo].[WIP_ISSUE_DETAIL]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WIP_ISSUE_DETAIL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[DIST_NO] [smallint] NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NULL,
	[REFERENCE] [nvarchar](50) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[DR_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[DR_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[DR_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[DR_SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_SER_GL_ACCT_ID] [nvarchar](30) NULL,
 CONSTRAINT [PK_WIP_ISSUE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[DIST_NO] ASC,
	[TRANSACTION_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DETAIL] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FKEY9004] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID])
REFERENCES [dbo].[WORK_ORDER] ([TYPE], [BASE_ID], [LOT_ID], [SPLIT_ID], [SUB_ID])
GO
ALTER TABLE [dbo].[WIP_ISSUE_DETAIL] CHECK CONSTRAINT [FKEY9004]
GO
ALTER TABLE [dbo].[WIP_ISSUE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FKEY9450] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[WIP_ISSUE_DETAIL] CHECK CONSTRAINT [FKEY9450]
GO
