USE [VECA]
GO
/****** Object:  Table [dbo].[TRACE_INV_TRANS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACE_INV_TRANS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[TRACE_ID] [nvarchar](30) NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[QTY] [decimal](20, 8) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[COSTED_QTY] [decimal](20, 8) NOT NULL,
 CONSTRAINT [PK_TRACE_INV_TRANS] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[TRACE_ID] ASC,
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRACE_INV_TRANS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TRACE_INV_TRANS] ADD  DEFAULT ((0)) FOR [COSTED_QTY]
GO
ALTER TABLE [dbo].[TRACE_INV_TRANS]  WITH NOCHECK ADD  CONSTRAINT [FKEY0241] FOREIGN KEY([PART_ID], [TRACE_ID])
REFERENCES [dbo].[TRACE] ([PART_ID], [ID])
GO
ALTER TABLE [dbo].[TRACE_INV_TRANS] CHECK CONSTRAINT [FKEY0241]
GO
ALTER TABLE [dbo].[TRACE_INV_TRANS]  WITH NOCHECK ADD  CONSTRAINT [FKEY0284] FOREIGN KEY([TRANSACTION_ID])
REFERENCES [dbo].[INVENTORY_TRANS] ([TRANSACTION_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRACE_INV_TRANS] CHECK CONSTRAINT [FKEY0284]
GO
