USE [VECA]
GO
/****** Object:  Table [dbo].[COST_SIMULATION]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COST_SIMULATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SIMULATION_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NULL,
	[PRV_MATERIAL_COST] [decimal](23, 8) NULL,
	[PRV_LABOR_COST] [decimal](23, 8) NULL,
	[PRV_BURDEN_COST] [decimal](23, 8) NULL,
	[PRV_SERVICE_COST] [decimal](23, 8) NULL,
	[PRV_FIXED_COST] [decimal](23, 8) NULL,
	[PRV_UNIT_PRICE] [decimal](22, 8) NULL,
	[TOT_PRV_COST] [decimal](23, 8) NULL,
	[SIM_MATERIAL_COST] [decimal](23, 8) NULL,
	[SIM_LABOR_COST] [decimal](23, 8) NULL,
	[SIM_BURDEN_COST] [decimal](23, 8) NULL,
	[SIM_SERVICE_COST] [decimal](23, 8) NULL,
	[SIM_FIXED_COST] [decimal](23, 8) NULL,
	[TOT_SIM_COST] [decimal](23, 8) NULL,
	[SIM_UNIT_PRICE] [decimal](22, 8) NULL,
	[SIM_UNIT_MKUP_AMT] [decimal](22, 8) NULL,
	[SIM_MATERIAL_PCT] [decimal](5, 2) NULL,
	[SIM_LABOR_PCT] [decimal](5, 2) NULL,
	[SIM_BURDEN_PCT] [decimal](5, 2) NULL,
	[SIM_SERVICE_PCT] [decimal](5, 2) NULL,
	[SIM_FIXED_PCT] [decimal](5, 2) NULL,
	[SIM_UNIT_PCT] [decimal](5, 2) NULL,
	[MARKUP_TYPE] [nchar](1) NULL,
	[PRV_CREATE_DATE] [datetime] NULL,
	[SIM_CREATE_DATE] [datetime] NOT NULL,
	[SIM_UNIT_MKUP_PCT] [decimal](5, 2) NULL,
	[PRV_PUR_BUR_PCT] [decimal](6, 3) NULL,
	[PRV_PUR_BUR_UNIT] [decimal](22, 8) NULL,
	[SIM_PUR_BUR_PCT] [decimal](6, 3) NULL,
	[SIM_PUR_BUR_UNIT] [decimal](22, 8) NULL,
	[SIM_PUR_BUR_UN_PCT] [decimal](5, 2) NULL,
 CONSTRAINT [PK_COST_SIMULATION] PRIMARY KEY CLUSTERED 
(
	[SIMULATION_ID] ASC,
	[PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COST_SIMULATION]  WITH CHECK ADD  CONSTRAINT [FK_COST_SIMULATION_00] FOREIGN KEY([SIMULATION_ID])
REFERENCES [dbo].[SIMULATION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COST_SIMULATION] CHECK CONSTRAINT [FK_COST_SIMULATION_00]
GO
ALTER TABLE [dbo].[COST_SIMULATION]  WITH CHECK ADD  CONSTRAINT [FK_COST_SIMULATION_01] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[COST_SIMULATION] CHECK CONSTRAINT [FK_COST_SIMULATION_01]
GO
