USE [VECA]
GO
/****** Object:  Table [dbo].[VMDI_ACK_CODES]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDI_ACK_CODES](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ACK_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
 CONSTRAINT [PK_VMDI_ACK_CODES] PRIMARY KEY CLUSTERED 
(
	[ACK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
