USE [VECA]
GO
/****** Object:  Table [dbo].[PURC_LINE_DEL]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURC_LINE_DEL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[PURC_ORDER_LINE_NO] [smallint] NOT NULL,
	[DEL_SCHED_LINE_NO] [smallint] NOT NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[ACTUAL_RECV_DATE] [datetime] NULL,
	[USER_ORDER_QTY] [decimal](20, 8) NOT NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[RECEIVED_QTY] [decimal](20, 8) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[RELEASE_NUMBER] [nvarchar](30) NULL,
	[USER_1] [nvarchar](30) NULL,
	[USER_2] [nvarchar](30) NULL,
	[USER_RECEIVED_QTY] [decimal](20, 8) NULL,
	[PIECE_COUNT] [int] NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[WIP_VAS_REQUIRED] [nchar](1) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NULL,
	[FULFILLED_QTY] [decimal](20, 8) NULL,
	[DISPATCH_ADDR_ID] [nvarchar](20) NULL,
	[SHIPFROM_ID] [nvarchar](20) NULL,
	[DISPATCHED] [nchar](1) NULL,
 CONSTRAINT [PK_PURC_LINE_DEL] PRIMARY KEY CLUSTERED 
(
	[PURC_ORDER_ID] ASC,
	[PURC_ORDER_LINE_NO] ASC,
	[DEL_SCHED_LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURC_LINE_DEL] ADD  DEFAULT ((0)) FOR [USER_ORDER_QTY]
GO
ALTER TABLE [dbo].[PURC_LINE_DEL] ADD  DEFAULT ((0)) FOR [ORDER_QTY]
GO
ALTER TABLE [dbo].[PURC_LINE_DEL] ADD  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[PURC_LINE_DEL] ADD  DEFAULT ((0)) FOR [USER_RECEIVED_QTY]
GO
ALTER TABLE [dbo].[PURC_LINE_DEL] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[PURC_LINE_DEL] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[PURC_LINE_DEL]  WITH CHECK ADD  CONSTRAINT [FKEY0168] FOREIGN KEY([PURC_ORDER_ID], [PURC_ORDER_LINE_NO])
REFERENCES [dbo].[PURC_ORDER_LINE] ([PURC_ORDER_ID], [LINE_NO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURC_LINE_DEL] CHECK CONSTRAINT [FKEY0168]
GO
