USE [VECA]
GO
/****** Object:  Table [dbo].[RMA]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMA](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[ORG_CUST_ORDER_ID] [nvarchar](15) NULL,
	[NEW_CUST_ORDER_ID] [nvarchar](15) NULL,
	[PACKLIST_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[LAST_RECEIVED_DATE] [datetime] NULL,
	[LAST_SHIPPED_DATE] [datetime] NULL,
	[TYPE] [nchar](1) NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[IS_WARRANTY] [nchar](1) NOT NULL,
	[SHIP_IMMEDIATE] [nchar](1) NOT NULL,
	[RETURN_TO_ORIG] [nchar](1) NOT NULL,
	[SHIP_FROM_ORIG] [nchar](1) NOT NULL,
	[RETURN_REASON_CODE] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[QUOTE_ID] [nvarchar](15) NULL,
	[USE_QUOTE_PRICING] [nchar](1) NULL,
	[CREATED_WORK_ORDER] [nchar](1) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
 CONSTRAINT [PK_RMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RMA] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[RMA] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[RMA]  WITH CHECK ADD  CONSTRAINT [FK_RMA_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[RMA] CHECK CONSTRAINT [FK_RMA_TO_SITE]
GO
ALTER TABLE [dbo].[RMA]  WITH CHECK ADD  CONSTRAINT [FKEY9381] FOREIGN KEY([PACKLIST_ID])
REFERENCES [dbo].[SHIPPER] ([PACKLIST_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RMA] CHECK CONSTRAINT [FKEY9381]
GO
ALTER TABLE [dbo].[RMA]  WITH CHECK ADD  CONSTRAINT [CHK9075] CHECK  ((([TYPE]='C' OR [TYPE]='F' OR [TYPE]='R' OR [TYPE]='E') AND ([STATUS]='O' OR [STATUS]='R' OR [STATUS]='C' OR [STATUS]='X' OR [STATUS]='H') AND ([IS_WARRANTY]='Y' OR [IS_WARRANTY]='N') AND ([SHIP_IMMEDIATE]='Y' OR [SHIP_IMMEDIATE]='N') AND ([RETURN_TO_ORIG]='Y' OR [RETURN_TO_ORIG]='N') AND ([SHIP_FROM_ORIG]='Y' OR [SHIP_FROM_ORIG]='N')))
GO
ALTER TABLE [dbo].[RMA] CHECK CONSTRAINT [CHK9075]
GO
