USE [VECA]
GO
/****** Object:  Table [dbo].[USER_DEF_FIELDS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DEF_FIELDS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](30) NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[DOCUMENT_ID] [nvarchar](254) NULL,
	[LINE_NO] [int] NULL,
	[DEL_LINE_NO] [int] NULL,
	[LABEL] [nvarchar](254) NULL,
	[DATA_TYPE] [int] NULL,
	[DISPLAY_FORMAT] [nvarchar](30) NULL,
	[TAB_OR_TABLE] [int] NULL,
	[TAB_ID] [nvarchar](30) NULL,
	[TABLE_ID] [nvarchar](30) NULL,
	[SEQUENCE_NO] [int] NULL,
	[UDF_REQUIRED] [int] NULL,
	[STRING_VAL] [nvarchar](254) NULL,
	[NUMBER_VAL] [decimal](23, 8) NULL,
	[BOOL_VAL] [int] NULL,
	[DATE_VAL] [datetime] NULL
) ON [PRIMARY]
GO
