USE [VECA]
GO
/****** Object:  Table [dbo].[NOTIFICATION_EMPLOYEE_DOC]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION_EMPLOYEE_DOC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[DOC_ID] [nvarchar](15) NOT NULL,
	[DOC_LINE_NO] [smallint] NOT NULL,
	[EMPLOYEE_ID] [nvarchar](20) NOT NULL,
	[USER_ID] [nvarchar](20) NULL,
	[NOTIFY_ME_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_NOTIFICATION_EMPLOYEE_DOC] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[DOC_ID] ASC,
	[DOC_LINE_NO] ASC,
	[EMPLOYEE_ID] ASC,
	[NOTIFY_ME_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NOTIFICATION_EMPLOYEE_DOC] ADD  DEFAULT ('N') FOR [NOTIFY_ME_TYPE]
GO
