USE [VECA]
GO
/****** Object:  Table [dbo].[HISTORY_DATA]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY_DATA](
	[USER_ID] [nvarchar](20) NOT NULL,
	[TBL_NAME] [nvarchar](50) NOT NULL,
	[COL_NAME] [nvarchar](50) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[PRIMARY_KEY] [nvarchar](254) NULL,
	[ACTION] [nvarchar](15) NULL,
	[OLD_VALUE] [nvarchar](255) NULL,
	[NEW_VALUE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
