USE [VECA]
GO
/****** Object:  Table [dbo].[SERVICE_RCVR_DISP]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_RCVR_DISP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_LINE_NO] [smallint] NOT NULL,
	[DISPATCH_ID] [nvarchar](15) NOT NULL,
	[DISPATCH_LINE_NO] [smallint] NOT NULL,
	[QTY] [decimal](20, 8) NOT NULL,
 CONSTRAINT [PK_SERVICE_RCVR_DISP] PRIMARY KEY CLUSTERED 
(
	[RECEIVER_ID] ASC,
	[RECEIVER_LINE_NO] ASC,
	[DISPATCH_ID] ASC,
	[DISPATCH_LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
