USE [VECA]
GO
/****** Object:  Table [dbo].[V_GRID_LAYOUT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_GRID_LAYOUT](
	[BUS_TYPE] [smallint] NOT NULL,
	[FIELD_NAME] [nvarchar](40) NOT NULL,
	[TABLE_NAME] [nvarchar](18) NOT NULL,
	[CAPTION] [nvarchar](25) NULL,
	[DATATYPE] [smallint] NULL,
	[FORMAT] [nvarchar](25) NULL,
	[HIDE] [smallint] NULL,
	[FIELD_LENGTH] [int] NULL,
	[LOCKED] [smallint] NULL,
	[FIELD_POSITION] [smallint] NULL,
	[REQUIRED] [smallint] NULL,
	[UDF_ENABLE] [smallint] NULL,
	[USER_REQUIRED] [smallint] NULL,
	[WIDTH] [int] NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATOR] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_GRID_LAYOUT_0] PRIMARY KEY CLUSTERED 
(
	[BUS_TYPE] ASC,
	[FIELD_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_GRID_LAYOUT] ADD  DEFAULT ('') FOR [FIELD_NAME]
GO
ALTER TABLE [dbo].[V_GRID_LAYOUT] ADD  DEFAULT ((0)) FOR [HIDE]
GO
ALTER TABLE [dbo].[V_GRID_LAYOUT] ADD  DEFAULT ((0)) FOR [LOCKED]
GO
ALTER TABLE [dbo].[V_GRID_LAYOUT] ADD  DEFAULT ((0)) FOR [FIELD_POSITION]
GO
ALTER TABLE [dbo].[V_GRID_LAYOUT] ADD  DEFAULT ((0)) FOR [REQUIRED]
GO
ALTER TABLE [dbo].[V_GRID_LAYOUT] ADD  DEFAULT ((0)) FOR [UDF_ENABLE]
GO
ALTER TABLE [dbo].[V_GRID_LAYOUT] ADD  DEFAULT ((0)) FOR [USER_REQUIRED]
GO
