USE [VECA]
GO
/****** Object:  Table [dbo].[OPERATION]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[SEQUENCE_NO] [smallint] NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
	[SETUP_HRS] [decimal](8, 3) NULL,
	[RUN] [decimal](20, 8) NULL,
	[RUN_TYPE] [nvarchar](15) NOT NULL,
	[LOAD_SIZE_QTY] [decimal](20, 8) NULL,
	[RUN_HRS] [decimal](7, 2) NULL,
	[MOVE_HRS] [decimal](6, 3) NULL,
	[TRANSIT_DAYS] [decimal](6, 3) NULL,
	[SERVICE_ID] [nvarchar](15) NULL,
	[SCRAP_YIELD_PCT] [decimal](5, 2) NULL,
	[SCRAP_YIELD_TYPE] [nchar](1) NOT NULL,
	[FIXED_SCRAP_UNITS] [decimal](20, 8) NOT NULL,
	[MINIMUM_MOVE_QTY] [decimal](20, 8) NULL,
	[CALC_START_QTY] [decimal](20, 8) NULL,
	[CALC_END_QTY] [decimal](20, 8) NULL,
	[COMPLETED_QTY] [decimal](20, 8) NOT NULL,
	[DEVIATED_QTY] [decimal](20, 8) NOT NULL,
	[ACT_SETUP_HRS] [decimal](7, 2) NOT NULL,
	[ACT_RUN_HRS] [decimal](7, 2) NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[SETUP_COMPLETED] [nchar](1) NOT NULL,
	[SERVICE_BEGIN_DATE] [datetime] NULL,
	[CLOSE_DATE] [datetime] NULL,
	[OPERATION_TYPE] [nvarchar](15) NULL,
	[DRAWING_ID] [nvarchar](30) NULL,
	[DRAWING_REV_NO] [nvarchar](8) NULL,
	[OVERRIDE_QTYS] [nchar](1) NOT NULL,
	[BEGIN_TRACEABILITY] [nchar](1) NOT NULL,
	[CAPACITY_USAGE_MAX] [smallint] NULL,
	[CAPACITY_USAGE_MIN] [smallint] NULL,
	[TEST_ID] [nvarchar](15) NULL,
	[SPC_QTY] [decimal](20, 8) NULL,
	[SCHED_START_DATE] [datetime] NULL,
	[SCHED_FINISH_DATE] [datetime] NULL,
	[COULD_FINISH_DATE] [datetime] NULL,
	[ISDETERMINANT] [nchar](1) NOT NULL,
	[SETUP_COST_PER_HR] [decimal](22, 8) NOT NULL,
	[RUN_COST_PER_HR] [decimal](22, 8) NOT NULL,
	[RUN_COST_PER_UNIT] [decimal](22, 8) NOT NULL,
	[BUR_PER_HR_SETUP] [decimal](22, 8) NOT NULL,
	[BUR_PER_HR_RUN] [decimal](22, 8) NOT NULL,
	[BUR_PER_UNIT_RUN] [decimal](22, 8) NOT NULL,
	[SERVICE_BASE_CHG] [decimal](23, 8) NOT NULL,
	[BUR_PERCENT_SETUP] [decimal](6, 3) NOT NULL,
	[BUR_PERCENT_RUN] [decimal](6, 3) NOT NULL,
	[BUR_PER_OPERATION] [decimal](23, 8) NOT NULL,
	[EST_ATL_LAB_COST] [decimal](23, 8) NOT NULL,
	[EST_ATL_BUR_COST] [decimal](23, 8) NOT NULL,
	[EST_ATL_SER_COST] [decimal](23, 8) NOT NULL,
	[REM_ATL_LAB_COST] [decimal](23, 8) NOT NULL,
	[REM_ATL_BUR_COST] [decimal](23, 8) NOT NULL,
	[REM_ATL_SER_COST] [decimal](23, 8) NOT NULL,
	[ACT_ATL_LAB_COST] [decimal](23, 8) NOT NULL,
	[ACT_ATL_BUR_COST] [decimal](23, 8) NOT NULL,
	[ACT_ATL_SER_COST] [decimal](23, 8) NOT NULL,
	[EST_TTL_MAT_COST] [decimal](23, 8) NOT NULL,
	[EST_TTL_LAB_COST] [decimal](23, 8) NOT NULL,
	[EST_TTL_BUR_COST] [decimal](23, 8) NOT NULL,
	[EST_TTL_SER_COST] [decimal](23, 8) NOT NULL,
	[REM_TTL_MAT_COST] [decimal](23, 8) NOT NULL,
	[REM_TTL_LAB_COST] [decimal](23, 8) NOT NULL,
	[REM_TTL_BUR_COST] [decimal](23, 8) NOT NULL,
	[REM_TTL_SER_COST] [decimal](23, 8) NOT NULL,
	[ACT_TTL_MAT_COST] [decimal](23, 8) NOT NULL,
	[ACT_TTL_LAB_COST] [decimal](23, 8) NOT NULL,
	[ACT_TTL_BUR_COST] [decimal](23, 8) NOT NULL,
	[ACT_TTL_SER_COST] [decimal](23, 8) NOT NULL,
	[SPLIT_ADJUSTMENT] [decimal](20, 8) NOT NULL,
	[MILESTONE_ID] [nvarchar](15) NULL,
	[SCHEDULE_TYPE] [smallint] NULL,
	[MIN_SEGMENT_SIZE] [decimal](14, 2) NULL,
	[PROTECT_COST] [nchar](1) NOT NULL,
	[DRAWING_FILE] [nvarchar](100) NULL,
	[DISPATCHED_QTY] [decimal](20, 8) NOT NULL,
	[SERVICE_MIN_CHG] [decimal](23, 8) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[VENDOR_SERVICE_ID] [nvarchar](30) NULL,
	[SERVICE_PART_ID] [nvarchar](30) NULL,
	[LAST_DISP_DATE] [datetime] NULL,
	[LAST_RECV_DATE] [datetime] NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[LEAST_MIN_MOVE_QTY] [smallint] NULL,
	[MAX_GAP_PREV_OP] [int] NULL,
	[APPLY_CALENDAR] [nchar](1) NULL,
	[MAX_DOWNTIME] [int] NULL,
	[ACCUM_DOWNTIME] [nchar](1) NULL,
	[RUN_QTY_PER_CYCLE] [decimal](20, 8) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[NUM_MEM_TO_SCHED] [smallint] NULL,
	[SERVICE_BUFFER] [int] NULL,
	[MILESTONE_SUB_ID] [nvarchar](3) NULL,
	[POST_MILESTONE] [nchar](1) NULL,
	[PROJ_MILESTONE_OP] [nchar](1) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[WBS_START_DATE] [datetime] NULL,
	[WBS_END_DATE] [datetime] NULL,
	[WBS_DURATION] [decimal](14, 4) NULL,
	[MILESTONE_SEQ_NO] [smallint] NULL,
	[PRD_INSP_PLAN_ID] [nvarchar](16) NULL,
	[SETUP_INSPECT_REQ] [nchar](1) NULL,
	[RUN_INSPECT_REQ] [nchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PRED_SUB_ID] [nvarchar](3) NULL,
	[PRED_SEQ_NO] [smallint] NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[SCHED_CAPACITY_USAGE] [int] NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
	[OVERLAP_SETUP] [nchar](1) NOT NULL,
	[PERCENT_COMPL] [nvarchar](1) NULL,
	[QTY_COMPL_BY_HRS] [nvarchar](1) NULL,
	[MAX_QTY_COMPLETE] [decimal](20, 8) NULL,
	[DISPATCH_SEQUENCE] [int] NOT NULL,
 CONSTRAINT [PK_OPERATION] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[SEQUENCE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ('') FOR [SCRAP_YIELD_TYPE]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [FIXED_SCRAP_UNITS]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [COMPLETED_QTY]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [DEVIATED_QTY]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_SETUP_HRS]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_RUN_HRS]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ('') FOR [SETUP_COMPLETED]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ('') FOR [OVERRIDE_QTYS]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ('') FOR [BEGIN_TRACEABILITY]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ('') FOR [ISDETERMINANT]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [SETUP_COST_PER_HR]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [RUN_COST_PER_HR]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [RUN_COST_PER_UNIT]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [BUR_PER_HR_SETUP]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [BUR_PER_HR_RUN]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [BUR_PER_UNIT_RUN]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [SERVICE_BASE_CHG]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [BUR_PERCENT_SETUP]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [BUR_PERCENT_RUN]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [BUR_PER_OPERATION]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [EST_ATL_LAB_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [EST_ATL_BUR_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [EST_ATL_SER_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [REM_ATL_LAB_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [REM_ATL_BUR_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [REM_ATL_SER_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_ATL_LAB_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_ATL_BUR_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_ATL_SER_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [EST_TTL_MAT_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [EST_TTL_LAB_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [EST_TTL_BUR_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [EST_TTL_SER_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [REM_TTL_MAT_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [REM_TTL_LAB_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [REM_TTL_BUR_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [REM_TTL_SER_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_TTL_MAT_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_TTL_LAB_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_TTL_BUR_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ACT_TTL_SER_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [SPLIT_ADJUSTMENT]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ('') FOR [PROTECT_COST]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [DISPATCHED_QTY]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [SERVICE_MIN_CHG]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT (N'N') FOR [OVERLAP_SETUP]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT (N'N') FOR [PERCENT_COMPL]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT (N'N') FOR [QTY_COMPL_BY_HRS]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((0)) FOR [MAX_QTY_COMPLETE]
GO
ALTER TABLE [dbo].[OPERATION] ADD  DEFAULT ((99999)) FOR [DISPATCH_SEQUENCE]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_OPER_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FK_OPER_TO_SITE]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FKEY0114] FOREIGN KEY([SERVICE_ID])
REFERENCES [dbo].[SERVICE] ([ID])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FKEY0114]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FKEY0120] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FKEY0120]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FKEY0132] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID])
REFERENCES [dbo].[WORK_ORDER] ([TYPE], [BASE_ID], [LOT_ID], [SPLIT_ID], [SUB_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FKEY0132]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [FKEY0269] FOREIGN KEY([OPERATION_TYPE], [SITE_ID])
REFERENCES [dbo].[OPERATION_TYPE] ([ID], [SITE_ID])
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [FKEY0269]
GO
ALTER TABLE [dbo].[OPERATION]  WITH CHECK ADD  CONSTRAINT [CHK0099] CHECK  (([RUN_TYPE]='DAYS/PC' OR ([RUN_TYPE]='DAYS/LOAD' OR [RUN_TYPE]='PCS/DAY' OR [RUN_TYPE]='LOADS/HR' OR [RUN_TYPE]='LOADS/DAY' OR [RUN_TYPE]='HRS/LOAD' OR [RUN_TYPE]='PCS/MIN' OR [RUN_TYPE]='MIN/PC' OR [RUN_TYPE]='PCS/HR' OR [RUN_TYPE]='HRS/PC') AND ([STATUS]='U' OR [STATUS]='F' OR [STATUS]='R' OR [STATUS]='C' OR [STATUS]='X') AND ([SETUP_COMPLETED]='Y' OR [SETUP_COMPLETED]='N') AND ([OVERRIDE_QTYS]='Y' OR [OVERRIDE_QTYS]='N') AND ([BEGIN_TRACEABILITY]='Y' OR [BEGIN_TRACEABILITY]='N') AND ([ISDETERMINANT]='Y' OR [ISDETERMINANT]='N') AND [CAPACITY_USAGE_MIN]>=(0) AND [CAPACITY_USAGE_MAX]>=(0)))
GO
ALTER TABLE [dbo].[OPERATION] CHECK CONSTRAINT [CHK0099]
GO
