USE [VECA]
GO
/****** Object:  Table [dbo].[Z_BUDGET_CC_BACKUP]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_BUDGET_CC_BACKUP](
	[COST_CENTER] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[DATE_VAL] [datetime] NULL,
	[VALUE] [decimal](18, 10) NULL,
	[ID] [nvarchar](50) NOT NULL,
	[SOURCE] [nvarchar](50) NULL,
	[ACCT_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Z_BUDGET_CC_BACKUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
