USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[REMIT_TO_NAME] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_1] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_2] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_3] [nvarchar](50) NULL,
	[REMIT_TO_CITY] [nvarchar](30) NULL,
	[REMIT_TO_STATE] [nvarchar](10) NULL,
	[REMIT_TO_ZIPCODE] [nvarchar](10) NULL,
	[REMIT_TO_COUNTRY] [nvarchar](50) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[BUYER] [nvarchar](20) NULL,
	[REPORT_1099_MISC] [nchar](1) NOT NULL,
	[TERMS_NET_TYPE] [nchar](1) NOT NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_TYPE] [nchar](1) NOT NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](5, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[TAX_ID_NUMBER] [nvarchar](25) NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[DEF_EXP_GL_ACCT_ID] [nvarchar](30) NULL,
	[DEF_SLS_TAX_GRP_ID] [nvarchar](30) NULL,
	[MATCH_TYPE] [nchar](1) NOT NULL,
	[MATCH_HIGH_PCT] [decimal](6, 3) NULL,
	[MATCH_LOW_PCT] [decimal](6, 3) NULL,
	[LAST_ORDER_DATE] [datetime] NULL,
	[OPEN_DATE] [datetime] NULL,
	[MODIFY_DATE] [datetime] NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[DEF_PAYB_ACCT_ID] [nvarchar](30) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[ARRIVAL_CODE] [nvarchar](25) NULL,
	[TRANS_CODE] [nvarchar](25) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[NATURE_OF_TRANS] [int] NULL,
	[MODE_OF_TRANSPORT] [int] NULL,
	[SIRET_NUMBER] [decimal](14, 0) NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[VAT_BOOK_CODE_I] [nvarchar](5) NULL,
	[VAT_BOOK_CODE_M] [nvarchar](5) NULL,
	[VAT_EXEMPT] [nchar](1) NULL,
	[WITHHOLDING_CODE] [nvarchar](15) NULL,
	[VEND_BANK_ACCT_ID] [nvarchar](30) NULL,
	[PAYEE_REF_CODE] [nvarchar](10) NULL,
	[PAYMENT_METHOD] [nchar](1) NOT NULL,
	[TYPE] [nchar](1) NULL,
	[SOCIAL_SECURITY_NO] [nvarchar](15) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[SEX] [nchar](1) NULL,
	[PLACE_OF_BIRTH] [nvarchar](30) NULL,
	[STATE_OF_BIRTH] [nvarchar](10) NULL,
	[PRIORITY] [smallint] NULL,
	[DEF_EXP_ACCT_ID] [nvarchar](30) NULL,
	[QA_PERCENTAGE] [decimal](5, 2) NULL,
	[PREF_ORDER_MEDIUM] [nvarchar](15) NULL,
	[DEF_CARRIER_ID] [nvarchar](15) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[DEF_TRANS_CURRENCY] [nvarchar](15) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[VAT_DISCOUNTED] [nvarchar](1) NOT NULL,
	[VAT_ALWAYS_DISC] [nvarchar](1) NOT NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_OVERRIDE_SEQ] [nvarchar](1) NOT NULL,
	[RETURN_TRANS] [int] NULL,
	[WEB_URL] [nvarchar](255) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[DISPATCH_ADDR_ID] [nvarchar](20) NULL,
	[DISP_PALLET_REQ] [nchar](1) NULL,
	[ACTIVE_FLAG] [nchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[DEF_TERMS_ID] [nvarchar](15) NULL,
	[VENDOR_GROUP_ID] [nvarchar](15) NULL,
	[INTERNAL_VENDOR] [nchar](1) NULL,
	[PREVENT_EDIT_PO_RECEIPT] [nchar](1) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
	[EMAIL_VEND_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_VEND_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_VEND_ON_PO_RECEIPT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_PO_RECEIPT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_INV_PAID] [nchar](1) NOT NULL,
	[VENDOR_COUNTRY_ID] [nvarchar](15) NULL,
	[REMIT_TO_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_VENDOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [REPORT_1099_MISC]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [TERMS_NET_TYPE]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [TERMS_DISC_TYPE]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [MATCH_TYPE]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [PAYMENT_METHOD]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [VAT_DISCOUNTED]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [VAT_ALWAYS_DISC]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('') FOR [VAT_OVERRIDE_SEQ]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('N') FOR [EMAIL_VEND_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('N') FOR [EMAIL_VEND_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('N') FOR [EMAIL_VEND_ON_PO_RECEIPT]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_PO_RECEIPT]
GO
ALTER TABLE [dbo].[VENDOR] ADD  DEFAULT ('N') FOR [EMAIL_EMPL_ON_INV_PAID]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FK_VEND_GROUP_ID] FOREIGN KEY([VENDOR_GROUP_ID])
REFERENCES [dbo].[VENDOR_GROUP] ([ID])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FK_VEND_GROUP_ID]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FK_VENDOR_CNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FK_VENDOR_CNTRY]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY0058] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY0058]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY0262] FOREIGN KEY([DEF_EXP_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY0262]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9316] FOREIGN KEY([ARRIVAL_CODE])
REFERENCES [dbo].[PORT_OF_ARRIVAL] ([CODE])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9316]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9317] FOREIGN KEY([TRANS_CODE])
REFERENCES [dbo].[PORT_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9317]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9319] FOREIGN KEY([NATURE_OF_TRANS])
REFERENCES [dbo].[NATURE_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9319]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9320] FOREIGN KEY([MODE_OF_TRANSPORT])
REFERENCES [dbo].[MODE_OF_TRANSPORT] ([CODE])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9320]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9321] FOREIGN KEY([WITHHOLDING_CODE])
REFERENCES [dbo].[WITHHOLDING] ([CODE])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9321]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9465] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9465]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9471] FOREIGN KEY([DEF_TRANS_CURRENCY])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9471]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9578] FOREIGN KEY([RETURN_TRANS])
REFERENCES [dbo].[NATURE_OF_TRANS] ([CODE])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9578]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [FKEY9628] FOREIGN KEY([DEF_TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [FKEY9628]
GO
ALTER TABLE [dbo].[VENDOR]  WITH CHECK ADD  CONSTRAINT [CHK_VENDOR] CHECK  ((([REPORT_1099_MISC]='Y' OR [REPORT_1099_MISC]='N') AND ([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E') AND ([MATCH_TYPE]='R' OR [MATCH_TYPE]='E' OR [MATCH_TYPE]='N') AND ([PAYMENT_METHOD]='C' OR [PAYMENT_METHOD]='F' OR [PAYMENT_METHOD]='B') AND ([VAT_DISCOUNTED]='Y' OR [VAT_DISCOUNTED]='N') AND ([VAT_ALWAYS_DISC]='Y' OR [VAT_ALWAYS_DISC]='N') AND ([VAT_OVERRIDE_SEQ]='V' OR [VAT_OVERRIDE_SEQ]='P')))
GO
ALTER TABLE [dbo].[VENDOR] CHECK CONSTRAINT [CHK_VENDOR]
GO
