USE [VECA]
GO
/****** Object:  Table [dbo].[GAGE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAGE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GAGE_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[TYPE] [nvarchar](15) NULL,
	[SERIALNUM_REQD] [nchar](1) NOT NULL,
 CONSTRAINT [PK_GAGE] PRIMARY KEY CLUSTERED 
(
	[GAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GAGE] ADD  DEFAULT ('') FOR [SERIALNUM_REQD]
GO
ALTER TABLE [dbo].[GAGE]  WITH CHECK ADD  CONSTRAINT [CHK0088] CHECK  (([SERIALNUM_REQD]='Y' OR [SERIALNUM_REQD]='N'))
GO
ALTER TABLE [dbo].[GAGE] CHECK CONSTRAINT [CHK0088]
GO
