USE [VECA]
GO
/****** Object:  Table [dbo].[MACRO_PROFILE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACRO_PROFILE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](8) NOT NULL,
	[MACRO_NAME] [nvarchar](100) NOT NULL,
	[PROFILE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MACRO_PROFILE] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[MACRO_NAME] ASC,
	[PROFILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
