USE [VECA]
GO
/****** Object:  Table [dbo].[RMA_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMA_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RMA_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[ORG_ORDER_LINE_NO] [smallint] NULL,
	[NEW_ORDER_LINE_NO] [smallint] NULL,
	[QTY] [decimal](20, 8) NOT NULL,
	[RECEIVED_QTY] [decimal](20, 8) NOT NULL,
	[SHIPPED_QTY] [decimal](20, 8) NOT NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[PIECES_RECEIVED] [decimal](20, 8) NULL,
	[PIECES_SHIPPED] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NULL,
	[LINE_STATUS] [nchar](1) NOT NULL,
	[QUOTE_LINE_NO] [smallint] NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
 CONSTRAINT [PK_RMA_LINE] PRIMARY KEY CLUSTERED 
(
	[RMA_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RMA_LINE] ADD  DEFAULT ((0)) FOR [QTY]
GO
ALTER TABLE [dbo].[RMA_LINE] ADD  DEFAULT ((0)) FOR [RECEIVED_QTY]
GO
ALTER TABLE [dbo].[RMA_LINE] ADD  DEFAULT ((0)) FOR [SHIPPED_QTY]
GO
ALTER TABLE [dbo].[RMA_LINE] ADD  DEFAULT ('A') FOR [LINE_STATUS]
GO
ALTER TABLE [dbo].[RMA_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9379] FOREIGN KEY([RMA_ID])
REFERENCES [dbo].[RMA] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RMA_LINE] CHECK CONSTRAINT [FKEY9379]
GO
ALTER TABLE [dbo].[RMA_LINE]  WITH CHECK ADD  CONSTRAINT [CHK_RMA_LINE] CHECK  (([LINE_STATUS]='A' OR [LINE_STATUS]='C'))
GO
ALTER TABLE [dbo].[RMA_LINE] CHECK CONSTRAINT [CHK_RMA_LINE]
GO
