USE [VECA]
GO
/****** Object:  Table [dbo].[RFQ_LINE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RFQ_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RFQ_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
	[VENDOR_PART_ID] [nvarchar](30) NULL,
	[MFG_NAME] [nvarchar](30) NULL,
	[MFG_PART_ID] [nvarchar](30) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[COMMODITY_CODE] [nvarchar](15) NULL,
	[QTY_BREAK_1] [decimal](20, 8) NULL,
	[QTY_BREAK_2] [decimal](20, 8) NULL,
	[QTY_BREAK_3] [decimal](20, 8) NULL,
	[QTY_BREAK_4] [decimal](20, 8) NULL,
	[QTY_BREAK_5] [decimal](20, 8) NULL,
	[QTY_BREAK_6] [decimal](20, 8) NULL,
	[QTY_BREAK_7] [decimal](20, 8) NULL,
	[QTY_BREAK_8] [decimal](20, 8) NULL,
	[QTY_BREAK_9] [decimal](20, 8) NULL,
	[QTY_BREAK_10] [decimal](20, 8) NULL,
	[PURCHASE_UM] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[SERVICE_ID] [nvarchar](15) NULL,
	[SHIPPING_WEIGHT] [decimal](14, 4) NULL,
	[ORIG_STAGE_REVISION_ID] [nvarchar](24) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_RFQ_LINE] PRIMARY KEY CLUSTERED 
(
	[RFQ_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RFQ_LINE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[RFQ_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0252] FOREIGN KEY([RFQ_ID])
REFERENCES [dbo].[REQUEST_FOR_QUOTE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RFQ_LINE] CHECK CONSTRAINT [FKEY0252]
GO
ALTER TABLE [dbo].[RFQ_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0294] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[RFQ_LINE] CHECK CONSTRAINT [FKEY0294]
GO
