USE [VECA]
GO
/****** Object:  Table [dbo].[SOA_NOUN]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOA_NOUN](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SOR] [nchar](1) NOT NULL,
	[SYNC_IO] [nchar](1) NOT NULL,
	[PROCESS_IO] [nchar](1) NOT NULL,
	[GET_IO] [nchar](1) NOT NULL,
	[LOAD_IO] [nchar](1) NOT NULL,
	[NOUN_TYPE] [nvarchar](3) NULL,
	[ID_GRANULARITY] [nchar](1) NULL,
	[USE_GEN_SERVICE] [nchar](1) NOT NULL,
	[OPTIONS] [nvarchar](250) NULL,
	[SETTINGS] [nvarchar](250) NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_SOA_NOUN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SOA_NOUN] ADD  DEFAULT ('N') FOR [USE_GEN_SERVICE]
GO
