USE [VECA]
GO
/****** Object:  Table [dbo].[DOCUMENT_EML_AUDIT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_EML_AUDIT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DOCUMENT_ID] [nvarchar](128) NOT NULL,
	[DOC_FILE_PATH] [nvarchar](255) NOT NULL,
	[RECIPIENT_LIST] [nvarchar](2000) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[EMAIL_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[REL_TYPE] [nvarchar](15) NULL,
	[REL_ID] [nvarchar](15) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCUMENT_EML_AUDIT] ADD  DEFAULT (getdate()) FOR [EMAIL_DATE]
GO
