USE [VECA]
GO
/****** Object:  Table [dbo].[LABEL_TYPE_VAR]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABEL_TYPE_VAR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[LABEL_TYPE_ID] [nvarchar](30) NOT NULL,
	[TABLE_LINKS] [nvarchar](250) NULL,
	[ID_ALIAS] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_LABEL_TYPE_VAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[LABEL_TYPE_ID] ASC,
	[ID_ALIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LABEL_TYPE_VAR]  WITH CHECK ADD  CONSTRAINT [FKEY9458] FOREIGN KEY([LABEL_TYPE_ID])
REFERENCES [dbo].[LABEL_TYPE] ([ID])
GO
ALTER TABLE [dbo].[LABEL_TYPE_VAR] CHECK CONSTRAINT [FKEY9458]
GO
