USE [VECA]
GO
/****** Object:  Table [dbo].[SFCloneTableList]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFCloneTableList](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TableName] [nvarchar](max) NULL,
	[ChangeTrackStatus] [bit] NULL,
 CONSTRAINT [PK_SFCloneTableList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
