USE [VECA]
GO
/****** Object:  Table [dbo].[SERVICE_CHARGE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_CHARGE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[COMMODITY_CODE] [nvarchar](15) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[UNIT_PRICE] [decimal](22, 6) NULL,
	[GL_REVENUE_ACCT_ID] [nvarchar](30) NULL,
	[INTRASTAT_INCLUDE] [nchar](1) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SERVICE_CHARGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERVICE_CHARGE]  WITH CHECK ADD  CONSTRAINT [FK_SRVCHARGE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_CHARGE] CHECK CONSTRAINT [FK_SRVCHARGE_TO_SITE]
GO
