USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_BOOK_DEL]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_BOOK_DEL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_LINE_NO] [smallint] NOT NULL,
	[DEL_SCHED_LINE_NO] [smallint] NOT NULL,
	[BOOK_DATE] [datetime] NOT NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[ACTUAL_SHIP_DATE] [datetime] NULL,
	[USER_ORDER_QTY] [decimal](20, 8) NOT NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[USER_SHIPPED_QTY] [decimal](20, 8) NULL,
	[SHIPPED_QTY] [decimal](20, 8) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[RELEASE_NUMBER] [nvarchar](30) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[REVISION_ID] [nvarchar](8) NULL,
 CONSTRAINT [PK_CUST_BOOK_DEL] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[CUST_ORDER_LINE_NO] ASC,
	[DEL_SCHED_LINE_NO] ASC,
	[BOOK_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_BOOK_DEL] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[CUST_BOOK_DEL] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
