USE [VECA]
GO
/****** Object:  Table [dbo].[GOTO_TABLE_COLUMN]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOTO_TABLE_COLUMN](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GOTO_VMPGM_PROGRAM_ID] [nvarchar](80) NOT NULL,
	[GOTO_VMPGM_GOTO_ID] [int] NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[COL_SEQ] [int] NOT NULL,
	[COLUMN_NAME] [nvarchar](30) NOT NULL,
	[IS_PRIMARY] [nvarchar](1) NOT NULL,
	[IS_VALUE] [nvarchar](1) NULL,
	[FIXED_VALUE] [nvarchar](30) NULL,
 CONSTRAINT [PK_GOTO_TABLE_COLUMN] PRIMARY KEY CLUSTERED 
(
	[GOTO_VMPGM_PROGRAM_ID] ASC,
	[GOTO_VMPGM_GOTO_ID] ASC,
	[TABLE_NAME] ASC,
	[COL_SEQ] ASC,
	[COLUMN_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GOTO_TABLE_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_GOTO_TABLE_COLUMN_TO_GOTO_VMPGM] FOREIGN KEY([GOTO_VMPGM_PROGRAM_ID], [GOTO_VMPGM_GOTO_ID])
REFERENCES [dbo].[GOTO_VMPGM] ([PROGRAM_ID], [GOTO_ID])
GO
ALTER TABLE [dbo].[GOTO_TABLE_COLUMN] CHECK CONSTRAINT [FK_GOTO_TABLE_COLUMN_TO_GOTO_VMPGM]
GO
