USE [VECA]
GO
/****** Object:  Table [dbo].[NOTIFICATION_TEMPLATE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION_TEMPLATE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](30) NOT NULL,
	[TYPE] [nvarchar](10) NOT NULL,
	[MESSAGE] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_NOTIF_TEMPLATE] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
