USE [VECA]
GO
/****** Object:  Table [dbo].[VS_WO_ACT_COST]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_WO_ACT_COST](
	[BASE_ID] [nvarchar](30) NULL,
	[LOT_ID] [nvarchar](3) NULL,
	[SPLIT_ID] [nvarchar](3) NULL,
	[TOTAL_COST] [decimal](23, 8) NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NULL,
	[UNIT_COST] [decimal](23, 8) NULL,
	[UNIT_MATERIAL_COST] [decimal](23, 8) NULL,
	[UNIT_LABOR_COST] [decimal](23, 8) NULL,
	[UNIT_BURDEN_COST] [decimal](23, 8) NULL,
	[UNIT_SERVICE_COST] [decimal](23, 8) NULL,
	[QTY] [decimal](20, 8) NULL,
	[PART_ID] [nvarchar](30) NULL,
	[YEAR] [nvarchar](4) NULL,
	[MONTH] [int] NULL,
	[PRODUCT_CODE] [nvarchar](30) NULL
) ON [PRIMARY]
GO
