USE [VECA]
GO
/****** Object:  Table [dbo].[SHOP_RESOURCE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP_RESOURCE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[SCHEDULE_NORMALLY] [nchar](1) NOT NULL,
	[AUTO_REPORTING] [nchar](1) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[EXCLUSIVITY] [nchar](1) NOT NULL,
	[SHIFT_1_CAPACITY] [smallint] NOT NULL,
	[SHIFT_2_CAPACITY] [smallint] NOT NULL,
	[SHIFT_3_CAPACITY] [smallint] NOT NULL,
	[SCHEDULE_GROUP_ID] [nvarchar](15) NULL,
	[STATUS_RANK] [smallint] NOT NULL,
	[GL_ACCT_ID] [nvarchar](30) NULL,
	[AFC_GL_ACCT_ID] [nvarchar](30) NULL,
	[AFB_GL_ACCT_ID] [nvarchar](30) NULL,
	[GRID_ROW] [smallint] NULL,
	[GRID_COLUMN] [smallint] NULL,
	[SCHEDULE_TYPE] [smallint] NULL,
	[MIN_SEGMENT_SIZE] [decimal](14, 2) NULL,
	[EFFICIENCY_FACTOR] [decimal](14, 2) NULL,
	[SERVICE_BUFFER] [int] NULL,
	[MONITOR_LOAD] [nchar](1) NULL,
	[WBS_RESOURCE_TYPE] [nchar](1) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[STATUS] [nchar](1) NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_SHOP_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ('') FOR [SCHEDULE_NORMALLY]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ('') FOR [AUTO_REPORTING]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ('') FOR [TYPE]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ('') FOR [EXCLUSIVITY]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ((0)) FOR [SHIFT_1_CAPACITY]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ((0)) FOR [SHIFT_2_CAPACITY]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ((0)) FOR [SHIFT_3_CAPACITY]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] ADD  DEFAULT ((0)) FOR [STATUS_RANK]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FKEY0266] FOREIGN KEY([AFB_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] CHECK CONSTRAINT [FKEY0266]
GO
ALTER TABLE [dbo].[SHOP_RESOURCE]  WITH CHECK ADD  CONSTRAINT [CHK0019] CHECK  (([SCHEDULE_NORMALLY]='Y' OR [SCHEDULE_NORMALLY]='N' AND ([AUTO_REPORTING]='Y' OR [AUTO_REPORTING]='N') AND ([TYPE]='W' OR [TYPE]='C' OR [TYPE]='I' OR [TYPE]='G') AND ([EXCLUSIVITY]='I' OR [EXCLUSIVITY]='X') AND [SHIFT_1_CAPACITY]>=(0) AND [SHIFT_1_CAPACITY]<=(255) AND [SHIFT_2_CAPACITY]>=(0) AND [SHIFT_2_CAPACITY]<=(255) AND [SHIFT_3_CAPACITY]>=(0) AND [SHIFT_3_CAPACITY]<=(255) AND [GRID_ROW]>=(0) AND [GRID_COLUMN]>=(0)))
GO
ALTER TABLE [dbo].[SHOP_RESOURCE] CHECK CONSTRAINT [CHK0019]
GO
