USE [VECA]
GO
/****** Object:  Table [dbo].[QUOTE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOTE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[TERRITORY] [nvarchar](15) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[WON_LOSS_DATE] [datetime] NULL,
	[WON_LOSS_REASON] [nvarchar](80) NULL,
	[QUOTE_DATE] [datetime] NOT NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[FOLLOWUP_DATE] [datetime] NULL,
	[EXPECTED_WIN_DATE] [datetime] NULL,
	[WIN_PROBABILITY] [decimal](3, 2) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[TERMS_NET_TYPE] [nchar](1) NOT NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_TYPE] [nchar](1) NOT NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](5, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[FREIGHT_TERMS] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[QUOTED_LEADTIME] [smallint] NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[DISCOUNT_CODE] [nvarchar](15) NULL,
	[PRINTED_DATE] [datetime] NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[TERMS_ID] [nvarchar](15) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
	[QUOTE_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_QUOTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QUOTE] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[QUOTE] ADD  DEFAULT ('') FOR [TERMS_NET_TYPE]
GO
ALTER TABLE [dbo].[QUOTE] ADD  DEFAULT ('') FOR [TERMS_DISC_TYPE]
GO
ALTER TABLE [dbo].[QUOTE] ADD  DEFAULT ('') FOR [FREIGHT_TERMS]
GO
ALTER TABLE [dbo].[QUOTE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[QUOTE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[QUOTE]  WITH CHECK ADD  CONSTRAINT [FK_QUOTE_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[QUOTE] CHECK CONSTRAINT [FK_QUOTE_CONT_ID]
GO
ALTER TABLE [dbo].[QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY0013] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[QUOTE] CHECK CONSTRAINT [FKEY0013]
GO
ALTER TABLE [dbo].[QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY0059] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[QUOTE] CHECK CONSTRAINT [FKEY0059]
GO
ALTER TABLE [dbo].[QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY0066] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[QUOTE] CHECK CONSTRAINT [FKEY0066]
GO
ALTER TABLE [dbo].[QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY0275] FOREIGN KEY([DISCOUNT_CODE])
REFERENCES [dbo].[CUSTOMER_DISCOUNT] ([DISCOUNT_CODE])
GO
ALTER TABLE [dbo].[QUOTE] CHECK CONSTRAINT [FKEY0275]
GO
ALTER TABLE [dbo].[QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY9625] FOREIGN KEY([TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[QUOTE] CHECK CONSTRAINT [FKEY9625]
GO
ALTER TABLE [dbo].[QUOTE]  WITH CHECK ADD  CONSTRAINT [CHK_QUOTE] CHECK  ((([STATUS]='A' OR [STATUS]='R' OR [STATUS]='P' OR [STATUS]='W' OR [STATUS]='L' OR [STATUS]='X') AND ([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E') AND ([FREIGHT_TERMS]='P' OR [FREIGHT_TERMS]='B' OR [FREIGHT_TERMS]='C')))
GO
ALTER TABLE [dbo].[QUOTE] CHECK CONSTRAINT [CHK_QUOTE]
GO
