USE [VECA]
GO
/****** Object:  Table [dbo].[SHIPPER_LINE_DEL]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPER_LINE_DEL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PACKLIST_ID] [nvarchar](15) NOT NULL,
	[PACKLIST_LINE_NO] [smallint] NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[CUST_ORDER_LINE_NO] [smallint] NULL,
	[CUST_DEL_LINE_NO] [smallint] NULL,
	[USER_SHIPPED_QTY] [decimal](20, 8) NULL,
	[SHIPPED_QTY] [decimal](20, 8) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
 CONSTRAINT [PK_SHIPPER_LINE_DEL] PRIMARY KEY CLUSTERED 
(
	[PACKLIST_ID] ASC,
	[PACKLIST_LINE_NO] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHIPPER_LINE_DEL] ADD  DEFAULT ((0)) FOR [USER_SHIPPED_QTY]
GO
ALTER TABLE [dbo].[SHIPPER_LINE_DEL] ADD  DEFAULT ((0)) FOR [SHIPPED_QTY]
GO
ALTER TABLE [dbo].[SHIPPER_LINE_DEL]  WITH CHECK ADD  CONSTRAINT [FKEY9372] FOREIGN KEY([CUST_ORDER_ID], [CUST_ORDER_LINE_NO])
REFERENCES [dbo].[CUST_ORDER_LINE] ([CUST_ORDER_ID], [LINE_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHIPPER_LINE_DEL] CHECK CONSTRAINT [FKEY9372]
GO
ALTER TABLE [dbo].[SHIPPER_LINE_DEL]  WITH CHECK ADD  CONSTRAINT [FKEY9373] FOREIGN KEY([PACKLIST_ID], [PACKLIST_LINE_NO])
REFERENCES [dbo].[SHIPPER_LINE] ([PACKLIST_ID], [LINE_NO])
GO
ALTER TABLE [dbo].[SHIPPER_LINE_DEL] CHECK CONSTRAINT [FKEY9373]
GO
