USE [VECA]
GO
/****** Object:  Table [dbo].[Z_UPC]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_UPC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UPC] [varchar](16) NOT NULL,
	[ASSIGNED_TO] [varchar](80) NULL,
	[ASSIGNED_DATE] [datetime] NULL,
	[ADDED_DATE] [datetime] NULL,
	[PROD_TYPE] [varchar](20) NULL,
 CONSTRAINT [PK_Z_UPC] PRIMARY KEY CLUSTERED 
(
	[UPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
