USE [VECA]
GO
/****** Object:  Table [dbo].[V_SALES_ACTIVITY]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_SALES_ACTIVITY](
	[PLAN_ID] [nvarchar](15) NOT NULL,
	[STAGE_ID] [nvarchar](15) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[DAYS] [int] NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[DEFAULT_ACTIVITY] [smallint] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_SALES_ACTIVITY_0] PRIMARY KEY CLUSTERED 
(
	[PLAN_ID] ASC,
	[STAGE_ID] ASC,
	[SEQ_NO] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
