USE [VECA]
GO
/****** Object:  Table [dbo].[SOA_DIMENSION]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOA_DIMENSION](
	[ID] [nvarchar](100) NOT NULL,
	[AGENCY_ID] [nvarchar](10) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[NAME] [nvarchar](64) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[STATUS] [nvarchar](15) NOT NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[READ_ONLY] [nchar](1) NOT NULL,
	[SEQUENCE_NO] [int] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_SOA_DIMENSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[AGENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SOA_DIMENSION] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
