USE [VECA]
GO
/****** Object:  Table [dbo].[PART_UNITS_CONV]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_UNITS_CONV](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[FROM_UM] [nvarchar](15) NOT NULL,
	[TO_UM] [nvarchar](15) NOT NULL,
	[CONVERSION_FACTOR] [decimal](15, 8) NOT NULL,
 CONSTRAINT [PK_PART_UNITS_CONV] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[FROM_UM] ASC,
	[TO_UM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PART_UNITS_CONV]  WITH CHECK ADD  CONSTRAINT [FKEY0032] FOREIGN KEY([FROM_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PART_UNITS_CONV] CHECK CONSTRAINT [FKEY0032]
GO
ALTER TABLE [dbo].[PART_UNITS_CONV]  WITH CHECK ADD  CONSTRAINT [FKEY0091] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PART_UNITS_CONV] CHECK CONSTRAINT [FKEY0091]
GO
