USE [VECA]
GO
/****** Object:  Table [dbo].[SALES_TAX_PCT]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_TAX_PCT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SALES_TAX_ID] [nvarchar](15) NOT NULL,
	[EFFECTIVE_DATE] [datetime] NOT NULL,
	[TAX_PERCENT] [decimal](6, 3) NULL,
	[TAX_CEILING_AMOUNT] [decimal](23, 8) NULL,
 CONSTRAINT [PK_SALES_TAX_PCT] PRIMARY KEY CLUSTERED 
(
	[SALES_TAX_ID] ASC,
	[EFFECTIVE_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SALES_TAX_PCT]  WITH CHECK ADD  CONSTRAINT [FKEY0047] FOREIGN KEY([SALES_TAX_ID])
REFERENCES [dbo].[SALES_TAX] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES_TAX_PCT] CHECK CONSTRAINT [FKEY0047]
GO
