USE [VECA]
GO
/****** Object:  Table [dbo].[CA_BACKLOG_SEARCH]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_BACKLOG_SEARCH](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MAIN_PART] [varchar](30) NULL,
	[MAIN_PART_DESC] [varchar](40) NULL,
	[COUNTRY] [varchar](40) NULL,
	[CUST_ORDER_ID] [varchar](15) NULL,
	[LINE_NO] [int] NULL,
	[CUSTOMER_ID] [varchar](15) NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[ORDER_QTY] [decimal](18, 2) NULL,
	[DUE_DATE] [date] NULL,
	[WORK_ORDER] [varchar](15) NULL,
	[STATUS] [varchar](1) NULL,
	[PRINTED_DATE] [date] NULL,
	[SUB_PART_ID_1] [varchar](30) NULL,
	[SUB_PART_DESC_1] [varchar](80) NULL,
	[SUB_PART_ID_2] [varchar](30) NULL,
	[SUB_PART_DESC_2] [varchar](80) NULL,
	[SUB_PART_ID_3] [varchar](30) NULL,
	[SUB_PART_DESC_3] [varchar](80) NULL,
	[SUB_PART_ID_4] [varchar](30) NULL,
	[SUB_PART_DESC_4] [varchar](80) NULL,
	[SUB_PART_ID_5] [varchar](30) NULL,
	[SUB_PART_DESC_5] [varchar](80) NULL,
	[SUB_PART_ID_6] [varchar](30) NULL,
	[SUB_PART_DESC_6] [varchar](80) NULL,
	[SUB_PART_ID_7] [varchar](30) NULL,
	[SUB_PART_DESC_7] [varchar](80) NULL,
	[SUB_PART_ID_8] [varchar](30) NULL,
	[SUB_PART_DESC_8] [varchar](80) NULL,
	[CUSTOMER_STATUS] [varchar](1) NULL,
	[SCHEDULED] [varchar](2) NULL,
 CONSTRAINT [PK_CA_BACKLOG_SEARCH] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
