USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_GROUP]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_GROUP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[BILL_TO_NAME] [nvarchar](50) NULL,
	[BILL_TO_ADDR_1] [nvarchar](50) NULL,
	[BILL_TO_ADDR_2] [nvarchar](50) NULL,
	[BILL_TO_ADDR_3] [nvarchar](50) NULL,
	[BILL_TO_CITY] [nvarchar](30) NULL,
	[BILL_TO_STATE] [nvarchar](10) NULL,
	[BILL_TO_ZIPCODE] [nvarchar](10) NULL,
	[BILL_TO_COUNTRY] [nvarchar](50) NULL,
	[ALLOW_OVER_PAYMNT] [nchar](1) NULL,
	[ALLOW_ADJ_INVOICE] [nchar](1) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[BILL_TO_COUNTRY_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_CUST_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
