USE [VECA]
GO
/****** Object:  Table [dbo].[V_ACCT_SALESREP]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_ACCT_SALESREP](
	[ACCT_ID] [nvarchar](15) NOT NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[SALESREP_ID] [nvarchar](15) NOT NULL,
	[SALESREP_ROLE] [nvarchar](50) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_ACCT_SALESREP_0] PRIMARY KEY CLUSTERED 
(
	[ACCT_ID] ASC,
	[SALESREP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_ACCT_SALESREP]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00078] FOREIGN KEY([SALESREP_ID])
REFERENCES [dbo].[SALES_REP] ([ID])
GO
ALTER TABLE [dbo].[V_ACCT_SALESREP] CHECK CONSTRAINT [FK_VFO_00078]
GO
ALTER TABLE [dbo].[V_ACCT_SALESREP]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00094] FOREIGN KEY([ACCT_ID])
REFERENCES [dbo].[V_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[V_ACCT_SALESREP] CHECK CONSTRAINT [FK_VFO_00094]
GO
