USE [VECA]
GO
/****** Object:  Table [dbo].[WO_SCH_PRIORITY]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WO_SCH_PRIORITY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[GLOBAL_RANK] [smallint] NULL,
 CONSTRAINT [PK_WO_SCH_PRIORITY] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WO_SCH_PRIORITY]  WITH CHECK ADD  CONSTRAINT [FKEY9375] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[SCHEDULE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WO_SCH_PRIORITY] CHECK CONSTRAINT [FKEY9375]
GO
ALTER TABLE [dbo].[WO_SCH_PRIORITY]  WITH CHECK ADD  CONSTRAINT [FKEY9376] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID])
REFERENCES [dbo].[WORK_ORDER] ([TYPE], [BASE_ID], [LOT_ID], [SPLIT_ID], [SUB_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WO_SCH_PRIORITY] CHECK CONSTRAINT [FKEY9376]
GO
