USE [VECA]
GO
/****** Object:  Table [dbo].[PREF_DESCRIPTION]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREF_DESCRIPTION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SECTION] [nvarchar](100) NOT NULL,
	[ENTRY] [nvarchar](100) NOT NULL,
	[VALUE] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
 CONSTRAINT [PK_PREF_DESCRIPTION] PRIMARY KEY CLUSTERED 
(
	[SECTION] ASC,
	[ENTRY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
