USE [VECA]
GO
/****** Object:  Table [dbo].[PREFERENCES]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCES](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](50) NULL,
	[SECTION] [nvarchar](100) NOT NULL,
	[ENTRY] [nvarchar](100) NOT NULL,
	[VALUE] [nvarchar](255) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[IS_GLOBAL] [nchar](1) NOT NULL,
	[IS_ACTIVE] [nchar](1) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PREFERENCES] ADD  DEFAULT ('N') FOR [IS_GLOBAL]
GO
ALTER TABLE [dbo].[PREFERENCES] ADD  DEFAULT ('Y') FOR [IS_ACTIVE]
GO
