USE [VECA]
GO
/****** Object:  Table [dbo].[MARKET_PRICE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARKET_PRICE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MARKET_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[SELLING_UM] [nvarchar](15) NULL,
	[DEFAULT_UNIT_PRICE] [decimal](22, 8) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[QTY_BREAK_1] [decimal](20, 8) NULL,
	[QTY_BREAK_2] [decimal](20, 8) NULL,
	[QTY_BREAK_3] [decimal](20, 8) NULL,
	[QTY_BREAK_4] [decimal](20, 8) NULL,
	[QTY_BREAK_5] [decimal](20, 8) NULL,
	[QTY_BREAK_6] [decimal](20, 8) NULL,
	[QTY_BREAK_7] [decimal](20, 8) NULL,
	[QTY_BREAK_8] [decimal](20, 8) NULL,
	[QTY_BREAK_9] [decimal](20, 8) NULL,
	[QTY_BREAK_10] [decimal](20, 8) NULL,
	[UNIT_PRICE_1] [decimal](22, 8) NULL,
	[UNIT_PRICE_2] [decimal](22, 8) NULL,
	[UNIT_PRICE_3] [decimal](22, 8) NULL,
	[UNIT_PRICE_4] [decimal](22, 8) NULL,
	[UNIT_PRICE_5] [decimal](22, 8) NULL,
	[UNIT_PRICE_6] [decimal](22, 8) NULL,
	[UNIT_PRICE_7] [decimal](22, 8) NULL,
	[UNIT_PRICE_8] [decimal](22, 8) NULL,
	[UNIT_PRICE_9] [decimal](22, 8) NULL,
	[UNIT_PRICE_10] [decimal](22, 8) NULL,
 CONSTRAINT [PK_MARKET_PRICE] PRIMARY KEY CLUSTERED 
(
	[MARKET_ID] ASC,
	[PART_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MARKET_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY9594] FOREIGN KEY([MARKET_ID])
REFERENCES [dbo].[MARKET] ([ID])
GO
ALTER TABLE [dbo].[MARKET_PRICE] CHECK CONSTRAINT [FKEY9594]
GO
ALTER TABLE [dbo].[MARKET_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY9595] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[MARKET_PRICE] CHECK CONSTRAINT [FKEY9595]
GO
ALTER TABLE [dbo].[MARKET_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY9596] FOREIGN KEY([SELLING_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[MARKET_PRICE] CHECK CONSTRAINT [FKEY9596]
GO
ALTER TABLE [dbo].[MARKET_PRICE]  WITH CHECK ADD  CONSTRAINT [FKEY9597] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[MARKET_PRICE] CHECK CONSTRAINT [FKEY9597]
GO
