USE [VECA]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[INTRASTAT_REQD] [nchar](1) NOT NULL,
	[INTRA_COUNTRY_ID] [nvarchar](15) NULL,
	[ESL_COUNTRY_ID] [nvarchar](15) NULL,
	[ESL_COUNTRY] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COUNTRY] ADD  DEFAULT ('') FOR [INTRASTAT_REQD]
GO
ALTER TABLE [dbo].[COUNTRY] ADD  DEFAULT ('') FOR [ESL_COUNTRY]
GO
