USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR_ENTITY]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR_ENTITY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[TOTAL_OPEN_ORDERS] [decimal](23, 8) NOT NULL,
	[TOTAL_OPEN_PAYB] [decimal](23, 8) NOT NULL,
	[OPEN_ORDER_COUNT] [int] NOT NULL,
	[OPEN_PAYB_COUNT] [int] NOT NULL,
 CONSTRAINT [PK_VENDOR_ENTITY] PRIMARY KEY CLUSTERED 
(
	[ENTITY_ID] ASC,
	[VENDOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR_ENTITY] ADD  DEFAULT ((0)) FOR [TOTAL_OPEN_ORDERS]
GO
ALTER TABLE [dbo].[VENDOR_ENTITY] ADD  DEFAULT ((0)) FOR [TOTAL_OPEN_PAYB]
GO
ALTER TABLE [dbo].[VENDOR_ENTITY] ADD  DEFAULT ((0)) FOR [OPEN_ORDER_COUNT]
GO
ALTER TABLE [dbo].[VENDOR_ENTITY] ADD  DEFAULT ((0)) FOR [OPEN_PAYB_COUNT]
GO
ALTER TABLE [dbo].[VENDOR_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_VENDOR_ENTITY_TO_CUSTOMER] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_ENTITY] CHECK CONSTRAINT [FK_VENDOR_ENTITY_TO_CUSTOMER]
GO
ALTER TABLE [dbo].[VENDOR_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_VENDOR_ENTITY_TO_ENTITY] FOREIGN KEY([ENTITY_ID])
REFERENCES [dbo].[ACCOUNTING_ENTITY] ([ID])
GO
ALTER TABLE [dbo].[VENDOR_ENTITY] CHECK CONSTRAINT [FK_VENDOR_ENTITY_TO_ENTITY]
GO
