USE [VECA]
GO
/****** Object:  Table [dbo].[V_FILTER]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_FILTER](
	[ID] [nvarchar](15) NOT NULL,
	[BUS_OBJ_TYPE] [smallint] NOT NULL,
	[DEFAULT_FILTER] [smallint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[OWNER] [nvarchar](15) NOT NULL,
	[SCOPE] [nchar](1) NULL,
	[BITS_LENGTH] [int] NOT NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[BITS] [image] NULL,
	[CREATOR] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_FILTER_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_FILTER] ADD  DEFAULT ((0)) FOR [DEFAULT_FILTER]
GO
ALTER TABLE [dbo].[V_FILTER] ADD  DEFAULT ((0)) FOR [BITS_LENGTH]
GO
