USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_ORDER_SYNC]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_ORDER_SYNC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EVENT_ID] [int] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[EXCEPTION] [nchar](1) NOT NULL,
	[SUBSCRIPTIONS] [int] NOT NULL,
 CONSTRAINT [PK_CO_SYNC] PRIMARY KEY CLUSTERED 
(
	[EVENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_ORDER_SYNC] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[CUST_ORDER_SYNC] ADD  DEFAULT ((0)) FOR [SUBSCRIPTIONS]
GO
