USE [VECA]
GO
/****** Object:  Table [dbo].[MACRO]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACRO](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[PROGRAM_ID] [nvarchar](8) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[MACRO] [image] NULL,
 CONSTRAINT [PK_MACRO] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[PROGRAM_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
