USE [VECA]
GO
/****** Object:  Table [dbo].[IBT_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBT_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IBT_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[USER_ORDER_QTY] [decimal](20, 8) NOT NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[USER_SHIPPED_QTY] [decimal](20, 8) NULL,
	[SHIPPED_QTY] [decimal](20, 8) NULL,
	[USER_RECV_QTY] [decimal](20, 8) NULL,
	[RECEIVED_QTY] [decimal](20, 8) NULL,
	[IBT_UM] [nvarchar](15) NULL,
	[RETURNED_QTY] [decimal](20, 8) NULL,
	[USER_RETURNED_QTY] [decimal](20, 8) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[SHIPPING_WEIGHT] [decimal](14, 4) NULL,
	[WEIGHT_UM] [nvarchar](15) NULL,
	[CARTON_COUNT] [smallint] NULL,
	[PACKAGE_TYPE] [nvarchar](5) NULL,
	[LINE_STATUS] [nchar](1) NOT NULL,
	[DEM_ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[DEM_FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[SUP_ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[SUP_FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[TRANSIT_LOC_ID] [nvarchar](15) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[TRACE_QTY] [decimal](20, 8) NULL,
	[DISPATCHED] [nchar](1) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[FROM_USER_DIMENSION_1] [nvarchar](15) NULL,
	[FROM_USER_DIMENSION_2] [nvarchar](15) NULL,
	[FROM_CUST_ORDER_ID] [nvarchar](15) NULL,
	[TO_USER_DIMENSION_1] [nvarchar](15) NULL,
	[TO_USER_DIMENSION_2] [nvarchar](15) NULL,
	[TO_CUST_ORDER_ID] [nvarchar](15) NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[SHPD_PIECE_COUNT] [decimal](20, 8) NULL,
	[SHPD_LENGTH] [decimal](14, 4) NULL,
	[SHPD_WIDTH] [decimal](14, 4) NULL,
	[SHPD_HEIGHT] [decimal](14, 4) NULL,
	[SHPD_DIMENSIONS_UM] [nvarchar](15) NULL,
	[RCVD_PIECE_COUNT] [decimal](20, 8) NULL,
	[RCVD_LENGTH] [decimal](14, 4) NULL,
	[RCVD_WIDTH] [decimal](14, 4) NULL,
	[RCVD_HEIGHT] [decimal](14, 4) NULL,
	[RCVD_DIMENSIONS_UM] [nvarchar](15) NULL,
 CONSTRAINT [PK_IBT_LINE] PRIMARY KEY CLUSTERED 
(
	[IBT_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBT_LINE] ADD  DEFAULT ('') FOR [LINE_STATUS]
GO
ALTER TABLE [dbo].[IBT_LINE] ADD  DEFAULT ((0)) FOR [DEM_ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[IBT_LINE] ADD  DEFAULT ((0)) FOR [DEM_FULFILLED_QTY]
GO
ALTER TABLE [dbo].[IBT_LINE] ADD  DEFAULT ((0)) FOR [SUP_ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[IBT_LINE] ADD  DEFAULT ((0)) FOR [SUP_FULFILLED_QTY]
GO
ALTER TABLE [dbo].[IBT_LINE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[IBT_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9540] FOREIGN KEY([IBT_ID])
REFERENCES [dbo].[IBT] ([ID])
GO
ALTER TABLE [dbo].[IBT_LINE] CHECK CONSTRAINT [FKEY9540]
GO
ALTER TABLE [dbo].[IBT_LINE]  WITH CHECK ADD  CONSTRAINT [CHK_IBT_LINE] CHECK  (([LINE_STATUS]='A' OR [LINE_STATUS]='C'))
GO
ALTER TABLE [dbo].[IBT_LINE] CHECK CONSTRAINT [CHK_IBT_LINE]
GO
