USE [VECA]
GO
/****** Object:  Table [dbo].[INDIRECT_DETAIL]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIRECT_DETAIL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRANSACTION_ID] [int] NOT NULL,
	[DIST_NO] [smallint] NOT NULL,
	[ACT_MATERIAL_COST] [decimal](23, 8) NULL,
	[ACT_LABOR_COST] [decimal](23, 8) NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NULL,
	[ACT_SERVICE_COST] [decimal](23, 8) NULL,
	[REFERENCE] [nvarchar](50) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[DR_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[DR_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[DR_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[DR_SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[CR_SER_GL_ACCT_ID] [nvarchar](30) NULL,
 CONSTRAINT [PK_INDIRECT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC,
	[DIST_NO] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INDIRECT_DETAIL] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[INDIRECT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FKEY9010] FOREIGN KEY([TRANSACTION_ID])
REFERENCES [dbo].[LABOR_TICKET] ([TRANSACTION_ID])
GO
ALTER TABLE [dbo].[INDIRECT_DETAIL] CHECK CONSTRAINT [FKEY9010]
GO
ALTER TABLE [dbo].[INDIRECT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FKEY9455] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[INDIRECT_DETAIL] CHECK CONSTRAINT [FKEY9455]
GO
