USE [VECA]
GO
/****** Object:  Table [dbo].[RECEIVABLE_CURR]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLE_CURR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
 CONSTRAINT [PK_RECEIVABLE_CURR] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RECEIVABLE_CURR] ADD  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[RECEIVABLE_CURR] ADD  DEFAULT ((0)) FOR [SELL_RATE]
GO
ALTER TABLE [dbo].[RECEIVABLE_CURR] ADD  DEFAULT ((0)) FOR [BUY_RATE]
GO
ALTER TABLE [dbo].[RECEIVABLE_CURR]  WITH CHECK ADD  CONSTRAINT [FKEY9391] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[RECEIVABLE_CURR] CHECK CONSTRAINT [FKEY9391]
GO
ALTER TABLE [dbo].[RECEIVABLE_CURR]  WITH CHECK ADD  CONSTRAINT [FKEY9392] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[RECEIVABLE] ([INVOICE_ID])
GO
ALTER TABLE [dbo].[RECEIVABLE_CURR] CHECK CONSTRAINT [FKEY9392]
GO
