USE [VECA]
GO
/****** Object:  Table [dbo].[TABLE_LIST]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE_LIST](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TABLE_NAME] [nvarchar](100) NOT NULL,
	[LAST_MOD_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_TABLE_LIST] PRIMARY KEY CLUSTERED 
(
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TABLE_LIST] ADD  DEFAULT (getdate()) FOR [LAST_MOD_DATE]
GO
ALTER TABLE [dbo].[TABLE_LIST] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
