USE [VECA]
GO
/****** Object:  Table [dbo].[REVISION_HISTORY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVISION_HISTORY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[REVISION_ID] [nvarchar](8) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[STAGE_ID] [nvarchar](15) NULL,
	[HISTORY_ID] [nvarchar](80) NOT NULL,
	[COMMENTS] [nvarchar](250) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_REVISION_HISTORY] PRIMARY KEY CLUSTERED 
(
	[REVISION_ID] ASC,
	[TYPE] ASC,
	[HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REVISION_HISTORY] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
