USE [VECA]
GO
/****** Object:  Table [dbo].[V_VERSION]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_VERSION](
	[DB_VERSION] [nvarchar](50) NOT NULL,
	[COMPANY] [nvarchar](100) NOT NULL,
	[COMMENTS] [nvarchar](254) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[SERIAL_NUMBER] [nvarchar](25) NULL,
	[SYNC_MACHINE_ID] [nvarchar](15) NULL,
	[UPGRADE_ACTION_REQ] [smallint] NULL,
	[BOI_DATE_RUN] [datetime] NULL,
	[BOI_COUNT] [smallint] NULL,
	[SYNC_CLIENT_SN] [nvarchar](25) NULL,
 CONSTRAINT [X_V_VERSION_0] PRIMARY KEY CLUSTERED 
(
	[COMPANY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
