USE [VECA]
GO
/****** Object:  Table [dbo].[IBT_SHIPPER]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBT_SHIPPER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SHIPPER_ID] [nvarchar](15) NOT NULL,
	[IBT_ID] [nvarchar](15) NOT NULL,
	[SHIPPED_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[LONG_DESCRIPTION] [image] NULL,
	[BOL_ID] [nvarchar](20) NULL,
	[ASN_ID] [nvarchar](20) NULL,
	[PRINTED_DATE] [datetime] NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[ESL_REPORT_NO] [int] NULL,
	[ESL_FILENAME] [nvarchar](15) NULL,
	[SHIP_REASON_CD] [nvarchar](15) NULL,
	[CUSTOMS_DOC_ID] [nvarchar](15) NULL,
	[WEIGH_BILL_NUMBER] [nvarchar](20) NULL,
	[POOL_CODE] [nvarchar](20) NULL,
	[VEHICLE_NUMBER] [nvarchar](20) NULL,
	[INTER_CONSIGNEE] [nvarchar](20) NULL,
	[TARE_WEIGHT] [decimal](14, 4) NULL,
	[TOTAL_NET_WEIGHT] [decimal](14, 4) NULL,
	[TOTAL_GROSS_WEIGHT] [decimal](14, 4) NULL,
	[USER_RECEIVED_QTY] [decimal](20, 8) NULL,
	[RECEIVED_QTY] [decimal](20, 8) NULL,
	[RCPT_ACK_PRINTED] [datetime] NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
 CONSTRAINT [PK_IBT_SHIPPER] PRIMARY KEY CLUSTERED 
(
	[SHIPPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBT_SHIPPER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[IBT_SHIPPER] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[IBT_SHIPPER]  WITH CHECK ADD  CONSTRAINT [FK_IBT_SHIPPER_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[IBT_SHIPPER] CHECK CONSTRAINT [FK_IBT_SHIPPER_TO_SITE]
GO
ALTER TABLE [dbo].[IBT_SHIPPER]  WITH CHECK ADD  CONSTRAINT [FK_IBT_SHP_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[IBT_SHIPPER] CHECK CONSTRAINT [FK_IBT_SHP_CONT_ID]
GO
ALTER TABLE [dbo].[IBT_SHIPPER]  WITH CHECK ADD  CONSTRAINT [FKEY9490] FOREIGN KEY([IBT_ID])
REFERENCES [dbo].[IBT] ([ID])
GO
ALTER TABLE [dbo].[IBT_SHIPPER] CHECK CONSTRAINT [FKEY9490]
GO
