USE [VECA]
GO
/****** Object:  Table [dbo].[VR_DATA_SOURCE]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VR_DATA_SOURCE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](80) NOT NULL,
	[SOURCE_TYPE] [int] NOT NULL,
	[SCOPE_TYPE] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[USE_ANSI_92_JOIN] [nchar](1) NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[FILTER_TEXT] [nvarchar](2000) NULL,
	[CREATED_BY] [nvarchar](20) NULL,
	[LAST_MODIFIED_BY] [nvarchar](20) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_VR_DATA_SOURCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE] ADD  DEFAULT ('1') FOR [SCOPE_TYPE]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE] ADD  DEFAULT ('Y') FOR [USE_ANSI_92_JOIN]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE] ADD  DEFAULT ('D') FOR [STATUS]
GO
ALTER TABLE [dbo].[VR_DATA_SOURCE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
