USE [VECA]
GO
/****** Object:  Table [dbo].[PART_ALIAS]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_ALIAS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[TYPE] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_PART_ALIAS] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PART_ALIAS]  WITH CHECK ADD  CONSTRAINT [FK_PART_ALIAS_00] FOREIGN KEY([TYPE])
REFERENCES [dbo].[PART_ALIAS_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PART_ALIAS] CHECK CONSTRAINT [FK_PART_ALIAS_00]
GO
ALTER TABLE [dbo].[PART_ALIAS]  WITH CHECK ADD  CONSTRAINT [FKEY9485] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PART_ALIAS] CHECK CONSTRAINT [FKEY9485]
GO
