USE [VECA]
GO
/****** Object:  Table [dbo].[PART]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
	[STOCK_UM] [nvarchar](15) NOT NULL,
	[PLANNING_LEADTIME] [smallint] NOT NULL,
	[ORDER_POLICY] [nchar](1) NOT NULL,
	[ORDER_POINT] [decimal](20, 8) NULL,
	[ORDER_UP_TO_QTY] [decimal](20, 8) NULL,
	[SAFETY_STOCK_QTY] [decimal](20, 8) NULL,
	[FIXED_ORDER_QTY] [decimal](20, 8) NULL,
	[DAYS_OF_SUPPLY] [smallint] NULL,
	[MINIMUM_ORDER_QTY] [decimal](20, 8) NULL,
	[MAXIMUM_ORDER_QTY] [decimal](20, 8) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[COMMODITY_CODE] [nvarchar](15) NULL,
	[MFG_NAME] [nvarchar](30) NULL,
	[MFG_PART_ID] [nvarchar](30) NULL,
	[FABRICATED] [nchar](1) NOT NULL,
	[PURCHASED] [nchar](1) NOT NULL,
	[STOCKED] [nchar](1) NOT NULL,
	[DETAIL_ONLY] [nchar](1) NOT NULL,
	[DEMAND_HISTORY] [nchar](1) NOT NULL,
	[TOOL_OR_FIXTURE] [nchar](1) NOT NULL,
	[INSPECTION_REQD] [nchar](1) NOT NULL,
	[WEIGHT] [decimal](14, 4) NULL,
	[WEIGHT_UM] [nvarchar](15) NULL,
	[DRAWING_ID] [nvarchar](30) NULL,
	[DRAWING_REV_NO] [nvarchar](8) NULL,
	[PREF_VENDOR_ID] [nvarchar](15) NULL,
	[MRP_REQUIRED] [nchar](1) NULL,
	[MRP_EXCEPTIONS] [nchar](1) NULL,
	[PRIVATE_UM_CONV] [nchar](1) NULL,
	[AUTO_BACKFLUSH] [nchar](1) NULL,
	[PLANNER_USER_ID] [nvarchar](20) NULL,
	[BUYER_USER_ID] [nvarchar](20) NULL,
	[ABC_CODE] [nchar](1) NULL,
	[ANNUAL_USAGE_QTY] [decimal](20, 8) NULL,
	[INVENTORY_LOCKED] [nchar](1) NOT NULL,
	[MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[QTY_ON_HAND] [decimal](20, 8) NOT NULL,
	[QTY_AVAILABLE_ISS] [decimal](20, 8) NOT NULL,
	[QTY_AVAILABLE_MRP] [decimal](20, 8) NOT NULL,
	[QTY_ON_ORDER] [decimal](20, 8) NOT NULL,
	[QTY_IN_DEMAND] [decimal](20, 8) NOT NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[NMFC_CODE_ID] [nvarchar](15) NULL,
	[PACKAGE_TYPE] [nvarchar](5) NULL,
	[MRP_EXCEPTION_INFO] [nvarchar](80) NULL,
	[MULTIPLE_ORDER_QTY] [decimal](20, 8) NULL,
	[ADD_FORECAST] [nchar](1) NOT NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[PIECE_TRACKED] [nchar](1) NOT NULL,
	[LENGTH_REQD] [nchar](1) NOT NULL,
	[WIDTH_REQD] [nchar](1) NOT NULL,
	[HEIGHT_REQD] [nchar](1) NOT NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[SHIP_DIMENSIONS] [nvarchar](50) NULL,
	[DRAWING_FILE] [nvarchar](100) NULL,
	[TARIFF_CODE] [nvarchar](15) NULL,
	[TARIFF_TYPE] [nvarchar](20) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](15) NULL,
	[NET_WEIGHT_2] [decimal](11, 2) NULL,
	[GROSS_WEIGHT_2] [decimal](11, 2) NULL,
	[WEIGHT_UM_2] [nvarchar](15) NULL,
	[VOLUME] [decimal](11, 2) NULL,
	[VOLUME_UM] [nvarchar](15) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[DEMAND_FENCE_1] [int] NULL,
	[DEMAND_FENCE_2] [int] NULL,
	[ROLL_FORECAST] [nchar](1) NULL,
	[CONSUMABLE] [nchar](1) NULL,
	[PRIMARY_SOURCE] [nchar](3) NULL,
	[LABEL_UM] [nvarchar](15) NULL,
	[HTS_CODE] [nvarchar](20) NULL,
	[DEF_ORIG_COUNTRY] [nvarchar](50) NULL,
	[MATERIAL_CODE] [nvarchar](25) NULL,
	[DEF_LBL_FORMAT_ID] [nvarchar](30) NULL,
	[VOLATILE_LEADTIME] [nchar](1) NULL,
	[LT_PLUS_DAYS] [int] NULL,
	[LT_MINUS_DAYS] [int] NULL,
	[STATUS] [nchar](1) NULL,
	[USE_SUPPLY_BEF_LT] [nchar](1) NULL,
	[QTY_COMMITTED] [decimal](20, 8) NOT NULL,
	[intrastat_exempt] [nvarchar](1) NOT NULL,
	[CASE_QTY] [decimal](20, 8) NULL,
	[PALLET_QTY] [decimal](20, 8) NULL,
	[MINIMUM_LEADTIME] [smallint] NULL,
	[LEADTIME_BUFFER] [smallint] NULL,
	[EMERGENCY_STOCKPCT] [int] NULL,
	[REPLENISH_LEVEL] [decimal](20, 8) NULL,
	[MIN_BATCH_SIZE] [decimal](20, 8) NULL,
	[EFF_DATE_PRICE] [nchar](1) NULL,
	[ECN_REVISION] [nchar](1) NULL,
	[REVISION_ID] [nvarchar](8) NULL,
	[STAGE_ID] [nvarchar](15) NULL,
	[ECN_REV_CONTROL] [nchar](1) NULL,
	[IS_KIT] [nchar](1) NOT NULL,
	[YELLOW_STOCKPCT] [int] NULL,
	[UNIV_PLAN_MATERIAL] [nvarchar](1) NULL,
	[RLS_NEAR_DAYS] [smallint] NULL,
	[SUGG_RLS_NEAR_DAYS] [smallint] NULL,
	[LAST_IMPLODE_DATE] [datetime] NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[CONTROLLED_BY_ICS] [nchar](1) NOT NULL,
	[PRICE_GROUP] [nvarchar](15) NULL,
	[DEF_PACKAGE_QTY] [decimal](20, 8) NULL,
	[DEF_PACKAGE_CAP] [decimal](20, 8) NULL,
	[DEF_SLS_TAX_GRP_ID] [nvarchar](15) NULL,
	[MRO_CLASS] [nvarchar](20) NULL,
	[BUFFER_PROFILE_ID] [nvarchar](15) NULL,
	[ADU_HORIZON] [smallint] NULL,
	[ASR_LEADTIME] [smallint] NULL,
	[ONHAND_ALERT_RED_PCT] [smallint] NULL,
	[PROCESS_TYPE] [nvarchar](15) NULL,
	[BID_RATE_CATEGORY_ID] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[MODIFY_DATE] [datetime] NULL,
 CONSTRAINT [PK_PART] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ((0)) FOR [PLANNING_LEADTIME]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [ORDER_POLICY]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [FABRICATED]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [PURCHASED]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [STOCKED]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [DETAIL_ONLY]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [DEMAND_HISTORY]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [TOOL_OR_FIXTURE]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [INSPECTION_REQD]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [INVENTORY_LOCKED]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ((0)) FOR [QTY_ON_HAND]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ((0)) FOR [QTY_AVAILABLE_ISS]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ((0)) FOR [QTY_AVAILABLE_MRP]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ((0)) FOR [QTY_ON_ORDER]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ((0)) FOR [QTY_IN_DEMAND]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [ADD_FORECAST]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [PIECE_TRACKED]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [LENGTH_REQD]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [WIDTH_REQD]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [HEIGHT_REQD]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ((0)) FOR [QTY_COMMITTED]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [intrastat_exempt]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('') FOR [IS_KIT]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT ('N') FOR [CONTROLLED_BY_ICS]
GO
ALTER TABLE [dbo].[PART] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FK_PART_BUF_PROFILE] FOREIGN KEY([BUFFER_PROFILE_ID])
REFERENCES [dbo].[BUFFER_PROFILE] ([ID])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FK_PART_BUF_PROFILE]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FKEY0034] FOREIGN KEY([STOCK_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FKEY0034]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FKEY0035] FOREIGN KEY([WEIGHT_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FKEY0035]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FKEY0076] FOREIGN KEY([PREF_VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FKEY0076]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FKEY9328] FOREIGN KEY([TARIFF_CODE])
REFERENCES [dbo].[TARIFF] ([CODE])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FKEY9328]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FKEY9463] FOREIGN KEY([DEF_LBL_FORMAT_ID])
REFERENCES [dbo].[LABEL_FORMAT] ([ID])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FKEY9463]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [FKEY9496] FOREIGN KEY([LABEL_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [FKEY9496]
GO
ALTER TABLE [dbo].[PART]  WITH CHECK ADD  CONSTRAINT [CHK_PART] CHECK  (([PLANNING_LEADTIME]>=(0) AND ([ORDER_POLICY]='N' OR [ORDER_POLICY]='M' OR [ORDER_POLICY]='F' OR [ORDER_POLICY]='E' OR [ORDER_POLICY]='D' OR [ORDER_POLICY]='P') AND [ORDER_POINT]>=(0) AND [SAFETY_STOCK_QTY]>=(0) AND [FIXED_ORDER_QTY]>=(0) AND [DAYS_OF_SUPPLY]>=(0) AND [MINIMUM_ORDER_QTY]>=(0) AND [MAXIMUM_ORDER_QTY]>=(0) AND ([FABRICATED]='Y' OR [FABRICATED]='N') AND ([PURCHASED]='Y' OR [PURCHASED]='N') AND ([STOCKED]='Y' OR [STOCKED]='N') AND ([DETAIL_ONLY]='Y' OR [DETAIL_ONLY]='N') AND ([DEMAND_HISTORY]='Y' OR [DEMAND_HISTORY]='N') AND ([TOOL_OR_FIXTURE]='Y' OR [TOOL_OR_FIXTURE]='N') AND ([MRP_REQUIRED]='Y' OR [MRP_REQUIRED]='N') AND ([MRP_EXCEPTIONS]='Y' OR [MRP_EXCEPTIONS]='N') AND ([PRIVATE_UM_CONV]='Y' OR [PRIVATE_UM_CONV]='N') AND ([INVENTORY_LOCKED]='Y' OR [INVENTORY_LOCKED]='N') AND ([INSPECTION_REQD]='Y' OR [INSPECTION_REQD]='N') AND ([INTRASTAT_EXEMPT]='Y' OR [INTRASTAT_EXEMPT]='N') AND ([CONTROLLED_BY_ICS]='Y' OR [CONTROLLED_BY_ICS]='N')))
GO
ALTER TABLE [dbo].[PART] CHECK CONSTRAINT [CHK_PART]
GO
