USE [VECA]
GO
/****** Object:  Table [dbo].[OPERATION_RESOURCE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_RESOURCE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[SEQUENCE_NO] [smallint] NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[PERCENT_DURATION] [smallint] NULL,
	[JUSTIFICATION] [nchar](1) NOT NULL,
	[SCHEDULE_TYPE] [smallint] NULL,
	[MIN_SEGMENT_SIZE] [decimal](14, 2) NULL,
	[NUM_MEM_TO_SCHED] [smallint] NULL,
	[SCHED_EQUAL_CAP] [nchar](1) NULL,
	[SCHED_START_DATE] [datetime] NULL,
	[SCHED_FINISH_DATE] [datetime] NULL,
	[SCHED_CAPACITY_USAGE] [int] NULL,
 CONSTRAINT [PK_OPERATION_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[SEQUENCE_NO] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPERATION_RESOURCE] ADD  DEFAULT ('') FOR [JUSTIFICATION]
GO
ALTER TABLE [dbo].[OPERATION_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FKEY0128] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_RESOURCE] CHECK CONSTRAINT [FKEY0128]
GO
ALTER TABLE [dbo].[OPERATION_RESOURCE]  WITH NOCHECK ADD  CONSTRAINT [FKEY0139] FOREIGN KEY([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID], [SEQUENCE_NO])
REFERENCES [dbo].[OPERATION] ([WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID], [SEQUENCE_NO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPERATION_RESOURCE] CHECK CONSTRAINT [FKEY0139]
GO
ALTER TABLE [dbo].[OPERATION_RESOURCE]  WITH CHECK ADD  CONSTRAINT [CHK0028] CHECK  ((([TYPE]='S' OR [TYPE]='R' OR [TYPE]='B') AND [PERCENT_DURATION]>=(0) AND [PERCENT_DURATION]<=(100) AND ([JUSTIFICATION]='S' OR [JUSTIFICATION]='E')))
GO
ALTER TABLE [dbo].[OPERATION_RESOURCE] CHECK CONSTRAINT [CHK0028]
GO
