USE [VECA]
GO
/****** Object:  Table [dbo].[V_MISC_FIELDS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_MISC_FIELDS](
	[IS_DELETED] [smallint] NOT NULL,
	[EDIT_FROM_DETAIL] [smallint] NOT NULL,
	[BINARY_CHANGED] [smallint] NOT NULL,
	[IS_DIRTY] [smallint] NOT NULL,
	[CREATE_DATE] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_MISC_FIELDS] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[V_MISC_FIELDS] ADD  DEFAULT ((0)) FOR [EDIT_FROM_DETAIL]
GO
ALTER TABLE [dbo].[V_MISC_FIELDS] ADD  DEFAULT ((0)) FOR [BINARY_CHANGED]
GO
ALTER TABLE [dbo].[V_MISC_FIELDS] ADD  DEFAULT ((0)) FOR [IS_DIRTY]
GO
