USE [VECA]
GO
/****** Object:  Table [dbo].[PART_MFG_BINARY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_MFG_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_PART_MFG_BINARY] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
