USE [VECA]
GO
/****** Object:  Table [dbo].[UNITS_CONVERSION]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNITS_CONVERSION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FROM_UM] [nvarchar](15) NOT NULL,
	[TO_UM] [nvarchar](15) NOT NULL,
	[CONVERSION_FACTOR] [decimal](15, 8) NOT NULL,
 CONSTRAINT [PK_UNITS_CONVERSION] PRIMARY KEY CLUSTERED 
(
	[FROM_UM] ASC,
	[TO_UM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UNITS_CONVERSION]  WITH CHECK ADD  CONSTRAINT [FKEY0030] FOREIGN KEY([FROM_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UNITS_CONVERSION] CHECK CONSTRAINT [FKEY0030]
GO
