USE [VECA]
GO
/****** Object:  Table [dbo].[APPLICATION_GLOBAL]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_GLOBAL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [smallint] NOT NULL,
	[SERIAL_NO] [nchar](10) NULL,
	[ACTIVATION_KEY] [nchar](10) NULL,
	[CONFIGURATION_KEY] [nchar](20) NULL,
	[INSTALL_DATE] [datetime] NULL,
	[LAST_CONVERT_DATE] [datetime] NULL,
	[DBVERSION] [nvarchar](10) NULL,
	[MAXIMUM_USERS] [int] NOT NULL,
	[COMPANY_NAME] [nvarchar](50) NULL,
	[COMPANY_ADDR_1] [nvarchar](50) NULL,
	[COMPANY_ADDR_2] [nvarchar](50) NULL,
	[COMPANY_ADDR_3] [nvarchar](50) NULL,
	[COMPANY_CITY] [nvarchar](30) NULL,
	[COMPANY_STATE] [nvarchar](10) NULL,
	[COMPANY_ZIPCODE] [nvarchar](10) NULL,
	[COMPANY_COUNTRY] [nvarchar](50) NULL,
	[MFG_INTERFACE_USED] [nchar](1) NOT NULL,
	[PART_UDF_LABELS] [nvarchar](250) NULL,
	[VEND_UDF_LABELS] [nvarchar](250) NULL,
	[CUST_UDF_LABELS] [nvarchar](250) NULL,
	[PURC_QUOTE_TYPE] [nchar](1) NOT NULL,
	[XBAR_SUBGROUP_MIN] [int] NULL,
	[SD_SUBGROUP_MIN] [int] NULL,
	[VALIDATE_LOOKUPS] [nchar](1) NOT NULL,
	[TABLE_PATCH_LVL] [int] NULL,
	[TRIGGER_PATCH_LVL] [int] NULL,
	[PROGRAM_PATCH_LVL] [int] NULL,
	[DRAWING_FILE_PATH] [nvarchar](128) NULL,
	[DRAWING_LOCATOR] [nvarchar](128) NULL,
	[DRAWING_VIEWER] [nvarchar](128) NULL,
	[EURO_CURRENCY_ID] [nvarchar](15) NULL,
	[BARCODE_MULTI_JOB] [int] NULL,
	[WO_PRIORITY_PATH] [nvarchar](128) NULL,
	[SESSION_TIMELIMIT] [int] NULL,
	[VQ_DIRECTORY] [nvarchar](128) NULL,
	[VQ_DBNAME] [nvarchar](80) NULL,
	[VQ_ENABLED] [nchar](1) NULL,
	[VQ_QUERY_USE] [nchar](1) NULL,
	[CUST_PRICE_EFF_REQ] [nchar](1) NULL,
	[FILTER_AVAIL_TRACE] [nchar](1) NOT NULL,
	[WFL_CMNT_PWD_REQ] [nchar](1) NULL,
	[SQLBASE_DATABASE_VERSION] [nvarchar](15) NULL,
	[PROJ_UDF_LABELS] [nvarchar](250) NULL,
	[DOCUMENT_DIRECTORY] [nvarchar](128) NULL,
	[ALLOW_EMAIL_DOC] [nchar](1) NOT NULL,
	[SHOP_UDF_LABELS] [nvarchar](250) NULL,
	[AUDIT_REPORT_TIMES] [nchar](1) NULL,
	[DEF_OLDEST_INV_TYPE] [nchar](1) NULL,
	[VR_UPDATES] [nchar](1) NULL,
	[VISUAL_USER_GROUP] [nvarchar](20) NULL,
	[SSO_ENABLED] [nvarchar](1) NULL,
	[DOC_UDF_LABELS] [nvarchar](250) NULL,
	[PLM_URL] [nvarchar](2000) NULL,
	[PLM_ENABLED] [nchar](1) NOT NULL,
	[ACTIVITY_UDF_LABELS] [nvarchar](250) NULL,
	[STORE_MACROS_IN_DB] [nchar](1) NOT NULL,
	[COMPANY_COUNTRY_ID] [nvarchar](15) NULL,
	[MOBILE_SESSION_TIMELIMIT] [smallint] NOT NULL,
	[CONT_UDF_LABELS] [nvarchar](250) NULL,
	[DEF_TERMS_ID] [nvarchar](15) NULL,
	[DUE_ON_RECEIPT_ID] [nvarchar](15) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ((1)) FOR [MAXIMUM_USERS]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ('') FOR [MFG_INTERFACE_USED]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ('') FOR [PURC_QUOTE_TYPE]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ('') FOR [VALIDATE_LOOKUPS]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ('') FOR [FILTER_AVAIL_TRACE]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ('N') FOR [ALLOW_EMAIL_DOC]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ('N') FOR [PLM_ENABLED]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ('N') FOR [STORE_MACROS_IN_DB]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] ADD  DEFAULT ((60)) FOR [MOBILE_SESSION_TIMELIMIT]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL]  WITH CHECK ADD  CONSTRAINT [FK_APP_GLOBAL_DORID] FOREIGN KEY([DUE_ON_RECEIPT_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] CHECK CONSTRAINT [FK_APP_GLOBAL_DORID]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL]  WITH CHECK ADD  CONSTRAINT [FK_APP_GLOBAL_TERMS] FOREIGN KEY([DEF_TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] CHECK CONSTRAINT [FK_APP_GLOBAL_TERMS]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL]  WITH CHECK ADD  CONSTRAINT [FKEY9388] FOREIGN KEY([EURO_CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] CHECK CONSTRAINT [FKEY9388]
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL]  WITH CHECK ADD  CONSTRAINT [CHK_APPLICATION_GLOBAL] CHECK  (((1)=(1) AND ([PURC_QUOTE_TYPE]='B' OR [PURC_QUOTE_TYPE]='U') AND ([VALIDATE_LOOKUPS]='Y' OR [VALIDATE_LOOKUPS]='N')))
GO
ALTER TABLE [dbo].[APPLICATION_GLOBAL] CHECK CONSTRAINT [CHK_APPLICATION_GLOBAL]
GO
