USE [VECA]
GO
/****** Object:  Table [dbo].[STAGE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[PROFILE] [nchar](1) NULL,
	[ALPHA_PREFIX] [nvarchar](8) NULL,
	[STARTING_NUMBER] [int] NULL,
	[ENDING_NUMBER] [int] NULL,
	[ALPHA_SUFFIX] [nvarchar](8) NULL,
	[LEADING_ZEROS] [nchar](1) NULL,
	[DECIMAL_PLACES] [smallint] NULL,
	[OMIT_LETTERS] [nvarchar](50) NULL,
 CONSTRAINT [PK_STAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
