USE [VECA]
GO
/****** Object:  Table [dbo].[WORKORDER_AUDIT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDER_AUDIT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[PASS_NO] [int] NOT NULL,
	[PASS_DIRECTION] [nchar](1) NOT NULL,
	[PASS_RESULT] [nchar](1) NOT NULL,
	[START_DATE] [datetime] NULL,
	[FINISH_DATE] [datetime] NULL,
	[COULD_START_FINISH] [datetime] NULL,
	[SCHEDULE_RANK] [int] NULL,
 CONSTRAINT [PK_WORKORDER_AUDIT] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[PASS_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WORKORDER_AUDIT] ADD  DEFAULT ('') FOR [PASS_DIRECTION]
GO
ALTER TABLE [dbo].[WORKORDER_AUDIT] ADD  DEFAULT ('') FOR [PASS_RESULT]
GO
ALTER TABLE [dbo].[WORKORDER_AUDIT]  WITH CHECK ADD  CONSTRAINT [FKEY0296] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[SCHEDULE] ([ID])
GO
ALTER TABLE [dbo].[WORKORDER_AUDIT] CHECK CONSTRAINT [FKEY0296]
GO
