USE [VECA]
GO
/****** Object:  Table [dbo].[WORK_ORDER_SCHED]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_ORDER_SCHED](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[START_DATE] [datetime] NULL,
	[FINISH_DATE] [datetime] NULL,
	[SCHEDULE_TIME] [decimal](5, 2) NULL,
	[PASS_COUNT] [int] NULL,
	[SCHEDULE_RANK] [int] NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
	[CCR_COUNT] [int] NULL,
	[PROBLEM_CODE] [int] NULL,
 CONSTRAINT [PK_WORK_ORDER_SCHED] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WORK_ORDER_SCHED]  WITH CHECK ADD  CONSTRAINT [FKEY0105] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[WORK_ORDER_SCHED] CHECK CONSTRAINT [FKEY0105]
GO
ALTER TABLE [dbo].[WORK_ORDER_SCHED]  WITH CHECK ADD  CONSTRAINT [FKEY9599] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[SCHEDULE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WORK_ORDER_SCHED] CHECK CONSTRAINT [FKEY9599]
GO
