USE [VECA]
GO
/****** Object:  Table [dbo].[SOA_CODE_LIST]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOA_CODE_LIST](
	[LIST_ID] [nvarchar](100) NOT NULL,
	[AGENCY_ID] [nvarchar](10) NOT NULL,
	[CODE] [nvarchar](100) NOT NULL,
	[CODE_NAME] [nvarchar](64) NULL,
	[CODE_DESC] [nvarchar](250) NULL,
	[STATUS] [nvarchar](15) NOT NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[READ_ONLY] [nchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
 CONSTRAINT [PK_SOA_CODE_LIST] PRIMARY KEY CLUSTERED 
(
	[LIST_ID] ASC,
	[AGENCY_ID] ASC,
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SOA_CODE_LIST] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SOA_CODE_LIST]  WITH CHECK ADD  CONSTRAINT [FK_SOA_DIMENSION] FOREIGN KEY([LIST_ID], [AGENCY_ID])
REFERENCES [dbo].[SOA_DIMENSION] ([ID], [AGENCY_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOA_CODE_LIST] CHECK CONSTRAINT [FK_SOA_DIMENSION]
GO
