USE [VECA]
GO
/****** Object:  Table [dbo].[V_USER_DEFINED]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_USER_DEFINED](
	[BUS_TYPE] [smallint] NOT NULL,
	[FIELD_NAME] [nvarchar](40) NOT NULL,
	[TABLE_NAME] [nvarchar](18) NOT NULL,
	[AVAILABLE_TO_GRID] [smallint] NULL,
	[CAPTION] [nvarchar](25) NULL,
	[FORMAT] [nvarchar](25) NULL,
	[FIELD_LENGTH] [int] NULL,
	[FIELD_POSITION] [int] NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[USE_LIST] [smallint] NULL,
	[CONSTRAIN_LIST] [smallint] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_USER_DEFINED_0] PRIMARY KEY CLUSTERED 
(
	[BUS_TYPE] ASC,
	[FIELD_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
