USE [VECA]
GO
/****** Object:  Table [dbo].[SALES_CODE_ENG]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_CODE_ENG](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SERIES_ID] [nvarchar](15) NOT NULL,
	[MODEL_ID] [nvarchar](15) NOT NULL,
	[SALES_CODE] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NOT NULL,
	[ENG_ID] [nvarchar](3) NOT NULL,
	[COPY_SEQ_NO] [smallint] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SALES_CODE_ENG] PRIMARY KEY CLUSTERED 
(
	[SERIES_ID] ASC,
	[MODEL_ID] ASC,
	[SALES_CODE] ASC,
	[SITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SALES_CODE_ENG]  WITH CHECK ADD  CONSTRAINT [FKEY0110] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[SALES_CODE_ENG] CHECK CONSTRAINT [FKEY0110]
GO
ALTER TABLE [dbo].[SALES_CODE_ENG]  WITH CHECK ADD  CONSTRAINT [FKEY0243] FOREIGN KEY([SERIES_ID], [MODEL_ID], [SITE_ID])
REFERENCES [dbo].[SERIES_MODEL_PART] ([SERIES_ID], [MODEL_ID], [SITE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALES_CODE_ENG] CHECK CONSTRAINT [FKEY0243]
GO
