USE [VECA]
GO
/****** Object:  Table [dbo].[V_ANNUAL_SALES]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_ANNUAL_SALES](
	[ID] [nvarchar](15) NOT NULL,
	[ANN_SALES] [nvarchar](50) NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
 CONSTRAINT [X_V_ANNUAL_SALES_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
