USE [VECA]
GO
/****** Object:  Table [dbo].[VENDOR_CONTACT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDOR_CONTACT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[CONTACT_NO] [smallint] NOT NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_VENDOR_CONTACT] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC,
	[CONTACT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDOR_CONTACT]  WITH CHECK ADD  CONSTRAINT [FKEY0075] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VENDOR_CONTACT] CHECK CONSTRAINT [FKEY0075]
GO
