USE [VECA]
GO
/****** Object:  Table [dbo].[FINANCIAL_CALENDAR]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCIAL_CALENDAR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[PERIOD_TYPE] [nchar](1) NOT NULL,
	[PERIODS_PER_YEAR] [smallint] NOT NULL,
	[FISCAL_YEAR_END_MONTH] [decimal](2, 0) NULL,
	[FISCAL_YEAR_END_DAY] [decimal](2, 0) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[ACTIVE_FLAG] [nchar](1) NULL,
 CONSTRAINT [PK_FIN_CALENDAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FINANCIAL_CALENDAR] ADD  DEFAULT ('M') FOR [PERIOD_TYPE]
GO
ALTER TABLE [dbo].[FINANCIAL_CALENDAR] ADD  DEFAULT ((12)) FOR [PERIODS_PER_YEAR]
GO
ALTER TABLE [dbo].[FINANCIAL_CALENDAR]  WITH CHECK ADD  CONSTRAINT [CHK_FIN_CALENDAR] CHECK  (([PERIOD_TYPE]='M' OR [PERIOD_TYPE]='F' OR [PERIOD_TYPE]='T' OR [PERIOD_TYPE]='O'))
GO
ALTER TABLE [dbo].[FINANCIAL_CALENDAR] CHECK CONSTRAINT [CHK_FIN_CALENDAR]
GO
