USE [VECA]
GO
/****** Object:  Table [dbo].[PHYS_COUNT_TAG]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYS_COUNT_TAG](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PHYS_COUNT_ID] [nvarchar](15) NOT NULL,
	[TAG_NO] [int] NOT NULL,
	[GROUP_NO] [int] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[LOCATION_ID] [nvarchar](15) NULL,
	[COUNT_QTY] [decimal](20, 8) NULL,
	[COUNT_USER_ID] [nvarchar](20) NULL,
	[RECOUNT_QTY] [decimal](20, 8) NULL,
	[RECOUNT_USER_ID] [nvarchar](20) NULL,
	[COUNT_DATE] [datetime] NULL,
	[STATUS] [nchar](1) NOT NULL,
	[TRACE_ID] [nvarchar](30) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[ADJUST_QTY] [decimal](20, 8) NULL,
	[USER_DIMENSION_1] [nvarchar](15) NULL,
	[USER_DIMENSION_2] [nvarchar](15) NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_PHYS_COUNT_TAG] PRIMARY KEY CLUSTERED 
(
	[PHYS_COUNT_ID] ASC,
	[TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG]  WITH CHECK ADD  CONSTRAINT [FKEY0103] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG] CHECK CONSTRAINT [FKEY0103]
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG]  WITH CHECK ADD  CONSTRAINT [FKEY0118] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG] CHECK CONSTRAINT [FKEY0118]
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG]  WITH CHECK ADD  CONSTRAINT [FKEY0176] FOREIGN KEY([PHYS_COUNT_ID])
REFERENCES [dbo].[PHYSICAL_COUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG] CHECK CONSTRAINT [FKEY0176]
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG]  WITH CHECK ADD  CONSTRAINT [CHK0054] CHECK  (([STATUS]='A' OR [STATUS]='X' OR [STATUS]='U'))
GO
ALTER TABLE [dbo].[PHYS_COUNT_TAG] CHECK CONSTRAINT [CHK0054]
GO
