USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_ENTITY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_ENTITY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[CREDIT_STATUS] [nchar](1) NOT NULL,
	[CREDIT_LIMIT_CTL] [nchar](1) NOT NULL,
	[CREDIT_LIMIT] [decimal](23, 8) NULL,
	[RECV_AGE_LIMIT] [smallint] NULL,
	[TOTAL_OPEN_ORDERS] [decimal](23, 8) NOT NULL,
	[TOTAL_OPEN_RECV] [decimal](23, 8) NOT NULL,
	[OPEN_ORDER_COUNT] [int] NOT NULL,
	[OPEN_RECV_COUNT] [int] NOT NULL,
	[CT_BEST_LOWER_PCT] [int] NULL,
	[CT_GOOD_LOWER_PCT] [int] NULL,
	[PT_DAYS] [int] NULL,
	[PT_BEST_LOWER_PCT] [int] NULL,
	[PT_GOOD_LOWER_PCT] [int] NULL,
	[OLDEST_INV_TYPE] [nchar](1) NULL,
	[TOTAL_OPEN_SHIPPED] [decimal](23, 8) NOT NULL,
	[OPEN_OLDEST_RECV] [datetime] NULL,
	[SHIP_CREDIT_LIMIT_CTL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_CUSTOMER_ENTITY] PRIMARY KEY CLUSTERED 
(
	[ENTITY_ID] ASC,
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  DEFAULT ('A') FOR [CREDIT_STATUS]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  DEFAULT ('O') FOR [CREDIT_LIMIT_CTL]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  DEFAULT ((0)) FOR [TOTAL_OPEN_ORDERS]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  DEFAULT ((0)) FOR [TOTAL_OPEN_RECV]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  DEFAULT ((0)) FOR [OPEN_ORDER_COUNT]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  DEFAULT ((0)) FOR [OPEN_RECV_COUNT]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  CONSTRAINT [DF__CUSTOMER___TOTAL_OPEN_SHIPPED]  DEFAULT ((0)) FOR [TOTAL_OPEN_SHIPPED]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] ADD  DEFAULT ('C') FOR [SHIP_CREDIT_LIMIT_CTL]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_ENTITY_TO_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] CHECK CONSTRAINT [FK_CUSTOMER_ENTITY_TO_CUSTOMER]
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_ENTITY_TO_ENTITY] FOREIGN KEY([ENTITY_ID])
REFERENCES [dbo].[ACCOUNTING_ENTITY] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ENTITY] CHECK CONSTRAINT [FK_CUSTOMER_ENTITY_TO_ENTITY]
GO
