USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_LINE_DEL]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_LINE_DEL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_LINE_NO] [smallint] NOT NULL,
	[DEL_SCHED_LINE_NO] [smallint] NOT NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[ACTUAL_SHIP_DATE] [datetime] NULL,
	[USER_ORDER_QTY] [decimal](20, 8) NOT NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[USER_SHIPPED_QTY] [decimal](20, 8) NULL,
	[SHIPPED_QTY] [decimal](20, 8) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[RELEASE_NUMBER] [nvarchar](30) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[SEND_ACK] [nchar](1) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[MARKED_FOR] [nvarchar](250) NULL,
	[BACKORDER_FLAG] [nchar](1) NULL,
	[LINE_STATUS] [nchar](1) NOT NULL,
	[MARK_FOR_ID] [nvarchar](20) NULL,
	[DISPATCHED] [nchar](1) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
 CONSTRAINT [PK_CUST_LINE_DEL] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[CUST_ORDER_LINE_NO] ASC,
	[DEL_SCHED_LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT ((0)) FOR [USER_ORDER_QTY]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT ((0)) FOR [ORDER_QTY]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT ((0)) FOR [USER_SHIPPED_QTY]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT ((0)) FOR [SHIPPED_QTY]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT ('') FOR [LINE_STATUS]
GO
ALTER TABLE [dbo].[CUST_LINE_DEL] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
