USE [VECA]
GO
/****** Object:  Table [dbo].[CA_PART_SUBASSEMBLY_HEADER]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_PART_SUBASSEMBLY_HEADER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BASE_ID] [varchar](50) NULL,
	[PART_ID] [varchar](50) NULL,
	[HAS_QTY] [int] NULL,
 CONSTRAINT [PK_CA_PART_SUBASSEMBLY_HEADER] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
