USE [VECA]
GO
/****** Object:  Table [dbo].[CHART_FACTORS]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHART_FACTORS](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SUBGROUP_SIZE] [smallint] NOT NULL,
	[A1] [decimal](14, 8) NOT NULL,
	[A2] [decimal](14, 8) NOT NULL,
	[A3] [decimal](14, 8) NOT NULL,
	[C4] [decimal](14, 8) NOT NULL,
	[B3] [decimal](14, 8) NOT NULL,
	[B4] [decimal](14, 8) NOT NULL,
	[LD2] [decimal](14, 8) NOT NULL,
	[D3] [decimal](14, 8) NOT NULL,
	[D4] [decimal](14, 8) NOT NULL,
 CONSTRAINT [PK_CHART_FACTORS] PRIMARY KEY CLUSTERED 
(
	[SUBGROUP_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
