USE [VECA]
GO
/****** Object:  Table [dbo].[APP_CONFIG]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_CONFIG](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [int] NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[USER_ID] [nvarchar](30) NULL,
	[CAPTION] [nvarchar](100) NOT NULL,
	[KEY_1] [nvarchar](30) NULL,
	[KEY_2] [nvarchar](30) NULL,
	[LOCKED] [nchar](1) NOT NULL,
	[SHARED] [nchar](1) NOT NULL,
	[CONFIG] [image] NULL,
 CONSTRAINT [PK_APP_CONFIG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[APP_CONFIG] ADD  DEFAULT ('N') FOR [LOCKED]
GO
ALTER TABLE [dbo].[APP_CONFIG] ADD  DEFAULT ('N') FOR [SHARED]
GO
