USE [VECA]
GO
/****** Object:  Table [dbo].[ADDRESS_POS_SETUP]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS_POS_SETUP](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[field_no] [smallint] NOT NULL,
	[field_type] [nchar](1) NOT NULL,
	[title] [nvarchar](80) NULL,
	[line_no] [smallint] NOT NULL,
	[position_no] [smallint] NULL,
	[visible] [smallint] NULL,
	[percentage] [decimal](5, 2) NULL,
	[down_height] [decimal](5, 3) NULL,
	[across_width] [decimal](5, 3) NULL,
 CONSTRAINT [PK_ADDRESS_POS_SETUP] PRIMARY KEY CLUSTERED 
(
	[country] ASC,
	[field_no] ASC,
	[field_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
