USE [VECA]
GO
/****** Object:  Table [dbo].[SERVICE_DISPATCH]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_DISPATCH](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[DISPATCHED_DATE] [datetime] NULL,
	[PRINTED_DATE] [datetime] NULL,
	[SHIP_TO_ADDR_NO] [int] NULL,
	[SHIP_FROM_ADDR_NO] [int] NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NULL,
	[SHIP_REASON_CD] [nvarchar](15) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[FREIGHT_TERMS] [nchar](1) NULL,
	[DISPATCH_ADDR_ID] [nvarchar](20) NULL,
	[TARE_WEIGHT] [decimal](14, 4) NULL,
	[TOTAL_NET_WEIGHT] [decimal](14, 4) NULL,
	[TOTAL_GROSS_WEIGHT] [decimal](14, 4) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SERVICE_DISPATCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERVICE_DISPATCH] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SERVICE_DISPATCH]  WITH CHECK ADD  CONSTRAINT [CHK9106] CHECK  (([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N'))
GO
ALTER TABLE [dbo].[SERVICE_DISPATCH] CHECK CONSTRAINT [CHK9106]
GO
