USE [VECA]
GO
/****** Object:  Table [dbo].[PAYABLE_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLE_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[VOUCHER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[REFERENCE] [nvarchar](250) NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[RECEIVER_ID] [nvarchar](15) NULL,
	[RECEIVER_LINE_NO] [smallint] NULL,
	[QTY] [decimal](20, 8) NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[VAT_PERCENT] [decimal](6, 3) NULL,
	[VAT_AMOUNT] [decimal](23, 8) NULL,
	[VAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[FIXED_CHARGE] [decimal](23, 8) NOT NULL,
	[DISC_ALLOWED] [nchar](1) NOT NULL,
	[GL_ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[PO_ACT_FREIGHT] [decimal](23, 8) NULL,
	[PO_RECV_QTY] [decimal](20, 8) NULL,
	[PO_DISC_PERCENT] [decimal](6, 3) NULL,
	[PO_GL_ACCOUNT_ID] [nvarchar](30) NULL,
	[WORKORDER_TYPE] [nchar](1) NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NULL,
	[COST_CATEGORY] [nchar](1) NOT NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_RCV_PERCENT] [decimal](6, 3) NULL,
	[VAT_RCV_AMOUNT] [decimal](23, 8) NULL,
	[VAT_RCV_GL_ACCT_ID] [nvarchar](30) NULL,
	[WITHHOLD_TYPE] [nchar](1) NULL,
	[PO_UNIT_PRICE] [decimal](22, 8) NULL,
	[HTS_CODE] [nvarchar](20) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](50) NULL,
	[DUTY_PERCENT] [decimal](6, 3) NULL,
	[DUTY_AMOUNT] [decimal](23, 8) NULL,
	[DUTY_GL_ACCT_ID] [nvarchar](30) NULL,
	[vat_category] [nvarchar](15) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[GL_OVERRIDE_ACCT] [nvarchar](30) NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[DEPARTMENT_ID] [nvarchar](15) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[ACT_BURDEN_COST] [decimal](23, 8) NULL,
	[ACT_PO_UNIT_PRICE] [decimal](22, 8) NULL,
	[FT_TYPE] [nchar](1) NULL,
	[USER_DIMENSION_1] [nvarchar](15) NULL,
	[USER_DIMENSION_2] [nvarchar](15) NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[VAT_IE_PERCENT] [decimal](6, 3) NULL,
	[VAT_IE_AMOUNT] [decimal](23, 8) NULL,
	[VAT_IE_DR_GL_ACCT_ID] [nvarchar](30) NULL,
	[VAT_IE_CR_GL_ACCT_ID] [nvarchar](30) NULL,
 CONSTRAINT [PK_PAYABLE_LINE] PRIMARY KEY CLUSTERED 
(
	[VOUCHER_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYABLE_LINE] ADD  DEFAULT ((0)) FOR [FIXED_CHARGE]
GO
ALTER TABLE [dbo].[PAYABLE_LINE] ADD  DEFAULT ('') FOR [DISC_ALLOWED]
GO
ALTER TABLE [dbo].[PAYABLE_LINE] ADD  DEFAULT ('') FOR [COST_CATEGORY]
GO
ALTER TABLE [dbo].[PAYABLE_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0223] FOREIGN KEY([VOUCHER_ID])
REFERENCES [dbo].[PAYABLE] ([VOUCHER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAYABLE_LINE] CHECK CONSTRAINT [FKEY0223]
GO
ALTER TABLE [dbo].[PAYABLE_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9580] FOREIGN KEY([vat_category])
REFERENCES [dbo].[VAT_CATEGORY] ([id])
GO
ALTER TABLE [dbo].[PAYABLE_LINE] CHECK CONSTRAINT [FKEY9580]
GO
ALTER TABLE [dbo].[PAYABLE_LINE]  WITH CHECK ADD  CONSTRAINT [CHK9068] CHECK  (([DISC_ALLOWED]='Y' OR [DISC_ALLOWED]='N' AND ([COST_CATEGORY]='S' OR [COST_CATEGORY]='M')))
GO
ALTER TABLE [dbo].[PAYABLE_LINE] CHECK CONSTRAINT [CHK9068]
GO
