USE [VECA]
GO
/****** Object:  Table [dbo].[SHIPPER]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PACKLIST_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[SHIPPED_DATE] [datetime] NULL,
	[INVOICE_ID] [nvarchar](15) NULL,
	[INVOICED_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[LONG_DESCRIPTION] [image] NULL,
	[BOL_ID] [nvarchar](20) NULL,
	[ASN_ID] [nvarchar](20) NULL,
	[PRINTED_DATE] [datetime] NULL,
	[STATUS] [nchar](1) NOT NULL,
	[STATUS_USER_ID] [nvarchar](20) NULL,
	[SHIP_TO_ADDR_NO] [int] NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[ESL_REPORT_NO] [int] NULL,
	[ESL_FILENAME] [nvarchar](15) NULL,
	[SHIP_REASON_CD] [nvarchar](15) NULL,
	[CUSTOMS_DOC_ID] [nvarchar](15) NULL,
	[POOL_CODE] [nvarchar](20) NULL,
	[VEHICLE_NUMBER] [nvarchar](20) NULL,
	[INTER_CONSIGNEE] [nvarchar](20) NULL,
	[TARE_WEIGHT] [decimal](14, 4) NULL,
	[TOTAL_NET_WEIGHT] [decimal](14, 4) NULL,
	[TOTAL_GROSS_WEIGHT] [decimal](14, 4) NULL,
	[SHIPPED_TIME] [datetime] NULL,
	[EXPECTED_DEL_DATE] [datetime] NULL,
	[EXPECTED_DEL_TIME] [datetime] NULL,
	[WAYBILL_NUMBER] [nvarchar](20) NULL,
	[WSA_ID] [nvarchar](30) NULL,
	[LOAD_START_DATE] [datetime] NULL,
	[LOAD_START_TIME] [datetime] NULL,
	[LOAD_COMPLETE_DATE] [datetime] NULL,
	[LOAD_COMPLETE_TIME] [datetime] NULL,
	[LOAD_DURATION] [datetime] NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[ACTUAL_DEL_DATE] [datetime] NULL,
	[DOC_FILE_PATH] [nvarchar](255) NULL,
	[DOCUMENT_ID] [nvarchar](128) NULL,
	[DISTRIBUTED_DATE] [datetime] NULL,
	[DOC_TOTAL_AMOUNT] [decimal](23, 8) NULL,
	[CUST_SHIP_CHG_ACCT_NO] [nvarchar](30) NULL,
 CONSTRAINT [PK_SHIPPER] PRIMARY KEY CLUSTERED 
(
	[PACKLIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHIPPER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SHIPPER] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[SHIPPER] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[SHIPPER] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[SHIPPER]  WITH CHECK ADD  CONSTRAINT [FK_SHIPPER_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[SHIPPER] CHECK CONSTRAINT [FK_SHIPPER_TO_SITE]
GO
ALTER TABLE [dbo].[SHIPPER]  WITH CHECK ADD  CONSTRAINT [FKEY0157] FOREIGN KEY([CUST_ORDER_ID])
REFERENCES [dbo].[CUSTOMER_ORDER] ([ID])
GO
ALTER TABLE [dbo].[SHIPPER] CHECK CONSTRAINT [FKEY0157]
GO
