USE [VECA]
GO
/****** Object:  Table [dbo].[V_ADMIN]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_ADMIN](
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[SETTING] [nvarchar](80) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_ADMIN_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
