USE [VECA]
GO
/****** Object:  Table [dbo].[RFQ_VENDOR_QUOTE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RFQ_VENDOR_QUOTE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RFQ_ID] [nvarchar](15) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NOT NULL,
	[RFQ_LINE_NO] [smallint] NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[QTY_BREAK_1] [decimal](20, 8) NULL,
	[QTY_BREAK_2] [decimal](20, 8) NULL,
	[QTY_BREAK_3] [decimal](20, 8) NULL,
	[QTY_BREAK_4] [decimal](20, 8) NULL,
	[QTY_BREAK_5] [decimal](20, 8) NULL,
	[QTY_BREAK_6] [decimal](20, 8) NULL,
	[QTY_BREAK_7] [decimal](20, 8) NULL,
	[QTY_BREAK_8] [decimal](20, 8) NULL,
	[QTY_BREAK_9] [decimal](20, 8) NULL,
	[QTY_BREAK_10] [decimal](20, 8) NULL,
	[UNIT_PRICE_1] [decimal](22, 8) NULL,
	[UNIT_PRICE_2] [decimal](22, 8) NULL,
	[UNIT_PRICE_3] [decimal](22, 8) NULL,
	[UNIT_PRICE_4] [decimal](22, 8) NULL,
	[UNIT_PRICE_5] [decimal](22, 8) NULL,
	[UNIT_PRICE_6] [decimal](22, 8) NULL,
	[UNIT_PRICE_7] [decimal](22, 8) NULL,
	[UNIT_PRICE_8] [decimal](22, 8) NULL,
	[UNIT_PRICE_9] [decimal](22, 8) NULL,
	[UNIT_PRICE_10] [decimal](22, 8) NULL,
	[DEFAULT_UNIT_PRICE] [decimal](22, 8) NOT NULL,
	[UNIT_PRICE_CURR_1] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_2] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_3] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_4] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_5] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_6] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_7] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_8] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_9] [decimal](22, 8) NULL,
	[UNIT_PRICE_CURR_10] [decimal](22, 8) NULL,
	[DEF_UNIT_PRICE_CURR] [decimal](22, 8) NOT NULL,
	[PURCHASE_UM] [nvarchar](15) NULL,
	[COMMENTS] [nvarchar](80) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[BASE_CHARGE] [decimal](23, 8) NULL,
	[MINIMUM_CHARGE] [decimal](23, 8) NULL,
	[VENDOR_PART_ID] [nvarchar](30) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[CONTRACT_LINE_NO] [smallint] NULL,
	[VENDOR_CLIN] [nvarchar](15) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[LEADTIME_1] [smallint] NULL,
	[LEADTIME_2] [smallint] NULL,
	[LEADTIME_3] [smallint] NULL,
	[LEADTIME_4] [smallint] NULL,
	[LEADTIME_5] [smallint] NULL,
	[LEADTIME_6] [smallint] NULL,
	[LEADTIME_7] [smallint] NULL,
	[LEADTIME_8] [smallint] NULL,
	[LEADTIME_9] [smallint] NULL,
	[LEADTIME_10] [smallint] NULL,
	[DEFAULT_LEADTIME] [smallint] NULL,
 CONSTRAINT [PK_RFQ_VENDOR_QUOTE] PRIMARY KEY CLUSTERED 
(
	[RFQ_ID] ASC,
	[VENDOR_ID] ASC,
	[RFQ_LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE] ADD  DEFAULT ((0)) FOR [DEFAULT_UNIT_PRICE]
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE] ADD  DEFAULT ((0)) FOR [DEF_UNIT_PRICE_CURR]
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [FKEY9604] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE] CHECK CONSTRAINT [FKEY9604]
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE]  WITH CHECK ADD  CONSTRAINT [CHK0103] CHECK  (([STATUS]='W' OR [STATUS]='A' OR [STATUS]='P' OR [STATUS]='Q'))
GO
ALTER TABLE [dbo].[RFQ_VENDOR_QUOTE] CHECK CONSTRAINT [CHK0103]
GO
