USE [VECA]
GO
/****** Object:  Table [dbo].[PLANNED_MATL_REQ]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANNED_MATL_REQ](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PARENT_PART_ID] [nvarchar](30) NOT NULL,
	[PARENT_SEQ_NO] [smallint] NOT NULL,
	[REQ_NO] [smallint] NOT NULL,
	[REQUIRED_PART_ID] [nvarchar](30) NOT NULL,
	[REQUIRED_DATE] [datetime] NULL,
	[REQUIRED_QTY] [decimal](20, 8) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PLANNED_MATL_REQ]  WITH CHECK ADD  CONSTRAINT [FK_PLND_REQ_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PLANNED_MATL_REQ] CHECK CONSTRAINT [FK_PLND_REQ_TO_SITE]
GO
