USE [VECA]
GO
/****** Object:  Table [dbo].[CY_TRACE_AUDIT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CY_TRACE_AUDIT](
	[audit_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[trace_id] [varchar](50) NOT NULL,
	[part_id] [varchar](50) NULL,
	[order_id] [varchar](50) NULL,
	[line_no] [int] NULL,
	[reason] [varchar](100) NULL,
	[reported_by] [varchar](50) NULL,
	[reported_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[trace_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
