USE [VECA]
GO
/****** Object:  Table [dbo].[CA_TRAVELLER_DATA_TO_DELETE]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_TRAVELLER_DATA_TO_DELETE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUSTOMER_ID] [varchar](15) NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[CUST_ORDER_ID] [varchar](15) NULL,
	[CUST_ORDER_LINE] [smallint] NULL,
	[ORDER_QTY] [decimal](18, 2) NULL,
	[ORDER_DATE] [date] NULL,
	[DESIRED_RECV_DATE] [date] NULL,
	[PART_ID] [varchar](30) NULL,
	[MAIN_DESCRIPTION] [varchar](40) NULL,
	[WORKORDER_BASE_ID] [varchar](30) NULL,
	[WORKORDER_LOT_ID] [varchar](3) NULL,
	[WORKORDER_SPLIT_ID] [varchar](3) NULL,
	[WORKORDER_SUB_ID] [varchar](3) NULL,
	[OPERATION_SEQ_NO] [smallint] NULL,
	[RESOURCE_ID] [varchar](15) NULL,
	[RAW_MATERIAL_PART] [varchar](30) NULL,
	[RAW_MATERIAL_DESCRIPTION] [varchar](40) NULL,
	[QTY_REQD] [decimal](18, 2) NULL,
	[QTY_ISSUED] [decimal](18, 2) NULL,
	[BALANCE_DUE] [decimal](18, 2) NULL,
	[RAW_MATERIAL_PIECE_NO] [smallint] NULL,
	[REQ_SUB_ID] [varchar](3) NULL,
	[SUBORD_WO_SUB_ID] [varchar](3) NULL,
	[SCOTT_PART_ID] [nchar](30) NULL,
	[SCHEDULED] [varchar](3) NULL,
 CONSTRAINT [PK_CA_TRAVELLER_DATA] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
