USE [VECA]
GO
/****** Object:  Table [dbo].[CUSTOMER_ORDER]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_ORDER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_PO_REF] [nvarchar](40) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[SHIP_TO_ADDR_NO] [int] NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[TERRITORY] [nvarchar](15) NULL,
	[DISCOUNT_CODE] [nvarchar](15) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[TERMS_NET_TYPE] [nchar](1) NOT NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_TYPE] [nchar](1) NOT NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](6, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[FREIGHT_TERMS] [nchar](1) NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[BACK_ORDER] [nchar](1) NOT NULL,
	[STATUS] [nchar](1) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
	[LAST_SHIPPED_DATE] [datetime] NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
	[TOTAL_AMT_ORDERED] [decimal](23, 8) NOT NULL,
	[TOTAL_AMT_SHIPPED] [decimal](23, 8) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[EDI_FLAG] [nchar](1) NOT NULL,
	[EDI_ACCUM_SHIP_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_AUTH_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_BUY_QTY] [decimal](20, 8) NULL,
	[EDI_RELEASE_NO] [nvarchar](30) NULL,
	[EDI_LAST_SHIPDATE] [datetime] NULL,
	[EDI_ACCUM_SHIP_ADJ] [decimal](20, 8) NULL,
	[EDI_ACCUM_ORD_ADJ] [decimal](20, 8) NULL,
	[EXCH_RATE_FIXED] [nchar](1) NOT NULL,
	[PROMISE_DATE] [datetime] NULL,
	[PRINTED_DATE] [datetime] NULL,
	[EDI_BLANKET_FLAG] [nchar](1) NULL,
	[EDI_BLANKET_NO] [nvarchar](30) NULL,
	[CONTRACT_ID] [nvarchar](30) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[TYPE] [nchar](15) NULL,
	[ORDER_TYPE] [nvarchar](20) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[ACCEPT_EARLY] [nchar](1) NULL,
	[DAYS_EARLY] [smallint] NULL,
	[DISPATCHED] [nchar](1) NULL,
	[EXPIRE_DATE] [datetime] NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[SEND_ACK] [nchar](1) NULL,
	[AUTHORIZATION_ID] [nvarchar](250) NULL,
	[EDI_ACCUM_CLR_DATE] [datetime] NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[PRIME_CONTRACTOR] [nvarchar](20) NULL,
	[SHIPPED_FROM] [nvarchar](20) NULL,
	[ADMINISTERED_BY] [nvarchar](20) NULL,
	[PAY_MADE_BY] [nvarchar](20) NULL,
	[MARKED_FOR] [nvarchar](20) NULL,
	[ORIGIN_CQA] [nchar](1) NULL,
	[ORIGIN_ACCEPT] [nchar](1) NULL,
	[DEST_CQA] [nchar](1) NULL,
	[DEST_ACCEPT] [nchar](1) NULL,
	[PKG_LEVEL] [nvarchar](40) NULL,
	[ACCEPTANCE_POINT] [nchar](1) NULL,
	[DD250_REQUIRED] [nchar](1) NULL,
	[BACKORDER_FLAG] [nchar](1) NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[CONSOLIDATION_ID] [nvarchar](30) NULL,
	[MARK_FOR_ID] [nvarchar](20) NULL,
	[MARK_FOR_ADDR_NO] [int] NULL,
	[COD_AMOUNT] [decimal](23, 8) NULL,
	[FREIGHT_BILL_ACCT] [nvarchar](30) NULL,
	[REVISION_ID] [nvarchar](8) NULL,
	[VSCP_ORDER] [nchar](1) NULL,
	[MASTER_LINK_NO] [nvarchar](50) NULL,
	[LINK_SEQUENCE_NO] [nvarchar](6) NULL,
	[CUST_BANK_ID] [nvarchar](30) NULL,
	[CONSIGNMENT] [nchar](1) NOT NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PROMISE_DEL_DATE] [datetime] NULL,
	[TERMS_ID] [nvarchar](15) NULL,
	[INTERNAL_ORDER] [nchar](1) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[ENTERED_BY] [nvarchar](20) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
	[EMAIL_NOTIFICATION] [nchar](1) NOT NULL,
	[EMAIL_CUST_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_CUST_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_CUST_ON_SHIPMENT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_NEW_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_CHG_ORDER] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_SHIPMENT] [nchar](1) NOT NULL,
	[EMAIL_EMPL_ON_INV_PAID] [nchar](1) NOT NULL,
	[CUST_SHIP_CHG_ACCT_NO] [nvarchar](30) NULL,
 CONSTRAINT [PK_CUSTOMER_ORDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [TERMS_NET_TYPE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [TERMS_DISC_TYPE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [FREIGHT_TERMS]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT (getdate()) FOR [ORDER_DATE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [BACK_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_ORDERED]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_SHIPPED]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [EDI_FLAG]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [EXCH_RATE_FIXED]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('') FOR [CURRENCY_ID]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('N') FOR [CONSIGNMENT]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_NOTIFICATION]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_CUST_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_CUST_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_CUST_ON_SHIPMENT]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_NEW_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_CHG_ORDER]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_SHIPMENT]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] ADD  DEFAULT ('D') FOR [EMAIL_EMPL_ON_INV_PAID]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_CUS_ORD_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FK_CUS_ORD_CONT_ID]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_ORDER_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FK_CUSTOMER_ORDER_TO_SITE]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0044] FOREIGN KEY([SALES_TAX_GROUP_ID])
REFERENCES [dbo].[SALES_TAX_GROUP] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FKEY0044]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY0065] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FKEY0065]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY9389] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FKEY9389]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [FKEY9624] FOREIGN KEY([TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [FKEY9624]
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER]  WITH CHECK ADD  CONSTRAINT [CHK_CUSTOMER_ORDER] CHECK  ((([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E') AND ([FREIGHT_TERMS]='P' OR [FREIGHT_TERMS]='B' OR [FREIGHT_TERMS]='C') AND ([BACK_ORDER]='Y' OR [BACK_ORDER]='N') AND ([STATUS]='H' OR [STATUS]='F' OR [STATUS]='R' OR [STATUS]='C' OR [STATUS]='X') AND ([POSTING_CANDIDATE]='Y' OR [POSTING_CANDIDATE]='N') AND ([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N')))
GO
ALTER TABLE [dbo].[CUSTOMER_ORDER] CHECK CONSTRAINT [CHK_CUSTOMER_ORDER]
GO
