USE [VECA]
GO
/****** Object:  Table [dbo].[ECN_REQUIREMENT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECN_REQUIREMENT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ECN_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[ECN_ENTRY_NO] [smallint] NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[OPERATION_SEQ_NO] [smallint] NOT NULL,
	[PIECE_NO] [smallint] NOT NULL,
	[SUBORD_WO_SUB_ID] [nvarchar](3) NULL,
	[PART_ID] [nvarchar](30) NULL,
	[REFERENCE] [nvarchar](10) NULL,
	[STATUS] [nchar](1) NULL,
	[QTY_PER] [decimal](20, 8) NULL,
	[QTY_PER_TYPE] [nchar](1) NULL,
	[FIXED_QTY] [decimal](20, 8) NULL,
	[SCRAP_PERCENT] [decimal](5, 2) NULL,
	[DIMENSIONS] [nvarchar](80) NULL,
	[DIM_EXPRESSION] [nvarchar](128) NULL,
	[USAGE_UM] [nvarchar](15) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[DISCONTINUE_DATE] [datetime] NULL,
	[CALC_QTY] [decimal](20, 8) NULL,
	[REQUIRED_DATE] [datetime] NULL,
	[UNIT_MATERIAL_COST] [decimal](22, 8) NULL,
	[UNIT_LABOR_COST] [decimal](22, 8) NULL,
	[UNIT_BURDEN_COST] [decimal](22, 8) NULL,
	[UNIT_SERVICE_COST] [decimal](22, 8) NULL,
	[BURDEN_PERCENT] [decimal](5, 2) NULL,
	[BURDEN_PER_UNIT] [decimal](22, 8) NULL,
	[FIXED_COST] [decimal](23, 8) NULL,
	[DRAWING_ID] [nvarchar](30) NULL,
	[DRAWING_REV_NO] [nvarchar](8) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[VENDOR_PART_ID] [nvarchar](30) NULL,
	[EST_MATERIAL_COST] [decimal](23, 8) NULL,
	[EST_LABOR_COST] [decimal](23, 8) NULL,
	[EST_BURDEN_COST] [decimal](23, 8) NULL,
	[EST_SERVICE_COST] [decimal](23, 8) NULL,
	[MFG_NAME] [nvarchar](30) NULL,
	[MFG_PART_ID] [nvarchar](30) NULL,
	[DRAWING_FILE] [nvarchar](100) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[PLANNING_LEADTIME] [smallint] NULL,
	[REQUIRED_FOR_SETUP] [nchar](1) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[INHERIT_WAREHOUSE] [nchar](1) NULL,
	[LOCATION_ID] [nvarchar](15) NULL,
 CONSTRAINT [PK_ECN_REQUIREMENT] PRIMARY KEY CLUSTERED 
(
	[ECN_ID] ASC,
	[LINE_NO] ASC,
	[ECN_ENTRY_NO] ASC,
	[WORKORDER_SUB_ID] ASC,
	[OPERATION_SEQ_NO] ASC,
	[PIECE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ECN_REQUIREMENT]  WITH CHECK ADD  CONSTRAINT [FK_ECN_REQUIREMENT] FOREIGN KEY([ECN_ID], [LINE_NO], [ECN_ENTRY_NO])
REFERENCES [dbo].[ECN_DETAIL] ([ECN_ID], [LINE_NO], [ENTRY_NO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ECN_REQUIREMENT] CHECK CONSTRAINT [FK_ECN_REQUIREMENT]
GO
