USE [VECA]
GO
/****** Object:  Table [dbo].[VR_PROPERTY]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VR_PROPERTY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[VALUE] [nvarchar](30) NULL
) ON [PRIMARY]
GO
