USE [VECA]
GO
/****** Object:  Table [dbo].[REQUIREMENT_SCHED]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUIREMENT_SCHED](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[SEQUENCE_NO] [smallint] NOT NULL,
	[PIECE_NO] [smallint] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[REQUIRED_DATE] [datetime] NULL,
	[PROBLEM_CODE] [int] NULL,
	[DUE_DATE] [datetime] NULL,
 CONSTRAINT [PK_REQUIREMENT_SCHED] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[SEQUENCE_NO] ASC,
	[PIECE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REQUIREMENT_SCHED]  WITH CHECK ADD  CONSTRAINT [FKEY0106] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[REQUIREMENT_SCHED] CHECK CONSTRAINT [FKEY0106]
GO
ALTER TABLE [dbo].[REQUIREMENT_SCHED]  WITH CHECK ADD  CONSTRAINT [FKEY0187] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[SCHEDULE] ([ID])
GO
ALTER TABLE [dbo].[REQUIREMENT_SCHED] CHECK CONSTRAINT [FKEY0187]
GO
ALTER TABLE [dbo].[REQUIREMENT_SCHED]  WITH CHECK ADD  CONSTRAINT [FKEY9601] FOREIGN KEY([SCHEDULE_ID], [WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID])
REFERENCES [dbo].[WORK_ORDER_SCHED] ([SCHEDULE_ID], [WORKORDER_TYPE], [WORKORDER_BASE_ID], [WORKORDER_LOT_ID], [WORKORDER_SPLIT_ID], [WORKORDER_SUB_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REQUIREMENT_SCHED] CHECK CONSTRAINT [FKEY9601]
GO
