USE [VECA]
GO
/****** Object:  Table [dbo].[INDIVIDUAL_PRV_HISTORY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIVIDUAL_PRV_HISTORY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [int] NOT NULL,
	[DATA_GROUP] [nvarchar](30) NOT NULL,
	[DOCUMENT_ID] [nvarchar](50) NOT NULL,
	[ACTION] [nvarchar](10) NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_IND_PRV_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INDIVIDUAL_PRV_HISTORY] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
