USE [VECA]
GO
/****** Object:  Table [dbo].[APP_CONFIG_USER]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_CONFIG_USER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [int] NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[USER_ID] [nvarchar](30) NOT NULL,
	[DEFAULT_APP_CONFIG_ID] [int] NOT NULL,
 CONSTRAINT [PK_APP_CONFIG_USER] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APP_CONFIG_USER]  WITH CHECK ADD  CONSTRAINT [FK_APP_CONFIG_USER_TO_APP] FOREIGN KEY([DEFAULT_APP_CONFIG_ID])
REFERENCES [dbo].[APP_CONFIG] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[APP_CONFIG_USER] CHECK CONSTRAINT [FK_APP_CONFIG_USER_TO_APP]
GO
