USE [VECA]
GO
/****** Object:  Table [dbo].[V_ADDRESS]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_ADDRESS](
	[ID] [nvarchar](15) NOT NULL,
	[ACCT_ID] [nvarchar](15) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[ADDR_NO] [smallint] NULL,
	[AREA_ID] [nvarchar](15) NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[CITY] [nvarchar](30) NULL,
	[CONTACT_ID] [nvarchar](15) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[COUNTY_NAME] [nvarchar](20) NULL,
	[CUST_ID] [nvarchar](15) NULL,
	[CREATOR] [nvarchar](15) NULL,
	[DEF_SALESREP_ID] [nvarchar](15) NULL,
	[DEF_SLS_TAX_GRP_ID] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[DISCOUNT_CODE] [nvarchar](15) NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[NAME] [nvarchar](50) NULL,
	[OWNER] [nvarchar](15) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[STATE] [nvarchar](10) NULL,
	[SUB_AREA_ID] [nvarchar](15) NULL,
	[TAX_EXEMPT] [smallint] NOT NULL,
	[TAX_ID_NBR] [nvarchar](25) NULL,
	[TERRITORY] [nvarchar](15) NULL,
	[TYPE] [nvarchar](15) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[COMMENTS] [nvarchar](254) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[USER_D1] [datetime] NULL,
	[USER_D2] [datetime] NULL,
	[USER_D3] [datetime] NULL,
	[USER_N1] [decimal](23, 8) NULL,
	[USER_N2] [decimal](23, 8) NULL,
	[USER_N3] [decimal](23, 8) NULL,
	[USER_N4] [decimal](23, 8) NULL,
	[USER_N5] [decimal](23, 8) NULL,
	[USER_T1] [nvarchar](80) NULL,
	[USER_T2] [nvarchar](80) NULL,
	[USER_T3] [nvarchar](80) NULL,
	[USER_T4] [nvarchar](80) NULL,
	[USER_T5] [nvarchar](80) NULL,
	[CREATE_DATE] [datetime] NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[COMMENTS_BIN] [ntext] NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[VAT_OVERRIDE_SEQ] [nvarchar](1) NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[ARRIVAL_CODE] [nvarchar](25) NULL,
	[TRANS_CODE] [nvarchar](25) NULL,
	[NATURE_OF_TRANS] [int] NULL,
	[MODE_OF_TRANSPORT] [int] NULL,
	[SIRET_NUMBER] [decimal](14, 0) NULL,
	[LANGUAGE_ID] [nvarchar](2) NULL,
 CONSTRAINT [X_V_ADDRESS_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_ADDRESS] ADD  DEFAULT ((0)) FOR [TAX_EXEMPT]
GO
ALTER TABLE [dbo].[V_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00034] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[V_ADDRESS] CHECK CONSTRAINT [FK_VFO_00034]
GO
ALTER TABLE [dbo].[V_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00074] FOREIGN KEY([DEF_SLS_TAX_GRP_ID])
REFERENCES [dbo].[SALES_TAX_GROUP] ([ID])
GO
ALTER TABLE [dbo].[V_ADDRESS] CHECK CONSTRAINT [FK_VFO_00074]
GO
ALTER TABLE [dbo].[V_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00076] FOREIGN KEY([DEF_SALESREP_ID])
REFERENCES [dbo].[SALES_REP] ([ID])
GO
ALTER TABLE [dbo].[V_ADDRESS] CHECK CONSTRAINT [FK_VFO_00076]
GO
ALTER TABLE [dbo].[V_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00090] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[V_ADDRESS] CHECK CONSTRAINT [FK_VFO_00090]
GO
ALTER TABLE [dbo].[V_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00102] FOREIGN KEY([ACCT_ID])
REFERENCES [dbo].[V_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[V_ADDRESS] CHECK CONSTRAINT [FK_VFO_00102]
GO
ALTER TABLE [dbo].[V_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00147] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[V_AREA] ([ID])
GO
ALTER TABLE [dbo].[V_ADDRESS] CHECK CONSTRAINT [FK_VFO_00147]
GO
ALTER TABLE [dbo].[V_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00148] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[V_CONTACT] ([ID])
GO
ALTER TABLE [dbo].[V_ADDRESS] CHECK CONSTRAINT [FK_VFO_00148]
GO
