USE [VECA]
GO
/****** Object:  Table [dbo].[DOCUMENT_SITE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_SITE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[DOCUMENT_ID] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_DOCUMENT_SITE] PRIMARY KEY CLUSTERED 
(
	[SITE_ID] ASC,
	[DOCUMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
