USE [VECA]
GO
/****** Object:  Table [dbo].[NOTATION]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TYPE] [nchar](2) NOT NULL,
	[OWNER_ID] [nvarchar](40) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[NOTE] [image] NULL,
 CONSTRAINT [PK_NOTATION] PRIMARY KEY CLUSTERED 
(
	[TYPE] ASC,
	[OWNER_ID] ASC,
	[CREATE_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
