USE [VECA]
GO
/****** Object:  Table [dbo].[SUPPLIER_PREFERENCES]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER_PREFERENCES](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[FROM_LATE_1] [smallint] NULL,
	[TO_LATE_1] [smallint] NULL,
	[RATING_LATE_1] [smallint] NULL,
	[FROM_LATE_2] [smallint] NULL,
	[TO_LATE_2] [smallint] NULL,
	[RATING_LATE_2] [smallint] NULL,
	[FROM_LATE_3] [smallint] NULL,
	[TO_LATE_3] [smallint] NULL,
	[RATING_LATE_3] [smallint] NULL,
	[FROM_LATE_4] [smallint] NULL,
	[TO_LATE_4] [smallint] NULL,
	[RATING_LATE_4] [smallint] NULL,
	[NCM_QTY] [decimal](20, 8) NOT NULL,
	[RATING_NCM_QTY] [smallint] NULL,
	[QTY_PERCENT] [decimal](14, 4) NOT NULL,
	[RATING_PERCENT] [smallint] NULL,
	[LOWEST_PRICE] [smallint] NULL,
	[RATING_LOWEST_PRICE] [smallint] NULL,
	[SHORTEST_LEADTIME] [smallint] NULL,
	[RATING_SHORTEST_LEADTIME] [smallint] NULL,
	[TOTAL_RATING] [smallint] NULL,
	[OLDEST_PO_DATE] [datetime] NOT NULL,
	[NUMBER_OF_SUPPLIERS] [smallint] NULL,
	[USER_ID] [nvarchar](20) NULL,
	[LAST_MOD_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_SUPPLIER_PREFERENCES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SUPPLIER_PREFERENCES] ADD  DEFAULT ((0)) FOR [NCM_QTY]
GO
ALTER TABLE [dbo].[SUPPLIER_PREFERENCES] ADD  DEFAULT ((0)) FOR [QTY_PERCENT]
GO
ALTER TABLE [dbo].[SUPPLIER_PREFERENCES] ADD  DEFAULT (getdate()) FOR [OLDEST_PO_DATE]
GO
ALTER TABLE [dbo].[SUPPLIER_PREFERENCES] ADD  DEFAULT (getdate()) FOR [LAST_MOD_DATE]
GO
ALTER TABLE [dbo].[SUPPLIER_PREFERENCES] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
