USE [VECA]
GO
/****** Object:  Table [dbo].[ACCOUNTING_ENTITY]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTING_ENTITY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[ENTITY_NAME] [nvarchar](50) NULL,
	[ENTITY_ADDR_1] [nvarchar](50) NULL,
	[ENTITY_ADDR_2] [nvarchar](50) NULL,
	[ENTITY_ADDR_3] [nvarchar](50) NULL,
	[ENTITY_CITY] [nvarchar](30) NULL,
	[ENTITY_STATE] [nvarchar](10) NULL,
	[ENTITY_ZIPCODE] [nvarchar](10) NULL,
	[ENTITY_COUNTRY] [nvarchar](50) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[TAX_ID_NUMBER] [nvarchar](25) NULL,
	[DEF_LANGUAGE_ID] [nvarchar](3) NOT NULL,
	[FUNCTIONAL_CURRENCY_ID] [nvarchar](15) NULL,
	[XCHG_RATE_DATE] [nchar](1) NOT NULL,
	[XCHG_RATE_DEF_RCPT] [nchar](1) NOT NULL,
	[COSTING_INTERLEVEL] [nchar](1) NOT NULL,
	[COSTING_METHOD] [nchar](1) NOT NULL,
	[COSTING_SOURCE] [nchar](1) NOT NULL,
	[COSTING_STD_LABOR] [nchar](1) NOT NULL,
	[COSTING_WIP_METHOD] [nchar](1) NOT NULL,
	[COST_BY_TRACE_ID] [nchar](1) NULL,
	[BURDEN_SOURCE] [nchar](1) NOT NULL,
	[FIFO_BY_LOCATION] [nchar](1) NOT NULL,
	[EARNED_REV_METHOD] [nchar](1) NULL,
	[VAT_ENABLED] [nchar](1) NOT NULL,
	[VAT_DISCOUNTED] [nchar](1) NOT NULL,
	[VAT_REGISTRATION] [nvarchar](25) NULL,
	[VAT_PAYB_EXPORT_ID] [nvarchar](15) NULL,
	[VAT_RECV_EXPORT_ID] [nvarchar](15) NULL,
	[VAT_CATEGORY_REQD] [nvarchar](1) NULL,
	[VAT_ON_FREIGHT] [nvarchar](1) NULL,
	[NEXT_VAT_SEQ] [int] NOT NULL,
	[VAT_FILE_PREFIX] [nvarchar](5) NULL,
	[VAT_FILE_ZEROS] [nchar](1) NULL,
	[VAT_FILE_PLACES] [smallint] NULL,
	[VAT_BOOK_NUM_GEN] [nchar](1) NOT NULL,
	[INTRASTAT_ENABLED] [nchar](1) NOT NULL,
	[VERIFY_INTRASTAT] [nvarchar](1) NULL,
	[COUNTRY_ID] [nvarchar](15) NULL,
	[BRANCH_ID] [nvarchar](3) NULL,
	[NEXT_INTRASTAT_SEQ] [int] NOT NULL,
	[INTRA_FILE_PREFIX] [nvarchar](5) NULL,
	[INTRA_FILE_ZEROS] [nchar](1) NULL,
	[INTRA_FILE_PLACES] [int] NOT NULL,
	[INTRASTAT_FREQ] [nchar](1) NULL,
	[INTRA_ARRV_EXPT_ID] [nvarchar](15) NULL,
	[INTRA_DISP_EXPT_ID] [nvarchar](15) NULL,
	[NEXT_ESL_SEQ] [int] NOT NULL,
	[ESL_FILE_PREFIX] [nvarchar](5) NULL,
	[ESL_FILE_ZEROS] [nchar](1) NULL,
	[ESL_FILE_PLACES] [smallint] NULL,
	[ESL_FREQ] [nchar](1) NULL,
	[ESL_EXPORT_ID] [nvarchar](15) NULL,
	[A_SHOW_COUNTRY] [nchar](1) NULL,
	[A_SHOW_EXCISE_PR] [nchar](1) NULL,
	[A_SHOW_PORT_ARRVL] [nchar](1) NULL,
	[A_SHOW_PORT_TRANS] [nchar](1) NULL,
	[A_SHOW_REGION] [nchar](1) NULL,
	[A_SHOW_SIRET_NO] [nchar](1) NULL,
	[A_SHOW_TARIFF_CODE] [nchar](1) NULL,
	[D_SHOW_COUNTRY] [nchar](1) NULL,
	[D_SHOW_EXCISE_PR] [nchar](1) NULL,
	[D_SHOW_PORT_ARRVL] [nchar](1) NULL,
	[D_SHOW_PORT_TRANS] [nchar](1) NULL,
	[D_SHOW_REGION] [nchar](1) NULL,
	[D_SHOW_SIRET_NO] [nchar](1) NULL,
	[D_SHOW_TARIFF_CODE] [nchar](1) NULL,
	[NEXT_PAY_BATCH_SEQ] [int] NOT NULL,
	[PAY_FILE_PREFIX] [nvarchar](5) NULL,
	[PAY_FILE_ZEROS] [nchar](1) NULL,
	[PAY_FILE_PLACES] [smallint] NOT NULL,
	[WITHHOLD_ENABLED] [nchar](1) NOT NULL,
	[WH_CERTIF_EXPT_ID] [nvarchar](15) NULL,
	[WH_SUMMARY_EXPT_ID] [nvarchar](15) NULL,
	[NEXT_WITHHOLD_SEQ] [int] NOT NULL,
	[CASH_PERCENT_VAR] [nchar](1) NULL,
	[CASH_MIN_VAR] [decimal](23, 8) NOT NULL,
	[CASH_MAX_VAR] [decimal](23, 8) NOT NULL,
	[COMMISSION_SUPPORT] [nchar](1) NOT NULL,
	[COMM_PAYMENT_METH] [nchar](1) NOT NULL,
	[SOCIAL_SECURITY_NO] [nvarchar](15) NULL,
	[WIPVAS_ENABLED] [nchar](1) NOT NULL,
	[DDP_ENABLED] [nchar](1) NOT NULL,
	[AUTO_ALLOCATE] [nchar](1) NULL,
	[CO_ALLOC_LEVEL] [nchar](1) NULL,
	[REQ_ALLOC_LEVEL] [nchar](1) NULL,
	[DEF_SHIP_WEIGHT_UM] [nvarchar](15) NULL,
	[BACKORD_FILL_RATE] [decimal](15, 2) NOT NULL,
	[PROJ_BURDEN_RULE] [nchar](1) NULL,
	[REQ_APP1_LABEL] [nvarchar](10) NULL,
	[REQ_APP2_LABEL] [nvarchar](10) NULL,
	[REQ_APP3_LABEL] [nvarchar](10) NULL,
	[REQ_APP4_LABEL] [nvarchar](10) NULL,
	[REQ_GEN_ALL_TASKS] [nchar](1) NOT NULL,
	[REQ_CMNT_PWD_REQ] [nchar](1) NOT NULL,
	[CALENDAR_ID] [nvarchar](15) NULL,
	[DEF_CASH_MGT_BANK_AR] [nvarchar](15) NULL,
	[DEF_CASH_MGT_BANK_AP] [nvarchar](15) NULL,
	[CUST_BAL_INCL_TYPE] [nchar](1) NULL,
	[ENTITY_COUNTRY_ID] [nvarchar](15) NULL,
	[FIN_BATCH_SINGLE_TRANS] [nchar](1) NOT NULL,
 CONSTRAINT [PK_ACCOUNTING_ENTITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('A') FOR [STATUS]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('USA') FOR [DEF_LANGUAGE_ID]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [XCHG_RATE_DATE]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [XCHG_RATE_DEF_RCPT]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [COSTING_INTERLEVEL]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [COSTING_METHOD]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [COSTING_SOURCE]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [COSTING_STD_LABOR]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [COSTING_WIP_METHOD]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('R') FOR [BURDEN_SOURCE]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [FIFO_BY_LOCATION]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [VAT_ENABLED]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT (' ') FOR [VAT_DISCOUNTED]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [NEXT_VAT_SEQ]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [VAT_BOOK_NUM_GEN]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [INTRASTAT_ENABLED]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [NEXT_INTRASTAT_SEQ]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [INTRA_FILE_PLACES]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [NEXT_ESL_SEQ]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [NEXT_PAY_BATCH_SEQ]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [PAY_FILE_PLACES]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [WITHHOLD_ENABLED]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [NEXT_WITHHOLD_SEQ]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [CASH_MIN_VAR]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [CASH_MAX_VAR]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [COMMISSION_SUPPORT]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('C') FOR [COMM_PAYMENT_METH]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [WIPVAS_ENABLED]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [DDP_ENABLED]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ((0)) FOR [BACKORD_FILL_RATE]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [REQ_GEN_ALL_TASKS]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [REQ_CMNT_PWD_REQ]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] ADD  DEFAULT ('N') FOR [FIN_BATCH_SINGLE_TRANS]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_ACC_ENTITY_CNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] CHECK CONSTRAINT [FK_ACC_ENTITY_CNTRY]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY]  WITH CHECK ADD  CONSTRAINT [FK_AE_FIN_CAL] FOREIGN KEY([CALENDAR_ID])
REFERENCES [dbo].[FINANCIAL_CALENDAR] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] CHECK CONSTRAINT [FK_AE_FIN_CAL]
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY]  WITH CHECK ADD  CONSTRAINT [CHK_ACCOUNTING_ENTITY] CHECK  ((([COSTING_METHOD]='S' OR [COSTING_METHOD]='A' OR [COSTING_METHOD]='V') AND ([COSTING_INTERLEVEL]='F' OR [COSTING_INTERLEVEL]='S') AND ([COSTING_SOURCE]='I' OR [COSTING_SOURCE]='P') AND ([COSTING_STD_LABOR]='Q' OR [COSTING_STD_LABOR]='H') AND ([COSTING_WIP_METHOD]='P' OR [COSTING_WIP_METHOD]='A') AND ([COMMISSION_SUPPORT]='Y' OR [COMMISSION_SUPPORT]='N') AND ([VAT_ENABLED]='Y' OR [VAT_ENABLED]='N') AND ([VAT_DISCOUNTED]='Y' OR [VAT_DISCOUNTED]='N') AND ([BURDEN_SOURCE]='O' OR [BURDEN_SOURCE]='R') AND ([INTRASTAT_ENABLED]='Y' OR [INTRASTAT_ENABLED]='N') AND ([WITHHOLD_ENABLED]='Y' OR [WITHHOLD_ENABLED]='N') AND ([VAT_ON_FREIGHT]='Y' OR [VAT_ON_FREIGHT]='N') AND ([VERIFY_INTRASTAT]='Y' OR [VERIFY_INTRASTAT]='N')))
GO
ALTER TABLE [dbo].[ACCOUNTING_ENTITY] CHECK CONSTRAINT [CHK_ACCOUNTING_ENTITY]
GO
