USE [VECA]
GO
/****** Object:  Table [dbo].[DIMENSION_DESC]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_DESC](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[DIMENSION_DESC] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DIMENSION_DESC] PRIMARY KEY CLUSTERED 
(
	[DIMENSION_DESC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
