USE [VECA]
GO
/****** Object:  Table [dbo].[E_GLOBAL]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[E_GLOBAL](
	[rowid] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[last_build_date] [datetime] NULL,
	[auto_build] [nchar](1) NULL,
	[auto_build_date] [datetime] NULL,
	[version] [int] NULL
) ON [PRIMARY]
GO
