USE [VECA]
GO
/****** Object:  Table [dbo].[TMP_SYSA_4736]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_SYSA_4736](
	[tmp_part_id] [varchar](30) NULL,
	[tmp_eng_id] [varchar](3) NULL
) ON [PRIMARY]
GO
