USE [VECA]
GO
/****** Object:  Table [dbo].[QUERY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUERY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
	[QUERY] [image] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[AUTO_JOIN] [nchar](1) NOT NULL,
 CONSTRAINT [PK_QUERY] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[QUERY] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[QUERY] ADD  DEFAULT ('N') FOR [AUTO_JOIN]
GO
