USE [VECA]
GO
/****** Object:  Table [dbo].[V_EMP_MATRIX]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_EMP_MATRIX](
	[EMP_ID] [nvarchar](15) NOT NULL,
	[RATING] [nvarchar](15) NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
	[BILLING_RATE] [decimal](22, 8) NOT NULL,
	[COMMENTS] [nvarchar](254) NULL,
	[USER_T1] [nvarchar](80) NULL,
	[USER_T2] [nvarchar](80) NULL,
	[USER_T3] [nvarchar](80) NULL,
	[USER_T4] [nvarchar](80) NULL,
	[USER_T5] [nvarchar](80) NULL,
	[USER_D1] [datetime] NULL,
	[USER_D2] [datetime] NULL,
	[USER_D3] [datetime] NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[USER_N1] [decimal](23, 8) NULL,
	[USER_N2] [decimal](23, 8) NULL,
	[USER_N3] [decimal](23, 8) NULL,
	[USER_N4] [decimal](23, 8) NULL,
	[USER_N5] [decimal](23, 8) NULL,
	[PRIMARY_RESOURCE] [smallint] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_EMP_MATRIX_0] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[V_EMP_MATRIX] ADD  DEFAULT ('') FOR [RATING]
GO
ALTER TABLE [dbo].[V_EMP_MATRIX] ADD  DEFAULT ((0)) FOR [BILLING_RATE]
GO
ALTER TABLE [dbo].[V_EMP_MATRIX]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00133] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[V_EMP_MATRIX] CHECK CONSTRAINT [FK_VFO_00133]
GO
ALTER TABLE [dbo].[V_EMP_MATRIX]  WITH CHECK ADD  CONSTRAINT [FK_VFO_00134] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[V_EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[V_EMP_MATRIX] CHECK CONSTRAINT [FK_VFO_00134]
GO
