USE [VECA]
GO
/****** Object:  Table [dbo].[SHIFT_DAY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT_DAY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SHIFT_ID] [nvarchar](15) NOT NULL,
	[SHIFT_CODE] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](40) NULL,
	[SHIFT_START] [datetime] NULL,
	[SHIFT_END] [datetime] NULL,
	[MEAL_START] [datetime] NULL,
	[MEAL_END] [datetime] NULL,
	[MEAL_TYPE] [nchar](1) NOT NULL,
	[MEAL_MANUAL] [nchar](1) NOT NULL,
	[BREAK1_START] [datetime] NULL,
	[BREAK1_END] [datetime] NULL,
	[BREAK1_TYPE] [nchar](1) NOT NULL,
	[BREAK1_MANUAL] [nchar](1) NOT NULL,
	[BREAK2_START] [datetime] NULL,
	[BREAK2_END] [datetime] NULL,
	[BREAK2_TYPE] [nchar](1) NOT NULL,
	[BREAK2_MANUAL] [nchar](1) NOT NULL,
	[BREAK3_START] [datetime] NULL,
	[BREAK3_END] [datetime] NULL,
	[BREAK3_TYPE] [nchar](1) NOT NULL,
	[BREAK3_MANUAL] [nchar](1) NOT NULL,
	[PAID_BREAKS] [nchar](1) NULL,
	[PERIODS_PER_HOUR] [int] NULL,
 CONSTRAINT [PK_SHIFT_DAY] PRIMARY KEY CLUSTERED 
(
	[SHIFT_ID] ASC,
	[SHIFT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [MEAL_TYPE]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [MEAL_MANUAL]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [BREAK1_TYPE]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [BREAK1_MANUAL]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [BREAK2_TYPE]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [BREAK2_MANUAL]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [BREAK3_TYPE]
GO
ALTER TABLE [dbo].[SHIFT_DAY] ADD  DEFAULT ('') FOR [BREAK3_MANUAL]
GO
ALTER TABLE [dbo].[SHIFT_DAY]  WITH CHECK ADD  CONSTRAINT [FKEY0257] FOREIGN KEY([SHIFT_ID])
REFERENCES [dbo].[SHIFT] ([ID])
GO
ALTER TABLE [dbo].[SHIFT_DAY] CHECK CONSTRAINT [FKEY0257]
GO
ALTER TABLE [dbo].[SHIFT_DAY]  WITH CHECK ADD  CONSTRAINT [CHK0004] CHECK  ((([MEAL_TYPE]='Y' OR [MEAL_TYPE]='N') AND ([MEAL_MANUAL]='Y' OR [MEAL_MANUAL]='N') AND ([BREAK1_TYPE]='Y' OR [BREAK1_TYPE]='N') AND ([BREAK1_MANUAL]='Y' OR [BREAK1_MANUAL]='N') AND ([BREAK2_TYPE]='Y' OR [BREAK2_TYPE]='N') AND ([BREAK2_MANUAL]='Y' OR [BREAK2_MANUAL]='N') AND ([BREAK3_TYPE]='Y' OR [BREAK3_TYPE]='N') AND ([BREAK3_MANUAL]='Y' OR [BREAK3_MANUAL]='N') AND ([PAID_BREAKS]='Y' OR [PAID_BREAKS]='N') AND [PERIODS_PER_HOUR]>=(1) AND [PERIODS_PER_HOUR]<=(60)))
GO
ALTER TABLE [dbo].[SHIFT_DAY] CHECK CONSTRAINT [CHK0004]
GO
