USE [VECA]
GO
/****** Object:  Table [dbo].[OPERATION_AUDIT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_AUDIT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[ATTEMPT_NO] [int] NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
	[UNIT_NO] [smallint] NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[SEQUENCE_NO] [smallint] NOT NULL,
	[WORKORDER_PASS_NO] [int] NOT NULL,
	[DIRECTION] [nchar](1) NOT NULL,
	[RESULT] [nchar](1) NOT NULL,
	[START_DATE] [datetime] NULL,
	[FINISH_DATE] [datetime] NULL,
	[COULD_START_FINISH] [datetime] NULL,
	[RESULT_DETAIL] [nvarchar](60) NULL,
	[SUPPLY_TYPE] [nvarchar](2) NULL,
	[SUPPLY_BASE_ID] [nvarchar](30) NULL,
	[SUPPLY_LOT_ID] [nvarchar](3) NULL,
	[SUPPLY_SPLIT_ID] [nvarchar](3) NULL,
	[SUPPLY_SUB_ID] [nvarchar](3) NULL,
	[SUPPLY_SEQ_NO] [int] NULL,
	[SUPPLY_NO] [int] NULL,
	[PART_ID] [nvarchar](30) NULL,
 CONSTRAINT [PK_OPERATION_AUDIT] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[ATTEMPT_NO] ASC,
	[RESOURCE_ID] ASC,
	[UNIT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPERATION_AUDIT] ADD  DEFAULT ('') FOR [DIRECTION]
GO
ALTER TABLE [dbo].[OPERATION_AUDIT] ADD  DEFAULT ('') FOR [RESULT]
GO
ALTER TABLE [dbo].[OPERATION_AUDIT]  WITH CHECK ADD  CONSTRAINT [FKEY0297] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[SCHEDULE] ([ID])
GO
ALTER TABLE [dbo].[OPERATION_AUDIT] CHECK CONSTRAINT [FKEY0297]
GO
