USE [VECA]
GO
/****** Object:  Table [dbo].[IBT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[FROM_WHSE_ID] [nvarchar](15) NOT NULL,
	[TO_WHSE_ID] [nvarchar](15) NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
	[TRANSIT_DAYS] [decimal](14, 4) NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[BUYER] [nvarchar](20) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[RECEIVED_DATE] [datetime] NULL,
	[SHIPPED_DATE] [datetime] NULL,
	[FREIGHT] [decimal](23, 8) NULL,
	[SHIP_REASON_CD] [nvarchar](15) NULL,
	[RETURNED_DATE] [datetime] NULL,
	[CARRIER_ID] [nvarchar](15) NULL,
	[FREIGHT_TERMS] [nchar](1) NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[DISPATCHED] [nchar](1) NULL,
	[CONSIGNED_XFR_TYPE] [nchar](1) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[SHIP_FROM_ADDR_NO] [int] NULL,
	[SHIP_TO_ADDR_NO] [int] NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
 CONSTRAINT [PK_IBT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBT] ADD  DEFAULT (getdate()) FOR [ORDER_DATE]
GO
ALTER TABLE [dbo].[IBT] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[IBT] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[IBT] ADD  DEFAULT ('N') FOR [CONSIGNED_XFR_TYPE]
GO
ALTER TABLE [dbo].[IBT] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[IBT]  WITH CHECK ADD  CONSTRAINT [FK_IBT_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[IBT] CHECK CONSTRAINT [FK_IBT_CONT_ID]
GO
ALTER TABLE [dbo].[IBT]  WITH CHECK ADD  CONSTRAINT [FK_IBT_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[IBT] CHECK CONSTRAINT [FK_IBT_TO_SITE]
GO
ALTER TABLE [dbo].[IBT]  WITH CHECK ADD  CONSTRAINT [FKEY9609] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[IBT] CHECK CONSTRAINT [FKEY9609]
GO
ALTER TABLE [dbo].[IBT]  WITH CHECK ADD  CONSTRAINT [FKEY9610] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[IBT] CHECK CONSTRAINT [FKEY9610]
GO
