USE [VECA]
GO
/****** Object:  Table [dbo].[IBT_RECEIVER]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBT_RECEIVER](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[IBT_ID] [nvarchar](15) NOT NULL,
	[RECEIVED_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[SHIP_REASON_CD] [nvarchar](15) NULL,
	[SHIPPER_ID] [nvarchar](15) NULL,
	[RCPT_ACK_RECEIVED] [datetime] NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
 CONSTRAINT [PK_IBT_RECEIVER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IBT_RECEIVER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[IBT_RECEIVER] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[IBT_RECEIVER]  WITH CHECK ADD  CONSTRAINT [FK_IBT_REC_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[IBT_RECEIVER] CHECK CONSTRAINT [FK_IBT_REC_CONT_ID]
GO
ALTER TABLE [dbo].[IBT_RECEIVER]  WITH CHECK ADD  CONSTRAINT [FK_IBT_RECEIVER_00] FOREIGN KEY([SHIPPER_ID])
REFERENCES [dbo].[IBT_SHIPPER] ([SHIPPER_ID])
GO
ALTER TABLE [dbo].[IBT_RECEIVER] CHECK CONSTRAINT [FK_IBT_RECEIVER_00]
GO
ALTER TABLE [dbo].[IBT_RECEIVER]  WITH CHECK ADD  CONSTRAINT [FK_IBT_RECEIVER_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[IBT_RECEIVER] CHECK CONSTRAINT [FK_IBT_RECEIVER_TO_SITE]
GO
ALTER TABLE [dbo].[IBT_RECEIVER]  WITH CHECK ADD  CONSTRAINT [FKEY9493] FOREIGN KEY([IBT_ID])
REFERENCES [dbo].[IBT] ([ID])
GO
ALTER TABLE [dbo].[IBT_RECEIVER] CHECK CONSTRAINT [FKEY9493]
GO
