USE [VECA]
GO
/****** Object:  Table [dbo].[VMDI_LAYOUT]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDI_LAYOUT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[KEY] [nchar](3) NOT NULL,
	[VERSION] [nchar](4) NOT NULL,
	[DIRECTION] [nchar](1) NOT NULL,
	[OUTPUT_TYPE] [nchar](1) NOT NULL,
	[INBOUND_RULE] [nchar](1) NOT NULL,
	[STYLE] [nchar](1) NOT NULL,
	[FIELD_DELIMITER] [nchar](1) NULL,
	[RECORD_DELIMITER] [nchar](1) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[LAST_RUN_DATE] [datetime] NULL,
	[DEL_UNSHIPPED] [nchar](1) NULL,
	[PREFIX_TOKEN] [nvarchar](15) NULL,
	[AUTOGENERATE] [nchar](1) NULL,
	[SAVE_DATA_FLOW] [nchar](1) NOT NULL,
	[DEL_UNSHIPPED_LN] [nchar](1) NULL,
	[description] [nvarchar](80) NULL,
	[SPECIAL_CONDITION] [nvarchar](250) NULL,
	[LINE_INBOUND_RULE] [nchar](1) NULL,
	[DEL_INBOUND_RULE] [nchar](1) NULL,
	[INBOUND_QTY_RULE] [nchar](1) NULL,
	[ALLOW_UPD_DISP_ORD] [nchar](1) NULL,
	[CHK_BLANKET_FLAG] [nchar](1) NULL,
	[INV_OUTBOUND_RULE] [nvarchar](15) NULL,
 CONSTRAINT [PK_VMDI_LAYOUT] PRIMARY KEY CLUSTERED 
(
	[KEY] ASC,
	[VERSION] ASC,
	[DIRECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VMDI_LAYOUT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[VMDI_LAYOUT] ADD  DEFAULT ('') FOR [SAVE_DATA_FLOW]
GO
