USE [VECA]
GO
/****** Object:  Table [dbo].[EC_LINE_BINARY]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EC_LINE_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[EC_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_EC_LINE_BINARY] PRIMARY KEY CLUSTERED 
(
	[EC_ID] ASC,
	[LINE_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EC_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [FK_EC_LINE_BINARY] FOREIGN KEY([EC_ID], [LINE_NO])
REFERENCES [dbo].[EC_LINE] ([EC_ID], [LINE_NO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EC_LINE_BINARY] CHECK CONSTRAINT [FK_EC_LINE_BINARY]
GO
