USE [VECA]
GO
/****** Object:  Table [dbo].[GJ_CURR]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GJ_CURR](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GJ_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[AMOUNT] [decimal](23, 8) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
 CONSTRAINT [PK_GJ_CURR] PRIMARY KEY CLUSTERED 
(
	[GJ_ID] ASC,
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GJ_CURR] ADD  DEFAULT ((0)) FOR [AMOUNT]
GO
ALTER TABLE [dbo].[GJ_CURR] ADD  DEFAULT ((0)) FOR [SELL_RATE]
GO
ALTER TABLE [dbo].[GJ_CURR] ADD  DEFAULT ((0)) FOR [BUY_RATE]
GO
ALTER TABLE [dbo].[GJ_CURR]  WITH CHECK ADD  CONSTRAINT [FKEY9442] FOREIGN KEY([GJ_ID])
REFERENCES [dbo].[GJ] ([ID])
GO
ALTER TABLE [dbo].[GJ_CURR] CHECK CONSTRAINT [FKEY9442]
GO
ALTER TABLE [dbo].[GJ_CURR]  WITH CHECK ADD  CONSTRAINT [FKEY9443] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[GJ_CURR] CHECK CONSTRAINT [FKEY9443]
GO
