USE [VECA]
GO
/****** Object:  Table [dbo].[z_REGIONS]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_REGIONS](
	[COUNTRY] [varchar](30) NULL,
	[STATE] [varchar](50) NULL,
	[REGION] [varchar](30) NULL,
	[REP] [varchar](50) NULL
) ON [PRIMARY]
GO
