USE [VECA]
GO
/****** Object:  Table [dbo].[PROGRAM_NAME]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAM_NAME](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[MENU_ID] [nvarchar](40) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[PROGRAM_ID] [nvarchar](40) NOT NULL,
	[SUB_HEADING] [nchar](1) NULL,
	[MENU_TEXT] [nvarchar](80) NULL,
	[TOOLTIP] [nvarchar](40) NULL,
	[HIDE_ENTRY] [nchar](1) NULL,
	[EXECUTE_COMMAND] [nvarchar](250) NULL,
	[ICON] [nvarchar](40) NULL,
 CONSTRAINT [PK_PROGRAM_NAME] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[MENU_ID] ASC,
	[SEQ_NO] ASC,
	[PROGRAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
