USE [VECA]
GO
/****** Object:  Table [dbo].[TASK_BINARY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TASK_TYPE] [nvarchar](15) NOT NULL,
	[TASK_NO] [int] NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_TASK_BINARY] PRIMARY KEY CLUSTERED 
(
	[TASK_TYPE] ASC,
	[TASK_NO] ASC,
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TASK_BINARY]  WITH CHECK ADD  CONSTRAINT [FK_TASK_BINARY] FOREIGN KEY([TASK_TYPE], [TASK_NO], [SEQ_NO])
REFERENCES [dbo].[TASK] ([TYPE], [TASK_NO], [SEQ_NO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TASK_BINARY] CHECK CONSTRAINT [FK_TASK_BINARY]
GO
