USE [VECA]
GO
/****** Object:  Table [dbo].[APPLICATION_LINK]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION_LINK](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[GROUP_ID] [nvarchar](20) NOT NULL,
	[GROUP_SEQ_NO] [smallint] NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[LANGUAGE_ID] [nvarchar](3) NOT NULL,
	[ACCELERATOR] [nchar](1) NULL,
 CONSTRAINT [PK_APPLICATION_LINK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC,
	[GROUP_SEQ_NO] ASC,
	[PROGRAM_ID] ASC,
	[LANGUAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPLICATION_LINK]  WITH CHECK ADD  CONSTRAINT [FKEY0248] FOREIGN KEY([GROUP_ID], [LANGUAGE_ID])
REFERENCES [dbo].[APPLICATION_GROUP] ([GROUP_ID], [LANGUAGE_ID])
GO
ALTER TABLE [dbo].[APPLICATION_LINK] CHECK CONSTRAINT [FKEY0248]
GO
ALTER TABLE [dbo].[APPLICATION_LINK]  WITH CHECK ADD  CONSTRAINT [FKEY0249] FOREIGN KEY([PROGRAM_ID], [LANGUAGE_ID])
REFERENCES [dbo].[APPLICATION] ([PROGRAM_ID], [LANGUAGE_ID])
GO
ALTER TABLE [dbo].[APPLICATION_LINK] CHECK CONSTRAINT [FKEY0249]
GO
