USE [VECA]
GO
/****** Object:  Table [dbo].[OPERATION_SCHED]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERATION_SCHED](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCHEDULE_ID] [nvarchar](15) NOT NULL,
	[WORKORDER_TYPE] [nchar](1) NOT NULL,
	[WORKORDER_BASE_ID] [nvarchar](30) NOT NULL,
	[WORKORDER_LOT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SPLIT_ID] [nvarchar](3) NOT NULL,
	[WORKORDER_SUB_ID] [nvarchar](3) NOT NULL,
	[SEQUENCE_NO] [int] NOT NULL,
	[RESOURCE_ID] [nvarchar](15) NOT NULL,
	[UNIT_ASSIGNED] [int] NOT NULL,
	[START_DATE] [datetime] NULL,
	[COULD_START_DATE] [datetime] NULL,
	[FINISH_DATE] [datetime] NULL,
	[COULD_FINISH_DATE] [datetime] NULL,
	[ISDETERMINANT] [nchar](1) NOT NULL,
	[DIRECTION] [nchar](1) NOT NULL,
	[DELAY_REASON] [nvarchar](60) NULL,
	[USER_START_DATE] [datetime] NULL,
	[USER_FINISH_DATE] [datetime] NULL,
	[SCHED_RESOURCE_ID] [nvarchar](15) NULL,
	[IS_CONCURRENT] [nchar](1) NULL,
	[GROUP_RESOURCE_ID] [nvarchar](15) NULL,
	[ORG_RESOURCE_ID] [nvarchar](15) NULL,
	[ACT_MIN_MOVE_QTY] [int] NULL,
	[SETUP_HOURS] [decimal](14, 2) NULL,
	[RUN_HOURS] [decimal](14, 2) NULL,
	[PROBLEM_CODE] [int] NULL,
 CONSTRAINT [PK_OPERATION_SCHED] PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_ID] ASC,
	[WORKORDER_TYPE] ASC,
	[WORKORDER_BASE_ID] ASC,
	[WORKORDER_LOT_ID] ASC,
	[WORKORDER_SPLIT_ID] ASC,
	[WORKORDER_SUB_ID] ASC,
	[SEQUENCE_NO] ASC,
	[RESOURCE_ID] ASC,
	[UNIT_ASSIGNED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OPERATION_SCHED] ADD  DEFAULT ('') FOR [ISDETERMINANT]
GO
ALTER TABLE [dbo].[OPERATION_SCHED] ADD  DEFAULT ('') FOR [DIRECTION]
GO
