USE [VECA]
GO
/****** Object:  Table [dbo].[APPLICATION]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICATION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PROGRAM_ID] [nvarchar](80) NOT NULL,
	[LANGUAGE_ID] [nvarchar](3) NOT NULL,
	[MENU_STRING] [nvarchar](40) NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[CMD_LINE_ARGS] [nvarchar](80) NULL,
	[MODULE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_APPLICATION] PRIMARY KEY CLUSTERED 
(
	[PROGRAM_ID] ASC,
	[LANGUAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPLICATION]  WITH CHECK ADD  CONSTRAINT [CHK_APPLICATION] CHECK  (([TYPE]='V' OR [TYPE]='W' OR [TYPE]='Q'))
GO
ALTER TABLE [dbo].[APPLICATION] CHECK CONSTRAINT [CHK_APPLICATION]
GO
