USE [VECA]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CODE] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[REV_GL_ACCT_ID] [nvarchar](30) NULL,
	[ADJ_GL_ACCT_ID] [nvarchar](30) NULL,
	[INV_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[INV_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[INV_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[INV_SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[VAR_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[VAR_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[VAR_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[VAR_SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[CGS_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[CGS_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[CGS_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[CGS_SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[WIP_MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[WIP_LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[WIP_BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[WIP_SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[WITHHOLDING_CODE] [nvarchar](15) NULL,
	[DEMAND_FENCE_1] [int] NULL,
	[DEMAND_FENCE_2] [int] NULL,
	[COST_CATEGORY_ID] [nvarchar](15) NULL,
	[ACTIVE_FLAG] [nchar](1) NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ('Y') FOR [ACTIVE_FLAG]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FKEY9303] FOREIGN KEY([WITHHOLDING_CODE])
REFERENCES [dbo].[WITHHOLDING] ([CODE])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FKEY9303]
GO
