USE [VECA]
GO
/****** Object:  Table [dbo].[CALENDAR_CHANGE]    Script Date: 4/9/2026 9:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALENDAR_CHANGE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SCHEDULE_ID] [nvarchar](15) NULL,
	[RESOURCE_ID] [nvarchar](15) NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[START_OF_DAY] [datetime] NOT NULL,
	[SHIFT_1] [decimal](5, 3) NOT NULL,
	[SHIFT_2] [decimal](5, 3) NOT NULL,
	[SHIFT_3] [decimal](5, 3) NOT NULL,
	[SHIFT_1_CAPACITY] [smallint] NULL,
	[SHIFT_2_CAPACITY] [smallint] NULL,
	[SHIFT_3_CAPACITY] [smallint] NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[ORIGINAL_START_OF_DAY] [datetime] NULL,
	[ORIGINAL_SHIFT_1] [decimal](5, 3) NULL,
	[ORIGINAL_SHIFT_2] [decimal](5, 3) NULL,
	[ORIGINAL_SHIFT_3] [decimal](5, 3) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE]  WITH CHECK ADD  CONSTRAINT [FK_CAL_CHANGE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE] CHECK CONSTRAINT [FK_CAL_CHANGE_TO_SITE]
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE]  WITH CHECK ADD  CONSTRAINT [FKEY0126] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[SHOP_RESOURCE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE] CHECK CONSTRAINT [FKEY0126]
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE]  WITH CHECK ADD  CONSTRAINT [FKEY0267] FOREIGN KEY([SCHEDULE_ID])
REFERENCES [dbo].[SCHEDULE] ([ID])
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE] CHECK CONSTRAINT [FKEY0267]
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE]  WITH CHECK ADD  CONSTRAINT [CHK0020] CHECK  (([SHIFT_1_CAPACITY]>=(0) AND [SHIFT_1_CAPACITY]<=(255) AND [SHIFT_2_CAPACITY]>=(0) AND [SHIFT_2_CAPACITY]<=(255) AND [SHIFT_3_CAPACITY]>=(0) AND [SHIFT_3_CAPACITY]<=(255)))
GO
ALTER TABLE [dbo].[CALENDAR_CHANGE] CHECK CONSTRAINT [CHK0020]
GO
