USE [VECA]
GO
/****** Object:  Table [dbo].[PURC_LINE_BINARY]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURC_LINE_BINARY](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[PURC_ORDER_LINE_NO] [smallint] NOT NULL,
	[TYPE] [nchar](1) NOT NULL,
	[BITS] [image] NULL,
	[BITS_LENGTH] [int] NOT NULL,
 CONSTRAINT [PK_PURC_LINE_BINARY] PRIMARY KEY CLUSTERED 
(
	[PURC_ORDER_ID] ASC,
	[PURC_ORDER_LINE_NO] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURC_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [FKEY0169] FOREIGN KEY([PURC_ORDER_ID], [PURC_ORDER_LINE_NO])
REFERENCES [dbo].[PURC_ORDER_LINE] ([PURC_ORDER_ID], [LINE_NO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURC_LINE_BINARY] CHECK CONSTRAINT [FKEY0169]
GO
ALTER TABLE [dbo].[PURC_LINE_BINARY]  WITH CHECK ADD  CONSTRAINT [CHK0046] CHECK  (([TYPE]='D' OR [TYPE]='B'))
GO
ALTER TABLE [dbo].[PURC_LINE_BINARY] CHECK CONSTRAINT [CHK0046]
GO
