USE [VECA]
GO
/****** Object:  Table [dbo].[PURC_REQUISITION]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURC_REQUISITION](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[VENDOR_ID] [nvarchar](15) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_SALUTATION] [nvarchar](60) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[PURC_REQ_ADDR_NO] [int] NULL,
	[SHIPTO_ADDR_NO] [int] NULL,
	[REQUISITION_DATE] [datetime] NOT NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[BUYER] [nvarchar](20) NULL,
	[PREPARER] [nvarchar](20) NULL,
	[REQUESTOR] [nvarchar](20) NULL,
	[ASSIGNED_TO] [nvarchar](20) NULL,
	[APP1_DATE] [datetime] NULL,
	[APP2_DATE] [datetime] NULL,
	[APP3_DATE] [datetime] NULL,
	[APP4_DATE] [datetime] NULL,
	[FREE_ON_BOARD] [nvarchar](25) NULL,
	[SHIP_VIA] [nvarchar](40) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[SELL_RATE] [decimal](15, 8) NOT NULL,
	[BUY_RATE] [decimal](15, 8) NOT NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[TOTAL_AMT_ORDERED] [decimal](23, 8) NOT NULL,
	[MARKED_FOR_PURGE] [nchar](1) NOT NULL,
	[EXCH_RATE_FIXED] [nchar](1) NOT NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[SHIPFROM_ID] [nvarchar](20) NULL,
	[CARRIER_ID] [nvarchar](20) NULL,
	[TERMS_NET_TYPE] [nchar](1) NOT NULL,
	[TERMS_NET_DAYS] [smallint] NULL,
	[TERMS_NET_DATE] [datetime] NULL,
	[TERMS_DISC_DAYS] [smallint] NULL,
	[TERMS_DISC_DATE] [datetime] NULL,
	[TERMS_DISC_PERCENT] [decimal](5, 3) NULL,
	[TERMS_DESCRIPTION] [nvarchar](80) NULL,
	[TERMS_DISC_TYPE] [nchar](1) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CATEGORY_TYPE] [nvarchar](15) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[TERMS_ID] [nvarchar](15) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
	[CONTACT_PHONE_EXT] [nvarchar](10) NULL,
 CONSTRAINT [PK_PURC_REQISITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT (getdate()) FOR [REQUISITION_DATE]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT ('') FOR [STATUS]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_ORDERED]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT ('') FOR [MARKED_FOR_PURGE]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT ('') FOR [EXCH_RATE_FIXED]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT ('') FOR [TERMS_NET_TYPE]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT ('') FOR [TERMS_DISC_TYPE]
GO
ALTER TABLE [dbo].[PURC_REQUISITION] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[PURC_REQUISITION]  WITH CHECK ADD  CONSTRAINT [FK_PUR_REQ_CONT_ID] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([ID])
GO
ALTER TABLE [dbo].[PURC_REQUISITION] CHECK CONSTRAINT [FK_PUR_REQ_CONT_ID]
GO
ALTER TABLE [dbo].[PURC_REQUISITION]  WITH CHECK ADD  CONSTRAINT [FK_PURC_REQUISITION_00] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[PURC_REQUISITION] CHECK CONSTRAINT [FK_PURC_REQUISITION_00]
GO
ALTER TABLE [dbo].[PURC_REQUISITION]  WITH CHECK ADD  CONSTRAINT [FK_PURC_REQUISITION_01] FOREIGN KEY([SHIPTO_ADDR_NO])
REFERENCES [dbo].[SHIPTO_ADDRESS] ([ADDR_NO])
GO
ALTER TABLE [dbo].[PURC_REQUISITION] CHECK CONSTRAINT [FK_PURC_REQUISITION_01]
GO
ALTER TABLE [dbo].[PURC_REQUISITION]  WITH CHECK ADD  CONSTRAINT [FK_PURC_REQUISITION_02] FOREIGN KEY([VENDOR_ID])
REFERENCES [dbo].[VENDOR] ([ID])
GO
ALTER TABLE [dbo].[PURC_REQUISITION] CHECK CONSTRAINT [FK_PURC_REQUISITION_02]
GO
ALTER TABLE [dbo].[PURC_REQUISITION]  WITH CHECK ADD  CONSTRAINT [FK_PURC_REQUISITION_03] FOREIGN KEY([CURRENCY_ID])
REFERENCES [dbo].[CURRENCY] ([ID])
GO
ALTER TABLE [dbo].[PURC_REQUISITION] CHECK CONSTRAINT [FK_PURC_REQUISITION_03]
GO
ALTER TABLE [dbo].[PURC_REQUISITION]  WITH CHECK ADD  CONSTRAINT [FKEY9630] FOREIGN KEY([TERMS_ID])
REFERENCES [dbo].[TERMS] ([ID])
GO
ALTER TABLE [dbo].[PURC_REQUISITION] CHECK CONSTRAINT [FKEY9630]
GO
ALTER TABLE [dbo].[PURC_REQUISITION]  WITH CHECK ADD  CONSTRAINT [CK_PURC_REQUISITION] CHECK  ((([STATUS]='T' OR [STATUS]='I' OR [STATUS]='V' OR [STATUS]='O' OR [STATUS]='C' OR [STATUS]='X') AND ([MARKED_FOR_PURGE]='Y' OR [MARKED_FOR_PURGE]='N') AND ([TERMS_NET_TYPE]='A' OR [TERMS_NET_TYPE]='M' OR [TERMS_NET_TYPE]='D' OR [TERMS_NET_TYPE]='N' OR [TERMS_NET_TYPE]='E' OR [TERMS_NET_TYPE]='I') AND ([TERMS_DISC_TYPE]='A' OR [TERMS_DISC_TYPE]='M' OR [TERMS_DISC_TYPE]='D' OR [TERMS_DISC_TYPE]='N' OR [TERMS_DISC_TYPE]='E')))
GO
ALTER TABLE [dbo].[PURC_REQUISITION] CHECK CONSTRAINT [CK_PURC_REQUISITION]
GO
