USE [VECA]
GO
/****** Object:  Table [dbo].[CUST_ORDER_LINE]    Script Date: 4/9/2026 9:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_ORDER_LINE](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[CUSTOMER_PART_ID] [nvarchar](30) NULL,
	[LINE_STATUS] [nchar](1) NOT NULL,
	[ORDER_QTY] [decimal](20, 8) NOT NULL,
	[USER_ORDER_QTY] [decimal](20, 8) NOT NULL,
	[SELLING_UM] [nvarchar](15) NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[UNIT_PRICE] [decimal](22, 8) NOT NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NOT NULL,
	[EST_FREIGHT] [decimal](23, 8) NOT NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[SALES_TAX_GROUP_ID] [nvarchar](15) NULL,
	[MISC_REFERENCE] [nvarchar](120) NULL,
	[PRODUCT_CODE] [nvarchar](15) NULL,
	[COMMODITY_CODE] [nvarchar](15) NULL,
	[DRAWING_ID] [nvarchar](30) NULL,
	[DRAWING_REV_NO] [nvarchar](8) NULL,
	[GL_REVENUE_ACCT_ID] [nvarchar](30) NULL,
	[MAT_GL_ACCT_ID] [nvarchar](30) NULL,
	[LAB_GL_ACCT_ID] [nvarchar](30) NULL,
	[BUR_GL_ACCT_ID] [nvarchar](30) NULL,
	[SER_GL_ACCT_ID] [nvarchar](30) NULL,
	[LAST_SHIPPED_DATE] [datetime] NULL,
	[TOTAL_ACT_FREIGHT] [decimal](23, 8) NOT NULL,
	[TOTAL_SHIPPED_QTY] [decimal](20, 8) NOT NULL,
	[TOTAL_USR_SHIP_QTY] [decimal](20, 8) NOT NULL,
	[TOTAL_AMT_SHIPPED] [decimal](23, 8) NOT NULL,
	[TOTAL_AMT_ORDERED] [decimal](23, 8) NOT NULL,
	[PROMISE_DATE] [datetime] NULL,
	[SERVICE_CHARGE_ID] [nvarchar](15) NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](14, 4) NULL,
	[WIDTH] [decimal](14, 4) NULL,
	[HEIGHT] [decimal](14, 4) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
	[VAT_CODE] [nvarchar](15) NULL,
	[EDI_BLANKET_QTY] [decimal](20, 8) NULL,
	[EDI_BLANKET_USRQTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_QTY_REL] [decimal](20, 8) NULL,
	[EDI_ACCUM_USR_REL] [decimal](20, 8) NULL,
	[EDI_ACCUM_QTY_REC] [decimal](20, 8) NULL,
	[EDI_ACCUM_USR_REC] [decimal](20, 8) NULL,
	[EDI_LAST_REC_DATE] [datetime] NULL,
	[EDI_RELEASE_NO] [nvarchar](30) NULL,
	[EDI_RELEASE_DATE] [datetime] NULL,
	[EDI_QTY_RELEASED] [decimal](20, 8) NULL,
	[EDI_USR_QTY_REL] [decimal](20, 8) NULL,
	[EDI_REQ_REL_DATE] [datetime] NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[WIP_VAS_UNIT_PRICE] [decimal](22, 8) NOT NULL,
	[TYPE] [nchar](15) NULL,
	[ALLOCATED_QTY] [decimal](20, 8) NOT NULL,
	[FULFILLED_QTY] [decimal](20, 8) NOT NULL,
	[ACCEPT_EARLY] [nchar](1) NULL,
	[DAYS_EARLY] [smallint] NULL,
	[ORDER_TYPE] [nvarchar](20) NULL,
	[HTS_CODE] [nvarchar](20) NULL,
	[ORIG_COUNTRY_ID] [nvarchar](50) NULL,
	[EDI_ACCUM_FAB_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_RAW_QTY] [decimal](20, 8) NULL,
	[ACK_ID] [nvarchar](15) NULL,
	[EDI_LAST_SHIPDATE] [datetime] NULL,
	[EDI_ACCUM_SHIP_QTY] [decimal](20, 8) NULL,
	[EDI_ACCUM_SHIP_ADJ] [decimal](20, 8) NULL,
	[USER_1] [nvarchar](80) NULL,
	[USER_2] [nvarchar](80) NULL,
	[USER_3] [nvarchar](80) NULL,
	[USER_4] [nvarchar](80) NULL,
	[USER_5] [nvarchar](80) NULL,
	[USER_6] [nvarchar](80) NULL,
	[USER_7] [nvarchar](80) NULL,
	[USER_8] [nvarchar](80) NULL,
	[USER_9] [nvarchar](80) NULL,
	[USER_10] [nvarchar](80) NULL,
	[UDF_LAYOUT_ID] [nvarchar](15) NULL,
	[SEND_ACK] [nchar](1) NULL,
	[vat_category] [nvarchar](15) NULL,
	[ITA_SPECIAL_CHARGE] [nvarchar](1) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[WBS_CLIN] [nvarchar](15) NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[WBS_CONTRACT_TYPE] [nvarchar](15) NULL,
	[EC_ID] [nvarchar](15) NULL,
	[MOD_NUMBER] [int] NULL,
	[MARKED_FOR] [nvarchar](250) NULL,
	[BACKORDER_FLAG] [nchar](1) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[OWNER_ID] [nvarchar](15) NULL,
	[TRACE_QTY] [decimal](20, 8) NULL,
	[QA_QTY] [decimal](20, 8) NULL,
	[MARK_FOR_ID] [nvarchar](20) NULL,
	[WSA_REF_NO_1] [nvarchar](30) NULL,
	[WSA_REF_NO_2] [nvarchar](30) NULL,
	[SHIP_ORDER_STATUS] [nvarchar](2) NULL,
	[LINE_ITEM_CHG_RSN] [nvarchar](2) NULL,
	[DD250_REQUIRED] [nchar](1) NULL,
	[BILLING_BASIS] [nchar](1) NULL,
	[FUNDED_VALUE] [decimal](23, 8) NULL,
	[DC_CLASS_ID] [nchar](1) NULL,
	[DISPATCHED] [nchar](1) NULL,
	[TRANS_CATEGORY_ID] [nvarchar](15) NULL,
	[ORIG_STAGE_REVISION_ID] [nvarchar](24) NULL,
	[STATUS_EFF_DATE] [datetime] NOT NULL,
	[PROMISE_DEL_DATE] [datetime] NULL,
	[PRICE_NOTE] [nvarchar](255) NULL,
	[DISCOUNT_NOTE] [nvarchar](255) NULL,
	[FREIGHT_NOTE] [nvarchar](255) NULL,
	[COMMISSION_NOTE] [nvarchar](255) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
	[ENTERED_BY] [nvarchar](20) NULL,
	[EMAIL_NOTIFICATION] [nchar](1) NOT NULL,
	[PRICE_GROUP_ID] [nvarchar](15) NULL,
	[POSTING_CANDIDATE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_CUST_ORDER_LINE] PRIMARY KEY CLUSTERED 
(
	[CUST_ORDER_ID] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ('') FOR [LINE_STATUS]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [UNIT_PRICE]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TRADE_DISC_PERCENT]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [EST_FREIGHT]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_ACT_FREIGHT]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_SHIPPED_QTY]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_USR_SHIP_QTY]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_SHIPPED]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [TOTAL_AMT_ORDERED]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [WIP_VAS_UNIT_PRICE]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [ALLOCATED_QTY]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ((0)) FOR [FULFILLED_QTY]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT (getdate()) FOR [STATUS_EFF_DATE]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ('D') FOR [EMAIL_NOTIFICATION]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] ADD  DEFAULT ('N') FOR [POSTING_CANDIDATE]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FK_CO_LINE_TRX_CAT] FOREIGN KEY([TRANS_CATEGORY_ID])
REFERENCES [dbo].[TRANS_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FK_CO_LINE_TRX_CAT]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FK_CUST_ORD_LINE_TO_SITE] FOREIGN KEY([SITE_ID])
REFERENCES [dbo].[SITE] ([ID])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FK_CUST_ORD_LINE_TO_SITE]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0037] FOREIGN KEY([SELLING_UM])
REFERENCES [dbo].[UNITS] ([UNIT_OF_MEASURE])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FKEY0037]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0045] FOREIGN KEY([SALES_TAX_GROUP_ID])
REFERENCES [dbo].[SALES_TAX_GROUP] ([ID])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FKEY0045]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0100] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FKEY0100]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0156] FOREIGN KEY([CUST_ORDER_ID])
REFERENCES [dbo].[CUSTOMER_ORDER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FKEY0156]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY0271] FOREIGN KEY([SER_GL_ACCT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FKEY0271]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9536] FOREIGN KEY([ACK_ID])
REFERENCES [dbo].[VMDI_ACK_CODES] ([ACK_ID])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FKEY9536]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [FKEY9584] FOREIGN KEY([vat_category])
REFERENCES [dbo].[VAT_CATEGORY] ([id])
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [FKEY9584]
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE]  WITH CHECK ADD  CONSTRAINT [CHK9039] CHECK  (([LINE_STATUS]='A' OR [LINE_STATUS]='C'))
GO
ALTER TABLE [dbo].[CUST_ORDER_LINE] CHECK CONSTRAINT [CHK9039]
GO
