USE [VECA]
GO
/****** Object:  Table [dbo].[TRACE_NUMBERING]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACE_NUMBERING](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ID] [nvarchar](30) NOT NULL,
	[NEXT_NUMBER] [decimal](15, 0) NULL,
	[ALPHA_PREFIX] [nvarchar](4) NULL,
	[ALPHA_SUFFIX] [nvarchar](4) NULL,
	[DECIMAL_PLACES] [smallint] NULL,
	[LEADING_ZEROS] [nchar](1) NULL,
 CONSTRAINT [PK_TRACE_NUMBERING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRACE_NUMBERING]  WITH CHECK ADD  CONSTRAINT [CHK_TRACE_NUMBERING] CHECK  (([DECIMAL_PLACES]>=(3) AND [DECIMAL_PLACES]<=(15)))
GO
ALTER TABLE [dbo].[TRACE_NUMBERING] CHECK CONSTRAINT [CHK_TRACE_NUMBERING]
GO
