USE [VECA]
GO
/****** Object:  Table [dbo].[V_NAVBAR]    Script Date: 4/9/2026 9:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_NAVBAR](
	[ID] [nvarchar](50) NOT NULL,
	[PARENT_NAVBAR_ID] [nvarchar](50) NULL,
	[POSITION] [smallint] NULL,
	[TYPE] [nvarchar](15) NULL,
	[USER_ID] [nvarchar](15) NULL,
	[ENABLED] [smallint] NULL,
	[VISIBLE] [smallint] NULL,
	[LOCKED] [smallint] NULL,
	[LONG_DESC] [nvarchar](254) NULL,
	[ACTION] [nvarchar](254) NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_NAVBAR_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
