USE [VECA]
GO
/****** Object:  Table [dbo].[V_COUNTY_CODE]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[V_COUNTY_CODE](
	[COUNTY_NAME] [nvarchar](20) NOT NULL,
	[STATE] [nvarchar](10) NOT NULL,
	[CODE] [nvarchar](3) NOT NULL,
	[LAST_MODIFIED] [datetime] NULL,
	[LAST_USER] [nvarchar](15) NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [X_V_COUNTY_CODE_0] PRIMARY KEY CLUSTERED 
(
	[COUNTY_NAME] ASC,
	[STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
