USE [VECA]
GO
/****** Object:  Table [dbo].[SERIES_MODEL_PART]    Script Date: 4/9/2026 9:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIES_MODEL_PART](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SERIES_ID] [nvarchar](15) NOT NULL,
	[MODEL_ID] [nvarchar](15) NOT NULL,
	[PART_ID] [nvarchar](30) NULL,
	[ENG_ID] [nvarchar](3) NULL,
	[SITE_ID] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SERIES_MODEL_PART] PRIMARY KEY CLUSTERED 
(
	[SERIES_ID] ASC,
	[MODEL_ID] ASC,
	[SITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SERIES_MODEL_PART]  WITH CHECK ADD  CONSTRAINT [FKEY0109] FOREIGN KEY([PART_ID])
REFERENCES [dbo].[PART] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERIES_MODEL_PART] CHECK CONSTRAINT [FKEY0109]
GO
