USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_PAYABLE_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_PAYABLE_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[INVOICE_ENTITY_ID] [nvarchar](15) NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[CODE_1099_DIST] [nvarchar](15) NULL,
	[CODE_1099_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[DISC_ALLOWED] [int] NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[FIXED_CHARGE] [decimal](20, 3) NULL,
	[FOB_DATE] [datetime] NULL,
	[FREIGHT_LINE] [int] NULL,
	[FREIGHT_DISTRIBUTION] [int] NULL,
	[INSTANCE_NAME] [nvarchar](30) NULL,
	[MATCHED] [int] NULL,
	[MINIMUM_CHARGE] [decimal](20, 3) NULL,
	[ORIG_INVOICE_ID] [nvarchar](15) NULL,
	[ORIG_INV_LINE_NO] [smallint] NULL,
	[PO_ACCOUNT_ID] [nvarchar](30) NULL,
	[PO_ACT_FREIGHT] [decimal](20, 3) NULL,
	[PO_DISC_PERCENT] [decimal](6, 3) NULL,
	[PO_RECV_QTY] [decimal](20, 8) NULL,
	[PO_UNIT_PRICE] [decimal](22, 8) NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[PROJ_COST_CAT_ID] [nvarchar](15) NULL,
	[PROJ_DEPT_ID] [nvarchar](15) NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PURC_ACCR_ACCT_ID] [nvarchar](30) NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[QTY] [decimal](20, 8) NULL,
	[RECEIVED_DATE] [datetime] NULL,
	[RECEIVER_ID] [nvarchar](15) NULL,
	[RECEIVER_LINE_NO] [smallint] NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[TRANS_CAT_ID] [nvarchar](15) NULL,
	[TAX_CAT_ID] [nvarchar](15) NULL,
	[USER_AMOUNT] [decimal](20, 3) NULL,
	[WBS] [nvarchar](30) NULL,
	[WH_TAX_GROUP_ID] [nvarchar](15) NULL,
	[EURO_RATE] [decimal](15, 8) NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
	[USER_XCHG_RATE] [decimal](15, 8) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[SITE_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
