USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_RECEIVER]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_RECEIVER](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[CLOSED] [int] NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[RECEIVED_DATE] [datetime] NULL,
	[SHIP_REASON_ID] [nvarchar](15) NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[SUPP_BANK_ID] [nvarchar](30) NULL,
	[SUPP_BANK_ACCT_NO] [nvarchar](30) NULL,
	[BOL_ID] [nvarchar](20) NULL,
	[XCHG_RATE_DEF_RCPT] [int] NULL,
	[SUPP_PACK_ID] [nvarchar](40) NULL,
	[COSTING_SOURCE] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
