USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_FILE_FORMAT]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_FILE_FORMAT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[FILE_TYPE] [nvarchar](32) NOT NULL,
	[FORMAT_ID] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[DOCUMENT_DATASOURCE] [nvarchar](100) NULL,
	[DOCUMENT_TYPE] [nvarchar](32) NULL,
	[USER_EDIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
