USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_RCR_RECV_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_RCR_RECV_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[RCR_ENTITY_ID] [nvarchar](15) NOT NULL,
	[RCR_RECEIVABLE_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[USER_XCHG_RATE] [decimal](15, 8) NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[COMMISSION_AMOUNT] [decimal](20, 3) NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[QTY] [decimal](20, 8) NULL,
	[FREIGHT_LINE] [int] NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[TRANS_CAT_ID] [nvarchar](15) NULL,
	[TAX_CAT_ID] [nvarchar](15) NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
