USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_NOTATION]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_NOTATION](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[DATA_IDENTITY] [nvarchar](12) NOT NULL,
	[NOTATION_DATE] [datetime] NOT NULL,
	[FOLLOWUP_DATE] [datetime] NULL,
	[NOTE] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
