USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_RECEIVER_LINE_DEL]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_RECEIVER_LINE_DEL](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[RECEIVER_ENTITY_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_LINE_NO] [smallint] NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PIECE_COUNT] [int] NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[PURC_DEL_LINE_NO] [smallint] NULL,
	[QTY] [decimal](20, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
