USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_PAY_RUN_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_PAY_RUN_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[PAY_RUN_ENTITY_ID] [nvarchar](15) NOT NULL,
	[PAY_RUN_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PAYMENT_ID] [nvarchar](15) NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[REMIT_TO_NAME] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_1] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_2] [nvarchar](50) NULL,
	[REMIT_TO_CITY] [nvarchar](30) NULL,
	[REMIT_TO_STATE] [nvarchar](10) NULL,
	[REMIT_TO_POSTALCODE] [nvarchar](10) NULL,
	[REMIT_TO_COUNTRY] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_3] [nvarchar](50) NULL,
	[REMIT_TO_CNTRY_CD_ID] [nvarchar](15) NULL,
	[LINE_STATUS] [nvarchar](32) NULL,
	[LAST_PMT_PROCESSED] [int] NULL,
	[REMIT_ALT_ADDR_NO] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
