USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_WORKFLOW_ATTACHMENT]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_WORKFLOW_ATTACHMENT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SENT_FROM] [nvarchar](20) NOT NULL,
	[SENT_TO] [nvarchar](20) NOT NULL,
	[SENT_ON] [datetime] NOT NULL,
	[SEQ_NO] [smallint] NOT NULL,
	[ATTACHMENT_TYPE] [nvarchar](80) NULL,
	[ATTACHMENT] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
