USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUSTOMER_CONTACT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUSTOMER_CONTACT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[CONTACT_NO] [smallint] NOT NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[CONTACT_FAX] [nvarchar](20) NULL,
	[CONTACT_FIRST_NAME] [nvarchar](30) NULL,
	[CONTACT_HONORIFIC] [nvarchar](15) NULL,
	[CONTACT_INITIAL] [nvarchar](2) NULL,
	[CONTACT_LAST_NAME] [nvarchar](30) NULL,
	[CONTACT_MOBILE] [nvarchar](20) NULL,
	[CONTACT_PHONE] [nvarchar](20) NULL,
	[CONTACT_POSITION] [nvarchar](50) NULL,
	[CONTACT_TYPE_ID] [nvarchar](15) NULL,
	[WEB_PASSWORD] [nvarchar](50) NULL,
	[WEB_USER_ID] [nvarchar](20) NULL,
	[VE_INSTANCE_NAME] [nvarchar](30) NULL,
	[CONTACT_ID] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
