USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_PROJECT_REFERENCE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_PROJECT_REFERENCE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[PROJECT_ID] [nvarchar](15) NOT NULL,
	[WBS] [nvarchar](30) NOT NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NOT NULL,
	[PROJ_REF_SEQ_NO] [smallint] NOT NULL,
	[ACTIVE_FLAG] [int] NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[SITE_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
