USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_RECEIVER_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_RECEIVER_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[RECEIVER_ENTITY_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NULL,
	[PURC_ORDER_LINE_NO] [smallint] NULL,
	[QTY] [decimal](20, 8) NULL,
	[INSPECT_QTY] [decimal](20, 8) NULL,
	[REJECTED_QTY] [decimal](20, 8) NULL,
	[INVOICED_QTY] [decimal](20, 8) NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NULL,
	[PO_UNIT_PRICE] [decimal](22, 8) NULL,
	[FIXED_CHARGE] [decimal](20, 3) NULL,
	[MINIMUM_CHARGE] [decimal](20, 3) NULL,
	[INVOICED_FIXED_CHARGE] [decimal](20, 3) NULL,
	[INVOICED_FREIGHT_AMOUNT] [decimal](20, 3) NULL,
	[INVOICED_LANDED_COST] [decimal](20, 3) NULL,
	[INVOICED_MINIMUM_CHARGE] [decimal](20, 3) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[FREIGHT] [decimal](20, 3) NULL,
	[DESCRIPTION] [nvarchar](120) NULL,
	[DESCRIPTION_2] [nvarchar](120) NULL,
	[PURC_ACCR_ACCT_ID] [nvarchar](30) NULL,
	[PURCHASE_UM] [nvarchar](15) NULL,
	[STOCK_UM] [nvarchar](15) NULL,
	[CONVERSION_FACTOR] [decimal](15, 8) NULL,
	[EXP_ACCOUNT_ID] [nvarchar](30) NULL,
	[INVOICE_UNIT_PRICE] [decimal](22, 8) NULL,
	[CURRENT_RCV_LINE_VALUE] [decimal](20, 3) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[PART_ID] [nvarchar](30) NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[WORKORDER_ID] [nvarchar](30) NULL,
	[CLOSED_DATE] [datetime] NULL,
	[INVOICED_LANDED_U_PRICE] [decimal](22, 8) NULL,
	[COSTED] [int] NULL,
	[CLOSED_POSTED_DATE] [datetime] NULL,
	[CONSUMABLE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
