USE [VFIN]
GO
/****** Object:  Table [dbo].[LSA_ROLE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_ROLE](
	[ROLE_NAME] [nvarchar](20) NOT NULL,
	[PASSWORD_ALENGTH] [int] NULL,
	[PASSWORD_NLENGTH] [int] NULL,
	[PASSWORD_SIM] [int] NULL,
	[PASSWORD_INTERVAL] [int] NULL,
	[PASSWORD_REUSE] [int] NULL,
	[PASSWORD_FAILS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
