USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_INSTALLMENT_RULE]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_INSTALLMENT_RULE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[INIT_AMOUNT] [decimal](20, 3) NULL,
	[INIT_PERCENT] [decimal](6, 3) NULL,
	[INIT_TERMS_ID] [nvarchar](15) NULL,
	[INSTALLMENTS] [smallint] NULL,
	[INSTALL_TERMS_ID] [nvarchar](15) NULL,
	[END_AMOUNT] [decimal](20, 3) NULL,
	[END_PERCENT] [decimal](6, 3) NULL,
	[END_TERMS_ID] [nvarchar](15) NULL,
	[USE_PERCENTS] [int] NULL,
	[INIT_PAY_METHOD_ID] [nvarchar](15) NULL,
	[REG_PAY_METHOD_ID] [nvarchar](15) NULL,
	[END_PAY_METHOD_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
