USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_DEP_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_DEP_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[DEPOSIT_ENTITY_ID] [nvarchar](15) NOT NULL,
	[DEPOSIT_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[AMOUNT_IN_BANK_CURR] [decimal](20, 3) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
	[EURO_RATE] [decimal](15, 8) NULL,
	[USER_XCHG_RATE] [decimal](15, 8) NULL,
	[PAYMENT_ID] [nvarchar](15) NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[CHECK_NO] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
