USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUST_ORDER_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUST_ORDER_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUST_ENTITY_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[PROMISE_DATE] [datetime] NULL,
	[ORDER_STATUS] [nvarchar](32) NULL,
	[PRODUCT_ID] [nvarchar](15) NULL,
	[CUSTOMER_PART_ID] [nvarchar](30) NULL,
	[COMMODITY_ID] [nvarchar](15) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[ORDER_QTY] [decimal](20, 8) NULL,
	[TOTAL_ORDERED] [decimal](20, 3) NULL,
	[TOTAL_TAX] [decimal](20, 3) NULL,
	[TOTAL_FREIGHT] [decimal](20, 3) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[COMMISSION_AMOUNT] [decimal](20, 3) NULL,
	[CONFIG_XML] [nvarchar](max) NULL,
	[WAREHOUSE_ID] [nvarchar](15) NULL,
	[BILLING_BASIS] [nvarchar](1) NULL,
	[WBS_CODE] [nvarchar](30) NULL,
	[WBS_CLIN] [nvarchar](15) NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](20, 8) NULL,
	[WIDTH] [decimal](20, 8) NULL,
	[HEIGHT] [decimal](20, 8) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
