USE [VFIN]
GO
/****** Object:  View [dbo].[STMT_MAILING_LIST]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[STMT_MAILING_LIST]
AS
SELECT DISTINCT 
RECEIVABLES_CUSTOMER.ID, 
RECEIVABLES_CUSTOMER.NAME, 
RECEIVABLES_CUSTOMER.ADDR_1, 
RECEIVABLES_CUSTOMER.ADDR_2, 
RECEIVABLES_CUSTOMER.ADDR_3, 
RECEIVABLES_CUSTOMER.CITY, 
RECEIVABLES_CUSTOMER.STATE, 
RECEIVABLES_CUSTOMER.COUNTRY, 
RECEIVABLES_CUSTOMER.POSTALCODE, 
RECEIVABLES_CUSTOMER.TERRITORY_ID
FROM VFIN.dbo.CASHMGMT_PAYMENT CASHMGMT_PAYMENT, VFIN.dbo.RECEIVABLES_CUSTOMER RECEIVABLES_CUSTOMER
WHERE RECEIVABLES_CUSTOMER.ID = CASHMGMT_PAYMENT.CUSTOMER_ID AND ((amount-amount_applied<>.000))

UNION

SELECT DISTINCT 
RECEIVABLES_CUSTOMER.ID, 
RECEIVABLES_CUSTOMER.NAME, 
RECEIVABLES_CUSTOMER.ADDR_1, 
RECEIVABLES_CUSTOMER.ADDR_2, 
RECEIVABLES_CUSTOMER.ADDR_3, 
RECEIVABLES_CUSTOMER.CITY, 
RECEIVABLES_CUSTOMER.STATE, 
RECEIVABLES_CUSTOMER.COUNTRY, 
RECEIVABLES_CUSTOMER.POSTALCODE, 
RECEIVABLES_CUSTOMER.TERRITORY_ID
FROM VFIN.dbo.RECEIVABLES_CUSTOMER RECEIVABLES_CUSTOMER, VFIN.dbo.RECEIVABLES_RECEIVABLE RECEIVABLES_RECEIVABLE
WHERE RECEIVABLES_RECEIVABLE.CUSTOMER_ID = RECEIVABLES_CUSTOMER.ID AND ((RECEIVABLES_RECEIVABLE.INVOICE_STATUS Not In ('VOID','CLOSED')))


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'STMT_MAILING_LIST'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'STMT_MAILING_LIST'
GO
