USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_ENTITY_ROLE]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_ENTITY_ROLE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[ROLE_NAME] [nvarchar](20) NOT NULL,
	[SEQ_NO] [smallint] NULL,
	[SECURITY_LEVEL] [smallint] NULL,
	[MAX_MISMATCH_OVER] [decimal](6, 3) NULL,
	[MAX_MISMATCH_UNDER] [decimal](6, 3) NULL,
	[XCHG_TOLERANCE] [decimal](6, 3) NULL,
	[INSPECT_OVR_ALLOW] [int] NULL,
	[ON_FLY_ALLOW] [int] NULL,
	[INACT_ACCT_OVR_ALLOW] [int] NULL,
	[DEP_ABSORB_OVR_ALLOW] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
