USE [VFIN]
GO
/****** Object:  Table [dbo].[COR_PROPERTY]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COR_PROPERTY](
	[C_ID] [bigint] IDENTITY(0,1) NOT NULL,
	[C_PROPERTY_NAME] [varchar](250) NOT NULL,
	[C_PROPERTY_VALUE] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
