USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_ADJ_CURR]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_ADJ_CURR](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[BANK_ADJ_ENTITY_ID] [nvarchar](15) NOT NULL,
	[ADJUSTMENT_ID] [nvarchar](15) NOT NULL,
	[FROM_CURRENCY_ID] [nvarchar](15) NOT NULL,
	[TO_CURRENCY_ID] [nvarchar](15) NOT NULL,
	[LOOKUP_DATE] [datetime] NOT NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
	[EURO_RATE] [decimal](15, 8) NULL,
	[XCHG_DEVIATION] [decimal](6, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
