USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_CASH_PLAN_AMOUNT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_CASH_PLAN_AMOUNT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CASH_PLAN_ENTITY_ID] [nvarchar](15) NOT NULL,
	[CASH_PLAN_ID] [nvarchar](15) NOT NULL,
	[CASH_PLAN_LINE_NO] [smallint] NOT NULL,
	[YEAR] [int] NOT NULL,
	[PERIOD] [int] NOT NULL,
	[DEBIT_AMOUNT] [decimal](20, 3) NULL,
	[CREDIT_AMOUNT] [decimal](20, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
