USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_ENTITY_LANGUAGE]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_ENTITY_LANGUAGE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[LANGUAGE_ID] [nvarchar](2) NOT NULL,
	[LANGUAGE_DEFAULT] [int] NULL,
	[INV_REPORT_FILE_NAME] [nvarchar](250) NULL,
	[MEMO_REPORT_FILE_NAME] [nvarchar](250) NULL,
	[STMT_REPORT_FILE_NAME] [nvarchar](250) NULL,
	[STMT_OPEN_REPORT_FILE_NAME] [nvarchar](250) NULL,
	[STMT_REPORT_PARENT_FILE_NAME] [nvarchar](250) NULL,
	[STMT_OPEN_RPT_PARENT_FILE_NAME] [nvarchar](250) NULL,
	[INV_REPORT_NAME] [nvarchar](100) NULL,
	[MEMO_REPORT_NAME] [nvarchar](100) NULL,
	[STMT_REPORT_NAME] [nvarchar](100) NULL,
	[STMT_REPORT_PARENT_NAME] [nvarchar](100) NULL,
	[STMT_OPEN_REPORT_NAME] [nvarchar](100) NULL,
	[STMT_OPEN_RPT_PARENT_NAME] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
