USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_ENTITY_ADDRESS]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_ENTITY_ADDRESS](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[ADDRESS_ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[POSTALCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[COUNTRY_CODE_ID] [nvarchar](15) NULL,
	[IS_MAIN_ADDRESS] [int] NULL,
	[IS_DEF_REMIT_TO] [int] NULL,
	[IS_REMIT_TO] [int] NULL,
	[RECV_BANK_ACCT_ID] [nvarchar](15) NULL,
	[FED_TAX_ID_NUMBER] [nvarchar](25) NULL,
	[ST_TAX_ID_NUMBER] [nvarchar](25) NULL,
	[CNTY_TAX_ID_NUMBER] [nvarchar](25) NULL,
	[CITY_TAX_ID_NUMBER] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
