USE [VFIN]
GO
/****** Object:  Table [dbo].[LSA_LOGINS]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_LOGINS](
	[MACHINE_ID] [nvarchar](150) NOT NULL,
	[PROGRAM_ID] [nvarchar](30) NOT NULL,
	[LICENSE_NUMBER] [nvarchar](60) NOT NULL,
	[LOGIN_TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LICENSE_NUMBER] ASC,
	[MACHINE_ID] ASC,
	[PROGRAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
