USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_PAYMENT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_PAYMENT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[PAYMENT_ID] [nvarchar](15) NOT NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[CHECK_NO] [nvarchar](15) NULL,
	[CLEARED_DATE] [datetime] NULL,
	[STATEMENT_DATE] [datetime] NULL,
	[DEPOSIT_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[AMOUNT_APPLIED] [decimal](20, 3) NULL,
	[OVERSHORT_APPLIED] [decimal](20, 3) NULL,
	[TAX_AMOUNT] [decimal](20, 3) NULL,
	[WITHHOLDING_AMOUNT] [decimal](20, 3) NULL,
	[PAYMENT_STATUS] [nvarchar](32) NULL,
	[PAYMENT_TYPE] [nvarchar](32) NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[PRINTED_DATE] [datetime] NULL,
	[POSTED] [int] NULL,
	[REVALUED] [int] NULL,
	[REVALUED_ON_DATE] [datetime] NULL,
	[VOID_DATE] [datetime] NULL,
	[VOID_CLEARED_DATE] [datetime] NULL,
	[VOID_STATEMENT_DATE] [datetime] NULL,
	[TAX_BOOK_ID] [nvarchar](15) NULL,
	[WH_TAX_GROUP_ID] [nvarchar](15) NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[AMOUNT_OVRD] [nvarchar](80) NULL,
	[OVERSHORT_OVRD] [nvarchar](80) NULL,
	[DISCOUNT_OVRD] [nvarchar](80) NULL,
	[FIN_CHG_OVRD] [nvarchar](80) NULL,
	[XCHG_TOL_OVRD] [nvarchar](80) NULL,
	[RELATED_PARTY_FLAG] [int] NULL,
	[CREDIT_CARD_NUMBER] [nvarchar](60) NULL,
	[CREDIT_CARD_EXPIRE] [datetime] NULL,
	[CREDIT_CARD_AUTH] [nvarchar](30) NULL,
	[REMIT_TO_NAME] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_1] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_2] [nvarchar](50) NULL,
	[REMIT_TO_CITY] [nvarchar](30) NULL,
	[REMIT_TO_STATE] [nvarchar](10) NULL,
	[REMIT_TO_POSTALCODE] [nvarchar](10) NULL,
	[REMIT_TO_COUNTRY] [nvarchar](50) NULL,
	[REMIT_TO_ADDR_3] [nvarchar](50) NULL,
	[REMIT_TO_CNTRY_CD_ID] [nvarchar](15) NULL,
	[PAY_RUN_ID] [nvarchar](15) NULL,
	[REMIT_ALT_ADDR_NO] [smallint] NULL,
	[STATUS_CHANGE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
