USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_PURC_ORDER_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_PURC_ORDER_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[PURC_ENTITY_ID] [nvarchar](15) NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[PRODUCT_ID] [nvarchar](15) NULL,
	[COMMODITY_ID] [nvarchar](15) NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[EXP_ACCOUNT_ID] [nvarchar](30) NULL,
	[ORDER_QTY] [decimal](20, 8) NULL,
	[ORDER_STATUS] [nvarchar](32) NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[PROJ_COST_CAT_ID] [nvarchar](15) NULL,
	[PROJ_DEPT_ID] [nvarchar](15) NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[RECEIVED_QTY] [decimal](20, 8) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TOTAL_ORDERED] [decimal](20, 3) NULL,
	[TOTAL_TAX] [decimal](20, 3) NULL,
	[TOTAL_FREIGHT] [decimal](20, 3) NULL,
	[WBS] [nvarchar](30) NULL,
	[EST_FREIGHT] [decimal](20, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
