USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_DIRECT_JOURNAL]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_DIRECT_JOURNAL](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[DIRECT_JOURNAL_ID] [nvarchar](15) NOT NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[APPORTIONMENT_ID] [nvarchar](15) NULL,
	[CONSOLIDATION_ID] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[ENTRY_DATE] [datetime] NULL,
	[POSTED] [int] NULL,
	[ADJUSTMENT] [int] NULL,
	[VOID] [int] NULL,
	[AMOUNT_OVRD] [nvarchar](80) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
