USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_RECEIVABLE_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_RECEIVABLE_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[INVOICE_ENTITY_ID] [nvarchar](15) NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[QTY] [decimal](20, 8) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[USER_AMOUNT] [decimal](20, 3) NULL,
	[PRIOR_BILLING_AMT] [decimal](20, 3) NULL,
	[EXTENDED_AMOUNT] [decimal](20, 3) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
	[EURO_RATE] [decimal](15, 8) NULL,
	[USER_XCHG_RATE] [decimal](15, 8) NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[COMMISSION_AMOUNT] [decimal](20, 3) NULL,
	[USER_COMMISSION_AMT] [decimal](20, 3) NULL,
	[COMMISSION_ADJ_AMOUNT] [decimal](20, 3) NULL,
	[USER_COMMISSION_ADJ_AMT] [decimal](20, 3) NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[CUST_ORDER_LINE_NO] [smallint] NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[SHIPPER_DRAFT] [int] NULL,
	[SHIPPER_ID] [nvarchar](15) NULL,
	[SHIPPER_LINE_NO] [smallint] NULL,
	[REFERENCE] [nvarchar](160) NULL,
	[FREIGHT_LINE] [int] NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[SHIP_TO_NAME] [nvarchar](50) NULL,
	[SHIP_TO_ADDR_1] [nvarchar](50) NULL,
	[SHIP_TO_ADDR_2] [nvarchar](50) NULL,
	[SHIP_TO_CITY] [nvarchar](30) NULL,
	[SHIP_TO_STATE] [nvarchar](10) NULL,
	[SHIP_TO_POSTCODE] [nvarchar](10) NULL,
	[SHIP_TO_COUNTRY] [nvarchar](50) NULL,
	[SHIP_TO_ADDR_3] [nvarchar](50) NULL,
	[SHIP_TO_CNTRY_CD_ID] [nvarchar](15) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[TERRITORY_ID] [nvarchar](15) NULL,
	[ORIG_INVOICE_ID] [nvarchar](15) NULL,
	[ORIG_INV_LINE_NO] [smallint] NULL,
	[FOB_DATE] [datetime] NULL,
	[CUSTOMER_PO_REF] [nvarchar](40) NULL,
	[TRANS_CAT_ID] [nvarchar](15) NULL,
	[TAX_CAT_ID] [nvarchar](15) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
