USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_TAX_PCT]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_TAX_PCT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[TAX_ID] [nvarchar](15) NOT NULL,
	[EFFECTIVE_DATE] [datetime] NOT NULL,
	[RCV_PERCENT] [decimal](6, 3) NULL,
	[AMOUNT_1] [decimal](20, 3) NULL,
	[MIN_TAXABLE_AMOUNT] [decimal](20, 3) NULL,
	[AMOUNT_2] [decimal](20, 3) NULL,
	[AMOUNT_3] [decimal](20, 3) NULL,
	[AMOUNT_4] [decimal](20, 3) NULL,
	[AMOUNT_5] [decimal](20, 3) NULL,
	[AMOUNT_6] [decimal](20, 3) NULL,
	[AMOUNT_7] [decimal](20, 3) NULL,
	[AMOUNT_8] [decimal](20, 3) NULL,
	[AMOUNT_9] [decimal](20, 3) NULL,
	[AMOUNT_10] [decimal](20, 3) NULL,
	[AMOUNT_11] [decimal](20, 3) NULL,
	[AMOUNT_12] [decimal](20, 3) NULL,
	[AMOUNT_13] [decimal](20, 3) NULL,
	[AMOUNT_14] [decimal](20, 3) NULL,
	[AMOUNT_15] [decimal](20, 3) NULL,
	[TAX_ALLOWANCE_PCT] [decimal](6, 3) NULL,
	[TAX_PERCENT_1] [decimal](6, 3) NULL,
	[TAX_PERCENT_2] [decimal](6, 3) NULL,
	[TAX_PERCENT_3] [decimal](6, 3) NULL,
	[TAX_PERCENT_4] [decimal](6, 3) NULL,
	[TAX_PERCENT_5] [decimal](6, 3) NULL,
	[TAX_PERCENT_6] [decimal](6, 3) NULL,
	[TAX_PERCENT_7] [decimal](6, 3) NULL,
	[TAX_PERCENT_8] [decimal](6, 3) NULL,
	[TAX_PERCENT_9] [decimal](6, 3) NULL,
	[TAX_PERCENT_10] [decimal](6, 3) NULL,
	[TAX_PERCENT_11] [decimal](6, 3) NULL,
	[TAX_PERCENT_12] [decimal](6, 3) NULL,
	[TAX_PERCENT_13] [decimal](6, 3) NULL,
	[TAX_PERCENT_14] [decimal](6, 3) NULL,
	[TAX_PERCENT_15] [decimal](6, 3) NULL,
	[TAX_PERCENT_16] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_1] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_2] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_3] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_4] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_5] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_6] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_7] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_8] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_9] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_10] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_11] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_12] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_13] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_14] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_15] [decimal](6, 3) NULL,
	[EFFECTIVE_PCT_16] [decimal](6, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
