USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_SHIPPER_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_SHIPPER_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SHIPPER_ENTITY_ID] [nvarchar](15) NOT NULL,
	[SHIPPER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[CUST_ORDER_LINE_NO] [smallint] NULL,
	[CUSTOMER_PO_REF] [nvarchar](40) NULL,
	[QTY] [decimal](20, 8) NULL,
	[PRIOR_BILLING_AMT] [decimal](20, 3) NULL,
	[TRADE_DISC_PERCENT] [decimal](6, 3) NULL,
	[UNIT_PRICE] [decimal](22, 8) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[FREIGHT] [decimal](20, 3) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DESCRIPTION_2] [nvarchar](120) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[COMMISSION_AMOUNT] [decimal](20, 3) NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[RMA_ID] [nvarchar](15) NULL,
	[RMA_LINE_NO] [smallint] NULL,
	[PRODUCT_ID] [nvarchar](15) NULL,
	[COMMODITY_ID] [nvarchar](15) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[SHIPPING_WEIGHT] [decimal](14, 4) NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[INTRASTAT_AMOUNT] [decimal](20, 3) NULL,
	[TARIFF_CODE] [nvarchar](15) NULL,
	[TRACE_NOTES] [nvarchar](max) NULL,
	[NO_INVOICE] [int] NULL,
	[TOTAL_COST] [decimal](20, 3) NULL,
	[PIECE_COUNT] [decimal](20, 8) NULL,
	[LENGTH] [decimal](20, 8) NULL,
	[WIDTH] [decimal](20, 8) NULL,
	[HEIGHT] [decimal](20, 8) NULL,
	[DIMENSIONS_UM] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
