USE [VFIN]
GO
/****** Object:  Table [dbo].[COR_OUTBOX_HEADERS]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COR_OUTBOX_HEADERS](
	[C_ID] [bigint] IDENTITY(0,1) NOT NULL,
	[C_OUTBOX_ID] [bigint] NOT NULL,
	[C_HEADER_KEY] [varchar](250) NOT NULL,
	[C_HEADER_VALUE] [varchar](250) NOT NULL,
 CONSTRAINT [PK_COR_OUTBOX_HEADERS] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COR_OUTBOX_HEADERS]  WITH CHECK ADD  CONSTRAINT [FK_COR_OUTBOX_ENTRY] FOREIGN KEY([C_OUTBOX_ID])
REFERENCES [dbo].[COR_OUTBOX_ENTRY] ([C_ID])
GO
ALTER TABLE [dbo].[COR_OUTBOX_HEADERS] CHECK CONSTRAINT [FK_COR_OUTBOX_ENTRY]
GO
