USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_RCR_GEN_JOURNAL]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_RCR_GEN_JOURNAL](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[RCR_GEN_JOURNAL_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[GROUP_NAME] [nvarchar](50) NULL,
	[TOTAL_CREDIT_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_DEBIT_AMOUNT] [decimal](20, 3) NULL,
	[TRIGGER_COUNT] [smallint] NULL,
	[TRIGGER_FREQ] [nvarchar](32) NULL,
	[TRIGGER_INTERVAL] [smallint] NULL,
	[TRIGGER_LAST_DATE] [datetime] NULL,
	[TRIGGER_EFFECTIVE_DATE] [datetime] NULL,
	[TRIGGER_DISCONTINUE_DATE] [datetime] NULL,
	[TRIGGER_MAX] [smallint] NULL,
	[REFERENCE] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
