USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_APPORTIONMENT_DETAIL]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_APPORTIONMENT_DETAIL](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[APP_ENTITY_ID] [nvarchar](15) NOT NULL,
	[APPORTIONMENT_ID] [nvarchar](15) NOT NULL,
	[ITEM_NO] [smallint] NOT NULL,
	[DETAIL_NO] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[RESULT_TYPE] [nvarchar](32) NULL,
	[FORMULA] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
