USE [VFIN]
GO
/****** Object:  View [dbo].[LEDGER_PAYB_DISTRIBUTIONS]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LEDGER_PAYB_DISTRIBUTIONS] ( JOURNAL_TYPE , PAYB_ENTITY_ID , PAYB_INVOICE_ID , PAYMENT_ENTITY_ID , PAYMENT_ID , DIR_JOURN_ENTITY_ID , DIR_JOURNAL_ID , DIST_NO , ENTRY_NO , CURRENCY_ID , ENTITY_ID , ACCOUNT_ID , TRANS_CAT_ID , DISTRIBUTION_TYPE , CREDIT_AMOUNT , DEBIT_AMOUNT , POSTING_DATE , POSTING_REFERENCE , JOURNAL_REFERENCE , JOURNAL_SUPPLIER_ID , JOURNAL_CURRENCY_ID , RELATED_CURRENCY_ID , REMIT_TO_SUPP_ID , DISTRIBUTION_CONTEXT ) AS SELECT N'PAYB' , D.INVOICE_ENTITY_ID , D.INVOICE_ID , NULL , NULL , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.SUPPLIER_ID , P.SUPPLIER_ID , P.CURRENCY_ID , P.CURRENCY_ID , P.REMIT_TO_SUPP_ID , D.DISTRIBUTION_CONTEXT FROM PAYABLES_PAYABLE_DIST AS D , PAYABLES_PAYABLE AS P WHERE D.INVOICE_ENTITY_ID = P.ENTITY_ID AND D.INVOICE_ID = P.INVOICE_ID UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.PAYB_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , P.SUPPLIER_ID , P.CURRENCY_ID , P.CURRENCY_ID , P.SUPPLIER_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.PAYB_INVOICE_ID IS NULL AND P.SUPPLIER_ID IS NOT NULL UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.PAYB_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , P2.SUPPLIER_ID , P.CURRENCY_ID , P.CURRENCY_ID , P2.REMIT_TO_SUPP_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , PAYABLES_PAYABLE AS P2 WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = P2.ENTITY_ID AND D.PAYB_INVOICE_ID = P2.INVOICE_ID AND D.PAYB_INVOICE_ID IS NULL AND P.SUPPLIER_ID IS NULL UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.PAYB_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , P2.SUPPLIER_ID , P.CURRENCY_ID , P2.CURRENCY_ID , P2.REMIT_TO_SUPP_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , PAYABLES_PAYABLE AS P2 WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = P2.ENTITY_ID AND D.PAYB_INVOICE_ID = P2.INVOICE_ID AND D.PAYB_INVOICE_ID IS NOT NULL AND P.SUPPLIER_ID IS NULL UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.PAYB_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , P2.SUPPLIER_ID , P.CURRENCY_ID , P2.CURRENCY_ID , P2.REMIT_TO_SUPP_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , PAYABLES_PAYABLE AS P2 WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = P2.ENTITY_ID AND D.PAYB_INVOICE_ID = P2.INVOICE_ID AND P.SUPPLIER_ID <> P2.SUPPLIER_ID UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.PAYB_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , P2.SUPPLIER_ID , P.CURRENCY_ID , P2.CURRENCY_ID , P2.REMIT_TO_SUPP_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , PAYABLES_PAYABLE AS P2 WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = P2.ENTITY_ID AND D.PAYB_INVOICE_ID = P2.INVOICE_ID AND P.SUPPLIER_ID = P2.SUPPLIER_ID UNION ALL SELECT N'DIRECT' , NULL , NULL , NULL , NULL , D.DIR_JOURN_ENTITY_ID , D.DIRECT_JOURNAL_ID , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , J.DESCRIPTION , NULL , NULL , NULL , NULL , D.DISTRIBUTION_CONTEXT FROM LEDGER_DIRECT_JOURN_DIST AS D , LEDGER_DIRECT_JOURNAL AS J WHERE D.DIR_JOURN_ENTITY_ID = J.ENTITY_ID AND D.DIRECT_JOURNAL_ID = J.DIRECT_JOURNAL_ID
GO
