USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_SALES_REP_ENTITY]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_SALES_REP_ENTITY](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SALESREP_ID] [nvarchar](15) NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[SALESREP_TYPE] [nvarchar](32) NULL,
	[COMM_ACC_ACCT_ID] [nvarchar](30) NULL,
	[COMM_EXP_ACCT_ID] [nvarchar](30) NULL,
	[SALARY_LIAB_ACCT_ID] [nvarchar](30) NULL,
	[COMMISSION_PCT] [decimal](6, 3) NULL,
	[PCT_PMT_AT_ORDER] [decimal](6, 3) NULL,
	[PCT_PMT_AT_SHIPMT] [decimal](6, 3) NULL,
	[PCT_PMT_AT_COLLECT] [decimal](6, 3) NULL,
	[EARNING_ID] [nvarchar](15) NULL,
	[EMPLOYEE_ID] [nvarchar](15) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[USE_INVC_XCHG_RATE] [int] NULL,
	[HOLD_COMM_PAYMENT] [int] NULL,
	[NO_PARTIAL_PAYMENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
