USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_CASH_PLAN]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_CASH_PLAN](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[CASH_PLAN_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[BEGINNING_BALANCE] [decimal](20, 3) NULL,
	[ACT_FIRST_DATE] [datetime] NULL,
	[ACT_LAST_DATE] [datetime] NULL,
	[ACT_UPDATED] [datetime] NULL,
	[AP_DAYS] [smallint] NULL,
	[AP_INCLUDED] [int] NULL,
	[AP_TERMS_PLUS] [smallint] NULL,
	[AP_TYPE] [nvarchar](1) NULL,
	[AR_CLIP_AFTER] [smallint] NULL,
	[AR_CLIP_BEFORE] [smallint] NULL,
	[AR_DAYS] [smallint] NULL,
	[AR_INCLUDED] [int] NULL,
	[AR_SAMPLES] [smallint] NULL,
	[AR_TERMS_PLUS] [smallint] NULL,
	[AR_TYPE] [nvarchar](1) NULL,
	[CO_CLIP_AFTER] [smallint] NULL,
	[CO_CLIP_BEFORE] [smallint] NULL,
	[CO_INCLUDED] [int] NULL,
	[CO_SAMPLES] [smallint] NULL,
	[CO_TYPE] [nvarchar](1) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[PO_CLIP_BEFORE] [smallint] NULL,
	[PO_INCLUDED] [int] NULL,
	[PO_INVOICE_DELAY] [smallint] NULL,
	[PO_SAMPLES] [smallint] NULL,
	[PO_TYPE] [nvarchar](1) NULL,
	[PRJ_FIRST_DATE] [datetime] NULL,
	[PRJ_LAST_DATE] [datetime] NULL,
	[PRJ_UPDATED] [datetime] NULL,
	[STATUS] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
