USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUSTOMER_ENTITY]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUSTOMER_ENTITY](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[RECV_ACCOUNT_ID] [nvarchar](30) NULL,
	[REV_ACCOUNT_ID] [nvarchar](30) NULL,
	[ACTIVE_FLAG] [int] NULL,
	[ALLOW_POSTDATE_PAY] [int] NULL,
	[BILL_TO_NAME] [nvarchar](50) NULL,
	[BILL_TO_ADDR_1] [nvarchar](50) NULL,
	[BILL_TO_ADDR_2] [nvarchar](50) NULL,
	[BILL_TO_CITY] [nvarchar](30) NULL,
	[BILL_TO_STATE] [nvarchar](10) NULL,
	[BILL_TO_POSTCODE] [nvarchar](10) NULL,
	[BILL_TO_COUNTRY] [nvarchar](50) NULL,
	[BILL_TO_ADDR_3] [nvarchar](50) NULL,
	[BILL_CNTRY_CODE_ID] [nvarchar](15) NULL,
	[BILL_TO_PARENT] [int] NULL,
	[CUST_BANK_ID] [nvarchar](30) NULL,
	[CUST_BANK_ACCT_NO] [nvarchar](30) NULL,
	[CUST_BANK_DESC] [nvarchar](80) NULL,
	[CUST_BANK_NAME] [nvarchar](50) NULL,
	[CUST_BANK_SWIFT] [nvarchar](30) NULL,
	[CUST_BANK_IBAN] [nvarchar](30) NULL,
	[CUST_BANK_ADDR_1] [nvarchar](50) NULL,
	[CUST_BANK_ADDR_2] [nvarchar](50) NULL,
	[CUST_BANK_ADDR_3] [nvarchar](50) NULL,
	[CUST_BANK_CITY] [nvarchar](30) NULL,
	[CUST_BANK_COUNTRY] [nvarchar](50) NULL,
	[CUST_BANK_CNTRY_ID] [nvarchar](15) NULL,
	[CUST_BANK_STATE] [nvarchar](10) NULL,
	[CUST_BANK_POSTCODE] [nvarchar](10) NULL,
	[CUST_BRANCH_ID] [nvarchar](15) NULL,
	[EXPORT_FORMAT_ID] [nvarchar](30) NULL,
	[EFT_IN_FORMAT] [nvarchar](32) NULL,
	[UNAP_DEP_ACCT_ID] [nvarchar](30) NULL,
	[UNAP_CASH_ACCT_ID] [nvarchar](30) NULL,
	[DEPOSIT_ABSORB_RATE] [decimal](6, 3) NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[DISC_PARTIAL_ALLOC] [int] NULL,
	[DUNNING_LETTERS] [int] NULL,
	[DUN_MAX_SEVERITY] [smallint] NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[CREDIT_LIMIT_AMT] [decimal](20, 3) NULL,
	[CREDIT_STATUS] [nvarchar](32) NULL,
	[RECV_AGE_LIMIT] [smallint] NULL,
	[DEPOSIT_PERCENT] [decimal](6, 3) NULL,
	[FIN_CHG_EXEMPT] [int] NULL,
	[FIN_CHG_ACCT_ID] [nvarchar](30) NULL,
	[FIN_CHG_BASIS] [smallint] NULL,
	[FIN_CHG_GRACE_DAYS] [smallint] NULL,
	[FIN_CHG_VALUATION] [nvarchar](32) NULL,
	[FIN_CHG_PERCENT] [decimal](6, 3) NULL,
	[FIN_CHG_PMT_APPLY] [nvarchar](32) NULL,
	[GEN_DIFF_CURRENCY] [int] NULL,
	[GEN_DIFF_SHIPTO] [int] NULL,
	[GEN_DIFF_SHIP_DATE] [int] NULL,
	[GEN_DIFF_TERM_RULE] [int] NULL,
	[GEN_DIFF_ORDER_ID] [int] NULL,
	[OPEN_ORDER_AMOUNT] [decimal](20, 3) NULL,
	[OPEN_ORDER_COUNT] [int] NULL,
	[OPEN_RECV_AMOUNT] [decimal](20, 3) NULL,
	[OPEN_RECV_COUNT] [int] NULL,
	[OPEN_OLDEST_RECV] [datetime] NULL,
	[LANGUAGE_ID] [nvarchar](2) NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[RELATED_PARTY_FLAG] [int] NULL,
	[REMIT_TO_ADDR_ID] [nvarchar](15) NULL,
	[SALESREP_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[INSTALL_RULE_ID] [nvarchar](15) NULL,
	[CF_TERMS_RULE_ID] [nvarchar](15) NULL,
	[INV_TAX_BOOK_ID] [nvarchar](15) NULL,
	[MEMO_TAX_BOOK_ID] [nvarchar](15) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_EXEMPT] [int] NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[STATUS_CHANGE_DATE] [datetime] NULL,
	[HIGH_BALANCE] [decimal](20, 3) NULL,
	[CALCULATION_DAYS] [smallint] NULL,
	[SUPPRESS_PRINT] [int] NULL,
	[INVOICE_AGE_BASIS] [nvarchar](32) NULL,
	[CUST_BANK_ROUTING] [nvarchar](20) NULL,
	[CUST_BANK_ACCT_TYPE] [nvarchar](32) NULL,
	[TOTAL_OPEN_SHIPPED] [decimal](20, 3) NULL,
	[EMAIL_INVOICES] [int] NULL,
	[INVOICE_EMAIL] [nvarchar](50) NULL,
	[INVOICE_CC_EMAIL] [nvarchar](50) NULL,
	[EMAIL_MEMOS] [int] NULL,
	[MEMO_EMAIL] [nvarchar](50) NULL,
	[MEMO_CC_EMAIL] [nvarchar](50) NULL,
	[EMAIL_STATEMENTS] [int] NULL,
	[STATEMENT_EMAIL] [nvarchar](50) NULL,
	[STATEMENT_CC_EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
