USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_SUPPLIER_ENTITY]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_SUPPLIER_ENTITY](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SUPPLIER_ID] [nvarchar](15) NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[ACTIVE_FLAG] [int] NULL,
	[ALLOW_POSTDATE_PAY] [int] NULL,
	[BANK_ID] [nvarchar](30) NULL,
	[BRANCH_ID] [nvarchar](15) NULL,
	[BANK_ACCOUNT_NO] [nvarchar](30) NULL,
	[ALT_INDUSTRY_ID] [nvarchar](15) NULL,
	[CODE_1099_ID] [nvarchar](15) NULL,
	[CODE_1099_DIST] [nvarchar](15) NULL,
	[CREDIT_LIMIT_AMT] [decimal](20, 3) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[DEPOSIT_ABSORB_RATE] [decimal](6, 3) NULL,
	[DEPOSIT_PERCENT] [decimal](6, 3) NULL,
	[DISC_PARTIAL_ALLOC] [int] NULL,
	[EDI_TRADING_PARTNER] [int] NULL,
	[EXPORT_FORMAT_ID] [nvarchar](30) NULL,
	[EXP_ACCOUNT_ID] [nvarchar](30) NULL,
	[INDUSTRY_ID] [nvarchar](15) NULL,
	[INSPECTION_CONTROL] [nvarchar](32) NULL,
	[INSTALL_RULE_ID] [nvarchar](15) NULL,
	[INVOICING_FORMAT] [nvarchar](32) NULL,
	[INV_TAX_BOOK_ID] [nvarchar](15) NULL,
	[MATCH_HIGH_PCT] [decimal](6, 3) NULL,
	[MATCH_LOW_PCT] [decimal](6, 3) NULL,
	[MATCH_TYPE] [nvarchar](32) NULL,
	[MEMO_TAX_BOOK_ID] [nvarchar](15) NULL,
	[OPEN_ORDER_AMOUNT] [decimal](20, 3) NULL,
	[OPEN_ORDER_COUNT] [int] NULL,
	[OPEN_PAYB_AMOUNT] [decimal](20, 3) NULL,
	[OPEN_PAYB_COUNT] [int] NULL,
	[PAYB_ACCOUNT_ID] [nvarchar](30) NULL,
	[PAYB_AGE_LIMIT] [smallint] NULL,
	[PPV_ACCOUNT_ID] [nvarchar](30) NULL,
	[EFT_IN_FORMAT] [nvarchar](32) NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[PURC_ACCR_ACCT_ID] [nvarchar](30) NULL,
	[PUR_RET_EXP_ACCT_ID] [nvarchar](30) NULL,
	[RELATED_PARTY_FLAG] [int] NULL,
	[REMIT_ADDR_1] [nvarchar](50) NULL,
	[REMIT_ADDR_2] [nvarchar](50) NULL,
	[REMIT_ADDR_3] [nvarchar](50) NULL,
	[REMIT_CITY] [nvarchar](30) NULL,
	[REMIT_CNTRY_CODE_ID] [nvarchar](15) NULL,
	[REMIT_COUNTRY] [nvarchar](50) NULL,
	[REMIT_NAME] [nvarchar](50) NULL,
	[REMIT_POSTALCODE] [nvarchar](10) NULL,
	[REMIT_STATE] [nvarchar](10) NULL,
	[REMIT_TO_PARENT] [int] NULL,
	[STATUS_REASON] [nvarchar](80) NULL,
	[SUPPLIER_STATUS] [nvarchar](32) NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[TAX_EXEMPT] [int] NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_ID_NUMBER] [nvarchar](25) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[UNAP_CASH_ACCT_ID] [nvarchar](30) NULL,
	[UNAP_DEP_ACCT_ID] [nvarchar](30) NULL,
	[WH_TAX_GROUP_ID] [nvarchar](15) NULL,
	[REMIT_MEMO] [nvarchar](80) NULL,
	[SUPP_BANK_ID] [nvarchar](30) NULL,
	[SUPP_BRANCH_ID] [nvarchar](15) NULL,
	[SUPP_BANK_ACCT_NO] [nvarchar](30) NULL,
	[SUPP_BANK_DESC] [nvarchar](80) NULL,
	[SUPP_BANK_NAME] [nvarchar](50) NULL,
	[SUPP_BANK_SWIFT] [nvarchar](30) NULL,
	[SUPP_BANK_IBAN] [nvarchar](30) NULL,
	[SUPP_BANK_ADDR_1] [nvarchar](50) NULL,
	[SUPP_BANK_ADDR_2] [nvarchar](50) NULL,
	[SUPP_BANK_ADDR_3] [nvarchar](50) NULL,
	[SUPP_BANK_CITY] [nvarchar](30) NULL,
	[SUPP_BANK_COUNTRY] [nvarchar](50) NULL,
	[SUPP_BANK_CNTRY_ID] [nvarchar](15) NULL,
	[SUPP_BANK_STATE] [nvarchar](10) NULL,
	[SUPP_BANK_POSTCODE] [nvarchar](10) NULL,
	[STATUS_CHANGE_DATE] [datetime] NULL,
	[EMAIL_ADVICES] [int] NULL,
	[ADVICE_EMAIL] [nvarchar](50) NULL,
	[ADVICE_CC_EMAIL] [nvarchar](50) NULL,
	[AUTO_INVOICE_FROM_RECEIVER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
