USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_SOA_ID_MAP]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_SOA_ID_MAP](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[NOUN_ID] [nvarchar](50) NOT NULL,
	[SYS_KEY_ID] [nvarchar](80) NOT NULL,
	[SYS_ENTITY_ID] [nvarchar](22) NOT NULL,
	[SYS_AGENCY_ID] [nvarchar](64) NOT NULL,
	[SYS_SCHEME_NAME] [nvarchar](64) NULL,
	[SYS_AGENCY_NAME] [nvarchar](64) NULL,
	[SYS_LOC_ID] [nvarchar](22) NULL,
	[SYS_VARIATION] [nvarchar](22) NULL,
	[SOR_KEY_ID] [nvarchar](80) NULL,
	[SOR_ENTITY_ID] [nvarchar](22) NULL,
	[SOR_LID] [nvarchar](64) NULL,
	[SOR_SCHEME_NAME] [nvarchar](64) NULL,
	[SOR_AGENCY_NAME] [nvarchar](64) NULL,
	[SOR_LOC_ID] [nvarchar](22) NULL,
	[SOR_VARIATION] [nvarchar](22) NULL,
	[DID] [nvarchar](250) NULL,
	[SITE_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
