USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_DIRECT_JOURN_DIST]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_DIRECT_JOURN_DIST](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[DIR_JOURN_ENTITY_ID] [nvarchar](15) NOT NULL,
	[DIRECT_JOURNAL_ID] [nvarchar](15) NOT NULL,
	[DIST_NO] [smallint] NOT NULL,
	[ENTRY_NO] [smallint] NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NOT NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[TRANS_CAT_ID] [nvarchar](15) NULL,
	[CREDIT_AMOUNT] [decimal](20, 3) NULL,
	[DEBIT_AMOUNT] [decimal](20, 3) NULL,
	[DISTRIBUTION_TYPE] [nvarchar](32) NULL,
	[POSTING_DATE] [datetime] NULL,
	[REVERSAL] [int] NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[DISTRIBUTION_CONTEXT] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
