USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_DOCUMENT_TYPE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_DOCUMENT_TYPE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[POST_IMMEDIATELY] [int] NULL,
	[JOURNAL_TYPE] [nvarchar](32) NULL,
	[NUMBERING_TYPE] [nvarchar](32) NULL,
	[NUMBERING_REQD] [int] NULL,
	[PREFIX] [nvarchar](4) NULL,
	[USER_ID] [nvarchar](20) NULL,
	[USER_PREFIX] [nvarchar](4) NULL,
	[ALLOW_MIXED_ENTITY] [int] NULL,
	[ALLOW_MIXED_CURR] [int] NULL,
	[ALLOW_LANDED_COST] [int] NULL,
	[ALLOW_PROJECT_REFERENCE] [int] NULL,
	[ALLOW_DELETE] [int] NULL,
	[DRAFT] [int] NULL,
	[RELATED_PARTY_RECQ] [int] NULL,
	[POST_SECURITY_LEVEL] [smallint] NULL,
	[SECURITY_LEVEL] [smallint] NULL,
	[REVERSE_NEXT_PERIOD] [int] NULL,
	[REVERSAL_DELAY] [smallint] NULL,
	[ADJUSTMENT] [int] NULL,
	[TEMPLATE] [int] NULL,
	[APPROVAL_DISP_ID] [nvarchar](15) NULL,
	[APPROVAL_SUBJECT] [nvarchar](250) NULL,
	[APPROVAL_BODY] [nvarchar](250) NULL,
	[REJECTION_DISP_ID] [nvarchar](15) NULL,
	[REJECTION_SUBJECT] [nvarchar](250) NULL,
	[REJECTION_BODY] [nvarchar](250) NULL,
	[ACTIVE_FLAG] [int] NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[USE_SHIPPER_ID_AS_INV] [int] NULL,
	[PAY_THIRD_PARTY] [int] NULL,
	[REMIT_TO_SUPP_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
