USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_TAX_ENTITY]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_TAX_ENTITY](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[TAX_ID] [nvarchar](15) NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[ACC_ACCOUNT_ID] [nvarchar](30) NULL,
	[RCV_ACCOUNT_ID] [nvarchar](30) NULL,
	[EXP_ACCOUNT_ID] [nvarchar](30) NULL,
	[TAX_REG_ID] [nvarchar](25) NULL,
	[TAX_CERT_NO] [nvarchar](30) NULL,
	[EXPIRATION_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
