USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_RECEIVABLE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_RECEIVABLE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[BILL_TO_CUST_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[CUST_BANK_ACCT_NO] [nvarchar](30) NULL,
	[CUST_BANK_ID] [nvarchar](30) NULL,
	[DISCOUNT_GIVEN] [decimal](20, 3) NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
	[INSTALL_RULE_ID] [nvarchar](15) NULL,
	[INVOICE_DATE] [datetime] NULL,
	[INVOICE_STATUS] [nvarchar](32) NULL,
	[INVOICE_TYPE] [nvarchar](32) NULL,
	[INV_CURR_SALES_AMT] [decimal](20, 3) NULL,
	[LAST_PAID_DATE] [datetime] NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[POSTED] [int] NULL,
	[PRINTED_DATE] [datetime] NULL,
	[PROGRESS_BILL_AMOUNT] [decimal](20, 3) NULL,
	[RCR_INVOICE_ID] [nvarchar](15) NULL,
	[RECV_ACCOUNT_ID] [nvarchar](30) NULL,
	[RELATED_PARTY_FLAG] [int] NULL,
	[REMIT_TO_ADDR_ID] [nvarchar](15) NULL,
	[REVALUED] [int] NULL,
	[REVALUED_ON_DATE] [datetime] NULL,
	[SHIPPER_DRAFT] [int] NULL,
	[SHIPPER_GENERATED] [int] NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[SYS_CURR_SALES_AMT] [decimal](20, 3) NULL,
	[SYS_CURR_TOTAL_AMT] [decimal](20, 3) NULL,
	[TAX_BOOK_ID] [nvarchar](15) NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_REPORT_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[TOTAL_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_FIN_CHARGE] [decimal](20, 3) NULL,
	[TOTAL_FRGHT_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_NET_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_PAID_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_TAX_AMOUNT] [decimal](20, 3) NULL,
	[USER_SCHED] [int] NULL,
	[USER_TAX] [int] NULL,
	[USER_AGING] [int] NULL,
	[WRITEOFF_APPLIED] [decimal](20, 3) NULL,
	[AMOUNT_OVRD] [nvarchar](80) NULL,
	[DISCOUNT_OVRD] [nvarchar](80) NULL,
	[WRITEOFF_OVRD] [nvarchar](80) NULL,
	[XCHG_TOL_OVRD] [nvarchar](80) NULL,
	[ZERO_DATE] [datetime] NULL,
	[STATUS_CHANGE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
