USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_REPORT_COLUMN]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_REPORT_COLUMN](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[REPORT_ID] [nvarchar](15) NOT NULL,
	[SEQ_NO] [smallint] NOT NULL,
	[PRESENT_SEQ_NO] [smallint] NULL,
	[COLUMN_ID] [nvarchar](30) NULL,
	[TITLE] [nvarchar](80) NULL,
	[COLUMN_TYPE] [nvarchar](32) NULL,
	[COLUMN_SCOPE] [nvarchar](32) NULL,
	[COLUMN_OMITTED] [int] NULL,
	[BALANCE_SCOPE] [nvarchar](32) NULL,
	[FORMULA] [nvarchar](250) NULL,
	[APPLY_FORMULA] [int] NULL,
	[ACCT_PERIOD] [smallint] NULL,
	[ACCT_YEAR] [smallint] NULL,
	[PERIOD_SCOPE] [nvarchar](32) NULL,
	[IN_SUBTOTAL] [int] NULL,
	[ENTITY_EXPR] [nvarchar](250) NULL,
	[BUDGET_EXPR] [nvarchar](250) NULL,
	[ACCOUNT_CAT_EXPR] [nvarchar](250) NULL,
	[NATURAL_ACCT_EXPR] [nvarchar](250) NULL,
	[SEGMENT_2_EXPR] [nvarchar](250) NULL,
	[SEGMENT_3_EXPR] [nvarchar](250) NULL,
	[SEGMENT_4_EXPR] [nvarchar](250) NULL,
	[SEGMENT_5_EXPR] [nvarchar](250) NULL,
	[SEGMENT_6_EXPR] [nvarchar](250) NULL,
	[TRANS_CAT_EXPR] [nvarchar](250) NULL,
	[DISPLAY_TYPE] [nvarchar](32) NULL,
	[ZERO_FUTURE_BAL] [int] NULL,
	[ACCOUNT_GROUP_EXPR] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
