USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUSTOMER_BANK]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUSTOMER_BANK](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[CUST_BANK_ID] [nvarchar](30) NOT NULL,
	[CUST_BANK_ACCT_NO] [nvarchar](30) NULL,
	[CUST_BANK_DESC] [nvarchar](80) NULL,
	[CUST_BANK_NAME] [nvarchar](50) NULL,
	[CUST_BANK_SWIFT] [nvarchar](30) NULL,
	[CUST_BANK_IBAN] [nvarchar](30) NULL,
	[CUST_BANK_ADDR_1] [nvarchar](50) NULL,
	[CUST_BANK_ADDR_2] [nvarchar](50) NULL,
	[CUST_BANK_ADDR_3] [nvarchar](50) NULL,
	[CUST_BANK_CITY] [nvarchar](30) NULL,
	[CUST_BANK_COUNTRY] [nvarchar](50) NULL,
	[CUST_BANK_CNTRY_ID] [nvarchar](15) NULL,
	[CUST_BANK_STATE] [nvarchar](10) NULL,
	[CUST_BANK_POSTCODE] [nvarchar](10) NULL,
	[CUST_BRANCH_ID] [nvarchar](15) NULL,
	[CUST_DEFAULT_BANK] [int] NULL,
	[EXPORT_FORMAT_ID] [nvarchar](30) NULL,
	[EFT_IN_FORMAT] [nvarchar](32) NULL,
	[CUST_BANK_ROUTING] [nvarchar](20) NULL,
	[CUST_BANK_ACCT_TYPE] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
