USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUSTOMER]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUSTOMER](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[POSTALCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[COUNTRY_CODE_ID] [nvarchar](15) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[CREDIT_CARD_NUMBER] [nvarchar](60) NULL,
	[CREDIT_CARD_HOLDER] [nvarchar](50) NULL,
	[CREDIT_CARD_EXPIRE] [datetime] NULL,
	[INDUSTRY_ID] [nvarchar](15) NULL,
	[ALT_INDUSTRY_ID] [nvarchar](15) NULL,
	[IND_TEMPLATE_ID] [nvarchar](15) NULL,
	[LAST_ORDER_DATE] [datetime] NULL,
	[OPEN_DATE] [datetime] NULL,
	[TERRITORY_ID] [nvarchar](15) NULL,
	[WEB_URL] [nvarchar](128) NULL,
	[PARENT_CUSTOMER_ID] [nvarchar](15) NULL,
	[TAX_REGISTRATION] [nvarchar](25) NULL,
	[LINK_SUPPLIER_ID] [nvarchar](15) NULL,
	[CUSTOMER_FAX] [nvarchar](20) NULL,
	[CUSTOMER_PHONE] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MOBILE_PHONE] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
