USE [VFIN]
GO
/****** Object:  Table [dbo].[LSA_AUDIT_DATA]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_AUDIT_DATA](
	[USER_ID] [nvarchar](20) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_NAME] [nvarchar](30) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[PRIMARY_KEY] [nvarchar](250) NULL,
	[ACTION] [nvarchar](15) NULL,
	[OLD_VALUE] [nvarchar](250) NULL,
	[NEW_VALUE] [nvarchar](250) NULL
) ON [PRIMARY]
GO
