USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_PAYMENT_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_PAYMENT_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[PAYMENT_ENTITY_ID] [nvarchar](15) NOT NULL,
	[PAYMENT_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[DISCOUNT_APPLIED] [decimal](20, 3) NULL,
	[FIN_CHG_APPLIED] [decimal](20, 3) NULL,
	[DEPOSIT_APPLIED] [decimal](20, 3) NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[RECV_INVOICE_ID] [nvarchar](15) NULL,
	[RECV_INVOICE_AMOUNT] [decimal](20, 3) NULL,
	[PAYB_INVOICE_ID] [nvarchar](15) NULL,
	[CUSTOMER_ORDER_ID] [nvarchar](15) NULL,
	[PURCHASE_ORDER_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TRANS_CAT_ID] [nvarchar](15) NULL,
	[TAX_CAT_ID] [nvarchar](15) NULL,
	[DEPOSIT_ABSORB_RATE] [decimal](6, 3) NULL,
	[TOTAL_IN_INV_CURR] [decimal](20, 3) NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[DEPOSIT_ABS_LINE_NO] [smallint] NULL,
	[CLEARED_DATE] [datetime] NULL,
	[STATEMENT_DATE] [datetime] NULL,
	[VOID_CLEARED_DATE] [datetime] NULL,
	[VOID_STATEMENT_DATE] [datetime] NULL,
	[LINKED_MEMO_ID] [nvarchar](15) NULL,
	[CODE_1099_ID] [nvarchar](15) NULL,
	[DIST_1099_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
