USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_PAY_RUN_LINE_DET]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_PAY_RUN_LINE_DET](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[PAY_RUN_ENTITY_ID] [nvarchar](15) NOT NULL,
	[PAY_RUN_ID] [nvarchar](15) NOT NULL,
	[PAY_RUN_LINE_NO] [smallint] NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[RECV_INVOICE_ID] [nvarchar](15) NULL,
	[PAYB_INVOICE_ID] [nvarchar](15) NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[CUSTOMER_ORDER_ID] [nvarchar](15) NULL,
	[PURCHASE_ORDER_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TRANS_CAT_ID] [nvarchar](15) NULL,
	[TAX_CAT_ID] [nvarchar](15) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[AMOUNT_IN_INV_CURR] [decimal](20, 3) NULL,
	[DISCOUNT_AVAILABLE] [decimal](20, 3) NULL,
	[DISCOUNT_TAKEN] [decimal](20, 3) NULL,
	[AUTHORIZED_AMOUNT] [decimal](20, 3) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
	[EURO_RATE] [decimal](15, 8) NULL,
	[USER_XCHG_RATE] [decimal](15, 8) NULL,
	[WH_TAX_GROUP_ID] [nvarchar](15) NULL,
	[WITHHOLDING_AMOUNT] [decimal](20, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
