USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_WORKFLOW_REQUEST]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_WORKFLOW_REQUEST](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SENT_FROM] [nvarchar](20) NOT NULL,
	[SENT_TO] [nvarchar](20) NOT NULL,
	[SENT_ON] [datetime] NOT NULL,
	[COMPLETED_ON] [datetime] NULL,
	[WORKFLOW_STATUS] [nvarchar](32) NULL,
	[ACTION_REQUIRED] [int] NULL,
	[SUBJECT] [nvarchar](80) NULL,
	[REQUEST] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
