USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_DEPOSIT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_DEPOSIT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[DEPOSIT_ID] [nvarchar](15) NOT NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[DEPOSIT_DATE] [datetime] NULL,
	[STATEMENT_DATE] [datetime] NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
