USE [VFIN]
GO
/****** Object:  Table [dbo].[LSA_MESSAGE_LOG]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_MESSAGE_LOG](
	[MESSAGE_USER] [nvarchar](20) NOT NULL,
	[MESSAGE_DATE] [datetime] NOT NULL,
	[MESSAGE_CATEGORY] [nvarchar](30) NULL,
	[MESSAGE_TEXT] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
