USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_NATURAL_ACCT_SEG_5]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_NATURAL_ACCT_SEG_5](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[NATURAL_ACCOUNT_ID] [nvarchar](10) NOT NULL,
	[SEGMENT_ID] [nvarchar](10) NOT NULL,
	[SEGMENT_VALUE] [nvarchar](10) NOT NULL,
	[EXCLUDE_FLAG] [int] NULL,
	[SHORT_DESCRIPTION] [nvarchar](15) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_REQUIRED] [int] NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[TRANS_CAT_REQUIRED] [int] NULL,
	[TRANS_CAT_LIST_ID] [nvarchar](15) NULL,
	[ACTIVE_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
