USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_ENTITY]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_ENTITY](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ACCOUNT_CAT_ID] [nvarchar](15) NULL,
	[ALLOW_MULTI_CURR] [int] NULL,
	[ALLOW_PART_PAY_DISC] [int] NULL,
	[ALLOW_RECV_OVER_PAY] [int] NULL,
	[ALLOW_NEGATIVE_CASH] [int] NULL,
	[CALENDAR_ID] [nvarchar](15) NULL,
	[COSTING_METHOD] [nvarchar](32) NULL,
	[COSTING_WARNING] [int] NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[FIN_CHG_BASIS] [smallint] NULL,
	[FIN_CHG_GRACE_DAYS] [smallint] NULL,
	[FIN_CHG_PERCENT] [decimal](6, 3) NULL,
	[FIN_CHG_PMT_APPLY] [nvarchar](32) NULL,
	[FIN_CHG_RECORDING] [nvarchar](32) NULL,
	[FIN_CHG_VALUATION] [nvarchar](32) NULL,
	[FORCE_CONTROL_TOTAL] [int] NULL,
	[FORCE_CONTROL_TOTAL_AR] [int] NULL,
	[FORCE_SUPPLIER_INV_ID] [int] NULL,
	[FREIGHT_IN_ENTITY_CURR] [int] NULL,
	[GEN_DIFF_CURRENCY] [int] NULL,
	[GEN_DIFF_SHIPTO] [int] NULL,
	[GEN_DIFF_SHIP_DATE] [int] NULL,
	[GEN_DIFF_TERM_RULE] [int] NULL,
	[GEN_DIFF_ORDER_ID] [int] NULL,
	[INDUSTRY_ID] [nvarchar](15) NULL,
	[ALT_INDUSTRY_ID] [nvarchar](15) NULL,
	[IND_TEMPLATE_ID] [nvarchar](15) NULL,
	[PRORATE_TAX] [int] NULL,
	[DEPOSIT_ABSORB_RATE] [decimal](6, 3) NULL,
	[USE_ENTITY_CALENDAR] [int] NULL,
	[ALLOW_POST_PRIOR_DOC] [int] NULL,
	[RETAIN_PROG_BILL_BAL] [int] NULL,
	[OLDEST_INV_TYPE] [nvarchar](32) NULL,
	[INVOICE_AGE_BASIS] [nvarchar](32) NULL,
	[CREDIT_BALANCE_CALC] [nvarchar](32) NULL,
	[REPORT_FILE_PATH] [nvarchar](250) NULL,
	[DEFAULT_CUST_SUPP_CURRENCY] [int] NULL,
	[SUPPORT_1099] [int] NULL,
	[FORCE_CONTROL_TOTAL_BA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
