USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_SUP_ALT_REM_ADDR]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_SUP_ALT_REM_ADDR](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[SUPPLIER_ID] [nvarchar](15) NOT NULL,
	[REMIT_ALT_ADDR_NO] [smallint] NOT NULL,
	[ALT_REMIT_NAME] [nvarchar](50) NULL,
	[ALT_REMIT_ADDR_1] [nvarchar](50) NULL,
	[ALT_REMIT_ADDR_2] [nvarchar](50) NULL,
	[ALT_REMIT_ADDR_3] [nvarchar](50) NULL,
	[ALT_REMIT_CITY] [nvarchar](30) NULL,
	[ALT_REMIT_COUNTRY] [nvarchar](50) NULL,
	[ALT_REMIT_CNTRY_CODE_ID] [nvarchar](15) NULL,
	[ALT_REMIT_STATE] [nvarchar](10) NULL,
	[ALT_REMIT_POSTCODE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
