USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_PAY_RUN_TAX]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_PAY_RUN_TAX](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[PAY_RUN_ENTITY_ID] [nvarchar](15) NOT NULL,
	[PAY_RUN_ID] [nvarchar](15) NOT NULL,
	[PAY_RUN_LINE_NO] [smallint] NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[TAX_ID] [nvarchar](15) NULL,
	[TAX_AMOUNT] [decimal](20, 3) NULL,
	[RCV_AMOUNT] [decimal](20, 3) NULL,
	[BASIS_AMOUNT] [decimal](20, 3) NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACC_ACCOUNT_ID] [nvarchar](30) NULL,
	[RCV_ACCOUNT_ID] [nvarchar](30) NULL,
	[EXP_ACCOUNT_ID] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
