USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_SEGMENT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_SEGMENT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[SEGMENT_ID] [nvarchar](10) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[ALLOW_IN_SEGMENT_2] [int] NULL,
	[ALLOW_IN_SEGMENT_3] [int] NULL,
	[ALLOW_IN_SEGMENT_4] [int] NULL,
	[ALLOW_IN_SEGMENT_5] [int] NULL,
	[ALLOW_IN_SEGMENT_6] [int] NULL,
	[NOTES] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
