USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_PAYABLE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_PAYABLE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[DISCOUNT_TAKEN] [decimal](20, 3) NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
	[EST_WITHHOLDING] [decimal](20, 3) NULL,
	[INSTALL_RULE_ID] [nvarchar](15) NULL,
	[INVOICE_DATE] [datetime] NULL,
	[INVOICE_STATUS] [nvarchar](32) NULL,
	[INVOICE_TYPE] [nvarchar](32) NULL,
	[LAST_PAID_DATE] [datetime] NULL,
	[PAYB_ACCOUNT_ID] [nvarchar](30) NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[POSTED] [int] NULL,
	[PRINTED_DATE] [datetime] NULL,
	[RCR_PAYABLE_ID] [nvarchar](15) NULL,
	[REMIT_TO_SUPP_ID] [nvarchar](15) NULL,
	[REVALUED] [int] NULL,
	[REVALUED_ON_DATE] [datetime] NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[SUPP_INVOICE_ID] [nvarchar](15) NULL,
	[SUPP_BANK_ID] [nvarchar](30) NULL,
	[SUPP_BANK_ACCT_NO] [nvarchar](30) NULL,
	[TAX_BOOK_ID] [nvarchar](15) NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_REPORT_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[TOTAL_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_FRGHT_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_PAID_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_TAX_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_WITHHELD_AMOUNT] [decimal](20, 3) NULL,
	[USER_AGING] [int] NULL,
	[USER_SCHED] [int] NULL,
	[USER_TAX] [int] NULL,
	[WH_TAX_GROUP_ID] [nvarchar](15) NULL,
	[WITHHOLD_REPORT_ID] [nvarchar](15) NULL,
	[AMOUNT_OVRD] [nvarchar](80) NULL,
	[DISCOUNT_OVRD] [nvarchar](80) NULL,
	[XCHG_TOL_OVRD] [nvarchar](80) NULL,
	[MAX_MISMATCH_OVER_OVRD] [nvarchar](80) NULL,
	[MAX_MISMATCH_UNDER_OVRD] [nvarchar](80) NULL,
	[ZERO_DATE] [datetime] NULL,
	[RELATED_PARTY_FLAG] [int] NULL,
	[CUST_ORDER_ID] [nvarchar](15) NULL,
	[USER_HOLD] [int] NULL,
	[USER_DISPUTED] [int] NULL,
	[REMIT_ALT_ADDR_NO] [smallint] NULL,
	[STATUS_CHANGE_DATE] [datetime] NULL,
	[SITE_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
