USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_FILE_FORMAT_820_DETAIL]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_FILE_FORMAT_820_DETAIL](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[FILE_TYPE] [nvarchar](32) NOT NULL,
	[FORMAT_ID] [nvarchar](30) NOT NULL,
	[SEGMENT_BASE] [nvarchar](30) NOT NULL,
	[SEGMENT_TYPE] [nvarchar](32) NOT NULL,
	[SEGMENT_ID] [nvarchar](30) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[FIELD_TEXT] [nvarchar](250) NULL,
	[DATA_EXPRESSION] [nvarchar](250) NULL,
	[MIN_LENGTH] [smallint] NULL,
	[MAX_LENGTH] [smallint] NULL,
	[REQUIRED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
