USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUST_FIN_STMT_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUST_FIN_STMT_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUSTOMER_ID] [nvarchar](15) NOT NULL,
	[FIN_STMT_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[FIN_STMT_TYPE] [nvarchar](32) NULL,
	[ACCOUNT_CAT_ID] [nvarchar](15) NULL,
	[AMOUNT] [decimal](20, 3) NULL,
	[AMOUNT_TYPE] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
