USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_ACCOUNT_VIEW]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_ACCOUNT_VIEW](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[ACCOUNT_VIEW_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[SEGMENT_2_EXPR] [nvarchar](250) NULL,
	[SEGMENT_3_EXPR] [nvarchar](250) NULL,
	[SEGMENT_4_EXPR] [nvarchar](250) NULL,
	[SEGMENT_5_EXPR] [nvarchar](250) NULL,
	[SEGMENT_6_EXPR] [nvarchar](250) NULL,
	[SEGMENT_2_EXPR_TXT] [nvarchar](max) NULL,
	[SEGMENT_3_EXPR_TXT] [nvarchar](max) NULL,
	[SEGMENT_4_EXPR_TXT] [nvarchar](max) NULL,
	[SEGMENT_5_EXPR_TXT] [nvarchar](max) NULL,
	[SEGMENT_6_EXPR_TXT] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
