USE [VFIN]
GO
/****** Object:  View [dbo].[LEDGER_RECV_DISTRIBUTIONS]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LEDGER_RECV_DISTRIBUTIONS] ( JOURNAL_TYPE , RECV_ENTITY_ID , RECV_INVOICE_ID , PAYMENT_ENTITY_ID , PAYMENT_ID , DIR_JOURN_ENTITY_ID , DIR_JOURNAL_ID , DIST_NO , ENTRY_NO , CURRENCY_ID , ENTITY_ID , ACCOUNT_ID , TRANS_CAT_ID , DISTRIBUTION_TYPE , CREDIT_AMOUNT , DEBIT_AMOUNT , POSTING_DATE , POSTING_REFERENCE , JOURNAL_REFERENCE , JOURNAL_CUSTOMER_ID , JOURNAL_CURRENCY_ID , RELATED_CURRENCY_ID , REMIT_TO_ADDR_ID , DISTRIBUTION_CONTEXT ) AS SELECT N'RECV' , D.INVOICE_ENTITY_ID , D.INVOICE_ID , NULL , NULL , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , R.CUSTOMER_ID , R.CUSTOMER_ID , R.CURRENCY_ID , R.CURRENCY_ID , R.REMIT_TO_ADDR_ID , D.DISTRIBUTION_CONTEXT FROM RECEIVABLES_RECEIVABLE_DIST AS D , RECEIVABLES_RECEIVABLE AS R WHERE D.INVOICE_ENTITY_ID = R.ENTITY_ID AND D.INVOICE_ID = R.INVOICE_ID UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.RECV_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , P.CUSTOMER_ID , P.CURRENCY_ID , P.CURRENCY_ID , NULL , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.RECV_INVOICE_ID IS NULL AND P.CUSTOMER_ID IS NOT NULL UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.RECV_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , R.CUSTOMER_ID , P.CURRENCY_ID , P.CURRENCY_ID , R.REMIT_TO_ADDR_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , RECEIVABLES_RECEIVABLE AS R WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = R.ENTITY_ID AND D.RECV_INVOICE_ID = R.INVOICE_ID AND D.RECV_INVOICE_ID IS NULL AND P.CUSTOMER_ID IS NULL UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.RECV_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , R.CUSTOMER_ID , P.CURRENCY_ID , R.CURRENCY_ID , R.REMIT_TO_ADDR_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , RECEIVABLES_RECEIVABLE AS R WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = R.ENTITY_ID AND D.RECV_INVOICE_ID = R.INVOICE_ID AND D.RECV_INVOICE_ID IS NOT NULL AND P.CUSTOMER_ID IS NULL UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.RECV_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , R.CUSTOMER_ID , P.CURRENCY_ID , R.CURRENCY_ID , R.REMIT_TO_ADDR_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , RECEIVABLES_RECEIVABLE AS R WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = R.ENTITY_ID AND D.RECV_INVOICE_ID = R.INVOICE_ID AND P.CUSTOMER_ID <> R.CUSTOMER_ID UNION ALL SELECT N'PAYMENT' , D.ENTITY_ID , D.RECV_INVOICE_ID , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , P.REFERENCE , R.CUSTOMER_ID , P.CURRENCY_ID , R.CURRENCY_ID , R.REMIT_TO_ADDR_ID , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P , RECEIVABLES_RECEIVABLE AS R WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID AND D.ENTITY_ID = R.ENTITY_ID AND D.RECV_INVOICE_ID = R.INVOICE_ID AND P.CUSTOMER_ID = R.CUSTOMER_ID UNION ALL SELECT N'DIRECT' , NULL , NULL , NULL , NULL , D.DIR_JOURN_ENTITY_ID , D.DIRECT_JOURNAL_ID , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , D.REFERENCE , J.DESCRIPTION , NULL , NULL , NULL , NULL , D.DISTRIBUTION_CONTEXT FROM LEDGER_DIRECT_JOURN_DIST AS D , LEDGER_DIRECT_JOURNAL AS J WHERE D.DIR_JOURN_ENTITY_ID = J.ENTITY_ID AND D.DIRECT_JOURNAL_ID = J.DIRECT_JOURNAL_ID
GO
