USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_ACCOUNT_STATISTIC]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_ACCOUNT_STATISTIC](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[ACCOUNT_ID] [nvarchar](30) NOT NULL,
	[POSTING_DATE] [datetime] NOT NULL,
	[ACCOUNT_CAT_ID] [nvarchar](15) NULL,
	[NATURAL_ACCOUNT_ID] [nvarchar](10) NULL,
	[SEGMENT_VALUE_2] [nvarchar](10) NULL,
	[SEGMENT_VALUE_3] [nvarchar](10) NULL,
	[SEGMENT_VALUE_4] [nvarchar](10) NULL,
	[SEGMENT_VALUE_5] [nvarchar](10) NULL,
	[SEGMENT_VALUE_6] [nvarchar](10) NULL,
	[STATISTIC_VALUE] [decimal](20, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
