USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_REPORT_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_REPORT_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[REPORT_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[PRESENT_SEQ_NO] [int] NULL,
	[LINE_ID] [nvarchar](30) NULL,
	[LINE_TYPE] [nvarchar](32) NULL,
	[EXPLODE_TYPE] [nvarchar](32) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[ENTITY_EXPR] [nvarchar](250) NULL,
	[BUDGET_EXPR] [nvarchar](250) NULL,
	[ACCOUNT_CAT_EXPR] [nvarchar](250) NULL,
	[NATURAL_ACCT_EXPR] [nvarchar](250) NULL,
	[SEGMENT_2_EXPR] [nvarchar](250) NULL,
	[SEGMENT_3_EXPR] [nvarchar](250) NULL,
	[SEGMENT_4_EXPR] [nvarchar](250) NULL,
	[SEGMENT_5_EXPR] [nvarchar](250) NULL,
	[SEGMENT_6_EXPR] [nvarchar](250) NULL,
	[TRANS_CAT_EXPR] [nvarchar](250) NULL,
	[CATEGORY_DEPTH] [smallint] NULL,
	[ACCOUNT_DEPTH] [smallint] NULL,
	[RESET_SUBTOTAL] [int] NULL,
	[SUPPRESS_ZERO_BAL] [int] NULL,
	[SUPPRESS_ZERO_ACT] [int] NULL,
	[BEF_UNDERLINE_TYPE] [nvarchar](32) NULL,
	[AFT_UNDERLINE_TYPE] [nvarchar](32) NULL,
	[BEF_NEW_PAGE] [int] NULL,
	[AFT_NEW_PAGE] [int] NULL,
	[BASE_INDENTATION] [smallint] NULL,
	[SHOW_HEADER_AMTS] [int] NULL,
	[SHOW_FOOTER_AMTS] [int] NULL,
	[AMOUNT_TYPE] [nvarchar](32) NULL,
	[SPACING] [smallint] NULL,
	[ACCOUNT_GROUP_EXPR] [nvarchar](250) NULL,
	[FONT_NAME] [nvarchar](250) NULL,
	[FONT_SIZE] [decimal](20, 3) NULL,
	[FONT_BOLD] [int] NULL,
	[FONT_ITALIC] [int] NULL,
	[FONT_UNDERLINE] [int] NULL,
	[FONT_APPLIES_DESC] [int] NULL,
	[FONT_APPLIES_NUM] [int] NULL,
	[TEXT_INDENTATION] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
