USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUST_ORDER_BILLING]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUST_ORDER_BILLING](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUST_ENTITY_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[EVENT_SEQ_NO] [smallint] NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[BILL_AMOUNT] [decimal](20, 3) NULL,
	[BILL_AMOUNT_INVOICED] [int] NULL,
	[BILL_PCT] [decimal](6, 3) NULL,
	[EVENT_DATE] [datetime] NULL,
	[TRIGGER_FLAG] [int] NULL,
	[TRIGGER_DATE] [datetime] NULL,
	[CREATE_DATE] [datetime] NULL,
	[USER_ID] [nvarchar](20) NULL,
	[INVOICE_ID] [nvarchar](15) NULL,
	[DEFERRED_REV_ACCT] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
