USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_ACCOUNT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_ACCOUNT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NOT NULL,
	[BANK_ID] [nvarchar](30) NULL,
	[ACCOUNT_NO] [nvarchar](30) NULL,
	[BRANCH_ID] [nvarchar](10) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[ACCOUNT_TYPE] [nvarchar](32) NULL,
	[ADJ_ACCOUNT_ID] [nvarchar](30) NULL,
	[ADJ_DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[CITY] [nvarchar](30) NULL,
	[STATE] [nvarchar](10) NULL,
	[POSTALCODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[COUNTRY_CODE_ID] [nvarchar](15) NULL,
	[CONTACT_EMAIL] [nvarchar](50) NULL,
	[WEB_URL] [nvarchar](128) NULL,
	[PAY_EXPORT_ID] [nvarchar](15) NULL,
	[TRANSMIT_USER_ID] [nvarchar](20) NULL,
	[BALANCE_RESERVE] [decimal](20, 3) NULL,
	[ACTIVE_FLAG] [int] NULL,
	[ALLOW_MULTI_CURR] [int] NULL,
	[CONC_BANK_ACCT_ID] [nvarchar](15) NULL,
	[CONC_USER_ID] [nvarchar](20) NULL,
	[IBAN] [nvarchar](30) NULL,
	[SWIFT] [nvarchar](30) NULL,
	[DEPOSIT_CREATION] [nvarchar](32) NULL,
	[DEPOSIT_PERSIST] [int] NULL,
	[PAYMENT_AS_DEPOSIT] [int] NULL,
	[ROUTING_NUMBER] [nvarchar](20) NULL,
	[ACH_BANK_NAME] [nvarchar](50) NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[STMNT_FILE_FORMAT_ID] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
