USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUST_ORDER_PRICE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUST_ORDER_PRICE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUST_ENTITY_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[RELEASE_NO] [smallint] NOT NULL,
	[POLICY_ID] [nvarchar](15) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[PROFILE_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[BASIS] [nvarchar](32) NULL,
	[BREAK_TYPE] [nvarchar](32) NULL,
	[BREAK_VALUE] [decimal](20, 3) NULL,
	[EXTERNAL_CODE] [nvarchar](15) NULL,
	[POLICY_TYPE] [nvarchar](32) NULL,
	[VALUE] [decimal](20, 3) NULL,
	[VALUE_TYPE] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
