USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_DOC_TYPE_ROUTING]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_DOC_TYPE_ROUTING](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[DOC_TYPE_ENTITY_ID] [nvarchar](15) NOT NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NOT NULL,
	[DISPOSITION_ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[NOTIFY_USER_ID] [nvarchar](250) NULL,
	[NOTIFY_SUBJECT] [nvarchar](250) NULL,
	[NOTIFY_BODY] [nvarchar](250) NULL,
	[EXPRESSION] [nvarchar](250) NULL,
	[ON_TRUE_DISP_ID] [nvarchar](15) NULL,
	[ON_FALSE_DISP_ID] [nvarchar](15) NULL,
	[X] [smallint] NULL,
	[Y] [smallint] NULL,
	[WIDTH] [smallint] NULL,
	[HEIGHT] [smallint] NULL,
	[ACTION_REQUIRED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
