USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUSTOMER_ORDER]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUSTOMER_ORDER](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[CONTRACT_ID] [nvarchar](30) NULL,
	[CUSTOMER_PO_REF] [nvarchar](40) NULL,
	[CUST_BANK_ID] [nvarchar](30) NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[TERRITORY_ID] [nvarchar](15) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[ORDER_STATUS] [nvarchar](32) NULL,
	[DESIRED_SHIP_DATE] [datetime] NULL,
	[ORDER_DATE] [datetime] NULL,
	[TOTAL_ORDERED] [decimal](20, 3) NULL,
	[TOTAL_TAX] [decimal](20, 3) NULL,
	[TOTAL_FREIGHT] [decimal](20, 3) NULL,
	[SITE_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
