USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_SUPPLIER]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_SUPPLIER](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[ADDR_1] [nvarchar](50) NULL,
	[ADDR_2] [nvarchar](50) NULL,
	[ADDR_3] [nvarchar](50) NULL,
	[BUYER] [nvarchar](15) NULL,
	[CITY] [nvarchar](30) NULL,
	[COUNTRY] [nvarchar](50) NULL,
	[COUNTRY_CODE_ID] [nvarchar](15) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[FOB_ID] [nvarchar](25) NULL,
	[GENDER] [nvarchar](32) NULL,
	[LAST_ORDER_DATE] [datetime] NULL,
	[LINK_CUSTOMER_ID] [nvarchar](15) NULL,
	[OPEN_DATE] [datetime] NULL,
	[PARENT_SUPPLIER_ID] [nvarchar](15) NULL,
	[PAYMENT_PRIORITY] [int] NULL,
	[PLACE_OF_BIRTH] [nvarchar](30) NULL,
	[POSTALCODE] [nvarchar](10) NULL,
	[STATE] [nvarchar](10) NULL,
	[STATE_OF_BIRTH] [nvarchar](10) NULL,
	[SUPPLIER_FAX] [nvarchar](20) NULL,
	[SUPPLIER_PHONE] [nvarchar](20) NULL,
	[SUPPLIER_TYPE] [nvarchar](32) NULL,
	[WEB_URL] [nvarchar](128) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MOBILE_PHONE] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
