USE [VFIN]
GO
/****** Object:  Table [dbo].[LSA_COLUMN]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_COLUMN](
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[TABLE_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_NAME] [nvarchar](30) NOT NULL,
	[COLUMN_NO] [int] NOT NULL,
	[PRIMARY_KEY] [int] NOT NULL,
	[DOMAIN_NAME] [nvarchar](30) NULL,
	[ENUM_NAME] [nvarchar](30) NULL,
	[DATA_TYPE] [nvarchar](30) NOT NULL,
	[MAX_LENGTH] [int] NOT NULL,
	[NUMERIC_PREC] [int] NOT NULL,
	[NUMERIC_SCALE] [int] NULL,
	[RANGE_LOW] [nvarchar](100) NULL,
	[RANGE_HIGH] [nvarchar](100) NULL,
	[DEFAULT_VALUE] [nvarchar](100) NULL,
	[RANGE_LIST] [nvarchar](250) NULL,
	[NOT_NULL] [int] NULL,
	[DOCUMENTATION] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[COLUMN_NAME] ASC,
	[DATASPACE_NAME] ASC,
	[TABLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
