USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_PAYMENT_METHOD]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_PAYMENT_METHOD](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[PAYMENT_MEDIA] [nvarchar](32) NULL,
	[MAX_ITEMS] [smallint] NULL,
	[VOID_ON_OVERFLOW] [int] NULL,
	[PRINTER_NAME] [nvarchar](128) NULL,
	[REPORT_FILE_NAME] [nvarchar](128) NULL,
	[IS_BACS_FILE] [int] NULL,
	[SUB_REPORT_FILE_NAME] [nvarchar](128) NULL,
	[EFT_FILE_FORMAT_ID] [nvarchar](30) NULL,
	[OUTBOUND_FILE_NAME] [nvarchar](128) NULL,
	[OUTBOUND_FILE_DIR] [nvarchar](128) NULL,
	[OUTBOUND_ARCHIVE_DIR] [nvarchar](128) NULL,
	[FILE_ARCHIVE_DAYS] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
