USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_NATURAL_ACCOUNT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_NATURAL_ACCOUNT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[NATURAL_ACCOUNT_ID] [nvarchar](10) NOT NULL,
	[DESCRIPTION] [nvarchar](128) NULL,
	[SEGMENT_ID_2] [nvarchar](10) NULL,
	[SEGMENT_ID_3] [nvarchar](10) NULL,
	[SEGMENT_ID_4] [nvarchar](10) NULL,
	[SEGMENT_ID_5] [nvarchar](10) NULL,
	[SEGMENT_ID_6] [nvarchar](10) NULL,
	[ACCOUNT_CAT_ID] [nvarchar](15) NULL,
	[SECURITY_LEVEL] [smallint] NULL,
	[REVALUE_TYPE] [nvarchar](32) NULL,
	[ACCOUNT_SLCT] [nvarchar](32) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TAX_REQUIRED] [int] NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[TRANS_CAT_REQUIRED] [int] NULL,
	[TRANS_CAT_LIST_ID] [nvarchar](15) NULL,
	[ACTIVE_FLAG] [int] NULL,
	[NOTES] [nvarchar](max) NULL,
	[STATUS_CHANGE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
