USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_DIRECT_JOURN_LINE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_DIRECT_JOURN_LINE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[DIR_JOURN_ENTITY_ID] [nvarchar](15) NOT NULL,
	[DIRECT_JOURNAL_ID] [nvarchar](15) NOT NULL,
	[LINE_NO] [int] NOT NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
	[CREDIT_AMOUNT] [decimal](20, 3) NULL,
	[DEBIT_AMOUNT] [decimal](20, 3) NULL,
	[TRANS_CAT_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[PROJECT_ID] [nvarchar](15) NULL,
	[WBS] [nvarchar](30) NULL,
	[PROJ_REF_SUB_ID] [nvarchar](3) NULL,
	[PROJ_REF_SEQ_NO] [smallint] NULL,
	[PROJ_DEPT_ID] [nvarchar](15) NULL,
	[PROJ_COST_CAT_ID] [nvarchar](15) NULL,
	[HOURS] [decimal](14, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
