USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_PURCHASE_ORDER]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_PURCHASE_ORDER](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[PURC_ORDER_ID] [nvarchar](15) NOT NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[DESIRED_RECV_DATE] [datetime] NULL,
	[ORDER_DATE] [datetime] NULL,
	[CONTRACT_ID] [nvarchar](30) NULL,
	[LAST_RECEIVED_DATE] [datetime] NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[ORDER_STATUS] [nvarchar](32) NULL,
	[SUPP_BANK_ID] [nvarchar](30) NULL,
	[SUPP_BANK_ACCT_NO] [nvarchar](30) NULL,
	[TOTAL_ORDERED] [decimal](20, 3) NULL,
	[TOTAL_TAX] [decimal](20, 3) NULL,
	[TOTAL_FREIGHT] [decimal](20, 3) NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
