USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_RECEIVABLE_FIN_CHG]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_RECEIVABLE_FIN_CHG](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[INVOICE_ENTITY_ID] [nvarchar](15) NOT NULL,
	[INVOICE_ID] [nvarchar](15) NOT NULL,
	[FIN_CHG_DATE] [datetime] NOT NULL,
	[LINE_NO] [smallint] NOT NULL,
	[NET_DUE_DATE] [datetime] NULL,
	[START_DATE] [datetime] NULL,
	[BALANCE_AMOUNT] [decimal](20, 3) NULL,
	[NUM_DAYS_THIS_BAL] [smallint] NULL,
	[DAYS_IN_BASIS_YEAR] [smallint] NULL,
	[FIN_CHG_PERCENT] [decimal](6, 3) NULL,
	[FIN_CHG_AMOUNT] [decimal](20, 3) NULL,
	[ENTITY_ID] [nvarchar](15) NULL,
	[ACCOUNT_ID] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
