USE [VFIN]
GO
/****** Object:  Table [dbo].[LSA_DATASPACE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSA_DATASPACE](
	[DATASPACE_NAME] [nvarchar](30) NOT NULL,
	[SCHEMA_VERSION] [nvarchar](20) NULL,
	[DOCUMENTATION] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DATASPACE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
