USE [VFIN]
GO
/****** Object:  View [dbo].[LEDGER_ALL_DISTRIBUTIONS]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LEDGER_ALL_DISTRIBUTIONS] ( JOURNAL_TYPE , JOURNAL_ENTITY_ID , JOURNAL_ID , RECV_ENTITY_ID , RECV_INVOICE_ID , PAYB_ENTITY_ID , PAYB_INVOICE_ID , DIST_NO , ENTRY_NO , CURRENCY_ID , ENTITY_ID , ACCOUNT_ID , TRANS_CAT_ID , DISTRIBUTION_TYPE , CREDIT_AMOUNT , DEBIT_AMOUNT , POSTING_DATE , REFERENCE , DOCUMENT_TYPE_ID , ADJUSTMENT , DISTRIBUTION_CONTEXT ) AS SELECT N'GEN' , D.GEN_JOURNAL_ENTITY_ID , D.GEN_JOURNAL_ID , NULL , NULL , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , ISNULL ( D.REFERENCE , G.DESCRIPTION ) , G.DOCUMENT_TYPE_ID , G.ADJUSTMENT , D.DISTRIBUTION_CONTEXT FROM LEDGER_GEN_JOURN_DIST AS D , LEDGER_GEN_JOURNAL AS G WHERE D.GEN_JOURNAL_ENTITY_ID = G.ENTITY_ID AND D.GEN_JOURNAL_ID = G.GEN_JOURNAL_ID UNION ALL SELECT N'PAYB' , D.INVOICE_ENTITY_ID , D.INVOICE_ID , NULL , NULL , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , ISNULL ( D.REFERENCE , P.SUPPLIER_ID ) , P.DOCUMENT_TYPE_ID , 0 , D.DISTRIBUTION_CONTEXT FROM PAYABLES_PAYABLE_DIST AS D , PAYABLES_PAYABLE AS P WHERE D.INVOICE_ENTITY_ID = P.ENTITY_ID AND D.INVOICE_ID = P.INVOICE_ID UNION ALL SELECT N'RECV' , D.INVOICE_ENTITY_ID , D.INVOICE_ID , NULL , NULL , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , ISNULL ( D.REFERENCE , R.CUSTOMER_ID ) , R.DOCUMENT_TYPE_ID , 0 , D.DISTRIBUTION_CONTEXT FROM RECEIVABLES_RECEIVABLE_DIST AS D , RECEIVABLES_RECEIVABLE AS R WHERE D.INVOICE_ENTITY_ID = R.ENTITY_ID AND D.INVOICE_ID = R.INVOICE_ID UNION ALL SELECT N'PAYMENT' , D.PAYMENT_ENTITY_ID , D.PAYMENT_ID , D.ENTITY_ID , D.RECV_INVOICE_ID , D.ENTITY_ID , D.PAYB_INVOICE_ID , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , ISNULL ( D.REFERENCE , P.REFERENCE ) , P.DOCUMENT_TYPE_ID , 0 , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_PAYMENT_DIST AS D , CASHMGMT_PAYMENT AS P WHERE D.PAYMENT_ENTITY_ID = P.ENTITY_ID AND D.PAYMENT_ID = P.PAYMENT_ID UNION ALL SELECT N'BANKADJ' , D.BANK_ADJ_ENTITY_ID , D.ADJUSTMENT_ID , NULL , NULL , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , ISNULL ( D.REFERENCE , A.REFERENCE ) , A.DOCUMENT_TYPE_ID , 0 , D.DISTRIBUTION_CONTEXT FROM CASHMGMT_BANK_ADJ_DIST AS D , CASHMGMT_BANK_ADJUSTMENT AS A WHERE D.BANK_ADJ_ENTITY_ID = A.ENTITY_ID AND D.ADJUSTMENT_ID = A.ADJUSTMENT_ID UNION ALL SELECT N'DIRECT' , D.DIR_JOURN_ENTITY_ID , D.DIRECT_JOURNAL_ID , NULL , NULL , NULL , NULL , D.DIST_NO , D.ENTRY_NO , D.CURRENCY_ID , D.ENTITY_ID , D.ACCOUNT_ID , D.TRANS_CAT_ID , D.DISTRIBUTION_TYPE , D.CREDIT_AMOUNT , D.DEBIT_AMOUNT , D.POSTING_DATE , ISNULL ( D.REFERENCE , J.DESCRIPTION ) , J.DOCUMENT_TYPE_ID , J.ADJUSTMENT , D.DISTRIBUTION_CONTEXT FROM LEDGER_DIRECT_JOURN_DIST AS D , LEDGER_DIRECT_JOURNAL AS J WHERE D.DIR_JOURN_ENTITY_ID = J.ENTITY_ID AND D.DIRECT_JOURNAL_ID = J.DIRECT_JOURNAL_ID
GO
