USE [VFIN]
GO
/****** Object:  Table [dbo].[LEDGER_ACCOUNT_PERIOD]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEDGER_ACCOUNT_PERIOD](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CALENDAR_ID] [nvarchar](15) NOT NULL,
	[ACCT_YEAR] [int] NOT NULL,
	[ACCT_PERIOD] [int] NOT NULL,
	[QTR_IN_YEAR] [int] NULL,
	[PERIOD_IN_QTR] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[BEGIN_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[SECURITY_LEVEL] [smallint] NULL,
	[LOCKED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
