USE [VFIN]
GO
/****** Object:  Table [dbo].[CASHMGMT_BANK_ADJUSTMENT]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASHMGMT_BANK_ADJUSTMENT](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[ADJUSTMENT_ID] [nvarchar](15) NOT NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[ADJUSTMENT_STATUS] [nvarchar](32) NULL,
	[CLEARED_DATE] [datetime] NULL,
	[STATEMENT_DATE] [datetime] NULL,
	[VOID_DATE] [datetime] NULL,
	[VOID_CLEARED_DATE] [datetime] NULL,
	[VOID_STATEMENT_DATE] [datetime] NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[DEBIT_AMOUNT] [decimal](20, 3) NULL,
	[CREDIT_AMOUNT] [decimal](20, 3) NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[DEPOSIT_ID] [nvarchar](15) NULL,
	[PAYMENT_ID] [nvarchar](15) NULL,
	[POSTED] [int] NULL,
	[REFERENCE] [nvarchar](80) NULL,
	[AMOUNT_OVRD] [nvarchar](80) NULL,
	[XCHG_TOL_OVRD] [nvarchar](80) NULL,
	[STATUS_CHANGE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
