USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_TERMS_RULE]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_TERMS_RULE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ID] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DISC_TYPE] [nvarchar](32) NULL,
	[DISC_BASIS] [nvarchar](32) NULL,
	[DISC_PERCENT] [decimal](6, 3) NULL,
	[DISC_MONTH] [smallint] NULL,
	[DISC_DAYS] [smallint] NULL,
	[NET_DAYS] [smallint] NULL,
	[NET_TYPE] [nvarchar](32) NULL,
	[NET_DAY_OF_MONTH] [smallint] NULL,
	[NET_MONTH] [smallint] NULL,
	[DISC_DATE] [datetime] NULL,
	[NET_DATE] [datetime] NULL,
	[FREIGHT_TERMS_TYPE] [nvarchar](32) NULL,
	[ACTIVE_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
