USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_CUST_ORDER_COMM]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_CUST_ORDER_COMM](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[CUST_ENTITY_ID] [nvarchar](15) NOT NULL,
	[CUST_ORDER_ID] [nvarchar](15) NOT NULL,
	[SALESREP_ID] [nvarchar](15) NOT NULL,
	[MAIN_SALESREP_ID] [nvarchar](15) NOT NULL,
	[COMMISSION_BASIS] [decimal](20, 3) NULL,
	[COMMISSION_PLANNED] [decimal](20, 3) NULL,
	[COMMISSION_ACCRUED] [decimal](20, 3) NULL,
	[COMMISSION_EARNED] [decimal](20, 3) NULL,
	[COMMISSION_PAID] [decimal](20, 3) NULL,
	[COMMISSION_OVERRIDE] [decimal](20, 3) NULL,
	[COMM_DUE_ORDERED] [decimal](20, 3) NULL,
	[COMM_DUE_INVOICED] [decimal](20, 3) NULL,
	[COMM_DUE_COLLECTED] [decimal](20, 3) NULL,
	[COMM_COMPLETE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
