USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_RCR_PAYABLE]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_RCR_PAYABLE](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[RCR_PAYABLE_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[DOCUMENT_TYPE_ID] [nvarchar](15) NULL,
	[DISPOSITION_ID] [nvarchar](15) NULL,
	[GROUP_NAME] [nvarchar](50) NULL,
	[INVOICE_TYPE] [nvarchar](32) NULL,
	[PAYB_ACCOUNT_ID] [nvarchar](30) NULL,
	[PAYMENT_METHOD_ID] [nvarchar](15) NULL,
	[REMIT_TO_SUPP_ID] [nvarchar](15) NULL,
	[SUPPLIER_ID] [nvarchar](15) NULL,
	[SUPP_BANK_ID] [nvarchar](30) NULL,
	[SUPP_BANK_ACCT_NO] [nvarchar](30) NULL,
	[TAX_BOOK_ID] [nvarchar](15) NULL,
	[TAX_DISCOUNT_TYPE] [nvarchar](32) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[TOTAL_AMOUNT] [decimal](20, 3) NULL,
	[TOTAL_FRGHT_AMOUNT] [decimal](20, 3) NULL,
	[TRIGGER_COUNT] [smallint] NULL,
	[TRIGGER_FREQ] [nvarchar](32) NULL,
	[TRIGGER_INTERVAL] [smallint] NULL,
	[TRIGGER_LAST_DATE] [datetime] NULL,
	[TRIGGER_EFFECTIVE_DATE] [datetime] NULL,
	[TRIGGER_DISCONTINUE_DATE] [datetime] NULL,
	[TRIGGER_MAX] [smallint] NULL,
	[WH_ALLOWED_AMOUNT] [decimal](20, 3) NULL,
	[WH_TAX_GROUP_ID] [nvarchar](15) NULL,
	[RELATED_PARTY_FLAG] [int] NULL,
	[REMIT_ALT_ADDR_NO] [smallint] NULL,
	[SITE_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
