USE [VFIN]
GO
/****** Object:  View [dbo].[LEDGER_ALL_ACCOUNTS]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LEDGER_ALL_ACCOUNTS] ( TABLE_NAME , ENTITY_ID , ACCOUNT_ID1 , ACCOUNT_ID2 , ACCOUNT_ID3 , ACCOUNT_ID4 , ACCOUNT_ID5 , ACCOUNT_ID6 , ACCOUNT_ID7 , IS_TRANSACTION ) AS SELECT N'CASHMGMT.BANK_ACCOUNT' , ENTITY_ID , ACCOUNT_ID , ADJ_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , 0 FROM CASHMGMT_BANK_ACCOUNT AS BANK_ACCOUNT UNION ALL SELECT N'CASHMGMT.BANK_ADJ_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM CASHMGMT_BANK_ADJ_LINE AS BANK_ADJ_LINE UNION ALL SELECT N'CASHMGMT.BANK_PAY_RUN_LINE_DET' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM CASHMGMT_BANK_PAY_RUN_LINE_DET AS BANK_PAY_RUN_LINE_DET UNION ALL SELECT N'CASHMGMT.BANK_PAY_RUN_TAX' , ENTITY_ID , ACC_ACCOUNT_ID , EXP_ACCOUNT_ID , RCV_ACCOUNT_ID , NULL , NULL , NULL , NULL , 0 FROM CASHMGMT_BANK_PAY_RUN_TAX AS BANK_PAY_RUN_TAX UNION ALL SELECT N'CASHMGMT.CASH_PLAN_ACCOUNT' , CASH_PLAN_ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM CASHMGMT_CASH_PLAN_ACCOUNT AS CASH_PLAN_ACCOUNT UNION ALL SELECT N'CASHMGMT.PAYMENT_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM CASHMGMT_PAYMENT_LINE AS PAYMENT_LINE UNION ALL SELECT N'CASHMGMT.PAYMENT_TAX' , ENTITY_ID , ACC_ACCOUNT_ID , EXP_ACCOUNT_ID , RCV_ACCOUNT_ID , NULL , NULL , NULL , NULL , 1 FROM CASHMGMT_PAYMENT_TAX AS PAYMENT_TAX UNION ALL SELECT N'CASHMGMT.WRITEOFF_ENTITY' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM CASHMGMT_WRITEOFF_ENTITY AS WRITEOFF_ENTITY UNION ALL SELECT N'LEDGER.ACCOUNT_BUDGET' , ENTITY_ID , ACCOUNT_ID , NATURAL_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_ACCOUNT_BUDGET AS ACCOUNT_BUDGET UNION ALL SELECT N'LEDGER.ACCOUNT_STATISTIC' , ENTITY_ID , ACCOUNT_ID , NATURAL_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_ACCOUNT_STATISTIC AS ACCOUNT_STATISTIC UNION ALL SELECT N'LEDGER.APPORTIONMENT_DETAIL' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_APPORTIONMENT_DETAIL AS APPORTIONMENT_DETAIL UNION ALL SELECT N'LEDGER.APPORTIONMENT_ITEM' , APP_ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_APPORTIONMENT_ITEM AS APPORTIONMENT_ITEM UNION ALL SELECT N'LEDGER.BUDGET_ACCT_SPREAD' , ENTITY_ID , ACCOUNT_ID , NATURAL_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_BUDGET_ACCT_SPREAD AS BUDGET_ACCT_SPREAD UNION ALL SELECT N'LEDGER.BUDGET_ACCOUNT' , ENTITY_ID , NATURAL_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_BUDGET_ACCOUNT AS BUDGET_ACCOUNT UNION ALL SELECT N'LEDGER.CONSOLIDATION_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_CONSOLIDATION_LINE AS CONSOLIDATION_LINE UNION ALL SELECT N'LEDGER.DIRECT_JOURN_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM LEDGER_DIRECT_JOURN_LINE AS DIRECT_JOURN_LINE UNION ALL SELECT N'LEDGER.GEN_JOURN_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM LEDGER_GEN_JOURN_LINE AS GEN_JOURN_LINE UNION ALL SELECT N'LEDGER.GEN_JOURN_TAX' , ENTITY_ID , ACC_ACCOUNT_ID , EXP_ACCOUNT_ID , RCV_ACCOUNT_ID , NULL , NULL , NULL , NULL , 1 FROM LEDGER_GEN_JOURN_TAX AS GEN_JOURN_TAX UNION ALL SELECT N'LEDGER.RCR_GEN_JOURN_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_RCR_GEN_JOURN_LINE AS RCR_GEN_JOURN_LINE UNION ALL SELECT N'PAYABLES.PAYABLE' , ENTITY_ID , PAYB_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_PAYABLE AS PAYABLE UNION ALL SELECT N'PAYABLES.PAYABLE_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_PAYABLE_LINE AS PAYABLE_LINE UNION ALL SELECT N'PAYABLES.PAYABLE_TAX' , ENTITY_ID , ACC_ACCOUNT_ID , EXP_ACCOUNT_ID , RCV_ACCOUNT_ID , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_PAYABLE_TAX AS PAYABLE_TAX UNION ALL SELECT N'PAYABLES.PURC_ORDER_LINE' , PURC_ENTITY_ID , EXP_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_PURC_ORDER_LINE AS PURC_ORDER_LINE UNION ALL SELECT N'PAYABLES.RCR_PAYABLE' , ENTITY_ID , PAYB_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_RCR_PAYABLE AS RCR_PAYABLE UNION ALL SELECT N'PAYABLES.PAYABLE_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_PAYABLE_LINE AS PAYABLE_LINE UNION ALL SELECT N'PAYABLES.RECEIVER_LINE' , RECEIVER_ENTITY_ID , EXP_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_RECEIVER_LINE AS RECEIVER_LINE UNION ALL SELECT N'PAYABLES.SUPPLIER_ENTITY' , ENTITY_ID , EXP_ACCOUNT_ID , PAYB_ACCOUNT_ID , PPV_ACCOUNT_ID , PURC_ACCR_ACCT_ID , PUR_RET_EXP_ACCT_ID , UNAP_CASH_ACCT_ID , UNAP_DEP_ACCT_ID , 0 FROM PAYABLES_SUPPLIER_ENTITY AS SUPPLIER_ENTITY UNION ALL SELECT N'RECEIVABLES.RCR_RECEIVABLE' , ENTITY_ID , RECV_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM RECEIVABLES_RCR_RECEIVABLE AS RCR_RECEIVABLE UNION ALL SELECT N'RECEIVABLES.RCR_RECV_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM RECEIVABLES_RCR_RECV_LINE AS RCR_RECV_LINE UNION ALL SELECT N'RECEIVABLES.RECEIVABLE_FIN_CHG' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM RECEIVABLES_RECEIVABLE_FIN_CHG AS RECEIVABLE_FIN_CHG UNION ALL SELECT N'RECEIVABLES.RECEIVABLE' , ENTITY_ID , RECV_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM RECEIVABLES_RECEIVABLE AS RECEIVABLE UNION ALL SELECT N'RECEIVABLES.RECEIVABLE_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM RECEIVABLES_RECEIVABLE_LINE AS RECEIVABLE_LINE UNION ALL SELECT N'RECEIVABLES.RECEIVABLE_TAX' , ENTITY_ID , ACC_ACCOUNT_ID , EXP_ACCOUNT_ID , RCV_ACCOUNT_ID , NULL , NULL , NULL , NULL , 1 FROM RECEIVABLES_RECEIVABLE_TAX AS RECEIVABLE_TAX UNION ALL SELECT N'RECEIVABLES.SHIPPER_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM RECEIVABLES_SHIPPER_LINE AS SHIPPER_LINE UNION ALL SELECT N'RECEIVABLES.CUSTOMER_ENTITY' , ENTITY_ID , RECV_ACCOUNT_ID , REV_ACCOUNT_ID , FIN_CHG_ACCT_ID , UNAP_CASH_ACCT_ID , UNAP_DEP_ACCT_ID , NULL , NULL , 0 FROM RECEIVABLES_CUSTOMER_ENTITY AS CUSTOMER_ENTITY UNION ALL SELECT N'SHARED.DOC_TYPE_ALLOC' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM SHARED_DOC_TYPE_ALLOC AS DOC_TYPE_ALLOC UNION ALL SELECT N'SHARED.ENTITY_ACCOUNT' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM SHARED_ENTITY_ACCOUNT AS ENTITY_ACCOUNT UNION ALL SELECT N'SHARED.ENTITY_COMM_ACCOUNT' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM SHARED_ENTITY_COMM_ACCOUNT AS ENTITY_COMM_ACCOUNT UNION ALL SELECT N'SHARED.ENTITY_PPV_ACCOUNT' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM SHARED_ENTITY_PPV_ACCOUNT AS ENTITY_PPV_ACCOUNT UNION ALL SELECT N'SHARED.ENTITY_TO_FROM' , ENTITY_ID , FROM_ACCOUNT_ID , TO_ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , 0 FROM SHARED_ENTITY_TO_FROM AS ENTITY_TO_FROM UNION ALL SELECT N'SHARED.TAX_ENTITY' , ENTITY_ID , ACC_ACCOUNT_ID , EXP_ACCOUNT_ID , RCV_ACCOUNT_ID , NULL , NULL , NULL , NULL , 0 FROM SHARED_TAX_ENTITY AS TAX_ENTITY UNION ALL SELECT N'SHARED.SALES_REP_ENTITY' , ENTITY_ID , COMM_ACC_ACCT_ID , COMM_EXP_ACCT_ID , SALARY_LIAB_ACCT_ID , NULL , NULL , NULL , NULL , 0 FROM SHARED_SALES_REP_ENTITY AS SALES_REP_ENTITY UNION ALL SELECT N'CASHMGMT.BANK_ADJ_DIST' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM CASHMGMT_BANK_ADJ_DIST AS BANK_ADJ_DIST UNION ALL SELECT N'CASHMGMT.PAYMENT_DIST' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM CASHMGMT_PAYMENT_DIST AS PAYMENT_DIST UNION ALL SELECT N'LEDGER.DIRECT_JOURN_DIST' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM LEDGER_DIRECT_JOURN_DIST AS DIRECT_JOURN_DIST UNION ALL SELECT N'LEDGER.GEN_JOURN_DIST' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM LEDGER_GEN_JOURN_DIST AS GEN_JOURN_DIST UNION ALL SELECT N'PAYABLES.PAYABLE_DIST' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM PAYABLES_PAYABLE_DIST AS PAYABLE_DIST UNION ALL SELECT N'RECEIVABLES.RECEIVABLE_DIST' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 1 FROM RECEIVABLES_RECEIVABLE_DIST AS RECEIVABLE_DIST UNION ALL SELECT N'LEDGER.EXTERNAL_SYSTEM_ACCOUNT' , EXT_SYS_ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_EXTERNAL_SYSTEM_ACCOUNT AS EXTERNAL_SYSTEM_ACCOUNT UNION ALL SELECT N'PAYABLES.RCR_PAYB_LINE' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM PAYABLES_RCR_PAYB_LINE AS RCR_PAYB_LINE UNION ALL SELECT N'LEDGER.ACCOUNT_GROUP_ACCOUNT' , ENTITY_ID , ACCOUNT_ID , NULL , NULL , NULL , NULL , NULL , NULL , 0 FROM LEDGER_ACCOUNT_GROUP_ACCOUNT AS ACCOUNT_GROUP_ACCOUNT UNION ALL SELECT N'SHARED.ENTITY_CURRENCY' , ENTITY_ID , REAL_GN_ACCT_ID , REAL_LS_ACCT_ID , UNREAL_GN_ACCT_ID , UNREAL_LS_ACCT_ID , ROUND_ACCT_ID , NULL , NULL , 0 FROM SHARED_ENTITY_CURRENCY AS ENTITY_CURRENCY
GO
