USE [VFIN]
GO
/****** Object:  Table [dbo].[RECEIVABLES_SHIPPER]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIVABLES_SHIPPER](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[ENTITY_ID] [nvarchar](15) NOT NULL,
	[SHIPPER_ID] [nvarchar](15) NOT NULL,
	[CURRENCY_ID] [nvarchar](15) NULL,
	[CUSTOMER_ID] [nvarchar](15) NULL,
	[CUST_BANK_ID] [nvarchar](30) NULL,
	[BANK_ACCOUNT_ID] [nvarchar](15) NULL,
	[ASN_ID] [nvarchar](20) NULL,
	[BOL_ID] [nvarchar](20) NULL,
	[FOB_ID] [nvarchar](25) NULL,
	[INVOICED_DATE] [datetime] NULL,
	[INVOICE_ENTITY_ID] [nvarchar](15) NULL,
	[INVOICE_ID] [nvarchar](15) NULL,
	[DRAFT_ENTITY_ID] [nvarchar](15) NULL,
	[DRAFT_ID] [nvarchar](15) NULL,
	[TAX_GROUP_ID] [nvarchar](15) NULL,
	[SHIPPED_DATE] [datetime] NULL,
	[FOB_DATE] [datetime] NULL,
	[SHIP_REASON_ID] [nvarchar](15) NULL,
	[SHIP_TO_ADDR_NO] [smallint] NULL,
	[SHIPTO_ID] [nvarchar](20) NULL,
	[SHIP_VIA_ID] [nvarchar](40) NULL,
	[SHIP_TO_NAME] [nvarchar](50) NULL,
	[SHIP_TO_ADDR_1] [nvarchar](50) NULL,
	[SHIP_TO_ADDR_2] [nvarchar](50) NULL,
	[SHIP_TO_CITY] [nvarchar](30) NULL,
	[SHIP_TO_STATE] [nvarchar](10) NULL,
	[SHIP_TO_POSTCODE] [nvarchar](10) NULL,
	[SHIP_TO_COUNTRY] [nvarchar](50) NULL,
	[SHIP_TO_ADDR_3] [nvarchar](50) NULL,
	[SHIPMENT_TYPE] [nvarchar](32) NULL,
	[TERMS_RULE_ID] [nvarchar](15) NULL,
	[CREDIT_CARD_NUMBER] [nvarchar](60) NULL,
	[CREDIT_CARD_EXPIRE] [datetime] NULL,
	[CREDIT_CARD_AUTH] [nvarchar](30) NULL,
	[VOID] [int] NULL,
	[USER_XCHG_RATE] [decimal](15, 8) NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[SITE_ID] [nvarchar](15) NULL,
	[COUNTRY_CODE_ID] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
