USE [VFIN]
GO
/****** Object:  Table [dbo].[COR_OUTBOX_ENTRY]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COR_OUTBOX_ENTRY](
	[C_ID] [bigint] IDENTITY(0,1) NOT NULL,
	[C_XML] [varbinary](max) NOT NULL,
	[C_TENANT_ID] [varchar](250) NOT NULL,
	[C_MESSAGE_PRIORITY] [int] NOT NULL,
	[C_CREATED_DATE_TIME] [datetime] NOT NULL,
	[C_WAS_PROCESSED] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[COR_OUTBOX_ENTRY] ADD  DEFAULT ((4)) FOR [C_MESSAGE_PRIORITY]
GO
ALTER TABLE [dbo].[COR_OUTBOX_ENTRY] ADD  DEFAULT ((0)) FOR [C_WAS_PROCESSED]
GO
