USE [VFIN]
GO
/****** Object:  Table [dbo].[SHARED_FILE_FORMAT_DETAIL]    Script Date: 4/9/2026 4:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARED_FILE_FORMAT_DETAIL](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[FILE_TYPE] [nvarchar](32) NOT NULL,
	[FORMAT_ID] [nvarchar](30) NOT NULL,
	[RECORD_TYPE] [nvarchar](100) NOT NULL,
	[FIELD_NAME] [nvarchar](100) NOT NULL,
	[START_POS] [smallint] NULL,
	[FIELD_TEXT] [nvarchar](250) NULL,
	[DATA_EXPRESSION] [nvarchar](250) NULL,
	[ALIGNMENT] [nvarchar](32) NULL,
	[WIDTH] [smallint] NULL,
	[START_DELIM] [nvarchar](30) NULL,
	[END_DELIM] [nvarchar](30) NULL,
	[PAD_CHAR] [nvarchar](1) NULL,
	[REQUIRED] [int] NULL,
	[INDENT_LEVEL] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
