USE [VFIN]
GO
/****** Object:  Table [dbo].[PAYABLES_RECEIVER_LINE_CURR]    Script Date: 4/9/2026 4:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYABLES_RECEIVER_LINE_CURR](
	[RECORD_IDENTITY] [nvarchar](12) NOT NULL,
	[RECORD_CREATED] [datetime] NULL,
	[RECORD_MODIFIED] [datetime] NULL,
	[RECORD_USER] [nvarchar](20) NULL,
	[RECORD_MODIFY_USER] [nvarchar](20) NULL,
	[RECORD_VERSION] [datetime] NULL,
	[RECEIVER_ENTITY_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_ID] [nvarchar](15) NOT NULL,
	[RECEIVER_LINE_NO] [smallint] NOT NULL,
	[FROM_CURRENCY_ID] [nvarchar](15) NOT NULL,
	[TO_CURRENCY_ID] [nvarchar](15) NOT NULL,
	[EURO_RATE] [decimal](15, 8) NULL,
	[LOOKUP_DATE] [datetime] NOT NULL,
	[XCHG_DEVIATION] [decimal](6, 3) NULL,
	[XCHG_RATE] [decimal](15, 8) NULL,
	[CURRENT_RCV_LINE_VALUE] [decimal](20, 3) NULL,
	[FIXED_CHARGE] [decimal](20, 3) NULL,
	[MINIMUM_CHARGE] [decimal](20, 3) NULL,
	[FREIGHT] [decimal](20, 3) NULL,
	[LANDED_COST_AMOUNT] [decimal](20, 3) NULL,
	[INVOICED_UNIT_PRICE] [decimal](22, 8) NULL,
	[INVOICED_LANDED_U_PRICE] [decimal](22, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_IDENTITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
